@model PlataformaRio2C.Application.CQRS.Commands.CreateLogisticAccommodation
@Html.HiddenFor(m => m.LogisticsUid)
<div class="row">
    <div class="form-group col-md-12">
        @Html.LabelFor(m=> m.PlaceId, new { @class = "control-label" })
        @Html.DropDownListFor(m => m.PlaceId, new SelectList(Model.Places, "Id", "Name", Model.PlaceId), $"{Labels.Select}...", new { @class = "form-control enable-select2" })
        @Html.ValidationMessageFor(m => m.PlaceId, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.CheckInDate, new { @class = "control-label" })
        @Html.TextBox("CheckInDate", Model?.CheckInDate, new { @class = "form-control enable-datetimepicker" })
        @Html.ValidationMessageFor(m => m.CheckInDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.CheckOutDate, new { @class = "control-label" })
        @Html.TextBox("CheckOutDate", Model?.CheckOutDate, new { @class = "form-control enable-datetimepicker" })
        @Html.ValidationMessageFor(m => m.CheckOutDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
        @Html.LabelFor(m => m.AdditionalInfo, new { @class = "control-label" })
        @Html.TextAreaFor(m => m.AdditionalInfo, new { @class = "form-control", rows = 8 })
        @Html.ValidationMessageFor(m => m.AdditionalInfo, "", new { @class = "text-danger" })
    </div>
</div>