@model PlataformaRio2C.Application.CQRS.Commands.CreateLogisticAirfare
@Html.HiddenFor(m => m.LogisticsUid)
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.IsNational, new { @class = "control-label" })
        <div class="kt-radio-inline">
            <label class="kt-radio">
                @Html.RadioButtonFor(m => m.IsNational, true) @Labels.National
                <span></span>
            </label>
            <label class="kt-radio">
                @Html.RadioButtonFor(m => m.IsNational, false) @Labels.International
                <span></span>
            </label>
        </div>
        @Html.ValidationMessageFor(m => m.IsNational, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.IsArrival, new { @class = "control-label" })
        <div class="kt-radio-inline">
            <label class="kt-radio">
                @Html.RadioButtonFor(m => m.IsArrival, true) @Labels.Arrival
                <span></span>
            </label>
            <label class="kt-radio">
                @Html.RadioButtonFor(m => m.IsArrival, false) @Labels.Departure
                <span></span>
            </label>
        </div>
        @Html.ValidationMessageFor(m => m.IsArrival, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.From, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.From, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.From, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.To, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.To, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.To, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.Departure, new { @class = "control-label" })
        @Html.TextBox("Departure", Model?.Departure, new { @class = "form-control enable-datetimepicker" })
        @Html.ValidationMessageFor(m => m.Departure, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.Arrival, new { @class = "control-label" })
        @Html.TextBox("Arrival", Model?.Arrival, new { @class = "form-control enable-datetimepicker" })
        @Html.ValidationMessageFor(m => m.Arrival, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.TicketNumber, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.TicketNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.TicketNumber, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.Ticket, new { @class = "control-label" })
        <div></div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="Ticket" name="Ticket">
            <label class="custom-file-label" for="Ticket"></label>
        </div>
        <span class="form-text text-muted">@Messages.FileMustBePdf</span>
        @Html.ValidationMessageFor(m => m.Ticket, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
        @Html.LabelFor(m => m.AdditionalInfo, new { @class = "control-label" })
        @Html.TextAreaFor(m => m.AdditionalInfo, new { @class = "form-control", rows = 8 })
        @Html.ValidationMessageFor(m => m.AdditionalInfo, "", new { @class = "text-danger" })
    </div>
</div>