@using PlataformaRio2C.Domain.Dtos
@model PlataformaRio2C.Application.CQRS.Commands.CreateLogisticRequest
@{
    var editionDto = ViewBag.EditionDto as EditionDto;
}
<div class="kt-section">
    <div class="kt-section__content mt-3">
        <div class="row">
            <div class="col-md-8">
                @Html.LabelFor(m => m.AttendeeCollaboratorId, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.AttendeeCollaboratorId, Enumerable.Empty<SelectListItem>(), $"{Labels.Select}...", new { @class = "form-control enable-collaborator-select2" })
            </div>
        </div>
    </div>
</div>

<!--begin: Main Information-->
<div class="kt-section">
    <h3 class="kt-section__title mb-0 mt-30">@Labels.Airfare</h3>
    <hr />
    <div class="kt-section__content mt-3">
        <div class="kt-checkbox-list">
            <div class="row">
                <div class="col-md-12">
                    <label class="kt-checkbox">
                        @Html.CheckBoxFor(m => m.IsAirfareSponsored) Necessita
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="kt-radio-list mt-2 d-none" data-additionalinfo="IsAirfareSponsored">
            @if (Model.Sponsors != null)
            {
                foreach (var sponsor in Model.Sponsors)
                {
                    <label class="kt-radio">
                        @Html.RadioButtonFor(m => m.AirfareSponsorUid, sponsor.Uid, new { data_isothers=sponsor.IsOtherRequired }) @sponsor.Name
                        <span></span>
                    </label>
                }
            }
        </div>
        <div class="row">
            <div class="form-group col-md-8 mb-0" data-id="Airfare">
                <div class="view">
                    @Html.Hidden("Airfare_InitialSponsorUid", Model.AirportTransferAttendeeLogisticSponsorUid)
                    @Html.DropDownList("Airfare_SponsorUid", Enumerable.Empty<SelectListItem>(), $"{Labels.Select}...", new { @class = "form-control enable-select2" })
                    <span class="form-text text-muted text-right"><a href="" onclick="return LogisticsCreate.enableNewSponsor();" class="btn-link btn-edit">@(Labels.NewM.ToLowerInvariant()) @(Labels.Sponsor.ToLowerInvariant())</a></span>
                </div>
                <div class="edit d-none">
                    @Html.TextBoxFor(m => m.AirfareSponsorOtherName, new { @class = "form-control" })
                    <span class="form-text text-muted text-right"><a href="" onclick="return LogisticsCreate.disableNewSponsor();" class="btn-link">@(Labels.Cancel.ToLowerInvariant())</a></span>
                </div>
                @Html.ValidationMessageFor(m => m.AirfareSponsorOtherName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>

<div class="kt-section">
    <h3 class="kt-section__title mb-0 mt-30">@Labels.Accommodation</h3>
    <hr />
    <div class="kt-section__content mt-3">
        <div class="kt-checkbox-list">
            <div class="row">
                <div class="col-md-12">
                    <label class="kt-checkbox">
                        @Html.CheckBoxFor(m => m.IsAccommodationSponsored) Necessita
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="kt-radio-list mt-2 d-none" data-additionalinfo="IsAccommodationSponsored">
            @if (Model.Sponsors != null)
            {
                foreach (var sponsor in Model.Sponsors)
                {
                    <label class="kt-radio">
                        @Html.RadioButtonFor(m => m.AccommodationAttendeeLogisticSponsorUid, sponsor.Id, new { data_isothers = sponsor.IsOtherRequired }) @sponsor.Name
                        <span></span>
                    </label>
                }
            }
        </div>
        <div class="row">
            <div class="form-group col-md-8 mb-0" data-id="Accomodation">
                <div class="view">
                    @Html.Hidden("Accomodation_InitialSponsorUid", Model.AccommodationAttendeeLogisticSponsorUid)
                    @Html.DropDownList("Accomodation_SponsorUid", Enumerable.Empty<SelectListItem>(), $"{Labels.Select}...", new { @class = "form-control enable-select2" })
                    <span class="form-text text-muted text-right"><a href="" onclick="return LogisticsCreate.enableNewSponsor();" class="btn-link btn-edit">@(Labels.NewM.ToLowerInvariant()) @(Labels.Sponsor.ToLowerInvariant())</a></span>
                </div>
                <div class="edit d-none">
                    @Html.TextBoxFor(m => m.AccommodationAttendeeLogisticSponsorOthers, new { @class = "form-control" })
                    <span class="form-text text-muted text-right"><a href="" onclick="return LogisticsCreate.disableNewSponsor();" class="btn-link">@(Labels.Cancel.ToLowerInvariant())</a></span>
                </div>
                @Html.ValidationMessageFor(m => m.AccommodationAttendeeLogisticSponsorOthers, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>

<div class="kt-section">
    <h3 class="kt-section__title mb-0 mt-30">@Labels.Transport</h3>
    <hr />
    <div class="kt-section__content mt-3">
        <div class="kt-checkbox-list">
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">@Labels.AirportTransfer</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="kt-checkbox">
                        @Html.CheckBoxFor(m => m.IsAirportTransferSponsored) Necessita
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="kt-radio-list mt-2 d-none" data-additionalinfo="IsAirportTransferSponsored">
            @if (Model.Sponsors != null)
            {
                foreach (var sponsor in Model.Sponsors)
                {
                    <label class="kt-radio">
                        @Html.RadioButtonFor(m => m.AirportTransferAttendeeLogisticSponsorUid, sponsor.Id, new { data_isothers = sponsor.IsOtherRequired }) @sponsor.Name
                        <span></span>
                    </label>
                }
            }
        </div>
        <div class="row">
            <div class="form-group col-md-8 mb-0" data-id="AirportTransfer">
                <div class="view">
                    @Html.Hidden("AirportTransfer_InitialSponsorUid", Model.AirportTransferAttendeeLogisticSponsorUid)
                    @Html.DropDownList("AirportTransfer_SponsorUid", Enumerable.Empty<SelectListItem>(), $"{Labels.Select}...", new { @class = "form-control enable-select2" })
                    <span class="form-text text-muted text-right"><a href="" onclick="return LogisticsCreate.enableNewSponsor();" class="btn-link btn-edit">@(Labels.NewM.ToLowerInvariant()) @(Labels.Sponsor.ToLowerInvariant())</a></span>
                </div>
                <div class="edit d-none">
                    @Html.TextBoxFor(m => m.AirportTransferAttendeeLogisticSponsorOthers, new { @class = "form-control" })
                    <span class="form-text text-muted text-right"><a href="" onclick="return LogisticsCreate.disableNewSponsor();" class="btn-link">@(Labels.Cancel.ToLowerInvariant())</a></span>
                </div>
                @Html.ValidationMessageFor(m => m.AirportTransferAttendeeLogisticSponsorOthers, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>

<div class="kt-section">
    <div class="kt-section__content mt-3">
        <div class="kt-checkbox-list">
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group mb-0">
                    <label class="kt-checkbox">
                        <input type="checkbox"
                               name="IsCityTransferRequired"
                               value="true"
                               checked /> Solicitar @Labels.TransferCity
                            <span></span>
                        </label>
                    <span class="form-text text-muted">Residentes do Rio de Janeiro - Somente casos extremamente excepcionais</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="kt-section">
    <div class="kt-section__content mt-3">
        <div class="kt-checkbox-list">
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group mb-0">
                    <label class="kt-checkbox">
                        <input type="checkbox"
                               name="IsVehicleDisposalRequired"
                               value="true"
                               checked /> Solicitar @Labels.VehicleAtDisposal
                            <span></span>
                        </label>
                    <span class="form-text text-muted">Keynotes somente</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-md-12">
        @Html.LabelFor(m => m.AdditionalInfo, new { @class = "control-label" })
        @Html.TextAreaFor(m => m.AdditionalInfo, new { @class = "form-control", rows = 8 })
        @Html.ValidationMessageFor(m => m.AdditionalInfo, "", new { @class = "text-danger" })
    </div>
</div>