@using PlataformaRio2C.Domain.Dtos
@model LogisticRequestDetailsDto
@{
    ViewBag.Title = Labels.Logistics;
}
@Html.Hidden("Uid", Model.Uid)

<!--begin:Main Information Widget-->
<div class="row">
    <div class="col-12">
        <div id="ConferenceMainInformationWidget" class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="kt-widget kt-widget--user-profile-3">
                    <div class="kt-widget__top">

                        <div class="kt-widget__content pl-0" style="overflow: hidden;">
                            <div class="kt-widget__head">
                                <span class="kt-widget__username">
                                    Satya Nadella
                                </span>
                                <div class="kt-widget__action">
                                    <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md btn-circle" onclick="ConferencesMainInformationWidget.showUpdateModal();">
                                        <i class="flaticon2-edit"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="kt-widget__subhead d-none">
                                <a onclick="return false;"><i class="flaticon-event-calendar-symbol"></i>Conferência</a>

                                <a onclick="return false;"><i class="flaticon-placeholder"></i>Casa das Marcas</a>
                            </div>
                            <div class="kt-widget__info d-none" style="display: block;">

                                <div class="kt-widget__desc" style="word-wrap: break-word;">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-widget__bottom">
                        <div class="kt-widget__item">
                            <div class="kt-widget__details">
                                <span class="kt-widget__title">Aéreo</span>
                                <span class="kt-widget__value"><span>Rio2C</span></span>
                            </div>
                        </div>
                        <div class="kt-widget__item">
                            <div class="kt-widget__details">
                                <span class="kt-widget__title">Hospedagem</span>
                                <span class="kt-widget__value"><span>APEX</span></span>
                            </div>
                        </div>
                        <div class="kt-widget__item">
                            <div class="kt-widget__details">
                                <span class="kt-widget__title">Transporte</span>
                                <span class="kt-widget__value"><span>Patrocinado por outras instituições</span></span>
                            </div>
                        </div>
                        <div class="kt-widget__item">
                            <div class="kt-widget__details">
                                <span class="kt-widget__title">Transfer Cidade</span>
                                <span class="kt-widget__value"><span>Sim</span></span>
                            </div>
                        </div>
                        <div class="kt-widget__item">
                            <div class="kt-widget__details">
                                <span class="kt-widget__title">Veículo à disposição</span>
                                <span class="kt-widget__value"><span>Sim</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end:Main Information Widget-->
<!--begin:Airfare Widget-->
<div class="row">
    <div class="col-12">
        <div id="ConferenceTracksAndPresentationFormatsWidget" class="kt-portlet" style="position: relative; zoom: 1;">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Aéreo
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-actions">
                        <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md btn-circle" onclick="ConferencesTracksAndPresentationFormatsWidget.showUpdateModal();">
                            <i class="flaticon2-add-1"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">

                <div class="row">
                    <div class="col-12">
                        <table class="table table-sm table-head-bg-brand table-body-scroll">
                            <thead class="thead-inverse">
                                <tr>
                                    <th class="text-center">Nacional</th>
                                    <th class="text-center">Origem</th>
                                    <th class="text-center">Data de Saída</th>
                                    <th class="text-center">Destino</th>
                                    <th class="text-center">Data de Chegada</th>
                                    <th class="text-center">Código</th>
                                    <th class="text-center">Data de Criação</th>
                                    <th class="text-center">Data de Atualização</th>
                                    <th class="text-center">Ações</th>
                                </tr>
                            </thead>
                            <tbody class="rio2c-scroll kt-scroll ps rio2c-scroll-enabled" style="height: 200px; overflow: hidden;">
                                <tr>
                                    <td class="text-center ">
                                        Sim
                                    </td>
                                    <td class="text-center ">
                                        São Paulo
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 01:00
                                    </td>
                                    <td class="text-center ">
                                        São Paulo
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        QWERTY12345
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        <span class="dropdown">
                                            <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true"> <i class="la la-ellipsis-h"></i> </a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center ">
                                        Sim
                                    </td>
                                    <td class="text-center ">
                                        São Paulo
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 01:00
                                    </td>
                                    <td class="text-center ">
                                        São Paulo
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        QWERTY12345
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        <span class="dropdown">
                                            <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true"> <i class="la la-ellipsis-h"></i> </a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center ">
                                        Sim
                                    </td>
                                    <td class="text-center ">
                                        São Paulo
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 01:00
                                    </td>
                                    <td class="text-center ">
                                        São Paulo
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        QWERTY12345
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        <span class="dropdown">
                                            <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true"> <i class="la la-ellipsis-h"></i> </a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center ">
                                        Sim
                                    </td>
                                    <td class="text-center ">
                                        São Paulo
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 01:00
                                    </td>
                                    <td class="text-center ">
                                        São Paulo
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        QWERTY12345
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        <span class="dropdown">
                                            <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true"> <i class="la la-ellipsis-h"></i> </a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end:Airfare Widget-->
<!--begin:Accommodations Widget-->
<div class="row">
    <div class="col-12">
        <div id="ConferenceTracksAndPresentationFormatsWidget" class="kt-portlet" style="position: relative; zoom: 1;">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Hospedagem
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-actions">
                        <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md btn-circle" onclick="ConferencesTracksAndPresentationFormatsWidget.showUpdateModal();">
                            <i class="flaticon2-add-1"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">

                <div class="row">
                    <div class="col-12">
                        <table class="table table-sm table-head-bg-brand table-body-scroll">
                            <thead class="thead-inverse">
                                <tr>
                                    <th class="text-center">Hotel</th>
                                    <th class="text-center">Check-in</th>
                                    <th class="text-center">Check-out</th>
                                    <th class="text-center">Data de Criação</th>
                                    <th class="text-center">Data de Atualização</th>
                                    <th class="text-center">Ações</th>
                                </tr>
                            </thead>
                            <tbody class="rio2c-scroll kt-scroll ps rio2c-scroll-enabled" style="height: 200px; overflow: hidden;">
                                <tr>
                                    <td class="text-center ">
                                        Ipsum Lorem Budget
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 01:00
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        <span class="dropdown">
                                            <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true"> <i class="la la-ellipsis-h"></i> </a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end:Airfare Widget-->
<!--begin:Accommodations Widget-->
<div class="row">
    <div class="col-12">
        <div id="ConferenceTracksAndPresentationFormatsWidget" class="kt-portlet" style="position: relative; zoom: 1;">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Transporte
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-actions">
                        <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md btn-circle" onclick="ConferencesTracksAndPresentationFormatsWidget.showUpdateModal();">
                            <i class="flaticon2-add-1"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">

                <div class="row">
                    <div class="col-12">
                        <table class="table table-sm table-head-bg-brand table-body-scroll">
                            <thead class="thead-inverse">
                                <tr>
                                    <th class="text-center">Origem</th>
                                    <th class="text-center">Destino</th>
                                    <th class="text-center">Saída</th>
                                    <th class="text-center">Data de Criação</th>
                                    <th class="text-center">Data de Atualização</th>
                                    <th class="text-center">Ações</th>
                                </tr>
                            </thead>
                            <tbody class="rio2c-scroll kt-scroll ps rio2c-scroll-enabled" style="height: 200px; overflow: hidden;">
                                <tr>
                                    <td class="text-center ">
                                        Origem
                                    </td>
                                    <td class="text-center ">
                                        Destino
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 01:00
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        <span class="dropdown">
                                            <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true"> <i class="la la-ellipsis-h"></i> </a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end:Airfare Widget-->


@section Styles {
    @Styles.Render("~/bundles/css/select2.css")
    @Styles.Render("~/bundles/css/bootstrap-datepicker.css")
    @Styles.Render("~/bundles/css/bootstrap-timepicker.css")
}
@section Scripts {
    @Scripts.Render("~/bundles/js/select2.js")
    @Scripts.Render("~/bundles/js/bootbox.js")
    @Scripts.Render("~/bundles/js/bootstrap-datepicker.js")
    @Scripts.Render("~/bundles/js/bootstrap-timepicker.js")
    @Scripts.Render("~/bundles/js/conferences.details.js")
    @Scripts.Render("~/bundles/js/conferences.editionevents.js")
    <script>
        // Page translations ----------------------------------------------------------------------
        var translations = {
            dateBetweenDates: '@Messages.DateBetweenDates'
        }

        jQuery(document).ready(function () {
            //ConferencesMainInformationWidget.init();
            //ConferencesTracksAndPresentationFormatsWidget.init();
            //ConferencesParticipantsWidget.init();
        });
    </script>
}