@using PlataformaRio2C.Domain.Dtos
@model MusicProjectDto
<div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">@Labels.Creators</h3>
    </div>
    @*@if (isMusicCommission && isProjectSubmissionOpen)
    {
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
                <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md btn-circle" onclick="ProjectsLinksWidget.showUpdateModal();">
                    <i class="flaticon2-edit"></i>
                </button>
            </div>
        </div>
    }*@
</div>
<div class="kt-portlet__body pt-0">
    <div class="kt-widget">
        <div class="kt-widget__bottom">
            <div class="row">
                <div class="col-md-12">
                    <div class="kt-widget4">
                        @if (Model.AttendeeMusicBandDto?.MusicBandMembers?.Any() == true)
                        {
                            <div class="col-12">
                                <table class="table table-sm table-head-bg-brand table-body-scroll">
                                    <thead class="thead-inverse">
                                        <tr>
                                            <th>@Labels.Name</th>
                                            <th class="text-center">@Labels.MusicInstrumentName</th>
                                        </tr>
                                    </thead>
                                    <tbody class="rio2c-scroll" style="height: 180px;">
                                        @foreach (var musicBandMember in Model.AttendeeMusicBandDto?.MusicBandMembers)
                                        {
                                            <tr>
                                                @*<td>
                                                        <a href="@Url.Action("Details", "Conferences", new { Area = "", id = musicBandTeamMember.Conference.Uid })" target="_blank">
                                                            @(musicBandTeamMember.GetConferenceTitleDtoByLanguageCode(ViewBag.UserInterfaceLanguage)?.ConferenceTitle?.Value)
                                                        </a>
                                                    </td>*@
                                                <td>@(musicBandMember.Name)</td>
                                                <td class="text-center">@(musicBandMember.MusicInstrumentName)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <div class="row mt-3">
                                <div class="col-12 text-center">
                                    <span class="text-center">@string.Format(Messages.EntityNotAction, Labels.MusicBandStaff, Labels.FoundF)</span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>