@model PlataformaRio2C.Application.CQRS.Commands.UpdateOrganizationAddress
<div class="row">
    <div class="form-group col-sm-12 col-xl-6" data-id="Country">
        @Html.LabelFor(m => m.CountryUid, new { @class = "control-label" })
        <select name="@Html.NameFor(m => m.CountryUid)" id="@Html.IdFor(m => m.CountryUid)" @Html.GetUnobtrusiveValidationAttributesFor(m => m.CountryUid) class="form-control">
            <option value="" data-country-code="" data-companynumber-required="" data-companynumber-mask="" data-zipcode-mask="" data-phonenumber-mask="" data-mobile-mask="">@(Labels.Select)...</option>
            @foreach (var countryBaseDto in Model.CountriesBaseDtos)
            {
                <option value="@countryBaseDto.Uid" @(countryBaseDto.Uid == Model.CountryUid ? "selected" : "") data-country-code="@countryBaseDto.Code" data-companynumber-required="@countryBaseDto.IsCompanyNumberRequired" data-companynumber-mask="@countryBaseDto.CompanyNumberMask" data-zipcode-mask="@countryBaseDto.ZipCodeMask" data-phonenumber-mask="@countryBaseDto.PhoneNumberMask" data-mobile-mask="@countryBaseDto.MobileMask">
                    @countryBaseDto.DisplayName
                </option>
            }
        </select>
        @Html.ValidationMessageFor(m => m.CountryUid, "", new { @class = "text-danger" })
    </div>
</div>
@Html.EditorFor(m => m.Address)