@using PlataformaRio2C.Domain.Dtos
@model AttendeeCartoonProjectDto
@{
    var editionDto = ViewBag.EditionDto as EditionDto;
    ViewBag.Title = $"{Labels.Cartoonito} {Model.CartoonProject?.Title}";
    var totalCartoonProjectsCount = ViewBag.CartoonProjectsTotalCount as int?;
    var currentCartoonProjectIndex = ViewBag.CurrentCartoonProjectIndex as int?;

    var previousStepEvent = Url.Action("PreviousEvaluationDetails", "Projects", new
    {
        Area = "Cartoon",
        id = Model.AttendeeCartoonProject.Id,
        searchKeywords = ViewBag.SearchKeywords,
        evaluationStatusUid = ViewBag.EvaluationStatusUid,
        Page = ViewBag.Page,
        pageSize = ViewBag.PageSize
    });

    var nextStepEvent = Url.Action("NextEvaluationDetails", "Projects", new
    {
        Area = "Cartoon",
        id = Model.AttendeeCartoonProject.Id,
        searchKeywords = ViewBag.SearchKeywords,
        evaluationStatusUid = ViewBag.EvaluationStatusUid,
        Page = ViewBag.Page,
        pageSize = ViewBag.PageSize
    });
}
@Html.Hidden("AggregateId", Model.AttendeeCartoonProject.Uid)

<div class="row">
    <div class="col-md-12 d-flex justify-content-end pb-3 pr-4">
        <div class="row d-flex font-weight-bold text-white" style="align-items: center;">
            <div class="mr-3">
                <span>@currentCartoonProjectIndex @Labels.Of @totalCartoonProjectsCount @Labels.Projects</span>
            </div>
            <button class="btn btn-outline-secondary mr-2" onclick="location.href='@previousStepEvent'">
                <span class="font-weight-bold text-white"><</span>
            </button>
            <button class="btn btn-outline-secondary" onclick="location.href='@nextStepEvent'">
                <span class="font-weight-bold text-white">></span>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <!--begin:Main Information Widget-->
            <div class="col-12">
                <div id="ProjectMainInformationWidget" class="kt-portlet" style="min-height: 350px;"></div>
            </div>
            <!--end:Main Information Widget-->
        </div>
        @*<div class="row">
            <div class="col-md-12">
                <div id="ProjectBusinessInformationWidget" class="kt-portlet" style="min-height: 330px; "></div>
            </div>
        </div>*@
        <div class="row">
            <div class="col-md-12">
                <div id="ProjectCreatorsWidget" class="kt-portlet" style="min-height: 330px; "></div>
            </div>
        </div>
      
        <div class="row">
            <!--begin:Evaluation Widget-->
            <div class="col-md-6">
                <div id="ProjectEvaluationWidget" class="kt-portlet" style="min-height: 296px;"></div>
            </div>
            <!--end:Evaluation Widget-->
            <!--begin:Project Evaluators Widget-->
            <div class="col-md-6">
                <div id="ProjectEvaluatorsWidget" class="kt-portlet" style="min-height: 296px;"></div>
            </div>
            <!--end:Project Evaluators Widget-->
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/bundles/css/select2.css")
}
@section Scripts {
    @Scripts.Render("~/bundles/js/select2.js")
    @Scripts.Render("~/bundles/js/inputmask.js")
    @Scripts.Render("~/bundles/js/bootbox.js")
    @Scripts.Render("~/bundles/js/cartoon.projects.widget.js")
    @Scripts.Render("~/bundles/js/cartoon.projects.evaluation.widget.js")
    <script>
        // Page translations ----------------------------------------------------------------------
        var translations = {
        };

        jQuery(document).ready(function () {
            CartoonProjectsMainInformationWidget.init();           
            CartoonProjectsEvaluationWidget.init();
            CartoonProjectsEvaluatorsWidget.init();
            CartoonProjectsCreatorsWidget.init();
            //CartoonProjectsBusinessInformationWidget.init();
            //CartoonProjectsPresentationWidget.init();
        });
    </script>
}