@model PlataformaRio2C.Application.CQRS.Commands.CreateHolding
<div class="form-group row">
    <div class="col-lg-4 text-center">
        @Html.EditorFor(m => m.CropperImage)
    </div>
    <div class="col-lg-8">
        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>
</div>
<div class="kt-separator kt-separator--border-dashed kt-separator--space-xl"></div>
<div class="kt-section">
    <h3 class="kt-section__title">
        @Labels.Descriptions
    </h3>
    <div class="kt-section__content">
        @Html.EditorFor(m => m.Descriptions)
    </div>
</div>