@model PlataformaRio2C.Application.CQRS.Commands.CreateNegotiation
@Html.HiddenFor(m => m.RoundNumber)
@Html.HiddenFor(m => m.SellerOrganizationUid)

<div class="row">
    <div class="form-group col-12">
        @Html.HiddenFor(m => m.InitialBuyerOrganizationUid)
        @Html.HiddenFor(m => m.InitialBuyerOrganizationName)
        @Html.LabelFor(m => m.BuyerOrganizationUid, new { @class = "control-label" })
        @Html.DropDownListFor(m => m.BuyerOrganizationUid, Enumerable.Empty<SelectListItem>(), $"{string.Format(Labels.SelectAMEntity, Labels.Player.ToLowerInvariant())}...", new { @class = "form-control", id= "BuyerOrganizationUidModal" })
        @Html.ValidationMessageFor(m => m.BuyerOrganizationUid, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-12">
        @Html.HiddenFor(m => m.InitialProjectUid)
        @Html.HiddenFor(m => m.InitialProjectName)
        @Html.LabelFor(m => m.ProjectUid, new { @class = "control-label" })
        @Html.DropDownListFor(m => m.ProjectUid, Enumerable.Empty<SelectListItem>(), $"{string.Format(Labels.SelectAMEntity, Labels.Project.ToLowerInvariant())}...", new { @class = "form-control disabled", disabled = "disabled" })
        @Html.ValidationMessageFor(m => m.ProjectUid, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-12">
        @Html.Hidden("InitialNegotiationConfigUid", Model.NegotiationConfigUid)
        @Html.LabelFor(m => m.NegotiationConfigUid, new { @class = "control-label" })
        @Html.DropDownListFor(m => m.NegotiationConfigUid, Enumerable.Empty<SelectListItem>(), $"{string.Format(Labels.SelectAMEntity, Labels.Date.ToLowerInvariant())}...", new { @class = "form-control disabled", disabled = "disabled" })
        @Html.ValidationMessageFor(m => m.NegotiationConfigUid, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-12">
        @Html.Hidden("InitialNegotiationRoomConfigUid", Model.NegotiationRoomConfigUid)
        @Html.LabelFor(m => m.NegotiationRoomConfigUid, new { @class = "control-label" })
        @Html.DropDownListFor(m => m.NegotiationRoomConfigUid, Enumerable.Empty<SelectListItem>(), $"{string.Format(Labels.SelectAMEntity, Labels.Room.ToLowerInvariant())}...", new { @class = "form-control disabled", disabled = "disabled" })
        @Html.ValidationMessageFor(m => m.NegotiationRoomConfigUid, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-12">
        @Html.Hidden("InitialStartTime", Model.StartTime)
        @Html.LabelFor(m => m.StartTime, new { @class = "control-label" })
        @Html.DropDownListFor(m => m.StartTime, Enumerable.Empty<SelectListItem>(), $"{string.Format(Labels.SelectAMEntity, Labels.StartTime.ToLowerInvariant())}...", new { @class = "form-control disabled", disabled = "disabled" })
        @Html.ValidationMessageFor(m => m.StartTime, "", new { @class = "text-danger" })
    </div>
</div>