@model PlataformaRio2C.Application.CQRS.Commands.UpdateNegotiation
<div class="modal fade" id="UpdateAudiovisualMeetingModal" role="dialog" aria-labelledby="UpdateAudiovisualMeetingModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Labels.Update @Labels.Negotiation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Update", "Meetings", new { Area = "" }, FormMethod.Post, new { id = "UpdateAudiovisualMeetingForm" }))
                {
                    <div id="form-container">
                        @Html.Partial("Modals/UpdateForm", Model)
                    </div>
                }
                <div class="row">
                    <div class="col-12">
                        <div id="AudiovisualMeetingsLogisticsInfoWidget" class="kt-portlet kt-portlet--tabs d-none" style="min-height: 180px;"></div>
                    </div>
                </div>
                @if (Model.NegotiationDto != null && Model.NegotiationDto.Negotiation.UpdateDate != Model.NegotiationDto.Negotiation.CreateDate)
                {
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            @Labels.LastUpdateOn <b>@Model.NegotiationDto.Negotiation.UpdateDate.ToBrazilTimeZone().ToShortDateString() @Model.NegotiationDto.Negotiation.UpdateDate.ToBrazilTimeZone().ToLongTimeString()</b> @Labels.By <b>@(Model.NegotiationDto.UpdaterDto?.Name ?? "-")</b>.
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">@Labels.Cancel</button>
                <button type="button" class="btn btn-primary" onclick="AudiovisualMeetingsUpdate.submit();">@Labels.Save</button>
            </div>
        </div>
    </div>
</div>