@model HoldingSearchViewModel
@{
    ViewBag.Title = Labels.Holdings;
}
<!--begin:: Quick Stats-->
<div class="row">
    <div class="col-sm-6">
        <!--begin:: Total Count Widget-->
        <div id="HoldingTotalCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
        <!--end:: Total Count Widget-->
    </div>
    <div class="col-sm-6">
        <!--begin:: Edition Count-->
        <div id="HoldingEditionCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
        <!--end:: Edition Count-->        
    </div>
</div>
<!--end:: Quick Stats-->
@Html.Partial("Widgets/DataTablewidget", Model)
@*
    @Html.Partial("../Shared/_ModalDelete")
*@
@section Styles {
    @Styles.Render("~/bundles/css/dataTablesBundle")
}
@section Scripts {
    @Scripts.Render("~/bundles/js/dataTablesBundle")
    @Scripts.Render("~/bundles/js/chartJsBundle")
    @Scripts.Render("~/bundles/js/holdingsListBundle")
    @Scripts.Render("~/bundles/js/holdingsCreateBundle")
    <script>
        var initialPage = @(Model.Page?.ToString() ?? "null");
        var initialPageSize = @(Model.PageSize?.ToString() ?? "null");

        jQuery(document).ready(function () {
            HoldingsTotalCountWidget.init();
            HoldingsEditionCountWidget.init();
            HoldingsDataTableWidget.init();
        });
    </script>
}