@using Mvc.Mailer
@using PlataformaRio2c.Infra.Data.FileRepository.Helpers
@using PlataformaRio2C.Domain.Statics
@model PlataformaRio2C.Application.CQRS.Commands.SendUnreadConversationEmailAsync
<td valign="top">
    <!-- content -->
    <h1>
        <span>@Labels.Dear @Model.RecipientFirstName,</span>
    </h1>
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
            <td align="center">
                <p style="font-size: 18pt;">
                    <span>
                        @Html.Raw(Model.NotificationEmailConversationDto.UnreadMessagesCount != 1 ? string.Format(Messages.YouHaveNewMessages, Model.NotificationEmailConversationDto.UnreadMessagesCount) : 
                                                                                                    string.Format(Messages.YouHaveNewMessage, Model.NotificationEmailConversationDto.UnreadMessagesCount))
                    </span>
                </p>
                <p style="margin-top: 50px;">
                    @if (Model.NotificationEmailConversationDto?.OtherAttendeeCollaboratorDto?.Collaborator?.HasImage() == true)
                    {
                        <span class="kt-userpic kt-userpic--circle">
                            <img class="kt-widget__img" src="@ImageHelper.GetImageUrl(FileRepositoryPathType.UserImage, Model.NotificationEmailConversationDto.OtherAttendeeCollaboratorDto.Collaborator.Uid, Model.NotificationEmailConversationDto.OtherAttendeeCollaboratorDto.Collaborator.ImageUploadDate, true)" alt="image">
                        </span>
                    }
                    else
                    {
                        <span class="kt-media kt-media--circle kt-media--brand">
                            <span>
                                @(Model.NotificationEmailConversationDto.OtherAttendeeCollaboratorDto?.Collaborator?.GetDisplayNameAbbreviation() ??
                                  Model.NotificationEmailConversationDto.OtherUser?.Name?.GetTwoLetterCode() ??
                                  "-")
                            </span>
                        </span>
                    }
                </p>
                <p style="font-size:18pt; margin-top: 10px; margin-bottom: 0;">
                    <span>
                        <b>@(Model.NotificationEmailConversationDto.OtherAttendeeCollaboratorDto?.Collaborator?.GetDisplayName() ?? Model.NotificationEmailConversationDto.OtherUser.Name)</b>
                    </span>
                </p>
                <p style="font-size: 15pt; margin-top: 10px;">
                    @{
                        var jobTitle = Model.NotificationEmailConversationDto.OtherAttendeeCollaboratorDto?.GetJobTitleDtoByLanguageCode(Model.UserInterfaceLanguage);
                        var organization = Model.NotificationEmailConversationDto.OtherAttendeeCollaboratorDto?.AttendeeOrganizationsDtos?.FirstOrDefault()?.Organization;
                    }

                    @if (jobTitle != null)
                    {
                        <span>@jobTitle.Value</span>
                    }

                    @if (organization != null)
                    {
                        if (jobTitle != null)
                        {
                            <span> / </span>
                        }

                        <span>@organization.TradeName</span>
                    }
                </p>
            </td>
        </tr>
    </table>
    <div style="margin-top: 25px; margin-bottom: 25px;">
        <!--Button:begin-->
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
                <td align="center">
                    <table cellpadding="0" cellspacing="0" width="250" border="0" style="border-collapse: separate !important;">
                        <tr>
                            <td style="background-color:#EA202C;color:#FFFFFF;font-family:sans-serif;font-size:16px;font-weight:bold;padding:10px 10px;border-radius:10px;text-align:center;">
                                <a href="@Url.Abs(Url.Action("Messages", "Networks", new {culture = Model.UserInterfaceLanguage, edition = Model.EditionUrlCode, id = Model.NotificationEmailConversationDto.OtherUser?.Uid}))" style="color: #FFFFFF; text-decoration: none;">
                                    @(Model.NotificationEmailConversationDto.UnreadMessagesCount != 1 ? Labels.ViewMessages : Labels.ViewMessage)
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!--Button:end-->
    </div>
</td>
@section Styles {
    <style type="text/css">
        /*
            Media
        */
        .kt-widget__img {
            max-width: 150px;
            border-radius: 50%;
        }

        .kt-media span {
            border-radius: 50%;
            background: rgba(93,120,255,.1);
            color: #5d78ff;
            display: inline-block;
            align-items: center;
            font-weight: 600;
            width: 150px;
            height: 85px;
            padding-top: 65px;
            font-size: 3.0rem;
        }
    </style>
}