@{
    ViewBag.Title = Labels.OneToOneMeetings + " | " + Labels.UnscheduledNegotiations;
}
<!--begin:: Quick Stats-->
<div class="row">
    <!--begin:: Edition Scheduled Count Widget-->
    <div class="col-sm-6">
        <div id="MusicMeetingsEditionScheduledCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
    </div>
    <!--end:: Edition Scheduled Count Widget-->
    <!--begin:: Edition Unscheduled Count Widget-->
    <div class="col-sm-6">
        <div id="MusicMeetingsEditionUnscheduledCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
    </div>
    <!--end:: Edition Unscheduled Count Widget-->
</div>
<!--end:: Quick Stats-->
<div class="row">
    <!--begin:: Unscheduled Meetings Widget-->
    <div class="col-12">
        <div id="MusicMeetingsUnscheduledWidget" class="" style="min-height: 500px;"></div>
    </div>
    <!--end:: Unscheduled Meetings Widget-->
</div>
@section Styles {
    @Styles.Render("~/bundles/css/select2.css")
    @Styles.Render("~/bundles/css/bootstrap-datepicker.css")
}
@section Scripts {
    @Scripts.Render("~/bundles/js/select2.js")
    @Scripts.Render("~/bundles/js/bootbox.js")
    @Scripts.Render("~/bundles/js/bootstrap-datepicker.js")
    @Scripts.Render("~/bundles/js/chart.js")
    @Scripts.Render("~/bundles/js/music.meetings.unscheduled.widget.js")
    @Scripts.Render("~/bundles/js/music.meetings.editionscheduledcount.widget.js")
    @Scripts.Render("~/bundles/js/music.meetings.editionunscheduledcount.widget.js")
    @Scripts.Render("~/bundles/js/music.meetings.unscheduled.manualschedule.js")
<script>
        // Page translations ----------------------------------------------------------------------
        var translations = {
            playerDropdownPlaceholder: '@string.Format(Labels.SelectAMEntity, Labels.Player.ToLowerInvariant())...',
            projectDropdownPlaceholder: '@string.Format(Labels.SelectAMEntity, Labels.Project.ToLowerInvariant())...',
            producerDropdownPlaceholder: '@string.Format(Labels.SelectAFEntity, Labels.Producer.ToLowerInvariant())...',
            roomDropdownPlaceholder: '@string.Format(Labels.SelectAFEntity, Labels.Room.ToLowerInvariant())...',
            dateDropdownPlaceholder: '@string.Format(Labels.SelectAFEntity, Labels.Date.ToLowerInvariant())...',
            startTimeDropdownPlaceholder: '@Html.Raw(string.Format(Labels.SelectAFEntity, Labels.StartTime.ToLowerInvariant()))...',
            changeScheduledNegotiationConfirmationMessage: '@Messages.ChangeScheduledNegotiationConfirmationMessage'
        };

        // Pagination -----------------------------------------------------------------------------
        jQuery(document).ready(function () {
            MusicMeetingsEditionScheduledCountWidget.init();
            MusicMeetingsEditionUnscheduledCountWidget.init();
            MusicMeetingsUnscheduledWidget.init();
        });
</script>
}