@model PlataformaRio2C.Application.CQRS.Commands.CreateConferenceParticipant
<div class="row">
    <div class="form-group col-md-8">
        @Html.LabelFor(m => m.CollaboratorUid, new { @class = "control-label" })
        @Html.Hidden("InitialCollaboratorUid", Model.CollaboratorUid)
        @Html.DropDownList("CollaboratorUid", Enumerable.Empty<SelectListItem>(), $"{Labels.Select}...", new { @class = "form-control enable-collaborator-select2" })
        @Html.ValidationMessageFor(m => m.CollaboratorUid, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-8">
        @Html.LabelFor(m => m.ConferenceParticipanteRoleUid, new { @class = "control-label" })
        <select name="@Html.NameFor(m => m.ConferenceParticipanteRoleUid)" id="@Html.IdFor(m => m.ConferenceParticipanteRoleUid)" @Html.GetUnobtrusiveValidationAttributesFor(m => m.ConferenceParticipanteRoleUid) class="form-control enable-select2">
            <option value="">@(Labels.Select)...</option>
            @foreach (var conferenceParticipantRoleDto in Model.ConferenceParticipantRoleDtos)
            {
                <option value="@conferenceParticipantRoleDto.ConferenceParticipantRole.Uid" @(conferenceParticipantRoleDto.ConferenceParticipantRole.Uid == Model.ConferenceParticipanteRoleUid ? "selected" : "")>
                    @(conferenceParticipantRoleDto.GetConferenceParticipantRoleTitleDtoByLanguageCode(ViewBag.UserInterfaceLanguage)?.ConferenceParticipantRoleTitle.Value)
                </option>
            }
        </select>
        @Html.ValidationMessageFor(m => m.ConferenceParticipanteRoleUid, "", new { @class = "text-danger" })
    </div>
</div>