@model PlataformaRio2C.Application.CQRS.Commands.UpdateConferenceTracks
<div class="kt-section">
    <h5>@Labels.Tracks</h5>
    @Html.ValidationMessage("TrackUids", new { @class = "text-danger" })
    <div class="kt-section__content mt-3">
        <div class="kt-checkbox-list">
            @foreach (var track in Model.Tracks?.OrderBy(vt => vt.Name.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|')))
            {
                <label class="kt-checkbox">
                    <input type="checkbox"
                           name="TrackUids"
                           value="@track.Uid"
                           @if (Model.TrackUids?.Contains(track.Uid) == true) { <text> checked </text> } /> @track.Name.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|')
                        <span></span>
                    </label>
                }
        </div>
    </div>
</div>
<div class="kt-section">
    <h5>@Labels.HorizontalTracks</h5>
    @Html.ValidationMessage("HorizontalTrackUids", new { @class = "text-danger" })
    <div class="kt-section__content mt-3">
        <div class="kt-checkbox-list">
            @foreach (var horizontalTrack in Model.HorizontalTracks?.OrderBy(ht => ht.DisplayOrder))
            {
                <label class="kt-checkbox">
                    <input type="checkbox"
                           name="HorizontalTrackUids"
                           value="@horizontalTrack.Uid"
                           @if (Model.HorizontalTrackUids?.Contains(horizontalTrack.Uid) == true) { <text> checked </text> } /> @horizontalTrack.Name.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|')
                        <span></span>
                    </label>
                }
        </div>
    </div>
</div>
