@model PlataformaRio2C.Application.CQRS.Commands.UpdateConferenceApiConfiguration
<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-12">
                @Html.Label($"{string.Format(Labels.DisplayOnSiteEdition, ViewBag.EditionDto.UrlCode)}", new { @class = "control-label" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <span class="kt-switch kt-switch--icon">
                    <label>
                        @Html.CheckBoxFor(m => m.IsApiDisplayEnabled, true)
                        <span></span>
                    </label>
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-12">
                @Html.Label(Labels.HighlightPosition, new { @class = "control-label" }) <span class="form-optional-input text-muted">@Labels.Optional</span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                @Html.DropDownListFor(
                    m => m.ApiHighlightPosition,
                    new SelectList(Model.ApiHighlightPositions, Model.ApiHighlightPosition),
                    Labels.Select + "...",
                    new { @class = "form-control enable-select2" }
                )
                <span class="form-text text-muted">@Messages.AttentionHighlightsList</span>
            </div>
        </div>
    </div>
</div>
<div class="kt-section">
    <div class="kt-separator kt-separator--border-dashed"></div>
    <h3 class="kt-section__title mb-0">@string.Format(Labels.EntityHighlights, Labels.Speakers)</h3>
    <div class="kt-separator kt-separator--border-dashed mb-1"></div>
    <div class="kt-section__content">
        <table class="table table-sm table-head-bg-brand">
            <thead class="thead-inverse">
                <tr>
                    <th>@Labels.Name</th>
                    <th class="text-center">@Labels.HighlightPosition</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ConferencesApiConfigurationWidgetDtos?.Any() == true)
                {
                    foreach (var conferenceDto in Model.ConferencesApiConfigurationWidgetDtos)
                    {
                        <tr>                            
                            <td>@(conferenceDto.GetConferenceTitleDtoByLanguageCode(ViewBag.UserInterfaceLanguage)?.ConferenceTitle?.Value ?? "-")</td>
                            <td class="text-center">@(conferenceDto?.Conference?.ApiHighlightPosition)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>