@model PlataformaRio2C.Application.CQRS.Commands.UpdateConferenceTracks
<div class="modal fade" id="UpdateTracksModal" role="dialog" aria-labelledby="UpdateTracksModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @Labels.Update @Labels.Tracks
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("UpdateTracks", "Conferences", new { Area = "" }, FormMethod.Post, new { id = "UpdateTracksForm" }))
                {
                    @Html.HiddenFor(m => m.ConferenceUid)
                    <div id="form-container">
                        @Html.Partial("Modals/UpdateTracksForm", Model)
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">@Labels.Cancel</button>
                <button type="button" class="btn btn-primary" onclick="$('#UpdateTracksForm').submit();">@Labels.Save</button>
            </div>
        </div>
    </div>
</div>