@model PlataformaRio2C.Application.CQRS.Commands.UpdateConferenceTracksAndPresentationFormats
<div class="kt-section">
    <h5>@Labels.Tracks</h5>
    @Html.ValidationMessage("TrackUids", new { @class = "text-danger" })
    <div class="kt-section__content mt-3">
        @if (Model.Tracks?.Any() == true)
        {
            <div class="kt-checkbox-list">
                <div class="row">
                    @foreach (var track in Model.Tracks?.OrderBy(vt => vt.Name.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|')))
                    {
                        <div class="col-md-6">
                            <label class="kt-checkbox">
                                <input type="checkbox"
                                       name="TrackUids"
                                       value="@track.Uid"
                                       @if (Model.TrackUids?.Contains(track.Uid) == true) { <text> checked </text> } /> @track.Name.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|')
                                <span></span>
                            </label>
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <span>@string.Format(Messages.EntityNotAction, Labels.Tracks, Labels.FoundFP)</span>
        }
    </div>
</div>
<div class="kt-section">
    <h5>@Labels.PresentationFormats</h5>
    @Html.ValidationMessage("PresentationFormatUids", new { @class = "text-danger" })
    <div class="kt-section__content mt-3">
        @if (Model.PresentationFormats?.Any() == true)
        {
            <div class="kt-checkbox-list">
                <div class="row">
                    @foreach (var presentationFormat in Model.PresentationFormats?.OrderBy(ht => ht.Name.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|')))
                    {
                        <div class="col-md-6">
                            <label class="kt-checkbox">
                                <input type="checkbox"
                                       name="PresentationFormatUids"
                                       value="@presentationFormat.Uid"
                                       @if (Model.PresentationFormatUids?.Contains(presentationFormat.Uid) == true) { <text> checked </text> } /> @presentationFormat.Name.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|')
                                <span></span>
                            </label>
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <span>@string.Format(Messages.EntityNotAction, Labels.PresentationFormats, Labels.FoundMP)</span>
        }
    </div>
</div>