@model ResetPasswordViewModel
@{
    Layout = "~/Views/Themes/Metronic/_InternalOutside.cshtml";
    ViewBag.Title = Labels.ChangePassword;
}
<!--begin::ResetPassword-->
<div class="kt-login__form">
    <div class="kt-login__title">
        <h3>@ViewBag.Title</h3>
    </div>
    <!--begin::Form-->
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-signin kt-form", role = "form", novalidade = "novalidate" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Token)
        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email), autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control showhidepassword", placeholder = Html.DisplayNameFor(m => m.Password) })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control showhidepassword", placeholder = Labels.ConfirmPassword })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        @Html.ValidationSummary(true, null, new { @class = "text-danger list-unstyled" })
        <!--begin::Action-->
        <div class="kt-login__actions">
            <a href="@Url.Action("Login", "Account", new { Area = "" })" class="kt-link kt-login__link-forgot">
                @(Labels.GoBackToSignIn)
            </a>
            <input type="submit" value="@Labels.Reset" class="btn btn-primary btn-elevate kt-login__btn-primary" />
        </div>
        <!--end::Action-->
    }
    <!--end::Form-->
</div>
<!--end::ResetPassword-->
@section Styles {
    @Styles.Render("~/bundles/css/loginCustomStyles.css")
    @Styles.Render("~/bundles/css/hideshowpassword.css")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/js/hideshowpassword.js")
    <script type="text/javascript">
        MyRio2cShowHidePassword.init();
    </script>
}