@using PlataformaRio2c.Infra.Data.FileRepository.Helpers
@using PlataformaRio2C.Domain.Dtos
@using PlataformaRio2C.Domain.Statics
@model List<LogisticAirfareDto>
<div class="row">
    <div class="col-md-12">
        <div class="kt-widget4">
            @if (Model?.Any() == true)
            {
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-sm table-head-bg-brand">
                            <thead class="thead-inverse">
                                <tr>
                                    <th class="text-center">@Labels.Type</th>
                                    <th>@Labels.FromPlace</th>
                                    <th class="text-center">@Labels.DepartureDate</th>
                                    <th>@Labels.ToPlace</th>
                                    <th class="text-center">@Labels.ArrivalDate</th>
                                    <th class="text-center">@Labels.ReservationCode</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var logisticAirfareDto in Model)
                                {
                                    <tr>
                                        <td class="text-center">
                                            @(logisticAirfareDto.LogisticAirfare.IsNational ? Labels.National : Labels.International)
                                        </td>
                                        <td>
                                            @logisticAirfareDto.LogisticAirfare.From
                                        </td>
                                        <td class="text-center">
                                            @logisticAirfareDto.LogisticAirfare.DepartureDate.ToBrazilTimeZone().ToString("g")
                                        </td>
                                        <td>
                                            @logisticAirfareDto.LogisticAirfare.To
                                        </td>
                                        <td class="text-center">
                                            @logisticAirfareDto.LogisticAirfare.ArrivalDate.ToBrazilTimeZone().ToString("g")
                                        </td>
                                        <td class="text-center">
                                            @logisticAirfareDto.LogisticAirfare.TicketNumber
                                            @if (logisticAirfareDto.LogisticAirfare.TicketUploadDate.HasValue)
                                            {
                                                <a href="@FileHelper.GetFileUrl(FileRepositoryPathType.LogisticAirfareFile, logisticAirfareDto.LogisticAirfare.Uid, logisticAirfareDto.LogisticAirfare.TicketUploadDate)" target="_blank">
                                                    <i class="flaticon-attachment"></i>
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <span class="text-center">@string.Format(Messages.EntityNotAction, Labels.Airfares, Labels.FoundMP)</span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@if (Model?.Any(m => m.LogisticAirfare?.TicketUploadDate != null) == true)
{
    <div class="kt-section mt-5">
        <h3 class="kt-section__title mb-0">e-Tickets</h3>
        <div class="kt-separator"></div>
        <div class="kt-section__content mt-3">
            <div class="row">
                @foreach (var logisticAirfareDto in Model)
                {
                    <div class="col-md-6 mt-2">
                        <div class="row">
                            <div class="col-12">
                                <div class="embed-responsive embed-responsive-16by9 d-flex">
                                    @Html.Raw(FileHelper.GetFileUrl(FileRepositoryPathType.LogisticAirfareFile, logisticAirfareDto.LogisticAirfare.Uid, logisticAirfareDto.LogisticAirfare.TicketUploadDate).ConvertPdfToEmbed())
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <a href="@FileHelper.GetFileUrl(FileRepositoryPathType.LogisticAirfareFile, logisticAirfareDto.LogisticAirfare.Uid, logisticAirfareDto.LogisticAirfare.TicketUploadDate)" target="_blank">
                                    @logisticAirfareDto.LogisticAirfare.From - @logisticAirfareDto.LogisticAirfare.To (@logisticAirfareDto.LogisticAirfare.DepartureDate.ToBrazilTimeZone().ToString("g"))
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}