@using PlataformaRio2c.Infra.Data.FileRepository.Helpers
@using PlataformaRio2C.Domain.Dtos
@using PlataformaRio2C.Domain.Statics
@model AttendeeCollaboratorSiteMainInformationWidgetDto
@{
    var userAccessControlDto = ViewBag.UserAccessControlDto as UserAccessControlDto;
    var isCurrentUser = userAccessControlDto?.Collaborator?.Uid == Model.Collaborator?.Uid;
    var collaboratorUid = userAccessControlDto?.Collaborator?.Uid;
}
<div class="kt-portlet__body">
    <div class="kt-widget kt-widget--user-profile-3">
        <div class="kt-widget__top">
            <div style="float: right;">
                @if (Model.Collaborator?.HasImage() == true)
                {
                    <div class="kt-widget__media">
                        <img src="@ImageHelper.GetImageUrl(FileRepositoryPathType.UserImage, Model.Collaborator.Uid, Model.Collaborator.ImageUploadDate, true)" alt="image">
                    </div>
                }
                else
                {
                    <div class="kt-widget__pic kt-widget__pic--info kt-font-info kt-font-boldest" style="width: 110px; height: 110px;">
                        @(Model.Collaborator?.GetNameAbbreviation() ?? "-")
                    </div>
                }
            </div> 
            <div class="kt-widget__content" style="overflow: hidden;">
                <div class="kt-widget__head">
                    <span class="kt-widget__username">
                        @(Model.Collaborator?.GetFullName() ?? "-")
                        @if (Model.AttendeeCollaborator?.OnboardingFinishDate != null)
                        {
                            <i class="flaticon2-correct"></i>
                        }
                    </span>
                    @if (isCurrentUser)
                    {
                        <div class="kt-widget__action">
                            <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md btn-circle" onclick="ExecutivesMainInformationWidget.showUpdateModal();">
                                <i class="flaticon2-edit"></i>
                            </button>
                        </div>
                    }
                </div>
                <div class="kt-widget__subhead pt-0">
                    @Model.GetJobTitleDtoByLanguageCode(ViewBag.UserInterfaceLanguage).Value
                </div>
                <div class="kt-widget__info" style="display: block;">
                    @{
                        var miniBioDto = Model.GetMiniBioDtoByLanguageCode(ViewBag.UserInterfaceLanguage);
                    }
                    @if (miniBioDto != null)
                    {
                        <div class="kt-widget__desc" style="word-wrap: break-word;">
                            @Html.Raw(miniBioDto.Value)
                        </div>
                    }
                </div>
            </div>
        </div>
        @if (isCurrentUser)
        {
            <div class="kt-widget__bottom">
                <div class="kt-widget__item">
                    <div class="kt-widget__details">
                        <span class="kt-widget__title">@Labels.BadgeName</span>
                        <span class="kt-widget__value"><span>@(Model.Collaborator?.Badge ?? "-")</span></span>
                    </div>
                </div>
                <div class="kt-widget__item">
                    <div class="kt-widget__details">
                        <span class="kt-widget__title">@Labels.CellPhone</span>
                        <span class="kt-widget__value"><span>@(Model.Collaborator?.CellPhone ?? "-")</span></span>
                    </div>
                </div>
                <div class="kt-widget__item">
                    <div class="kt-widget__details">
                        <span class="kt-widget__title">@Labels.PhoneNumber</span>
                        <span class="kt-widget__value"><span>@(Model.Collaborator?.PhoneNumber ?? "-")</span></span>
                    </div>
                </div>
                <div class="kt-widget__item">
                    <div class="kt-widget__details">
                        <span class="kt-widget__title">@Labels.Email</span>
                        <span class="kt-widget__value"><span>@(Model.Collaborator?.PublicEmail ?? "-")</span></span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
