@using PlataformaRio2c.Infra.Data.FileRepository.Helpers
@using PlataformaRio2C.Domain.Constants
@using PlataformaRio2C.Domain.Dtos
@using PlataformaRio2C.Domain.Statics
@model List<LogisticAirfareDto>
@{
    var adminAccessControlDto = ViewBag.AdminAccessControlDto as AdminAccessControlDto;
    var hasChangeDataPermission = adminAccessControlDto?.HasAnyCollaboratorType(new[] { CollaboratorType.AdminAudiovisual, CollaboratorType.AdminLogistic }) == true;
    var hideActions = (bool?)ViewBag.HideActions ?? false;
}
<div class="row">
    <div class="col-md-12">
        <div class="kt-widget4">
            @if (Model != null && Model.Any())
            {
                <div class="col-12">
                    <table class="table table-sm table-head-bg-brand table-body-scroll">
                        <thead class="thead-inverse">
                            <tr>
                                <th class="text-center">@Labels.Type</th>
                                <th>@Labels.FromPlace</th>
                                <th class="text-center">@Labels.DepartureDate</th>
                                <th>@Labels.ToPlace</th>
                                <th class="text-center">@Labels.ArrivalDate</th>
                                <th class="text-center">@Labels.ReservationCode</th>
                                @*<th class="text-center">@Labels.AirfareTicket</th>*@
                                <th class="text-center">@Labels.CreateDate</th>
                                <th class="text-center">@Labels.UpdateDate</th>
                                @if (hasChangeDataPermission && !hideActions)
                                {
                                    <th class="text-center">@Labels.Actions</th>
                                }
                            </tr>
                        </thead>
                        <tbody class="rio2c-scroll" style="height: 180px;">
                            @foreach (var logisticAirfareDto in Model)
                            {
                                <tr>
                                    <td class="text-center">
                                        @(logisticAirfareDto.LogisticAirfare.IsNational ? Labels.National : Labels.International)
                                    </td>
                                    <td>
                                        @logisticAirfareDto.LogisticAirfare.From
                                    </td>
                                    <td class="text-center">
                                        @logisticAirfareDto.LogisticAirfare.DepartureDate.ToUserTimeZone().ToString("g")
                                    </td>
                                    <td>
                                        @logisticAirfareDto.LogisticAirfare.To
                                    </td>
                                    <td class="text-center">
                                        @logisticAirfareDto.LogisticAirfare.ArrivalDate.ToUserTimeZone().ToString("g")
                                    </td>
                                    <td class="text-center">
                                        @logisticAirfareDto.LogisticAirfare.TicketNumber
                                        @if (logisticAirfareDto.LogisticAirfare.TicketUploadDate.HasValue)
                                        {
                                            <a href="@FileHelper.GetFileUrl(FileRepositoryPathType.LogisticAirfareFile, logisticAirfareDto.LogisticAirfare.Uid, logisticAirfareDto.LogisticAirfare.TicketUploadDate)" target="_blank">
                                                <i class="flaticon-attachment"></i>
                                            </a>
                                        }
                                    </td>
                                    @*<td class="text-center">
                                        </td>*@
                                    <td class="text-center">
                                        @logisticAirfareDto.LogisticAirfare.CreateDate.ToUserTimeZone().ToString("g")
                                    </td>
                                    <td class="text-center">
                                        @logisticAirfareDto.LogisticAirfare.UpdateDate.ToUserTimeZone().ToString("g")
                                    </td>
                                    @if (hasChangeDataPermission && !hideActions)
                                    {
                                        <td class="text-center">
                                            <span class="dropdown">
                                                <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true">
                                                    <i class="la la-ellipsis-h"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <button class="dropdown-item" onclick="LogisticAirfareUpdate.showModal('@logisticAirfareDto.LogisticAirfare.Uid');"><i class="la la-edit"></i>@Labels.Edit</button>
                                                    @*<a class="dropdown-item" href="@Url.Content("~/Assets/img/200484580088054.pdf")" target="_blank"><i class="la la-download"></i>@Labels.Download</a>*@
                                                    <button class="dropdown-item" onclick="LogisticAirfareDelete.showModal('@logisticAirfareDto.LogisticAirfare.Uid');"><i class="la la-remove"></i>@Labels.Remove</button>
                                                </div>
                                            </span>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <span class="text-center">@string.Format(Messages.EntityNotAction, Labels.Airfares, Labels.FoundMP)</span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>