@using PlataformaRio2C.Domain.Dtos
@model AttendeeCollaboratorSiteDetailsDto
@{
    ViewBag.Title = $"{Labels.Speaker}  {Model.Collaborator.GetFullName()}";
}
@Html.Hidden("AggregateId", Model.Collaborator.Uid)
<div class="row">
    <div class="col-md-12">
        <!--begin:Main Information Widget-->
        <div class="row">
            <div class="col-12">
                <div id="SpeakerMainInformationWidget" class="kt-portlet" style="min-height: 325px;"></div>
            </div>
        </div>
        <!--end:Main Information Widget-->
        <!--begin:Company Widget-->
        <div class="row">
            <div class="col-12">
                <div id="SpeakerCompanyWidget" class="kt-portlet" style="min-height: 325px;"></div>
            </div>
        </div>
        <!--end:Company Widget-->
    </div>
</div>
@section Styles {
    @Styles.Render("~/bundles/css/cropper.css")
    @Styles.Render("~/bundles/css/select2.css")
    @Styles.Render("~/bundles/css/jquery.autocomplete.css")
}
@section Scripts {
    @Scripts.Render("~/bundles/js/cropper.js")
    @Scripts.Render("~/bundles/js/select2.js")
    @*@Scripts.Render("~/bundles/js/ckEditor.js")*@
    @Scripts.Render("~/bundles/js/inputmask.js")
    @Scripts.Render("~/bundles/js/jquery.autocomplete.js")
    @Scripts.Render("~/bundles/js/bootbox.js")
    @Scripts.Render("~/bundles/js/addresses.form.js")
    @Scripts.Render("~/bundles/js/speakers.details.js")
    <script>
        // Page translations ----------------------------------------------------------------------

        jQuery(document).ready(function () {
            SpeakersMainInformationWidget.init();
            SpeakersCompanyWidget.init();
        });
    </script>
}