@using System.Globalization
@model PlataformaRio2C.Application.CQRS.Commands.UpdateOrganizationInterests
<div class="kt-section pt-4">
    <h3 class="kt-section__title mb-0">@Messages.DescribeRestrictionSpecifics</h3>
    @Html.ValidationMessage("RestrictionSpecifics", new { @class = "text-danger" })
    <div class="kt-section__content mt-3">
        @Html.EditorFor(m => m.RestrictionSpecifics)
    </div>
</div>
@if (Model.Interests?.Any() == true)
{
    <div class="kt-section mt-30">
        <div class="kt-section__content mt-3">
            <div class="kt-checkbox-list">
                @for (int i = 0; i < Model.Interests.Length; i++)
                {
                    var group = Model.Interests[i].FirstOrDefault();
                    <h5 class="mt-30">@(group?.InterestGroupName?.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|'))</h5>
                    @Html.ValidationMessage(group?.InterestGroupUid.ToString(), new { @class = "text-danger" })
                    <div class="kt-section__content mt-3">
                        <div class="row require-one-group" data-id="@(group?.InterestGroupUid)">
                            @Html.EditorFor(x => Model.Interests[i])
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}