@using PlataformaRio2C.Domain.Dtos
@model PlataformaRio2C.Application.CQRS.Commands.OnboardCollaboratorAccessData
@{
    Layout = "~/Views/Themes/Metronic/_Internal.cshtml";
    ViewBag.Title = Labels.Welcome;
    var userAccessControlDto = ViewBag.UserAccessControlDto as UserAccessControlDto;
    var isSpeaker = ViewBag.IsSpeaker as bool? ?? false;
    var menuIndex = 1 + (isSpeaker ? 1 : 0);
}
<div class="kt-portlet">
    <div class="kt-portlet__body kt-portlet__body--fit">
        <div class="kt-grid  kt-wizard-v2 kt-wizard-v2--white" id="kt_wizard_v2" data-ktwizard-state="first">
            <div class="kt-grid__item kt-wizard-v2__aside">
                <!--begin: Form Wizard Nav -->
                @Html.Partial("Shared/_OnboardingMenu", menuIndex)
                <!--end: Form Wizard Nav -->
            </div>
            <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v2__wrapper">
                @using (Html.BeginForm("AccessData", "Onboarding", FormMethod.Post, new { id = "AccessDataForm", @class = "kt-form" }))
                {
                    <!--begin: Form Wizard Step 1-->
                    <div class="kt-wizard-v2__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                        <div class="kt-heading kt-heading--md">@Labels.AccessData</div>
                        <div class="kt-form__section kt-form__section--first">
                            <div class="kt-wizard-v2__form">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label>@Labels.Email/@Labels.User: @(userAccessControlDto?.User.Email)</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-md-6">
                                        @Html.LabelFor(m => m.LastNames, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.LastNames, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.LastNames, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        @Html.LabelFor(m => m.Badge, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.Badge, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Badge, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        @Html.LabelFor(m => m.CellPhone, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.CellPhone, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.CellPhone, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-md-6">
                                        @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <hr />
                                <div class="kt-heading kt-heading--md">@Messages.ConfigurePasswordToMyRio2c</div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        @*<label>Informe uma senha de acesso à conta</label>*@
                                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control showhidepassword" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-md-6">
                                        @*<label>Confirmação da senha</label>*@
                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control showhidepassword" })
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--end: Form Wizard Step 1-->
                    <!--begin: Form Actions -->
                    <div class="kt-form__actions">
                        <button type="button" class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u ml-auto" onclick="MyRio2cCommon.submitForm('#AccessDataForm');">
                            @Labels.NextStep
                        </button>
                    </div>
                    <!--end: Form Actions -->
                }
                <!--end: Form Wizard Form-->
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/bundles/css/onboardingIndex")
}
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            MyRio2cShowHidePassword.init();
        });
    </script>
}