@using PlataformaRio2C.Domain.Dtos
@model PlataformaRio2C.Application.CQRS.Commands.OnboardCollaboratorData
@{
    Layout = "~/Views/Themes/Metronic/_Internal.cshtml";
    ViewBag.Title = Labels.Welcome;
    var userAccessControlDto = ViewBag.UserAccessControlDto as UserAccessControlDto;
    var isPlayer = ViewBag.IsPlayer as bool?;
}
<div class="kt-portlet">
    <div class="kt-portlet__body kt-portlet__body--fit">
        <div class="kt-grid  kt-wizard-v2 kt-wizard-v2--white" id="kt_wizard_v2" data-ktwizard-state="first">
            <div class="kt-grid__item kt-wizard-v2__aside">
                <!--begin: Form Wizard Nav -->
                @Html.Partial("Shared/_OnboardingMenu", 2 + (isPlayer == true ? 1 : 0))
                <!--end: Form Wizard Nav -->
            </div>
            <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v2__wrapper">
                @using (Html.BeginForm("CollaboratorData", "Onboarding", FormMethod.Post, new { enctype = "multipart/form-data", id = "CollaboratorDataForm", @class = "kt-form" }))
                {
                    <!--begin: Form Wizard Step 1-->
                    <div class="kt-wizard-v2__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                        <div class="kt-heading kt-heading--md">@Labels.PersonalInformation</div>
                        <div class="kt-form__section kt-form__section--first">
                            <div class="kt-wizard-v2__form">
                                <div id="form-container">
                                    <div class="row">
                                        <div class="form-group col-lg-5 col-xl-3">
                                            @Html.EditorFor(m => m.CropperImage)
                                        </div>
                                        <div class="form-group col-lg-7 col-xl-9 pl-lg-5">
                                            <div class="kt-section">
                                                <h3 class="kt-section__title mb-0">@Labels.JobTitle</h3>
                                                @Html.ValidationMessage("JobTitles", new { @class = "text-danger" })
                                                <div class="kt-section__content mt-3">
                                                    @Html.EditorFor(m => m.JobTitles, new { id = "vasco"})
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-section">
                                        <h3 class="kt-heading kt-heading--md">@Messages.DescribeYourMiniBiography</h3>
                                        @Html.ValidationMessage("MiniBios", new { @class = "text-danger" })
                                        <div class="kt-section__content mt-3">
                                            @Html.EditorFor(m => m.MiniBios)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            @Html.LabelFor(m => m.PublicEmail, Messages.PublicEmail, new { @class = "control-label" })
                                            <div class="kt-radio-inline">
                                                <label class="kt-radio">
                                                    @Html.RadioButtonFor(m => m.SharePublicEmail, true) @Labels.Yes
                                                    <span></span>
                                                </label>
                                                <label class="kt-radio">
                                                    @Html.RadioButtonFor(m => m.SharePublicEmail, false) @Labels.No
                                                    <span></span>
                                                </label>
                                            </div>
                                            @Html.ValidationMessageFor(m => m.SharePublicEmail, "", new { @class = "text-danger" })
                                            @Html.TextBoxFor(m => m.PublicEmail, Model.SharePublicEmail == true ? (object)new { @class = "form-control" } : (object)new { @class = "form-control", disabled = "" })
                                            @Html.ValidationMessageFor(m => m.PublicEmail, "", new { @class = "text-danger" })
                                        </div>
                                    </div>        
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end: Form Wizard Step 1-->
                    <!--begin: Form Actions -->
                    <div class="kt-form__actions">
                        <button type="button" class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u ml-auto" onclick="MyRio2cCommon.submitForm('#CollaboratorDataForm');">
                            @Labels.NextStep
                        </button>
                    </div>
                    <!--end: Form Actions -->
                }
                <!--end: Form Wizard Form-->
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/bundles/css/cropper.css")
    @Styles.Render("~/bundles/css/select2.css")
    @Styles.Render("~/bundles/css/onboardingIndex")
}
@section Scripts {
    @Scripts.Render("~/bundles/js/cropper.js")
    @Scripts.Render("~/bundles/js/select2.js")
    @*@Scripts.Render("~/bundles/js/ckEditor.js")*@
    @Scripts.Render("~/bundles/js/addresses.form.js")
    @Scripts.Render("~/bundles/js/onboarding.collaboratordata.js")
    <script>
        jQuery(document).ready(function () {
            OnboardingCollaboratorData.init();
        });
    </script>
}