@model PlataformaRio2C.Application.CQRS.Commands.OnboardTicketBuyerOrganizationData
@{
    Layout = "~/Views/Themes/Metronic/_Internal.cshtml";
    ViewBag.Title = Labels.Welcome;
}
<div class="kt-portlet">
    <div class="kt-portlet__body kt-portlet__body--fit">
        <div class="kt-grid  kt-wizard-v2 kt-wizard-v2--white" id="kt_wizard_v2" data-ktwizard-state="first">
            <div class="kt-grid__item kt-wizard-v2__aside">
                <!--begin: Form Wizard Nav -->
                @Html.Partial("Shared/_OnboardingMenu", 3)
                <!--end: Form Wizard Nav -->
            </div>
            <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v2__wrapper">
                @using (Html.BeginForm("CompanyInfo", "Onboarding", FormMethod.Post, new { enctype = "multipart/form-data", id = "CompanyInfoForm", @class = "kt-form", novalidate = "novalidate" }))
                {
                    @Html.HiddenFor(m => m.OrganizationUid)
                    <!--begin: Form Wizard Step 1-->
                    <div class="kt-wizard-v2__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                        <div class="kt-heading kt-heading--md">@Labels.Company</div>
                        <div class="kt-form__section kt-form__section--first">
                            <div class="kt-wizard-v2__form">
                                <div class="row">
                                    <div class="col">
                                        @Messages.IfYouWantToSkipStepAndRegisterLater, <a href="@Url.Action("SkipCompanyInfo", "Onboarding", new { Area = "" })">@Labels.ClickHere.ToLowerInvariant()</a>.
                                    </div>
                                </div>
                                <div id="form-container">
                                    @Html.Partial("Shared/_CompanyInfoForm", Model)
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end: Form Wizard Step 1-->
                    <!--begin: Form Actions -->
                    <div class="kt-form__actions">
                        @*<a href="@Url.Action("SkipCompanyInfo", "Onboarding", new { Area = "" })" class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                            @Labels.Skip
                        </a>*@
                        <button type="button" class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u ml-auto" onclick="OnboardWizard.submit('#CompanyInfoForm');">
                            @Labels.Save
                        </button>
                    </div>
                    <!--end: Form Actions -->
                }
                <!--end: Form Wizard Form-->
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/bundles/css/cropper.css")
    @Styles.Render("~/bundles/css/select2.css")
    @Styles.Render("~/bundles/css/jquery.autocomplete.css")
    @Styles.Render("~/bundles/css/onboardingIndex")
}
@section Scripts {
    @Scripts.Render("~/bundles/js/cropper.js")
    @Scripts.Render("~/bundles/js/select2.js")
    @*@Scripts.Render("~/bundles/js/ckEditor.js")*@
    @Scripts.Render("~/bundles/js/inputmask.js")
    @Scripts.Render("~/bundles/js/jquery.autocomplete.js")
    @Scripts.Render("~/bundles/js/addresses.form.js")
    @Scripts.Render("~/bundles/js/onboarding.companyinfo.js")
    @Scripts.Render("~/bundles/js/onboarding.wizard.js")
    <script>
        jQuery(document).ready(function () {
            OnboardingCompanyInfo.init();
        });
    </script>
}