@model PlataformaRio2C.Application.CQRS.Commands.OnboardSpeakerTermsAcceptance
@{
    Layout = "~/Views/Themes/Metronic/_Internal.cshtml";
    ViewBag.Title = Labels.Welcome;
    //var menuIndex = !isPlayer ? 4 : 
    //                            3 + ((playerAttendeeOrganizations?.Count ?? 0) * 2) + 1;
    var menuIndex = 1;
}
<div class="kt-portlet">
    <div class="kt-portlet__body kt-portlet__body--fit">
        <div class="kt-grid  kt-wizard-v2 kt-wizard-v2--white" id="kt_wizard_v2" data-ktwizard-state="first">
            <div class="kt-grid__item kt-wizard-v2__aside">
                <!--begin: Form Wizard Nav -->
                @Html.Partial("Shared/_OnboardingMenu", menuIndex)
                <!--end: Form Wizard Nav -->
            </div>
            <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v2__wrapper">
                @using (Html.BeginForm("SpeakerTermsAcceptance", "Onboarding", FormMethod.Post, new { id = "SpeakerTermsAcceptanceForm", @class = "kt-form" }))
                {
                    <!--begin: Form Wizard Step 1-->
                    <div class="kt-wizard-v2__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                        <div class="kt-heading kt-heading--md">@Messages.ImageAuthorizationForm</div>
                        <div class="kt-form__section kt-form__section--first">
                            <div class="kt-wizard-v2__form">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="kt-portlet">
                                            <div class="kt-portlet__body">
                                                <div class="rio2c-scroll" data-height="400" data-scrollbar-shown="true">
                                                    @Html.Partial("Shared/_SpeakerTermsAcceptanceText")
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="kt-checkbox">
                                            @Html.CheckBoxFor(m => m.AcceptTerms, new { @class = "" }) @Messages.AcceptImageAuthorization
                                            <span></span>
                                        </label><br />
                                        @Html.ValidationMessageFor(m => m.AcceptTerms, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <small>
                                            @Html.Raw(Texts.SpeakerTermsRestrictions)
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end: Form Wizard Step 1-->
                    <!--begin: Form Actions -->
                    <div class="kt-form__actions">
                        <button type="button" class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u ml-auto" onclick="MyRio2cCommon.submitForm('#SpeakerTermsAcceptanceForm');">
                            @Labels.Save
                        </button>
                    </div>
                    <!--end: Form Actions -->
                }
                <!--end: Form Wizard Form-->
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/bundles/css/onboardingIndex")
}
@section Scripts {
}