@using PlataformaRio2C.Domain.Dtos;
@model List<MusicBandGroupedByGenreDto>

<div class="kt-portlet__head kt-portlet__space-x">
    <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
            <a class="kt-label-font-color-2" href="@Url.Action("Index", "Projects", new { Area = "Music" })">
                @Labels.MusicProjects @Labels.By @Labels.Genre @Labels.InEditionYear.Replace("{0}", ViewBag.EditionDto.UrlCode.ToString())
            </a>
        </h3>
    </div>
</div>
<div class="kt-portlet__body">
    <div id="MusicProjectsEditionCountPieChart" style="height:350px"></div>
</div>
<script>
    var musicProjects = '@Labels.MusicProjects'
    var musicProjectsObservationMessage = '*@string.Format(Messages.SubtitlesAreNotDisplayedForValuesBelow, "2%")'
</script>