@using PlataformaRio2C.Domain.Dtos
@model MusicProjectDto
<div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
            @Labels.SocialNetworks
        </h3>
    </div>
</div>
<div class="kt-portlet__body pt-0">
    <div class="row">
        <div class="col-md-6 mt-20">
            @Html.Partial("/Views/Shared/SocialNetworks/_FacebookItem.cshtml", Model.AttendeeMusicBandDto.MusicBand.Facebook, new ViewDataDictionary())
        </div>
        <div class="col-md-6 mt-20">
            @Html.Partial("/Views/Shared/SocialNetworks/_InstagramItem.cshtml", Model.AttendeeMusicBandDto.MusicBand.Instagram, new ViewDataDictionary())
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-20">
            @Html.Partial("/Views/Shared/SocialNetworks/_TwitterItem.cshtml", Model.AttendeeMusicBandDto.MusicBand.Twitter, new ViewDataDictionary())
        </div>
        <div class="col-md-6 mt-20">
            @Html.Partial("/Views/Shared/SocialNetworks/_YoutubeItem.cshtml", Model.AttendeeMusicBandDto.MusicBand.Youtube, new ViewDataDictionary())
        </div>
    </div>
</div>