@model PlataformaRio2C.Application.CQRS.Commands.RefuseProjectEvaluation
<div class="row">
    <div class="form-group col-12">
        @Html.Raw(string.Format(Texts.DoYouReallyWishRefuse, Model.ProjectDto?.GetTitleDtoByLanguageCode(ViewBag.UserInterfaceLanguage)?.ProjectTitle?.Value))
    </div>
    @if (Enumerable.Count(Model.AttendeeOrganizations) == 1)
    {
        @Html.HiddenFor(m => m.AttendeeOrganizationUid)
    }
    else
    {
        <div class="form-group col-12">
            @Html.LabelFor(m => m.AttendeeOrganizationUid, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.AttendeeOrganizationUid, new SelectList(Model.AttendeeOrganizations, "Uid", "Name", Model.AttendeeOrganizationUid), Labels.Select + "...", new {@class = "form-control enable-select2"})
            @Html.ValidationMessageFor(m => m.AttendeeOrganizationUid, "", new {@class = "text-danger"})
        </div>
    }
    <div class="form-group col-12">
        @Html.LabelFor(m => m.Reason, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Reason, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Reason, "", new {@class = "text-danger"})
    </div>
</div>