@model PlataformaRio2C.Application.CQRS.Commands.UpdateProjectInterests
<div class="kt-section">
    <div class="kt-section__content">
        <div class="kt-checkbox-list">
            @foreach (var interests in Model.GroupedInterests)
            {
                <h5 class="mt-30">@interests.Key.Name.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|')</h5>
                @Html.ValidationMessage(interests.Key.Uid.ToString(), new { @class = "text-danger" })
                <div class="kt-section__content mt-3">
                    <div class="row require-one-group" data-id="@interests.Key.Uid">
                        @foreach (var interest in interests?.OrderBy(ig => ig.DisplayOrder))
                        {
                            <div class="col-sm-4">
                                <label class="kt-checkbox">
                                    <input type="checkbox"
                                           name="InterestsUids"
                                           value="@interest.Uid"
                                           class="require-one-item"
                                           data-id="@interests.Key.Uid"
                                           @if (Model.InterestsUids?.Contains(interest.Uid) == true) { <text> checked </text> } /> @interest.Name.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|')
                                    <span></span>
                                </label>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>