@model ChangePasswordViewModel
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control showhidepassword" })
        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control showhidepassword" })
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control showhidepassword" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
    </div>
</div>
@Html.ValidationSummary(true, null, new { @class = "text-danger list-unstyled" })