@using PlataformaRio2C.Domain.Dtos
@{
    var userAccessControlDto = ViewBag.UserAccessControlDto as UserAccessControlDto;
    DateTime date;
}
<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                We Connected
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="row">
            <div class="col-12 rio2c-scroll" style="height: 700px;">
                <div class="kt-timeline-v1 kt-timeline-v1--justified">
                    <div class="kt-timeline-v1__items">
                        <div class="kt-timeline-v1__marker"></div>
                        <!--begin: Timeline item-->
                        <div class="kt-timeline-v1__item kt-timeline-v1__item--first">
                            @{
                                date = new DateTime(2020, 3, 11);
                            }
                            <div class="kt-timeline-v1__item-circle">
                                <div class="kt-bg-danger"></div>
                            </div>
                            <span class="kt-timeline-v1__item-time kt-font-brand">@date.ToShortDateString()</span>
                            <div class="kt-timeline-v1__item-content">
                                @*<div class="kt-timeline-v1__item-title">
                                        New Members Joined!
                                    </div>*@
                                <div class="kt-timeline-v1__item-body">
                                    <a href="@Url.Action("Details", "Executives", new { Area = "", id = userAccessControlDto?.Collaborator?.Uid })">
                                        <img class="r2c-we-connected-banner" src="https://assets.my.rio2c.com/img/we-connected/@(date.ToString("yyyyMMdd"))_dashboard-banner-@(ViewBag.UserInterfaceLanguage).png?v=@(date.ToString("yyyyMMdd"))" />
                                    </a>
                                </div>
                                @*<div class="kt-timeline-v1__item-actions">
                                        <a href="#" class="btn btn-sm btn-brand">Check all</a>
                                    </div>*@
                            </div>
                        </div>
                        <!--end: Timeline item-->
                        <!--begin: Timeline item-->
                        <div class="kt-timeline-v1__item">
                            @{
                                date = new DateTime(2020, 1, 31);
                            }
                            <div class="kt-timeline-v1__item-circle">
                                <div class="kt-bg-danger"></div>
                            </div>
                            <span class="kt-timeline-v1__item-time kt-font-brand">@date.ToShortDateString()</span>
                            <div class="kt-timeline-v1__item-content">
                                @*<div class="kt-timeline-v1__item-title">
                                        New Members Joined!
                                    </div>*@
                                <div class="kt-timeline-v1__item-body">
                                    <a href="@(ViewBag.UserInterfaceLanguage == "en-us" ? "https://www.rio2c.com/en/notice" : "https://www.rio2c.com/comunicado/")" target="_blank">
                                        <img class="r2c-we-connected-banner" src="https://assets.my.rio2c.com/img/we-connected/@(date.ToString("yyyyMMdd"))_dashboard-banner-@(ViewBag.UserInterfaceLanguage).png?v=@(date.ToString("yyyyMMdd"))" />
                                    </a>
                                </div>
                                @*<div class="kt-timeline-v1__item-actions">
                                        <a href="#" class="btn btn-sm btn-brand">Check all</a>
                                    </div>*@
                            </div>
                        </div>
                        <!--end: Timeline item-->
                        <!--begin: Timeline item-->
                        <div class="kt-timeline-v1__item">
                            @{
                                date = new DateTime(2020, 1, 29);
                            }
                            <div class="kt-timeline-v1__item-circle">
                                <div class="kt-bg-danger"></div>
                            </div>
                            <span class="kt-timeline-v1__item-time kt-font-brand">@date.ToShortDateString()</span>
                            <div class="kt-timeline-v1__item-content">
                                @*<div class="kt-timeline-v1__item-title">
                                        Users Joined Today
                                    </div>*@
                                <div class="kt-timeline-v1__item-body">
                                    <img class="r2c-we-connected-banner" src="https://assets.my.rio2c.com/img/we-connected/@(date.ToString("yyyyMMdd"))_dashboard-banner-@(ViewBag.UserInterfaceLanguage).png?v=@(date.ToString("yyyyMMdd"))" />
                                </div>
                                @*<div class="kt-timeline-v1__item-actions">
                                        <a href="#" class="btn btn-sm btn-label-brand btn-bold">Show more ...</a>
                                    </div>*@
                            </div>
                        </div>
                        <!--end: Timeline item-->
                        <!--begin: Timeline item-->
                        <div class="kt-timeline-v1__item">
                            @{
                                date = new DateTime(2020, 1, 10);
                            }
                            <div class="kt-timeline-v1__item-circle">
                                <div class="kt-bg-danger"></div>
                            </div>
                            <span class="kt-timeline-v1__item-time kt-font-brand">@date.ToShortDateString()</span>
                            <div class="kt-timeline-v1__item-content">
                                @*<div class="kt-timeline-v1__item-title">
                                        New Members Joined!
                                    </div>*@
                                <div class="kt-timeline-v1__item-body">
                                    <a href="@(ViewBag.UserInterfaceLanguage == "en-us" ? "https://www.rio2c.com/en/notice" : "https://www.rio2c.com/comunicado/")" target="_blank">
                                        <img class="r2c-we-connected-banner" src="https://assets.my.rio2c.com/img/we-connected/@(date.ToString("yyyyMMdd"))_dashboard-banner-@(ViewBag.UserInterfaceLanguage).png?v=@(date.ToString("yyyyMMdd"))" />
                                    </a>
                                </div>
                                @*<div class="kt-timeline-v1__item-actions">
                                        <a href="#" class="btn btn-sm btn-brand">Check all</a>
                                    </div>*@
                            </div>
                        </div>
                        <!--end: Timeline item-->
                        <!--begin: Timeline item-->
                        <div class="kt-timeline-v1__item">
                            @{
                                date = new DateTime(2019, 12, 20);
                            }
                            <div class="kt-timeline-v1__item-circle">
                                <div class="kt-bg-danger"></div>
                            </div>
                            <span class="kt-timeline-v1__item-time kt-font-brand">@date.ToShortDateString()</span>
                            <div class="kt-timeline-v1__item-content">
                                @*<div class="kt-timeline-v1__item-title">
                                        New Members Joined!
                                    </div>*@
                                <div class="kt-timeline-v1__item-body">
                                    <img class="r2c-we-connected-banner" src="https://assets.my.rio2c.com/img/we-connected/@(date.ToString("yyyyMMdd"))_dashboard-banner-@(ViewBag.UserInterfaceLanguage).png?v=@(date.ToString("yyyyMMdd"))" />
                                </div>
                                @*<div class="kt-timeline-v1__item-actions">
                                        <a href="#" class="btn btn-sm btn-brand">Check all</a>
                                    </div>*@
                            </div>
                        </div>
                        <!--end: Timeline item-->
                        <!--begin: Timeline item-->
                        <div class="kt-timeline-v1__item">
                            @{
                                date = new DateTime(2019, 11, 26);
                            }
                            <div class="kt-timeline-v1__item-circle">
                                <div class="kt-bg-danger"></div>
                            </div>
                            <span class="kt-timeline-v1__item-time kt-font-brand">@date.ToShortDateString()</span>
                            <div class="kt-timeline-v1__item-content">
                                @*<div class="kt-timeline-v1__item-title">
                                        New Members Joined!
                                    </div>*@
                                <div class="kt-timeline-v1__item-body">
                                    <img class="r2c-we-connected-banner" src="https://assets.my.rio2c.com/img/we-connected/@(date.ToString("yyyyMMdd"))_dashboard-banner-@(ViewBag.UserInterfaceLanguage).png?v=@(date.ToString("yyyyMMdd"))" />
                                </div>
                                @*<div class="kt-timeline-v1__item-actions">
                                        <a href="#" class="btn btn-sm btn-brand">Check all</a>
                                    </div>*@
                            </div>
                        </div>
                        <!--end: Timeline item-->
                        <!--begin: Timeline item-->
                        <div class="kt-timeline-v1__item">
                            @{
                                date = new DateTime(2019, 9, 18);
                            }
                            <div class="kt-timeline-v1__item-circle">
                                <div class="kt-bg-danger"></div>
                            </div>
                            <span class="kt-timeline-v1__item-time kt-font-brand">@date.ToShortDateString()</span>
                            <div class="kt-timeline-v1__item-content">
                                @*<div class="kt-timeline-v1__item-title">
                                        New Members Joined!
                                    </div>*@
                                <div class="kt-timeline-v1__item-body">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <p align="center"><iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/DEmAn2QqkT4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                                    </div>
                                </div>
                                @*<div class="kt-timeline-v1__item-actions">
                                        <a href="#" class="btn btn-sm btn-brand">Check all</a>
                                    </div>*@
                            </div>
                        </div>
                        <!--end: Timeline item-->
                    </div>
                </div>
                @*<div class="row">
                        <div class="col kt-align-center">
                            <button type="button" class="btn btn-label-brand">Load More...</button>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</div>