@model PlataformaRio2C.Application.CQRS.Commands.UpdateAvailability
<div class="modal fade" id="UpdateAvailabilityModal" role="dialog" aria-labelledby="UpdateAvailabilityModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Labels.Update @Labels.Availability</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Update", "Availability", new { Area = "Logistics" }, FormMethod.Post, new { enctype = "multipart/form-data", id = "UpdateAvailabilityForm" }))
                {
                    @Html.HiddenFor(m => m.AttendeeCollaboratorUid)
                    <div id="form-container">
                        @Html.Partial("Modals/_UpdateForm", Model)
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">@Labels.Cancel</button>
                <button type="button" class="btn btn-primary" onclick="$('#UpdateAvailabilityForm').submit();">@Labels.Save</button>
            </div>
        </div>
    </div>
</div>