@using PlataformaRio2C.Domain.Dtos
@model AttendeeCollaboratorSiteDetailsDto
@{
    ViewBag.Title = $"{Labels.Executive}  {Model.Collaborator.GetFullName()}";
    var userAccessControlDto = ViewBag.UserAccessControlDto as UserAccessControlDto;
    var isCurrentUser = userAccessControlDto?.Collaborator?.Uid == Model.Collaborator?.Uid;
}
@Html.Hidden("AggregateId", Model.Collaborator.Uid)
@Html.Hidden("CollaboratorUid", Model.Collaborator.Uid)
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <!--begin:Main Information Widget-->
            <div class="col-12">
                <div id="ExecutiveMainInformationWidget" class="kt-portlet" style="min-height: 200px;"></div>
            </div>
            <!--end:Main Information Widget-->
        </div>
        <div class="row">
            <!--begin:Social Networks Widget-->
            <div class="col-12">
                <div id="ExecutiveSocialNetworksWidget" class="kt-portlet" style="min-height: 325px;"></div>
            </div>
            <!--end:Social Networks Widget-->
        </div>
        <div class="row">
            <!--begin:Company Widget-->
            <div class="col-12">
                <div id="ExecutiveCompanyWidget" class="kt-portlet" style="min-height: 325px;"></div>
            </div>
            <!--end:Company Widget-->
        </div>
        @if (Model.HasLogistic && isCurrentUser)
        {
            <div class="row">
                <!--begin:Logistic Info Widget-->
                <div class="col-12">
                    <div id="ExecutivesLogisticInfoWidget" class="kt-portlet kt-portlet--tabs" style="min-height: 350px;"></div>
                </div>
                <!--end:Logistic Info Widget-->
            </div>
        }
    </div>
</div>
@section Styles {
    @Styles.Render("~/bundles/css/cropper.css")
    @Styles.Render("~/bundles/css/select2.css")
    @Styles.Render("~/bundles/css/jquery.autocomplete.css")
    @Styles.Render("~/bundles/css/bootstrap-datepicker.css")
}
@section Scripts {
    @Scripts.Render("~/bundles/js/cropper.js")
    @Scripts.Render("~/bundles/js/select2.js")
    @*@Scripts.Render("~/bundles/js/ckEditor.js")*@
    @Scripts.Render("~/bundles/js/inputmask.js")
    @Scripts.Render("~/bundles/js/bootstrap-datepicker.js")
    @Scripts.Render("~/bundles/js/jquery.autocomplete.js")
    @Scripts.Render("~/bundles/js/bootbox.js")
    @Scripts.Render("~/bundles/js/addresses.form.js")
    @Scripts.Render("~/bundles/js/executives.widget.js")
    <script>
        // Page translations ----------------------------------------------------------------------

        jQuery(document).ready(function () {
            ExecutivesMainInformationWidget.init();
            ExecutivesSocialNetworksWidget.init();
            ExecutivesCompanyWidget.init();
            @if (Model.HasLogistic && isCurrentUser)
            {
                <text>ExecutivesLogisticInfoWidget.init();</text>
            }
        });
    </script>
}