@using PlataformaRio2C.Domain.Dtos
@using Constants = PlataformaRio2C.Domain.Constants;
@model AttendeeCollaboratorSiteDetailsDto
@{
    ViewBag.Title = $"{Labels.Executive}  {Model.Collaborator.GetFullName()}";

    var userAccessControlDto = ViewBag.UserAccessControlDto as UserAccessControlDto;
    var isCurrentUser = userAccessControlDto?.Collaborator?.Uid == Model.Collaborator?.Uid;
}
@Html.Hidden("AggregateId", Model.Collaborator.Uid)
<div class="row">
    <div class="col-md-12">
        <!--begin:Main Information Widget-->
        <div class="row">
            <div class="col-12">
                <div id="ExecutiveMainInformationWidget" class="kt-portlet" style="min-height: 325px;"></div>
            </div>
        </div>
        <!--end:Main Information Widget-->
        <!--begin:Company Widget-->
        <div class="row">
            <div class="col-12">
                <div id="ExecutiveCompanyWidget" class="kt-portlet" style="min-height: 325px;"></div>
            </div>
        </div>
        <!--end:Company Widget-->
    </div>
</div>

@section Styles {
    @Styles.Render("~/bundles/css/cropper.css")
    @Styles.Render("~/bundles/css/select2.css")
}
@section Scripts {
    @Scripts.Render("~/bundles/js/jqueryval.js")
    @Scripts.Render("~/bundles/js/jqueryform.js")
    @Scripts.Render("~/bundles/js/cropper.js")
    @Scripts.Render("~/bundles/js/ckEditor.js")
    @Scripts.Render("~/bundles/js/bootbox.js")
    @Scripts.Render("~/bundles/js/executives.widget.js")

    <script>
        // Page translations ----------------------------------------------------------------------

        jQuery(document).ready(function () {
            ExecutivesMainInformationWidget.init();
            ExecutivesCompanyWidget.init();
        });
    </script>
}