@using PlataformaRio2C.Domain.Dtos
@using PlataformaRio2c.Infra.Data.FileRepository.Helpers
@using PlataformaRio2C.Domain.Statics
@using PlataformaRio2C.Domain.Entities
@model ProjectDto
@{
    var evaluationDetailsAction = Url.Action("EvaluationDetails", "Projects", new
    {
        Area = "Audiovisual",
        id = Model.Project.Id,
        searchKeywords = ViewBag.SearchKeywords,
        subgenreInterestUid = ViewBag.SelectedSubgenreInterestUid,
        segmentInterestUid = ViewBag.SelectedSegmentInterestUid,
        evaluationStatusUid = ViewBag.EvaluationStatusUid,
        Page = ViewBag.Page,
        pageSize = ViewBag.PageSize
    });
}
@if (Model != null)
{
    <div class="col-sm-6 col-lg-6 col-xl-4">
        <div class="kt-portlet kt-portlet--height-fluid" id="project-@Model.Project.Uid">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center w-100">
                            @if (Model.SellerAttendeeOrganizationDto?.Organization?.HasImage() == true)
                            {
                                try
                                {
                                    <img src="@ImageHelper.GetImageUrl(FileRepositoryPathType.OrganizationImage, Model.SellerAttendeeOrganizationDto.Organization.Uid, Model.SellerAttendeeOrganizationDto.Organization.ImageUploadDate, false)" class="w-100" style="height: 125px; border-radius: 4px; object-fit: cover;" alt="image">
                                }
                                catch
                                {
                                    <div class="kt-userpic kt-userpic--lg kt-userpic--brand">
                                        <span style="width: 100%; height: 125px; font-size: 40px;">@(Model.SellerAttendeeOrganizationDto?.Organization?.GetTradeNameAbbreviation())</span>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="kt-userpic kt-userpic--lg kt-userpic--brand">
                                    <span style="width: 100%; height: 125px; font-size: 40px;">@(Model.SellerAttendeeOrganizationDto?.Organization?.GetTradeNameAbbreviation())</span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-2">
                        <span style="font-weight: normal; font-size: 13px; line-height: 19px; color: #898C98;">@(Model.SellerAttendeeOrganizationDto?.Organization?.Name ?? "-")</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-3" style="min-height:41px;">
                        <span style="font-weight: 600; font-size: 17px; line-height: 19px; color: #403D50;">@(Model.Project?.GetTitleByLanguageCode(ViewBag.UserInterfaceLanguage) ?? "-")</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-3">
                        <div style="font-weight: normal; font-size: 13px; line-height: 19px; color: #403D50; width: 65px; display: inline-block;">@Labels.SubGenres:</div>
                        @{
                            var subgenreProjectInterests = Model.GetAllInterestsByInterestGroupUid(InterestGroup.AudiovisualPitchingSubGenre.Uid);
                            if (subgenreProjectInterests?.Any() == true)
                            {
                                foreach (var subgenreProjectInterestDto in subgenreProjectInterests)
                                {
                                    <span class="kt-badge kt-badge--inline kt-badge--info mt-1 ml-4">
                                        @(subgenreProjectInterestDto.Interest.Name.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|'))
                                        @if (subgenreProjectInterestDto.Interest.HasAdditionalInfo && !string.IsNullOrEmpty(subgenreProjectInterestDto.ProjectInterest.AdditionalInfo))
                                        {
                                            @subgenreProjectInterestDto.ProjectInterest.AdditionalInfo
                                        }
                                    </span>
                                }
                            }
                            else
                            {
                                @:-
                            }
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-3">
                        <div style="font-weight: normal; font-size: 13px; line-height: 19px; color: #403D50; width: 65px; display: inline-block;">@Labels.Segment:</div>
                        @{
                            var segmentProjectInterests = Model.GetAllInterestsByInterestGroupUid(InterestGroup.AudiovisualPitchingSegment.Uid);
                            if (segmentProjectInterests?.Any() == true)
                            {
                                foreach (var segmentProjectInterestDto in segmentProjectInterests)
                                {
                                    <span class="kt-badge kt-badge--inline kt-badge--info mt-1 ml-4">
                                        @(segmentProjectInterestDto.Interest.Name.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|'))
                                        @if (segmentProjectInterestDto.Interest.HasAdditionalInfo && !string.IsNullOrEmpty(segmentProjectInterestDto.ProjectInterest.AdditionalInfo))
                                        {
                                            @segmentProjectInterestDto.ProjectInterest.AdditionalInfo
                                        }
                                    </span>
                                }
                            }
                            else
                            {
                                @:-
                            }
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-4">
                        @Html.Partial("Shared/_Evaluation", Model)
                    </div>
                </div>
                <div class="row justify-content-center mt-2">
                    <div class="col-md-12 text-center">
                        <a href="@evaluationDetailsAction" class="btn btn-brand">@Labels.View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}