@using PlataformaRio2C.Domain.Dtos
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Common
@model X.PagedList.IPagedList<ProjectDto>

@if (Model?.Any() == true)
{
    @Html.Hidden("AttendeeOrganizationUid", Model.FirstOrDefault().ProjectBuyerEvaluationDtos.FirstOrDefault().BuyerAttendeeOrganizationDto.AttendeeOrganization.Uid)
    <!--begin::List-->
    foreach (var projectDto in Model)
    {
        <!--begin::List Item-->
        <div class="row">
            <div class="col-md-12">
                <div class="kt-portlet kt-portlet--height-fluid" id="project-@projectDto.Project.Uid">
                    @Html.Partial("Widgets/EvaluationListItemWidget", projectDto)
                </div>
            </div>
        </div>
        <!--end::List Item-->
    }
    <!--end::List-->
    <!--begin::Pagination-->
    <div class="row">
        <div class="col-xl-12">
            <!--begin:: Components/Pagination/Default-->
            <div class="kt-portlet">
                <div class="kt-portlet__body">
                    <!--begin: Pagination-->
                    <div class="kt-pagination kt-pagination--brand justify-content-center justify-content-sm-between">
                        @Html.PagedListPager(
                            Model,
                            page => Url.Action("ShowEvaluationListWidget", "Projects", new { searchKeywords = ViewBag.SearchKeywords, interestUid = ViewBag.InterestUid, evaluationStatusUid = ViewBag.EvaluationStatusUid, page, pageSize = ViewBag.PageSize }),
                            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
                                new PagedListRenderOptions
                                {
                                    DisplayLinkToIndividualPages = true,
                                    MaximumPageNumbersToDisplay = 3,
                                    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                                    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                    DisplayLinkToNextPage = PagedListDisplayMode.Always,
                                    DisplayLinkToLastPage = PagedListDisplayMode.Always,
                                    //ContainerDivClasses = new string[] { "kt-pagination kt-pagination--brand" },
                                    UlElementClasses = new string[] { "kt-pagination__links" },
                                    LiElementClasses = new string[] { "" },
                                    PreviousElementClass = "kt-pagination__link--prev",
                                    NextElementClass = "kt-pagination__link--next",
                                    ClassToApplyToFirstListItemInPager = "kt-pagination__link--first",
                                    ClassToApplyToLastListItemInPager = "kt-pagination__link--last kt-font-brand",
                                    ActiveLiElementClass = "kt-pagination__link--active",
                                    PageClasses = new string[] { "" },
                                    EllipsesElementClass = ""
                                }
                                , new AjaxOptions { HttpMethod = "GET", OnBegin = "ProjectsBuyerEvaluationListWidget.changePage", OnSuccess = "ProjectsBuyerEvaluationListWidget.handlePaginationReturn" }))
                        <div class="kt-pagination__toolbar">
                            @Html.DropDownList("PageSizeDropdown", new SelectList(new[] { 1, 5, 10, 15, 30 }, ViewBag.PageSize), null, new { @class = "form-control kt-font-brand", style = "width: 60px;" })
                            @Html.PagedListPager(
                                Model,
                                page => Url.Action(null, new { page }),
                                PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
                                    new PagedListRenderOptions
                                    {
                                        ItemSliceAndTotalFormat = Messages.PaginationMessage,
                                        DisplayItemSliceAndTotal = true,
                                        DisplayLinkToIndividualPages = false,
                                        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                                        DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
                                        DisplayLinkToNextPage = PagedListDisplayMode.Never,
                                        DisplayLinkToLastPage = PagedListDisplayMode.Never,
                                        ContainerDivClasses = new[] { "pagination__desc" },
                                        UlElementClasses = new string[] { "pagination mb-0" },
                                        LiElementClasses = new string[] { "page-item" },
                                        PageClasses = new string[] { "page-link" }
                                    }, null))
                        </div>
                    </div>
                    <!--end: Pagination-->
                </div>
            </div>
            <!--end:: Components/Pagination/Default-->
        </div>
    </div>
    <!--end::Pagination-->
}
else
{
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-12 text-center">@string.Format(Messages.NoneEntityAction, Labels.Project.ToLowerInvariant(), Labels.FoundM)</div>
            </div>
        </div>
    </div>
}
