@using PlataformaRio2c.Infra.Data.FileRepository.Helpers
@using PlataformaRio2C.Domain.Dtos
@using PlataformaRio2C.Domain.Entities
@using PlataformaRio2C.Domain.Statics
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Common
@model X.PagedList.IPagedList<ProjectDto>
@{
    var editionDto = ViewBag.EditionDto as EditionDto;
}
<!--begin::List-->
@if (Model?.Any() == true)
{
    foreach (var projectDto in Model)
    {
        var projectTitle = projectDto.GetTitleDtoByLanguageCode(ViewBag.UserInterfaceLanguage)?.ProjectTitle?.Value;
        var evaluationsCount = projectDto.ProjectBuyerEvaluationDtos?.Count();

        <div class="row">
            <div class="col-md-12">
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__body">
                        <div class="kt-widget5">
                            <div class="kt-widget kt-widget--project-1" style="border-bottom: 0.07rem dashed #ebedf2;">
                                <div class="kt-widget__head pt-0">
                                    <div class="kt-widget__label">
                                        <div class="kt-widget__media" style="padding-right: 10px">
                                            @if (projectDto.SellerAttendeeOrganizationDto?.Organization?.HasImage() == true)
                                            {
                                                <span class="kt-media kt-media--lg kt-margin-r-5 kt-margin-t-5">
                                                    <img src="@ImageHelper.GetImageUrl(FileRepositoryPathType.OrganizationImage, projectDto.SellerAttendeeOrganizationDto.Organization.Uid, projectDto.SellerAttendeeOrganizationDto.Organization.ImageUploadDate, true)" alt="" style="max-width: 65px; max-height: 65px;">
                                                </span>
                                            }
                                            else
                                            {
                                                <div class="kt-userpic kt-userpic--lg kt-userpic--brand kt-margin-r-5 kt-margin-t-5">
                                                    <span>@(projectDto.SellerAttendeeOrganizationDto?.Organization?.GetTradeNameAbbreviation())</span>
                                                </div>
                                            }
                                        </div>
                                        <div class="kt-widget__info mt-0 pl-0">
                                            <a href="@Url.Action("EvaluationDetails", "Projects", new { id = projectDto.Project.Uid, Area = "" })" class="kt-widget__title">
                                                @projectTitle
                                            </a>
                                            <span class="kt-widget__desc">
                                                @Labels.Producer: @(projectDto.SellerAttendeeOrganizationDto?.Organization?.Name)
                                            </span>
                                            <span class="kt-widget__desc">
                                                @Labels.Genre:
                                                @{
                                                    var projectInterestsDtos = projectDto.GetAllInterestsByInterestGroupUid(InterestGroup.Genre.Uid);
                                                    if (projectInterestsDtos?.Any() == true)
                                                    {
                                                        foreach (var projectInterestDto in projectInterestsDtos)
                                                        {
                                                            <span class="kt-badge kt-badge--inline kt-badge--info">@(projectInterestDto.Interest.Name.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|'))</span>

                                                        }
                                                    }
                                                }
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-widget__body pb-0">
                                    <div class="kt-widget__content">
                                        <span class="kt-widget__text mt-0">
                                            @(Html.Raw(projectDto.GetLogLineDtoByLanguageCode(ViewBag.UserInterfaceLanguage)?.ProjectLogLine?.Value))
                                        </span>
                                        <div class="kt-widget__details" style="width: 100%;">
                                            @if (evaluationsCount > 1)
                                            {
                                                <span class="kt-widget__subtitle">@Labels.Evaluations</span>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="row">
                                                            @foreach (var projectBuyerEvaluationDto in projectDto.ProjectBuyerEvaluationDtos)
                                                            {
                                                                <!-- begin: Player -->
                                                                <div class="kt-widget kt-widget--user-profile-4 col-sm-4 col-md-4 col-xl-2">
                                                                    <div class="kt-widget__head d-block p-0">
                                                                        <div class="kt-widget__media">
                                                                            @if (projectBuyerEvaluationDto.BuyerAttendeeOrganizationDto.Organization.ImageUploadDate.HasValue)
                                                                            {
                                                                                <img class="kt-widget__img" src="@ImageHelper.GetImageUrl(FileRepositoryPathType.OrganizationImage, projectBuyerEvaluationDto.BuyerAttendeeOrganizationDto.Organization.Uid, projectBuyerEvaluationDto.BuyerAttendeeOrganizationDto.Organization.ImageUploadDate, true)" alt="" style="max-width: 45px; max-height: 45px; border: 0.07rem solid #ebedf2;">
                                                                            }
                                                                            else
                                                                            {
                                                                                <div class="kt-widget__pic kt-widget__pic--info kt-font-info kt-font-boldest kt-font-light" style="max-width: 45px; max-height: 45px;">
                                                                                    @projectBuyerEvaluationDto.BuyerAttendeeOrganizationDto.Organization.Name.GetTwoLetterCode()
                                                                                </div>
                                                                            }
                                                                        </div>
                                                                        <div class="kt-widget__content pt-0 d-flex flex-column">
                                                                            <div class="kt-widget__section mx-auto">
                                                                                <a href="@Url.Action("Details", "Companies", new {id = projectBuyerEvaluationDto.BuyerAttendeeOrganizationDto.Organization.Uid})" class="kt-widget__username" target="_blank">
                                                                                    <small>@projectBuyerEvaluationDto.BuyerAttendeeOrganizationDto.Organization.Name</small>
                                                                                </a>
                                                                                @{
                                                                                    var color = "warning";
                                                                                    var icon = "fa-diagnoses";
                                                                                    if (projectBuyerEvaluationDto.ProjectEvaluationStatus.Code == ProjectEvaluationStatus.Accepted.Code)
                                                                                    {
                                                                                        color = "success";
                                                                                        icon = "fa-thumbs-up";
                                                                                    }
                                                                                    else if (projectBuyerEvaluationDto.ProjectEvaluationStatus.Code == ProjectEvaluationStatus.Refused.Code)
                                                                                    {
                                                                                        color = "danger";
                                                                                        icon = "fa-thumbs-down";
                                                                                    }
                                                                                }
                                                                                <div class="kt-widget--user-profile-1 kt-widget__username">
                                                                                    <small>@(projectBuyerEvaluationDto.ProjectBuyerEvaluation?.BuyerEvaluationUser?.Name)</small>
                                                                                </div>
                                                                                <div class="kt-widget__button">
                                                                                    <span class="btn btn-label-@(color) btn-sm">
                                                                                        <i class="fa @(icon) mr-1"></i> @(projectBuyerEvaluationDto.ProjectEvaluationStatus.Name.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|'))
                                                                                    </span>
                                                                                </div>
                                                                                @if (projectBuyerEvaluationDto.ProjectEvaluationStatus.Code == "Rejected")
                                                                                {
                                                                                    <div class="kt-widget12__info kt-widget__text">
                                                                                        @projectBuyerEvaluationDto.ProjectBuyerEvaluation.Reason
                                                                                    </div>
                                                                                }
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- end: Player -->
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                var projectBuyerEvaluationDto = projectDto.ProjectBuyerEvaluationDtos?.FirstOrDefault();

                                                <span class="kt-widget__value text-center">
                                                    @{
                                                        var color = "warning";
                                                        var icon = "fa-diagnoses";
                                                        if (projectBuyerEvaluationDto.ProjectEvaluationStatus.Code == ProjectEvaluationStatus.Accepted.Code)
                                                        {
                                                            color = "success";
                                                            icon = "fa-thumbs-up";
                                                        }
                                                        else if (projectBuyerEvaluationDto.ProjectEvaluationStatus.Code == ProjectEvaluationStatus.Refused.Code)
                                                        {
                                                            color = "danger";
                                                            icon = "fa-thumbs-down";
                                                        }
                                                    }
                                                    <div class="kt-widget--user-profile-1 kt-widget__username">
                                                        <small>@(projectBuyerEvaluationDto.ProjectBuyerEvaluation?.BuyerEvaluationUser?.Name)</small>
                                                    </div>
                                                    <div class="kt-widget__button">
                                                        <span class="btn btn-label-@(color) btn-sm">
                                                            <i class="fa @(icon) mr-1"></i> @(projectBuyerEvaluationDto.ProjectEvaluationStatus.Name.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|'))
                                                        </span>
                                                    </div>
                                                    @if (projectBuyerEvaluationDto.ProjectEvaluationStatus.Code == ProjectEvaluationStatus.Refused.Code)
                                                    {
                                                        <div class="kt-widget12__info kt-widget__text">
                                                            @projectBuyerEvaluationDto.ProjectBuyerEvaluation.Reason
                                                        </div>
                                                    }
                                                </span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-20 justify-content-end">
                            <div class="col-4 text-center">
                                <a href="@Url.Action("EvaluationDetails", "Projects", new { id = projectDto.Project.Uid, Area = "" })" class="btn btn-brand">@Labels.View</a>
                            </div>
                            @if (editionDto?.IsProjectEvaluationOpen() == true)
                            {
                                <div class="col-4 text-center">
                                    <button type="button" class="btn btn-success" onclick="ProjectsBuyerEvaluationWidget.showApproveModal();">
                                        <i class="fa fa-thumbs-up"></i> @Labels.AcceptProject
                                    </button>
                                </div>
                                <div class="col-4 text-center">
                                    <button type="button" class="btn btn-danger" onclick="ProjectsBuyerEvaluationWidget.showRefuseModal();">
                                        <i class="fa fa-thumbs-down"></i> @Labels.RefuseProject
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!--end::List-->
    <!--begin::Pagination-->
    <div class="row">
        <div class="col-xl-12">
            <!--begin:: Components/Pagination/Default-->
            <div class="kt-portlet">
                <div class="kt-portlet__body">
                    <!--begin: Pagination-->
                    <div class="kt-pagination kt-pagination--brand justify-content-center justify-content-sm-between">
                        @Html.PagedListPager(
                            Model,
                            page => Url.Action("ShowEvaluationListWidget", "Projects", new { searchKeywords = ViewBag.SearchKeywords, interestUid = ViewBag.InterestUid, page, pageSize = ViewBag.PageSize }),
                            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
                                new PagedListRenderOptions
                                {
                                    DisplayLinkToIndividualPages = true,
                                    MaximumPageNumbersToDisplay = 3,
                                    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                                    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                    DisplayLinkToNextPage = PagedListDisplayMode.Always,
                                    DisplayLinkToLastPage = PagedListDisplayMode.Always,
                                    //ContainerDivClasses = new string[] { "kt-pagination kt-pagination--brand" },
                                    UlElementClasses = new string[] {"kt-pagination__links"},
                                    LiElementClasses = new string[] {""},
                                    PreviousElementClass = "kt-pagination__link--prev",
                                    NextElementClass = "kt-pagination__link--next",
                                    ClassToApplyToFirstListItemInPager = "kt-pagination__link--first",
                                    ClassToApplyToLastListItemInPager = "kt-pagination__link--last kt-font-brand",
                                    ActiveLiElementClass = "kt-pagination__link--active",
                                    PageClasses = new string[] {""},
                                    EllipsesElementClass = ""
                                }
                                , new AjaxOptions { HttpMethod = "GET", OnBegin = "ProjectsBuyerEvaluationWidget.changePage", OnSuccess = "ProjectsBuyerEvaluationWidget.handlePaginationReturn" }))
                        <div class="kt-pagination__toolbar">
                            @Html.DropDownList("PageSizeDropdown", new SelectList(new[] { 1, 5, 10, 15, 30 }, ViewBag.PageSize), null, new { @class = "form-control kt-font-brand", style = "width: 60px;" })
                            @Html.PagedListPager(
                                Model,
                                page => Url.Action(null, new {page}),
                                PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
                                    new PagedListRenderOptions
                                    {
                                        ItemSliceAndTotalFormat = Messages.PaginationMessage,
                                        DisplayItemSliceAndTotal = true,
                                        DisplayLinkToIndividualPages = false,
                                        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                                        DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
                                        DisplayLinkToNextPage = PagedListDisplayMode.Never,
                                        DisplayLinkToLastPage = PagedListDisplayMode.Never,
                                        ContainerDivClasses = new[] {"pagination__desc"},
                                        UlElementClasses = new string[] {"pagination mb-0"},
                                        LiElementClasses = new string[] {"page-item"},
                                        PageClasses = new string[] {"page-link"}
                                    }, null))
                        </div>
                    </div>
                    <!--end: Pagination-->
                </div>
            </div>
            <!--end:: Components/Pagination/Default-->
        </div>
    </div>
    <!--end::Pagination-->
}
else
{
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-12 text-center">@string.Format(Messages.NoneEntityAction, Labels.Project.ToLowerInvariant(), Labels.FoundM)</div>
            </div>
        </div>
    </div>
}