@using PlataformaRio2C.Domain.Dtos
@model ProjectDto
@{
    var editionDto = ViewBag.EditionDto as EditionDto;
    var userAccessControlDto = ViewBag.UserAccessControlDto as UserAccessControlDto;
    var isCollaborator = userAccessControlDto?.HasEditionAttendeeOrganization(Model.SellerAttendeeOrganizationDto.AttendeeOrganization.Uid) == true;
    var isProjectSubmissionOpen = editionDto?.IsProjectSubmitOpen() == true;
    var isProjectFinished = Model.Project.IsFinished();
    var imageLinksDtos = Model.ProjectImageLinkDtos?.ToList();
    var teaserLinksDtos = Model.ProjectTeaserLinkDtos?.ToList();
}
<div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">Links</h3>
    </div>
    @if (isCollaborator && isProjectSubmissionOpen && !isProjectFinished)
    {
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
                <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md btn-circle" onclick="ProjectsLinksWidget.showUpdateModal();">
                    <i class="flaticon2-edit"></i>
                </button>
            </div>
        </div>
    }
</div>
<div class="kt-portlet__body">
    <div class="kt-widget">
        <div class="kt-widget__bottom">
            <div class="row">
                <div class="col-md-12">
                    <div class="kt-widget4">
                        <h3 class="kt-heading kt-heading--sm mb-0 mt-0 text-center">@Labels.LinksToImageOrConceptualLayout</h3>
                        @if (imageLinksDtos?.Any() == true)
                        {
                            foreach (var imageLinkDto in imageLinksDtos)
                            {
                                if (imageLinkDto.ProjectImageLink.Value?.IsImage() == true)
                                {
                                    <div class="row mt-3">
                                        <div class="col-12 text-center">
                                            <img src="@imageLinkDto.ProjectImageLink.Value" alt="" style="max-width: 480px; max-height: 390px;" />
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-12 text-center">
                                            <span><small>@imageLinkDto.ProjectImageLink.Value</small></span>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row mt-3">
                                        <div class="col-12 text-center">
                                            <span>@imageLinkDto.ProjectImageLink.Value</span>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        else
                        {
                            <div class="row mt-3">
                                <div class="col-12 text-center">
                                    <span class="text-center">@string.Format(Messages.EntityNotAction, Labels.LinksToImageOrConceptualLayout, Labels.FoundM)</span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-12">
                    <div class="kt-widget4">
                        <h3 class="kt-heading kt-heading--sm mb-0 text-center">@Labels.LinksForPromoTeaser</h3>
                        @if (teaserLinksDtos?.Any() == true)
                        {
                            foreach (var teaserLinkDto in teaserLinksDtos)
                            {
                                if (teaserLinkDto.ProjectTeaserLink.Value?.IsYoutubeVideo() == true || teaserLinkDto.ProjectTeaserLink.Value?.IsVimeoVideo() == true)
                                {
                                    <div class="row mt-3">
                                        <div class="col-12 text-center">
                                            @Html.Raw(teaserLinkDto.ProjectTeaserLink.Value.ConvertVideoToEmbed())
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-12 text-center">
                                            <span><small>@teaserLinkDto.ProjectTeaserLink.Value</small></span>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row mt-3">
                                        <div class="col-12 text-center">
                                            <span>@teaserLinkDto.ProjectTeaserLink.Value</span>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        else
                        {
                            <div class="row mt-3">
                                <div class="col-12 text-center">
                                    <span class="text-center">@string.Format(Messages.EntityNotAction, Labels.LinksForPromoTeaser, Labels.FoundM)</span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>