@model string
@{
    var clipping = Model;
}
@if (!string.IsNullOrEmpty(clipping))
{
    if (clipping?.IsImage() == true)
    {
        <div class="row mt-3 justify-content-center">
            <div class="col-sm-8 col-md-8 col-lg-6 text-center">
                <img src="@clipping" alt="" class="img-fluid" />
            </div>
        </div>
    }
    else if (clipping?.IsPdf() == true)
    {
        <div class="row mt-3 justify-content-center">
            <div class="col-sm-8 col-md-8 col-lg-6">
                <div class="embed-responsive embed-responsive-16by9 d-flex">
                    @Html.Raw(clipping.ConvertFileToEmbed())
                </div>
            </div>
        </div>
    }
    <div class="row mt-2">
        <div class="col-12 text-center">
            <span><a href="@clipping" target="_blank"><small class="text-break">@clipping</small></a></span>
        </div>
    </div>
}
else
{
    <div class="row mt-3">
        <div class="col-12 text-center">
            <span class="text-center">@string.Format(Messages.EntityNotAction, "Clipping", Labels.FoundM)</span>
        </div>
    </div>
}