@using PlataformaRio2C.Domain.Dtos
@using PlataformaRio2C.Domain.Entities
@model MusicProjectDto
@{
    //var musicProjectEvaluationDto = Model.MusicProjectEvaluationDto;
}
<div class="kt-widget__details" style="width: 100%;">
    <span class="kt-widget__value text-center" style="min-height: 85px;">
        @*@{
            var color = "warning";
            var icon = "fa-diagnoses";
            if (musicProjectEvaluationDto?.ProjectEvaluationStatus?.Code == ProjectEvaluationStatus.Accepted.Code)
            {
                color = "success";
                icon = "fa-thumbs-up";
            }
            else if (musicProjectEvaluationDto?.ProjectEvaluationStatus?.Code == ProjectEvaluationStatus.Refused.Code)
            {
                color = "danger";
                icon = "fa-thumbs-down";
            }
        }
        <span class="kt-widget__button">
            <label class="btn btn-label-@(color) btn-sm">
                <i class="fa @(icon) mr-1"></i> @(musicProjectEvaluationDto?.ProjectEvaluationStatus?.Name?.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|'))
            </label>
        </span>
        @if (musicProjectEvaluationDto?.EvaluationCollaboratorUser != null)
        {
            <span class="kt-widget--user-profile-1 kt-widget__username d-block">
                <small>@Labels.By</small> @(musicProjectEvaluationDto?.EvaluationCollaboratorUser.Name ?? musicProjectEvaluationDto?.EvaluationCollaborator.GetDisplayName())
                @if (musicProjectEvaluationDto?.EvaluationDate.HasValue == true)
                {
                    <br /><small>@Labels.At @(musicProjectEvaluationDto?.EvaluationDate?.ToUserTimeZone())</small>
                }
            </span>
        }
        @if (musicProjectEvaluationDto?.ProjectEvaluationStatus?.Code == ProjectEvaluationStatus.Refused.Code && musicProjectEvaluationDto?.ProjectEvaluationRefuseReason != null)
        {
            <span class="kt-widget--user-profile-1 kt-widget__username d-block">
                <small>
                    @if (musicProjectEvaluationDto?.ProjectEvaluationRefuseReason?.HasAdditionalInfo == true && !string.IsNullOrEmpty(musicProjectEvaluationDto?.Reason))
                    {
                        @(musicProjectEvaluationDto?.Reason?.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|'))
                    }
                    else
                    {
                        @(musicProjectEvaluationDto?.ProjectEvaluationRefuseReason.Name.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|'))
                    }
                </small>
            </span>
        }*@
    </span>
</div>