@using PlataformaRio2C.Domain.Dtos
@model AttendeeInnovationOrganizationDto
@{
    var editionDto = ViewBag.EditionDto as EditionDto;
}
<div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">@Labels.BusinessInformation</h3>
    </div>
</div>
<div class="kt-portlet__body pt-0">
    <div class="kt-widget kt-widget--user-profile-3">
        <div class="kt-widget__bottom">
            <div class="kt-widget__item w-100">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.BusinessDefinition</span>
                    <span class="kt-widget__value"><span>@(Model.AttendeeInnovationOrganization.BusinessDefinition)</span></span>
                </div>
            </div>
            <div class="kt-widget__item w-50 w-xs-100">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.Website</span>
                    <span class="kt-widget__value"><span>@(Model.InnovationOrganization.Website)</span></span>
                </div>
            </div>
            <div class="kt-widget__item w-50 w-xs-100">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.BusinessFocus</span>
                    <span class="kt-widget__value"><span>@(Model.AttendeeInnovationOrganization.BusinessFocus)</span></span>
                </div>
            </div>
            <div class="kt-widget__item w-50 w-xs-100">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.BusinessDifferentials</span>
                    <span class="kt-widget__value"><span>@(Model.AttendeeInnovationOrganization.BusinessDifferentials)</span></span>
                </div>
            </div>

            <div class="kt-widget__item w-50 w-xs-100">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.BusinessStage</span>
                    <span class="kt-widget__value"><span>@(Model.AttendeeInnovationOrganization.BusinessStage)</span></span>
                </div>
            </div>
            <div class="kt-widget__item w-50 w-xs-100">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.BusinessEconomicModel</span>
                    <span class="kt-widget__value"><span>@(Model.AttendeeInnovationOrganization.BusinessEconomicModel)</span></span>
                </div>
            </div>
            <div class="kt-widget__item w-50 w-xs-100">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.BusinessOperationalModel</span>
                    <span class="kt-widget__value"><span>@(Model.AttendeeInnovationOrganization.BusinessOperationalModel)</span></span>
                </div>
            </div>

            <div class="kt-widget__item w-100">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.Competitors</span>
                    <span class="kt-widget__value">
                        <span>
                            @if (Model.AttendeeInnovationOrganizationCompetitorDtos?.Any() == true)
                            {
                                foreach (var attendeeInnovationOrganizationCompetitorDto in Model.AttendeeInnovationOrganizationCompetitorDtos)
                                {
                                    <span class="kt-badge kt-badge--inline kt-badge--info" style="color:white;">
                                        @attendeeInnovationOrganizationCompetitorDto.AttendeeInnovationOrganizationCompetitor.Name
                                    </span>
                                }
                            }
                            else
                            {
                                @:-
                            }


                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>



