@using PlataformaRio2C.Domain.Dtos
@using PlataformaRio2c.Infra.Data.FileRepository.Helpers
@using PlataformaRio2C.Domain.Statics
@model AttendeeInnovationOrganizationDto
@{
    var evaluationDetailsAction = Url.Action("EvaluationDetails", "Projects", new
    {
        Area = "Innovation",
        id = Model.AttendeeInnovationOrganization.Id,
        //step = 0,
        searchKeywords = ViewBag.SearchKeywords,
        innovationOrganizationTrackOptionUid = ViewBag.InnovationOrganizationTrackOptionUid,
        evaluationStatusUid = ViewBag.EvaluationStatusUid,
        Page = ViewBag.Page,
        pageSize = ViewBag.PageSize
    });
}
@if (Model != null)
{
    <div class="col-sm-6 col-lg-6 col-xl-4">
        <div class="kt-portlet kt-portlet--height-fluid" id="project-@Model.AttendeeInnovationOrganization.Uid">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center w-100">
                            @if (Model.InnovationOrganization?.HasImage() == true)
                            {
                                <img src="@ImageHelper.GetImageUrl(FileRepositoryPathType.OrganizationImage, Model.InnovationOrganization.Uid, Model.InnovationOrganization.ImageUploadDate, false)" class="w-100" alt="" style="height: 125px; border-radius: 4px; object-fit: cover;">
                            }
                            else
                            {
                                <div class="kt-userpic kt-userpic--lg kt-userpic--brand">
                                    <span style="width: 100%; height: 125px; font-size: 40px;">@(Model.InnovationOrganization?.GetNameAbbreviation())</span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-3" style="min-height:41px;">
                        <span style="font-weight: 600; font-size: 17px; line-height: 19px; color: #403D50;">@(Model.InnovationOrganization?.Name ?? "-")</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-2">
                        <span style="font-weight: normal; font-size: 13px; line-height: 19px; color: #898C98;">@(Model.InnovationOrganization?.ServiceName ?? "-")</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-3">
                        <div style="font-weight: normal; font-size: 13px; line-height: 19px; color: #403D50; width: 50px; display: inline-block;">@Labels.Tracks:</div>
                        @if (Model.AttendeeInnovationOrganizationTrackDtos?.Any() == true)
                        {
                            foreach (var attendeeInnovationOrganizationTrackDto in Model.AttendeeInnovationOrganizationTrackDtos)
                            {
                                <span class="kt-badge kt-badge--inline kt-badge--info mt-1">
                                    @(attendeeInnovationOrganizationTrackDto.InnovationOrganizationTrackOption.Name.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|'))
                                    @if (attendeeInnovationOrganizationTrackDto.InnovationOrganizationTrackOption.HasAdditionalInfo && !string.IsNullOrEmpty(attendeeInnovationOrganizationTrackDto.AttendeeInnovationOrganizationTrack.AdditionalInfo))
                                    {
                                        @attendeeInnovationOrganizationTrackDto.AttendeeInnovationOrganizationTrack.AdditionalInfo
                                    }
                                </span>
                            }
                        }
                        else
                        {
                            @:-
                        }
                    </div>
                </div>
                @*<div class="row">
                        <div class="col-12 mt-2">
                            <div style="font-weight: normal; font-size: 13px; line-height: 19px; color: #403D50; width: 88px; display: inline-block;">@Labels.TargetAudience</div>
                            @if (Model.AttendeeInnovationBandDto?.InnovationBandTargetAudienceDtos?.Any() == true)
                            {
                                foreach (var musicBandTargetAudienceDto in Model.AttendeeInnovationBandDto.InnovationBandTargetAudienceDtos)
                                {
                                    <span class="kt-badge kt-badge--inline kt-badge--primary">@(musicBandTargetAudienceDto.TargetAudience.Name.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|'))</span>
                                }
                            }
                            else
                            {
                                @:-
                            }
                        </div>
                    </div>*@
                <div class="row">
                    <div class="col-12 mt-4">
                        @Html.Partial("Shared/_Evaluation", Model)
                    </div>
                </div>
                <div class="row justify-content-center mt-2">
                    <div class="col-md-12 text-center">
                        <a href="@evaluationDetailsAction" class="btn btn-brand">@Labels.View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}