@using PlataformaRio2C.Domain.Dtos
@model AttendeeInnovationOrganizationDto
@{
    var editionDto = ViewBag.EditionDto as EditionDto;
    var userAccessControlDto = ViewBag.UserAccessControlDto as UserAccessControlDto;
    var evaluationsCount = Model.AttendeeInnovationOrganizationEvaluationDtos?.Count();
    var currentEvaluation = Model.AttendeeInnovationOrganizationEvaluationDto;
    var approvedAttendeeInnovationOrganizationsIds = ViewBag.ApprovedAttendeeInnovationOrganizationsIds as int[];
    var isThisInnovationProjectApproved = approvedAttendeeInnovationOrganizationsIds.Contains(Model.AttendeeInnovationOrganization.Id);
}
<div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">@Labels.Evaluation</h3>
    </div>
</div>
<div class="kt-portlet__body pt-0">
    @if (editionDto?.IsInnovationProjectEvaluationOpen() == true)
    {
        <form class="form-inline justify-content-center mt-85">
            <div class="form-group mb-2 mr-3">
                @Html.TextBox("AttendeeInnovationOrganizationEvaluationGrade", Model.AttendeeInnovationOrganizationEvaluationDto?.AttendeeInnovationOrganizationEvaluation?.Grade, new { @class = "form-control text-center decimal-globalize-mask", placeholder = Labels.Grade, style = "width: 105px;" }) @*, @type = "number", @min = "1", @max = "10", @step = ".10"*@
            </div>
            <button type="button" class="btn btn-success mb-2" onclick="InnovationProjectsEvaluationWidget.submitEvaluationGrade('@Model.InnovationOrganization.Id');">@Labels.Evaluate</button>
        </form>
    }
    else if (editionDto?.IsInnovationProjectEvaluationStarted() != true)
    {
        <div class="row mt-75">
            <div class="col-12">
                <div class="myrio2c-alert-box danger mx-auto text-center">
                    <span>@Messages.OutOfEvaluationPeriod</span>
                </div>
            </div>
        </div>
    }
    else
    {
        var icon = "fa-diagnoses";
        var color = "warning";
        var status = Labels.UnderEvaluation;

        if (isThisInnovationProjectApproved)
        {
            icon = "fa-thumbs-up";
            color = "success";
            status = Labels.ProjectAccepted;
        }
        else
        {
            icon = "fa-thumbs-down";
            color = "danger";
            status = Labels.ProjectRefused;
        }
        <form class="form-inline justify-content-center mt-85">
            <span class="btn btn-label-@(color) mb-2 mr-4">
                <i class="fa @(icon) mr-1"></i> @status
            </span>
            <div class="form-group mb-2">
                <div class="myrio2c-evaluation-grade-box-sm form-control">
                    <span class="grade-label mr-2">@Labels.Average</span>
                    <span class="grade-vote">@(Model.AttendeeInnovationOrganization?.Grade?.ToString() ?? "-")</span>
                </div>
            </div>
        </form>
    }
</div>