@using PlataformaRio2C.Domain.Dtos
@using PlataformaRio2c.Infra.Data.FileRepository.Helpers
@using PlataformaRio2C.Domain.Entities
@using PlataformaRio2C.Domain.Statics
@using Constants = PlataformaRio2C.Domain.Constants;
@model AttendeeInnovationOrganizationDto
@{
    var editionDto = ViewBag.EditionDto as EditionDto;
    var userAccessControlDto = ViewBag.UserAccessControlDto as UserAccessControlDto;
    var isInnovationCommission = userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.CommissionInnovation) == true;
    var currentEvaluation = Model.GetAttendeeInnovationOrganizationEvaluationByUserId(userAccessControlDto.User.Id);
    var approvedAttendeeInnovationOrganizationsIds = ViewBag.ApprovedAttendeeInnovationOrganizationsIds as int[];
    var isThisInnovationProjectApproved = (approvedAttendeeInnovationOrganizationsIds?.Contains(Model.AttendeeInnovationOrganization.Id) == true);
    var collaboratorDto = Model.GetAttendeeInnovationOrganizationCollaboratorByEditionId(editionDto.Id);
}
<div class="kt-portlet__body">
    <div class="kt-widget kt-widget--user-profile-3">
        <div class="kt-widget__top">
            <div style="float: right;">
                <a href="@Url.Action("EvaluationDetails", "Projects", new {Area = "Innovation", id = Model.AttendeeInnovationOrganization?.Id})" target="_blank">
                    @if (Model.InnovationOrganization?.HasImage() == true)
                    {
                        <div class="kt-widget__media">
                            <img src="@ImageHelper.GetImageUrl(FileRepositoryPathType.OrganizationImage, Model.InnovationOrganization.Uid, Model.InnovationOrganization.ImageUploadDate, true)" alt="image">
                        </div>
                    }
                    else
                    {
                        <div class="kt-widget__pic kt-widget__pic--info kt-font-info kt-font-boldest" style="width: 110px; height: 110px;">
                            <span>@(Model.InnovationOrganization?.GetNameAbbreviation() ?? "-")</span>
                        </div>
                    }
                </a>
            </div>
            <div class="kt-widget__content">
                <div class="kt-widget__head">
                    <span class="kt-widget__username">
                        @(Model.InnovationOrganization?.Name ?? "-")
                    </span>
                </div>
                <div class="kt-widget__info col-md-12 mr-0 pr-0 pl-0">
                    <div class="kt-widget__desc pl-0 col-md-6">
                        <div class="kt-widget__desc">
                            <div class="kt-widget__subhead pt-0">
                                @(Model.InnovationOrganization?.Document ?? "-")
                            </div>
                        </div>
                        <div class="kt-widget__subhead pb-0">
                            @Labels.Tracks:
                            @if (Model.AttendeeInnovationOrganizationTrackDtos?.Any() == true)
                            {
                                foreach (var attendeeInnovationOrganizationTrackDto in Model.AttendeeInnovationOrganizationTrackDtos)
                                {
                                    <span class="kt-badge kt-badge--inline kt-badge--info">
                                        @(attendeeInnovationOrganizationTrackDto.InnovationOrganizationTrackOption.Name.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|'))
                                        @if (attendeeInnovationOrganizationTrackDto.InnovationOrganizationTrackOption.HasAdditionalInfo && !string.IsNullOrEmpty(attendeeInnovationOrganizationTrackDto.AttendeeInnovationOrganizationTrack.AdditionalInfo))
                                        {
                                            @attendeeInnovationOrganizationTrackDto.AttendeeInnovationOrganizationTrack.AdditionalInfo
                                        }
                                    </span>
                                }
                            }
                            else
                            {
                                @:-
                            }
                        </div>
                    </div>
                    <div class="kt-widget__desc myrio2c-evaluation-position col-md-6 pr-0">
                        <div class="kt-widget__text pull-right" data-id="EvaluationGradeMain">
                            @if (editionDto?.IsInnovationProjectEvaluationStarted() != true)
                            {
                                <div class="row">
                                    <div class="col-12">
                                        <div class="myrio2c-alert-box danger mx-auto text-center">
                                            <span>@Messages.OutOfEvaluationPeriod</span>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (editionDto?.IsInnovationProjectEvaluationOpen() == true)
                            {
                                var hasCurrentEvaluation = currentEvaluation != null;
                                if (hasCurrentEvaluation)
                                {
                                    <div class="view">
                                        <form class="form-inline">
                                            <div class="form-group">
                                                <div class="myrio2c-evaluation-grade-box-lg form-control" data-toggle="tooltip" title="@Labels.ClickHereToEvaluateProject" onclick="MyRio2cCommon.enableFieldEdit({ dataId: 'EvaluationGradeMain' })" style="cursor: pointer;">
                                                    <span class="grade-label mr-2">@Labels.Evaluation</span>
                                                    <span class="grade-vote">@(currentEvaluation?.AttendeeInnovationOrganizationEvaluation?.Grade)</span>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                }
                                <div class="edit @(hasCurrentEvaluation ? "d-none" : "")">
                                    <form class="form-inline myrio2c-evaluation-grade-box-form justify-content-center">
                                        <div class="form-group font-weight-bold ml-3 mr-3 mt-2 mb-2">@Labels.EvaluateProject</div>
                                        <div class="form-group mt-2 mb-2 mr-3">
                                            @Html.TextBox("AttendeeInnovationOrganizationEvaluationGradeMain", currentEvaluation?.AttendeeInnovationOrganizationEvaluation?.Grade, new { @class = "form-control text-center decimal-globalize-mask", placeholder = Labels.Grade, style = "width: 105px;" }) @*, @type = "number", @min = "1", @max = "10", @step = ".10"*@
                                        </div>
                                        <button type="button" class="btn btn-success mt-2 mb-2 mr-3" onclick="InnovationProjectsMainInformationWidget.submitEvaluationGrade('@Model.InnovationOrganization.Id');">@Labels.Evaluate</button>
                                        @if (hasCurrentEvaluation)
                                        {
                                            <button type="button" class="btn btn-secondary mt-2 mb-2 mr-2 pl-4" onclick="MyRio2cCommon.disableFieldEdit({ dataId: 'EvaluationGradeMain' })" data-toggle="tooltip" title="@(Labels.Cancel)">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        }
                                    </form>
                                </div>
                            }
                            else
                            {
                                <form class="form-inline">
                                    <div class="form-group mb-2">
                                        <div class="myrio2c-evaluation-grade-box-lg form-control">
                                            <span class="grade-label mr-2">@Labels.Average</span>
                                            <span class="grade-vote">@(Model.AttendeeInnovationOrganization?.Grade?.ToString() ?? "-")</span>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-widget__bottom">
            <div class="kt-widget__item w-100">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.Description</span>
                    <span class="kt-widget__value rio2c-scroll" style="max-height: 250px;"><span>@(Html.Raw(Model.InnovationOrganization?.Description?.Replace("\n", "<br/>") ?? "-"))</span></span>
                </div>
            </div>
            <div class="kt-widget__item w-25 w-xs-100">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.AgentName</span>
                    <span class="kt-widget__value"><span class="text-break">@(collaboratorDto?.Collaborator?.GetFullName() ?? "-")</span></span>
                </div>
            </div>
            <div class="kt-widget__item w-25 w-xs-100">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.Email</span>
                    <span class="kt-widget__value"><span class="text-break">@(collaboratorDto?.Collaborator?.PublicEmail ?? "-")</span></span>
                </div>
            </div>
            <div class="kt-widget__item w-25 w-xs-100">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.PhoneNumber</span>
                    <span class="kt-widget__value"><span class="text-break">@(collaboratorDto?.Collaborator?.PhoneNumber ?? "-")</span></span>
                </div>
            </div>
            <div class="kt-widget__item w-25 w-xs-100">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.CellPhone</span>
                    <span class="kt-widget__value"><span class="text-break">@(collaboratorDto?.Collaborator?.CellPhone ?? "-")</span></span>
                </div>
            </div>

            <div class="kt-widget__item w-25 w-xs-100">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.FoundationYear</span>
                    <span class="kt-widget__value rio2c-scroll" style="max-height: 250px;"><span>@(Model.InnovationOrganization?.FoundationYear)</span></span>
                </div>
            </div>
            <div class="kt-widget__item w-25 w-xs-100">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.ProductOrServiceName</span>
                    <span class="kt-widget__value"><span class="text-break">@(Model.InnovationOrganization.ServiceName ?? "-")</span></span>
                </div>
            </div>
            <div class="kt-widget__item w-25 w-xs-100">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.AccumulatedRevenueForLast3Months</span>
                    <span class="kt-widget__value"><span class="text-break">@(Model.AttendeeInnovationOrganization?.AccumulatedRevenue ?? 0)</span></span>
                </div>
            </div>
            <div class="kt-widget__item w-25 w-xs-100">
                @*<div class="kt-widget__details">
                        <span class="kt-widget__title">@Labels.AccumulatedRevenueForLast3Months</span>
                        <span class="kt-widget__value"><span class="text-break">@(Model.AttendeeInnovationOrganization?.AccumulatedRevenue ?? 0)</span></span>
                    </div>*@
            </div>
        </div>
    </div>
</div>