@using PlataformaRio2C.Domain.Dtos
@using Constants = PlataformaRio2C.Domain.Constants;
@model AgendaSearchViewModel
@{
    ViewBag.Title = Labels.Diary;
    var editionDto = ViewBag.EditionDto as EditionDto;
    var userAccessControlDto = ViewBag.UserAccessControlDto as UserAccessControlDto;
    var isSeller = userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.Industry) == true;
    var isBuyer = userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.PlayerExecutiveAudiovisual) == true;
}
<div class="row">
    <div class="col-12">
        <!--begin:Search Widget-->
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <label class="kt-checkbox">
                            @Html.CheckBoxFor(m => m.ShowMyConferences, new { @class = "enable-calendar-reload" }) @Labels.ShowMyConferences
                            <span></span>
                        </label>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <label class="kt-checkbox">
                            @Html.CheckBoxFor(m => m.ShowAllConferences, new { @class = "enable-calendar-reload" }) @Labels.ShowAllConferences
                            <span></span>
                        </label>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <label class="kt-checkbox">
                            @Html.CheckBoxFor(m => m.ShowOneToOneMeetings, new { @class = "enable-calendar-reload" }) @Labels.ShowOneToOneMeetings
                            <span></span>
                        </label>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <label class="kt-checkbox">
                            @Html.CheckBoxFor(m => m.ShowFlights, new { @class = "enable-calendar-reload" }) @Labels.ShowFlights
                            <span></span>
                        </label>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <label class="kt-checkbox">
                            @Html.CheckBoxFor(m => m.ShowAccommodations, new { @class = "enable-calendar-reload" }) @Labels.ShowAccommodations
                            <span></span>
                        </label>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <label class="kt-checkbox">
                            @Html.CheckBoxFor(m => m.ShowTransfers, new { @class = "enable-calendar-reload" }) @Labels.ShowTransfers
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!--end:Search Widget-->
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!--begin:Agenda Widget-->
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div id="AgendaWidget" style="min-height: 325px;"></div>
            </div>
        </div>
        <!--end:Agenda Widget-->
    </div>
</div>
<!--begin: Conference Popover-->
@Html.Partial("Shared/_ConferencePopover")
<!--end: Conference Popover-->
<!--begin: Meeting Popover-->
@Html.Partial("Shared/_MeetingPopover")
<!--end: Meeting Popover-->
<!--begin: Music Meeting Popover-->
@Html.Partial("Shared/_MusicMeetingPopover")
<!--end: Music Meeting Popover-->
<!--begin: Logistic Airfare Popover-->
@Html.Partial("Shared/_LogisticAirfarePopover")
<!--end: Logistic Airfare Popover-->
<!--begin: Logistic Accommodation Popover-->
@Html.Partial("Shared/_LogisticAccommodationPopover")
<!--end: Logistic Accommodation Popover-->
<!--begin: Logistic Transfer Popover-->
@Html.Partial("Shared/_LogisticTransferPopover")
<!--end: Logistic Transfer Popover-->
@section Styles {
    @Styles.Render("~/bundles/css/fullcalendar.css")
}
@section Scripts {
    @Scripts.Render("~/bundles/js/fullcalendar.js")
    @Scripts.Render("~/bundles/js/agendas.widget.js")
    <script>
        // Page translations ----------------------------------------------------------------------
        var translations = {
            fourDaysButton: '4 @Labels.Days.ToLowerInvariant()',
            printButton: '@Html.Raw(Labels.PrintOneToOneMeetings)'
        };

        // Variables ------------------------------------------------------------------------------
        var editionStartDate = '@(editionDto?.Edition?.StartDate.ToBrazilTimeZone().ToString("yyyy-MM-dd"))';
        var isBuyer = @Json.Encode(isBuyer);
        var isSeller = @Json.Encode(isSeller);

        jQuery(document).ready(function () {
            AgendasWidget.init();
        });
    </script>

}