@using PlataformaRio2C.Domain.Dtos
@model PlataformaRio2C.Application.CQRS.Commands.CreateLogisticAccomodation
@{
    var editionDto = ViewBag.EditionDto as EditionDto;
}

<div class="row">
    <div class="form-group col-md-12">
        <label class = "control-label">Hospedagem</label>
        <select class="form-control">
            <option></option>
        </select>
    </div>
</div>

<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.CheckInDate, new { @class = "control-label" })
        @Html.TextBox("Date", Model?.CheckInDate?.Date.ToShortDateString(), new { @class = "form-control enable-datepicker", placeholder = "dd/mm/yyyy 00:00" })
        @Html.ValidationMessageFor(m => m.CheckInDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.CheckOutDate, new { @class = "control-label" })
        @Html.TextBox("Date", Model?.CheckOutDate?.Date.ToShortDateString(), new { @class = "form-control enable-datepicker", placeholder = "dd/mm/yyyy 00:00" })
        @Html.ValidationMessageFor(m => m.CheckOutDate, "", new { @class = "text-danger" })
    </div>
</div>

<div class="row">
    <div class="form-group col-md-12">
        @Html.LabelFor(m => m.AdditionalInfo, new { @class = "control-label" })
        @Html.TextAreaFor(m => m.AdditionalInfo, new { @class = "form-control", rows = 8 })
        @Html.ValidationMessageFor(m => m.AdditionalInfo, "", new { @class = "text-danger" })
    </div>
</div>