@model PlayerCompanySearchViewModel
@{
    ViewBag.Title = Labels.Players;
}
<!--begin:: Quick Stats-->
<div class="row">
    <div class="col-sm-6">
        <!--begin:: Total Count Widget-->
        <div id="InnovationPlayersTotalCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
        <!--end:: Total Count Widget-->
    </div>
    <div class="col-sm-6">
        <!--begin:: Edition Count-->
        <div id="InnovationPlayersEditionCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
        <!--end:: Edition Count-->
    </div>
</div>
<!--end:: Quick Stats-->
@Html.Partial("Widgets/DataTablewidget", Model)
@section Styles {
    @Styles.Render("~/bundles/css/dataTables.css")
    @Styles.Render("~/bundles/css/cropper.css")
    @Styles.Render("~/bundles/css/select2.css")
}
@section Scripts {
    @Scripts.Render("~/bundles/js/dataTables.js")
    @Scripts.Render("~/bundles/js/chart.js")
    @Scripts.Render("~/bundles/js/cropper.js")
    @Scripts.Render("~/bundles/js/select2.js")
    @Scripts.Render("~/bundles/js/inputmask.js")
    @Scripts.Render("~/bundles/js/bootbox.js")
    @Scripts.Render("~/bundles/js/innovation.players.list.js")
    @Scripts.Render("~/bundles/js/innovation.players.editioncount.js")
    @Scripts.Render("~/bundles/js/innovation.players.create.js")
    @Scripts.Render("~/bundles/js/innovation.players.update.js")
    @Scripts.Render("~/bundles/js/innovation.players.delete.js")
    @Scripts.Render("~/bundles/js/addresses.form.js")
<script>
        // Page translations ----------------------------------------------------------------------
        var addToEdition = '@string.Format(Labels.AddToEdition, ViewBag.EditionDto.UrlCode)';
        var removeFromEdition = '@string.Format(Labels.RemoveFromEdition, ViewBag.EditionDto.UrlCode)';
        var virtual = '@Labels.Virtual';
        var presential = '@Labels.Presential';
        var showingOnSiteEdition = '@string.Format(Messages.ShowingOnSiteEdition, ViewBag.EditionDto.UrlCode)';
        var notShowingOnSiteEdition = '@string.Format(Messages.NotShowingOnSiteEdition, ViewBag.EditionDto.UrlCode)';
        var exportToExcelText = '@Labels.ExportToExcel';

        // Pagination -----------------------------------------------------------------------------
        var initialPage = @(Model.Page?.ToString() ?? "null");
        var initialPageSize = @(Model.PageSize?.ToString() ?? "null");

        jQuery(document).ready(function () {
            InnovationPlayersTotalCountWidget.init();
            InnovationPlayersEditionCountWidget.init();
            InnovationPlayersDataTableWidget.init();
            $(document).on('shown.bs.modal', function () {
                $(this).find('.enable-select2,#CountryUid').select2({
                    dropdownParent: $(this).find('.modal-content')
                });
            });
        });
</script>
}