@model PlataformaRio2C.Application.CQRS.Commands.UpdateInnovationCollaboratorSocialNetworks
<div class="row">
    <div class="form-group col-xl-6">
        @Html.LabelFor(m => m.Website, new { @class = "control-label" }) <span class="form-optional-input text-muted">@Labels.Optional</span>
        @Html.TextBoxFor(m => m.Website, new { @class = "form-control" })
        <span class="form-text text-muted">@Messages.WebsiteUrl</span>
        <span class="form-text text-muted">@Labels.Eg: site.com @Labels.Or www.site.com</span>
        @Html.ValidationMessageFor(m => m.Website, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-xl-6">
        @Html.LabelFor(m => m.Linkedin, new { @class = "control-label" }) <span class="form-optional-input text-muted">@Labels.Optional</span>
        @Html.TextBoxFor(m => m.Linkedin, new { @class = "form-control" })
        <span class="form-text text-muted">@Messages.LinkedinUser</span>
        <span class="form-text text-muted">@Labels.Eg: https://www.linkedin.com/in/<span style="background: #e0e0e0;">abcdefg</span> @Labels.Is <span style="background: #e0e0e0;">abcdefg</span></span>
        @Html.ValidationMessageFor(m => m.Linkedin, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-xl-6">
        @Html.LabelFor(m => m.Twitter, new { @class = "control-label" }) <span class="form-optional-input text-muted">@Labels.Optional</span>
        @Html.TextBoxFor(m => m.Twitter, new { @class = "form-control" })
        <span class="form-text text-muted">@Messages.TwitterUser</span>
        <span class="form-text text-muted">@Labels.Eg: https://twitter.com/<span style="background: #e0e0e0;">abcdefg</span> @Labels.Is <span style="background: #e0e0e0;">abcdefg</span></span>
        @Html.ValidationMessageFor(m => m.Twitter, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-xl-6">
        @Html.LabelFor(m => m.Instagram, new { @class = "control-label" }) <span class="form-optional-input text-muted">@Labels.Optional</span>
        @Html.TextBoxFor(m => m.Instagram, new { @class = "form-control" })
        <span class="form-text text-muted">@Messages.InstagramUser</span>
        <span class="form-text text-muted">@Labels.Eg: https://www.instagram.com/<span style="background: #e0e0e0;">abcdefg</span> @Labels.Is <span style="background: #e0e0e0;">abcdefg</span>.</span>
        @Html.ValidationMessageFor(m => m.Instagram, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-xl-6">
        @Html.LabelFor(m => m.Youtube, new { @class = "control-label" }) <span class="form-optional-input text-muted">@Labels.Optional</span>
        @Html.TextBoxFor(m => m.Youtube, new { @class = "form-control" })
        <span class="form-text text-muted">@Messages.YoutubeUrl</span>
        <span class="form-text text-muted">@Labels.Eg: youtube.com/channel/abcdefg </span>
        @Html.ValidationMessageFor(m => m.Youtube, "", new { @class = "text-danger" })
    </div>
</div>