@model PlataformaRio2C.Application.CQRS.Commands.UpdateInnovationCommissionCollaborator
<div class="modal fade" id="UpdateCommissionModal" role="dialog" aria-labelledby="UpdateCommissionModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @if (!Model.IsAddingToCurrentEdition)
                    {
                        @(Labels.Update + " " + Labels.Member)
                    }
                    else
                    {
                        @(Labels.NewM + " " + Labels.Member + " " + string.Format(Labels.InEditionYear, ViewBag.EditionDto?.UrlCode))
                    }
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Update", "Commissions", new { Area = "Innovation" }, FormMethod.Post, new { enctype = "multipart/form-data", id = "UpdateCommissionForm" }))
                {
                    @Html.HiddenFor(m => m.CollaboratorUid)
                    @Html.HiddenFor(m => m.IsAddingToCurrentEdition)
                    <div id="form-container">
                        @Html.Partial("Modals/_Form", Model)
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">@Labels.Cancel</button>
                <button type="button" class="btn btn-primary" onclick="$('#UpdateCommissionForm').submit();">@Labels.Save</button>
            </div>
        </div>
    </div>
</div>