@using System.Globalization
@model PlataformaRio2C.Application.CQRS.Commands.ProjectBaseCommand
<!--begin: Form Wizard Step 1-->
<div class="kt-wizard-v2__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
    <div class="kt-heading kt-heading--md">@Labels.ProjectInfo</div>
    <div class="kt-form__section kt-form__section--first">
        <div class="kt-wizard-v2__form">
            <div id="form-container">
                <div class="row">
                    <div class="col-md-6">
                        @Html.EditorFor(m => m.Titles)
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(m => m.LogLines)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.EditorFor(m => m.Summaries)
                    </div>
                </div>
                <div class="kt-section">
                    <div class="kt-section__content">
                        <div class="kt-checkbox-list">
                            @foreach (var interests in Model.GroupedInterests)
                            {
                                <h5 class="mt-30">@interests.Key.Name.GetSeparatorTranslation(CultureInfo.CurrentCulture.ToString(), '|')</h5>
                                @Html.ValidationMessage(interests.Key.Uid.ToString(), new { @class = "text-danger" })
                                <div class="kt-section__content mt-3">
                                    <div class="row require-one-group" data-id="@interests.Key.Uid">
                                        @foreach (var interest in interests?.OrderBy(ig => ig.DisplayOrder))
                                        {
                                            <div class="col-sm-4">
                                                <label class="kt-checkbox">
                                                    <input type="checkbox"
                                                           name="InterestsUids"
                                                           value="@interest.Uid"
                                                           class="require-one-item"
                                                           data-id="@interests.Key.Uid"
                                                           @if (Model.InterestsUids?.Contains(interest.Uid) == true) { <text> checked </text> } /> @interest.Name.GetSeparatorTranslation(CultureInfo.CurrentCulture.ToString(), '|')
                                                        <span></span>
                                                    </label>
                                                </div>
                                            }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="kt-section">
                    <h3 class="kt-heading kt-heading--md">@Labels.TargetAudience</h3>
                    @Html.ValidationMessage("TargetAudiencesUids", new {@class = "text-danger"})
                    <div class="kt-section__content mt-3">
                        <div class="kt-checkbox-list">
                            @foreach (var targetAudience in Model.TargetAudiences)
                            {
                                <label class="kt-checkbox">
                                    <input type="checkbox"
                                           name="TargetAudiencesUids"
                                           value="@targetAudience.Uid"
                                           class="require-one"
                                           data-id="targetaudience-group"
                                           @if (Model.TargetAudiencesUids?.Contains(targetAudience.Uid) == true) { <text> checked </text> }/> @targetAudience.Name.GetSeparatorTranslation(CultureInfo.CurrentCulture.ToString(), '|')
                                    <span></span>
                                </label>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>@Labels.ForSeries:</h5>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.NumberOfEpisodes, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.NumberOfEpisodes, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NumberOfEpisodes, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.EachEpisodePlayingTime, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.EachEpisodePlayingTime, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.EachEpisodePlayingTime, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.EditorFor(m => m.ProductPlans)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>@Messages.ProjectBudget</h5>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.ValuePerEpisode, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.ValuePerEpisode, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ValuePerEpisode, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.TotalValueOfProject, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.TotalValueOfProject, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.TotalValueOfProject, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>@Messages.FundingPlan</h5>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.ValueAlreadyRaised, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.ValueAlreadyRaised, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ValueAlreadyRaised, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.ValueStillNeeded, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.ValueStillNeeded, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ValueStillNeeded, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>@Messages.LinksForDownloadNotAccepted</h5>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.ImageLinks, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.ImageLinks, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ImageLinks, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.TeaserLinks, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.TeaserLinks, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.TeaserLinks, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>@string.Format(Messages.AudivisualPichingQuestion, ViewBag.EditionDto?.UrlCode)</h5>
                    </div>
                    <div class="form-group col-md-12">
                        @*@Html.LabelFor(m => m.IsPitching, (string)string.Format(Messages.AudivisualPichingQuestion, ViewBag.EditionDto?.UrlCode), new { @class = "control-label" })*@
                        <div class="kt-radio-inline">
                            <label class="kt-radio">
                                @Html.RadioButtonFor(m => m.IsPitching, true) @Labels.Yes
                                <span></span>
                            </label>
                            <label class="kt-radio">
                                @Html.RadioButtonFor(m => m.IsPitching, false) @Labels.No
                                <span></span>
                            </label>
                        </div>
                        @Html.ValidationMessageFor(m => m.IsPitching, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.EditorFor(m => m.AdditionalInformations)
                    </div>
                </div>
                @*<div class="kt-section mt-30">
            <h3 class="kt-heading kt-heading--md">@Labels.Address</h3>
            <div class="kt-section__content mt-3">
                @Html.EditorFor(m => m.Address)
            </div>
        </div>
        <div class="kt-section mt-30">
            <h3 class="kt-heading kt-heading--md">@Labels.CompanyResume</h3>
            @Html.ValidationMessage("Descriptions", new {@class = "text-danger"})
            <div class="kt-section__content mt-3">
                @Html.EditorFor(m => m.Descriptions)
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <div class="kt-section">
                    <h3 class="kt-heading kt-heading--md">@Labels.Activity</h3>
                    @Html.ValidationMessage("OrganizationActivities", new {@class = "text-danger OrganizationActivities"})
                    <div class="error">
                        <span></span>
                    </div>
                    <div class="kt-section__content mt-3">
                        <div class="kt-checkbox-list">
                            @Html.EditorFor(m => m.OrganizationActivities)
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
            </div>
        </div>
    </div>
</div>
<!--end: Form Wizard Step 1-->
