@model ConferenceEditAppViewModel

@{
    var date = Model.Date != null ? Model.Date.Value.ToString("dd/MM/yyyy") : null;
    var startTime = Model.StartTime != null ? Model.StartTime.Value.ToString("hh':'mm") : null;
    var endTime = Model.EndTime != null ? Model.EndTime.Value.ToString("hh':'mm") : null;
}

@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.Uid)

<div ng-if="!vm.loadingOptions">
    <sub><em>* Campos obrigatórios</em></sub>
    <div class="profile-info col-lg-12 lecture-structure">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label " }): *
            <input type="text" value="@date" name="Date" class="form-control" placeholder="dd/mm/yyyy" />
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Room, htmlAttributes: new { @class = "control-label " }): *
            <select class="form-control" ng-options="item as item.name for item in vm.roomOptions track by item.uid" ng-model="vm.roomSelected"></select>
            <input type="hidden" name="Room" value="{{vm.roomSelected.uid}}" />
            @Html.ValidationMessageFor(model => model.Room, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label " }): *
            <input type="text" value="@startTime" name="StartTime" class="form-control" placeholder="hh:mm" />
            @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label " }): *
            <input type="text" value="@endTime" name="EndTime" class="form-control" placeholder="hh:mm" />
            @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
        </div>

        <div class="div-group-pten form-group">
            <h4>Título: *</h4>
            @Html.ValidationMessage("Titles", htmlAttributes: new { @class = "text-danger" })
            @if (Model.Titles != null && Model.Titles.Any())
            {
                for (int i = 0; i < Model.Languages.Count(); i++)
                {
                    var code = Model.Titles.ToList().FirstOrDefault(e => e.LanguageCode == Model.Languages.ElementAt(i).Code);
                    var codeValue = code != null ? code.Value : null;
                    var languageCodeValue = code != null ? code.LanguageCode : null;

                    <div class="form-group">
                        <label class="control-label">@Labels.Title @Model.Languages.ElementAt(i).Name</label>
                        <input type="text" name="Titles[@i].Value" class="form-control" value="@codeValue" />
                        <input type="hidden" value="@languageCodeValue" name="Titles[@i].LanguageCode" class="form-control" />
                    </div>
                }
            }
            else
            {
                for (int i = 0; i < Model.Languages.Count(); i++)
                {
                    var codeValue = Model.Languages.ElementAt(i).Code;
                    <div class="form-group">
                        <label class="control-label">@Labels.Title @Model.Languages.ElementAt(i).Name</label>
                        <input type="text" name="Titles[@i].Value" class="form-control" />
                        <input type="hidden" value="@codeValue" name="Titles[@i].LanguageCode" class="form-control" />
                    </div>
                }
            }
        </div>


        <div class="div-group-pten form-group">
            <h4>Ementa: *</h4>
            @Html.ValidationMessage("Synopses", htmlAttributes: new { @class = "text-danger" })
            @if (Model.Synopses != null && Model.Synopses.Any())
            {
                for (int i = 0; i < Model.Languages.Count(); i++)
                {
                    var code = Model.Synopses.ToList().FirstOrDefault(e => e.LanguageCode == Model.Languages.ElementAt(i).Code);
                    var codeValue = code != null ? code.Value : null;
                    var languageCodeValue = code != null ? code.LanguageCode : null;

                    <div class="form-group">
                        <label class="control-label">@Labels.Synopsis @Model.Languages.ElementAt(i).Name</label>
                        <textarea name="Synopses[@i].Value" class="form-control ckeditor-rio2c">@codeValue</textarea>
                        <input type="hidden" value="@languageCodeValue" name="Synopses[@i].LanguageCode" class="form-control" />
                    </div>
                }
            }
            else
            {
                for (int i = 0; i < Model.Languages.Count(); i++)
                {
                    var codeValue = Model.Languages.ElementAt(i).Code;
                    <div class="form-group">
                        <label class="control-label">@Labels.Synopsis @Model.Languages.ElementAt(i).Name</label>
                        <textarea name="Synopses[@i].Value" class="form-control ckeditor-rio2c"></textarea>
                        <input type="hidden" value="@codeValue" name="Synopses[@i].LanguageCode" class="form-control" />
                    </div>
                }
            }
        </div>

        <div class="form-group lecturer-group">
            <h4>@Labels.LecturerMemberOneOrMany: *</h4>
            @Html.ValidationMessageFor(model => model.Lecturers, "", new { @class = "text-danger" })
            <div ng-repeat="lecturer in vm.lecturers track by $index" class="lecturer-item">
                <div class="lecturer-registered">
                    <div class="form-group">
                        <label>É um executivo cadastrado no sistema?</label>
                        <input type="hidden" value="{{lecturer.IsPreRegistered}}" name="Lecturers[{{$index}}].IsPreRegistered" />
                        <input type="checkbox" ng-model="lecturer.IsPreRegistered" />
                    </div>
                    <div class="task-element-trash">
                        <button class="btn btn-danger btn-xs" ng-click="vm.removeLecturer($index)" type="button"><i class="icon-remove"></i></button>
                    </div>
                </div>

                <div ng-if="lecturer.IsPreRegistered" class="lecture-selector auto-complete-input">
                    <div class="lecturer-info">
                        <div class="lecturer-name">
                            <label for="registered">Buscar Integrante da Palestra:</label>
                            <input type="text"
                                   id="registered"
                                   ng-model="lecturer.Collaborator"
                                   placeholder="Digite o nome do executivo/player/holding/produtora"
                                   title="Digite o nome do executivo/player/holding/produtora"
                                   uib-typeahead="collaborator as collaborator.name for collaborator in vm.getLecturerOptions($viewValue)"
                                   typeahead-loading="loadingLocations"
                                   typeahead-no-results="noResults"
                                   typeahead-template-url="customTemplate.html"
                                   typeahead-min-length="3"
                                   autocomplete="off"
                                   class="form-control">

                            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                            <div ng-show="noResults">
                                <i class="glyphicon glyphicon-remove"></i> Nenhum executivo encontrado
                            </div>

                            <input type="hidden" name="Lecturers[{{$index}}].Collaborator[].Uid" value="{{lecturer.Collaborator.uid}}" />
                        </div>

                        <div class="lecturer-role">
                            <label for="role-unregistered">Função:</label>
                            <select class="form-control" id="role-unregistered" ng-options="item as item.name for item in vm.lecturerRolesOptions track by item.uid" ng-model="lecturer.Role"></select>
                            <input type="hidden" name="Lecturers[{{$index}}].RoleLecturerUid" value="{{lecturer.Role.uid}}" />
                        </div>
                    </div>

                    @*<div class="lecturer-photo" ng-if="lecturer.Collaborator.uid">
                            <div class="user-heading round">
                                <div class="fileinput fileinput-exists" data-provides="fileinput">
                                    <div ng-if="!lecturer.Collaborator.image" class="fileinput-img fileinput-new">
                                        <img src="/Content/img/profile-avatar.png" class="img-thumbnail" alt="" />
                                    </div>
                                    <div ng-if="lecturer.Collaborator" class="fileinput-preview fileinput-exists image-container">
                                        <img ng-model="lecturer.Collaborator" class="img-thumbnail" src="~/Content/img/profile-avatar.png" alt="{{lecturer.Collaborator.name}}" title="{{lecturer.Collaborator.name}}" load-image="{{lecturer.Collaborator.uid}}" url-load="/api/collaborator/thumbimage" />
                                    </div>

                                </div>
                            </div>
                        </div>*@

                    <div class="addinfo-photo-wrapper" ng-if="lecturer.Collaborator.uid">


                        <div class="additional-info">

                            <!-- DADOS DO PALESTRANTE JÁ CADASTRADO NO SISTEMA -->
                            @*<div class="lecturer-jobtitle-box">
                                    <label class="jobtitle-label">Cargo:</label>
                                    <div class="jobtitle-culture">
                                        <div class="form-group" ng-repeat="languageOption in vm.languageOptions">
                                            <label class="control-label">Cargo {{languageOption.Name}}:</label>
                                            <input class="form-control text-box single-line" type="text" value="{{(lecturer.JobTitles | filter:{LanguageCode: languageOption.Code})[0].Value}}" name="Lecturers[{{$parent.$index}}].JobTitles[{{$index}}].Value" disabled />
                                            <input type="hidden" value="{{languageOption.Code}}" name="Lecturers[{{$parent.$index}}].JobTitles[{{$index}}].LanguageCode" class="form-control" autocomplete="off" readonly>
                                        </div>
                                    </div>
                                </div>



                                <div class="lecturer-company">
                                    <label for="role-registered">Empresa:</label>
                                    <input type="text" id="role-registered" name="Lecturers[{{$index}}].CompanyName" ng-model="lecturer.CompanyName" autocomplete="off" class="form-control text-box single-line ng-pristine ng-valid ng-empty ng-touched" disabled />
                                </div>

                                <div class="lecturer-email">
                                    <label for="role-registered">E-mail:</label>
                                    <input type="email" id="role-registered" name="Lecturers[{{$index}}].Email" ng-model="lecturer.Email" autocomplete="off" class="form-control text-box single-line ng-pristine ng-valid ng-empty ng-touched" disabled />
                                </div>*@
                            <!-- FIM DOS DADOS DO PALESTRANTE JÁ CADASTRADO NO SISTEMA -->
                        </div>

                        <div class="lecturer-photo">
                            <div class="user-heading round">

                                <div class="fileinput fileinput-exists" data-provides="fileinput">
                                    <div ng-if="!lecturer.Collaborator.image" class="fileinput-img fileinput-new">
                                        <img src="/Content/img/profile-avatar.png" class="img-thumbnail" alt="" />
                                    </div>
                                    <div ng-if="lecturer.Collaborator" class="fileinput-preview fileinput-exists image-container">
                                        <img ng-model="lecturer.Collaborator" class="img-thumbnail" src="~/Content/img/profile-avatar.png" alt="{{lecturer.Collaborator.name}}" title="{{lecturer.Collaborator.name}}" load-image="{{lecturer.Collaborator.uid}}" url-load="/api/collaborator/thumbimage" />
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div> 
                </div>

                <div ng-if="!lecturer.IsPreRegistered" class="lecture-selector">
                    <div class="lecturer-info">
                        <div class="lecturer-name">
                            <label for="role-registered">Nome do Integrante da Palestra:</label>
                            <input type="text"
                                   id="role-registered"
                                   name="Lecturers[{{$index}}].Name"
                                   ng-model="lecturer.Name"
                                   placeholder="Digite o nome do palestrante"
                                   autocomplete="off"
                                   class="form-control text-box single-line" />
                        </div>

                        <div class="lecturer-role">
                            <label for="role-unregistered">Função:</label>
                            <select class="form-control" id="role-unregistered" ng-options="item as item.name for item in vm.lecturerRolesOptions track by item.uid" ng-model="lecturer.Role"></select>
                            <input type="hidden" name="Lecturers[{{$index}}].RoleLecturerUid" value="{{lecturer.Role.uid}}" />
                        </div>
                    </div>
                    <div class="addinfo-photo-wrapper">


                        <div class="additional-info">
                            @*<div class="lecturer-jobtitle">
                                    <div class="form-group" ng-repeat="languageOption in vm.languageOptions">
                                        <label class="control-label">Cargo {{languageOption.Name}}</label>
                                        <input class="form-control text-box single-line" type="text" value="{{(lecturer.JobTitles | filter:{LanguageCode: languageOption.Code})[0].Value}}" name="Lecturers[{{$parent.$index}}].JobTitles[{{$index}}].Value" />
                                        <input type="hidden" value="{{languageOption.Code}}" name="Lecturers[{{$parent.$index}}].JobTitles[{{$index}}].LanguageCode" class="form-control" autocomplete="off">
                                    </div>
                                </div>*@

                            <div class="lecturer-jobtitle-box">
                                <label class="jobtitle-label">Cargo:</label>
                                <div class="jobtitle-culture">
                                    <div class="form-group" ng-repeat="languageOption in vm.languageOptions">
                                        <label class="control-label">Cargo {{languageOption.Name}}:</label>
                                        <input class="form-control text-box single-line" type="text" value="{{(lecturer.JobTitles | filter:{LanguageCode: languageOption.Code})[0].Value}}" name="Lecturers[{{$parent.$index}}].JobTitles[{{$index}}].Value" placeholder="Digite o cargo em {{languageOption.Name }}" />
                                        <input type="hidden" value="{{languageOption.Code}}" name="Lecturers[{{$parent.$index}}].JobTitles[{{$index}}].LanguageCode" class="form-control" autocomplete="off">
                                    </div>
                                </div>
                            </div>



                            <div class="lecturer-company">
                                <label for="role-registered">Empresa:</label>
                                <input type="text" id="role-registered" name="Lecturers[{{$index}}].CompanyName" ng-model="lecturer.CompanyName" placeholder="Digite o nome da empresa" autocomplete="off" class="form-control text-box single-line ng-pristine ng-valid ng-empty ng-touched">
                            </div>

                            <div class="lecturer-email">
                                <label for="role-registered">E-mail:</label>
                                <input type="email" id="role-registered" name="Lecturers[{{$index}}].Email" ng-model="lecturer.Email" placeholder="Digite o e-mail" autocomplete="off" class="form-control text-box single-line ng-pristine ng-valid ng-empty ng-touched">
                            </div>

                        </div>

                        <div class="lecturer-photo">
                            <div class="user-heading round">
                                <div ng-if="lecturer.Image == null">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="fileinput-img fileinput-new">
                                            <img src="/Content/img/profile-avatar.png" class="thumbnail" alt="" />
                                        </div>
                                        <div class="fileinput-preview fileinput-exists image-container">
                                            <img src="/Content/img/profile-avatar.png" class="thumbnail" alt="" />
                                        </div>
                                        <div class="button-send-img">
                                            <span class="btn btn-default btn-file">
                                                <span class="fileinput-new">Selecionar imagem</span>
                                                <span class="fileinput-exists">Alterar</span>
                                                <input type="file" class="fileInput" name="Lecturers[{{$index}}].ImageUpload" />
                                            </span>
                                            <button href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remover</button>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="lecturer.Image != null">
                                    <div class="fileinput fileinput-exists" data-provides="fileinput">
                                        <div class="fileinput-img fileinput-new">
                                            <img src="/Content/img/profile-avatar.png" class="thumbnail" alt="" />
                                        </div>
                                        <div class="fileinput-preview fileinput-exists image-container">
                                            <input type="hidden" name="Lecturers[{{$index}}].Image[].FileName" value="{{lecturer.Image.FileName}}" />
                                            <input type="hidden" name="Lecturers[{{$index}}].Image[].ContentLength" value="{{lecturer.Image.ContentLength}}" />
                                            <input type="hidden" name="Lecturers[{{$index}}].Image[].ContentType" value="{{lecturer.Image.ContentType}}" />
                                            <input type="hidden" name="Lecturers[{{$index}}].Image[].File" value="{{lecturer.Image.File}}" />
                                            <input type="hidden" name="Lecturers[{{$index}}].ImageBase64" value="{{lecturer.ImageBase64}}}" />

                                            <img ng-if="lecturer.Image != null" src="data:image/jpg;base64,{{lecturer.Image.File}}" alt="" class="thumbnail" />
                                        </div>
                                        <div class="button-send-img">
                                            <span class="btn btn-default btn-file">
                                                <span class="fileinput-new">Selecionar imagem</span>
                                                <span class="fileinput-exists">Alterar</span>
                                                <input type="file" class="fileInput" name="Lecturers[{{$index}}].ImageUpload" />
                                            </span>
                                            <button href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remover</button>
                                        </div>

                                    </div>
                                </div>

                                <div class="photo-message">
                                    <span class="label">@Labels.Warning</span>
                                    <span class="text">@Html.Raw(Labels.ImageSize)</span>
                                </div>


                            </div>
                        </div>
                    </div>


                </div>


            </div>

            <div class="add-task-row">
                <button ng-click="vm.addLecturer()" class="btn btn-success btn-sm" type="button">Adicionar Novo Integrante da Palestra</button>
            </div>
        </div>

        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.Info, htmlAttributes: new { @class = "control-label " })
            <textarea name="Info" class="form-control ckeditor-rio2c">@Model.Info</textarea>
            @Html.ValidationMessageFor(model => model.Info, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Salvar" class="btn btn-default pull-right" />
            </div>
        </div>
    </div>
</div>
<div ng-if="vm.loadingOptions">
    <p>Carregando opções do formulário de palestra...</p>
</div>

<script type="text/ng-template" id="customTemplate.html">
    <a>
        <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>