@model ConferenceEditAppViewModel

@{
    ViewBag.Title = "Cadastrar Palestra";
    var lecturers = Html.Serializar(Model.Lecturers);
    var lecturerRolesOptions = Html.Serializar(new List<object> { new { uid = Guid.Empty, name = "Selecione" } });
    var roomsOptions = Html.Serializar(new List<object> { new { uid = Guid.Empty, name = "Selecione" } });
    var languageOptions = Html.Serializar(Model.Languages);
}


<div class="col-lg-12" ng-controller="ConferenceEditor as vm" data-lecturers="@lecturers.ToString()" data-lecturer-roles-options="@lecturerRolesOptions.ToString()" data-room-options="@roomsOptions.ToString()" data-room-selected="@Model.Room.ToString()" data-language-options="@languageOptions.ToString()">
    <section class="panel">
        <header class="panel-heading">
            <h2>@ViewBag.Title</h2>
        </header>
        <div class="panel-body">

            @using (Html.BeginForm("Create", "Conference", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.Partial("_Editor", Model);
            }
        </div>
        <div class="btn-group">
            <a class="btn btn-link pull-left" href="@Url.Action("Index")"> « Voltar</a>
        </div>
    </section>
</div>


@section scripts{
    <script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/Content/js/ckeditor_config.js"></script>
    <script>
        $(document).ready(function () {

            $('.ckeditor-rio2c').each(function () {
                var ck = CKEDITOR.replace($(this)[0], {
                    customConfig: '/Content/js/ckeditor_config.js'
                });
            });
        });
    </script>
}