@model PlataformaRio2C.Application.CQRS.Commands.OrganizationDescriptionBaseCommand
<div class="row">
    <div class="form-group col-lg-12">
        @Html.LabelFor(m => m.Value, $"{Labels.CompanyProfile} ({Model.LanguageCode.GetSplittedWord('-', 0).ToUpper()})", new { @class = "control-label" })
        @Html.TextAreaFor(m => m.Value, new { @class = "form-control ckeditor-rio2c" })
        @Html.HiddenFor(m => m.LanguageCode)
        @Html.HiddenFor(m => m.LanguageName)
        @Html.HiddenFor(m => m.IsRequired)
        @Html.ValidationMessageFor(m => m.Value, null, new { @class = "text-danger" })
    </div>
</div>