@using System.Globalization
@using PlataformaRio2C.Domain.Statics
@using PlataformaRio2c.Infra.Data.FileRepository.Helpers
@model PlataformaRio2C.Application.CQRS.Commands.SendExecutiveAgendaEmailAsync
@{
    var brCulture = new CultureInfo("pt-BR");
    var usCulture = new CultureInfo("en-US");
    var brazilUtc = @DateTimeExtensions.GetBrazilUtc();
    var defaultFontColor = "#F2388F";
}
<td valign="top">
    <!-- content -->
    <h1>
        <span>Prezado (a) @Model.RecipientFirstName,</span><br />
        <span style="font-style: italic; color: @defaultFontColor;">Dear @Model.RecipientFirstName,</span>
    </h1>
    <p>
        <span>
            Seja bem-vindo(a) ao <span style="font-weight: 800;">Rio2C @Model.Edition.UrlCode</span>!
        </span><br />
        <span style="font-style: italic; color: @defaultFontColor;">
            Welcome to <span style="font-weight: 800;">Rio2C @Model.Edition.UrlCode</span>!
        </span>
    </p>
    <p>
        <span>
            O <span style="font-weight: 800;">Rio2C @Model.Edition.UrlCode</span> acontece de <span style="font-weight: 800;">@Model.GetEditionStartAndEndDateByCulture(brCulture)</span>, na Cidade das Artes, na Av. das Américas, 5300 - Barra da Tijuca, Rio de Janeiro.
            Confira a programação completa no site http://rio2c.com e pelo aplicativo XXXX.
        </span>
        <br />
        <span style="font-style: italic; color: @defaultFontColor;">
            The <span style="font-weight: 800;">Rio2C @Model.Edition.UrlCode</span> takes place from <span style="font-weight: 800;">@Model.GetEditionStartAndEndDateByCulture(usCulture)</span>, at Cidade das Artes, Av. das Américas, 5300 - Barra da Tijuca, Rio de Janeiro.
            Check out the complete schedule on the website http://rio2c.com and through the XXXX app.
        </span>
    </p>
    <p>
        <span>
            Seguem informações importantes sobre a sua participação como @Model.CollaboratorTypesDescriptions.ToString(","), incluindo o seu painel e os eventos sociais para os quais você está convidado. Por favor, leia com atenção até o final:
        </span>
        <span style="font-style: italic; color: @defaultFontColor;">
            Here are important details about your participation as a @Model.CollaboratorTypesDescriptions.ToString(","), including your panel and the social events you are invited to. Please read carefully until the end.
        </span>
    </p>


    @if (Model.AttendeeCollaboratorTypeDtos.Any(dto => dto.CollaboratorTypeName == PlataformaRio2C.Domain.Constants.CollaboratorType.Speaker))
    {
        <p>
            <span style="text-align: center">
                AGENDA CONFERÊNCIA | CONFERENCE AGENDA
            </span>
        </p>

    }

    @if (Model.AttendeeCollaboratorTypeDtos.Any(dto => dto.CollaboratorTypeName == ))
    {
        <p>
            <span style="text-align: center">
                RODADAS DE NEGÓCIO | BUSINESS ROUNDS
            </span>
        </p>
        <div>
            <table style="width: 100%;" cellpadding="10">
                <tbody>
                    <tr>
                        <th>@Labels.Date</th>
                        <th style="width: 45%; text-align: left;">@Labels.OneToOneMeeting</th>
                        <th style="width: 35%; text-align: left;">@Labels.Project/@Labels.Producer</th>
                    </tr>
                    @foreach (var negotiationBaseDto in Model.NegotiationBaseDtos.OrderBy(sn => sn.StartDate))
                    {
                        <tr style="border-top: 1px solid #ebedf2;">
                            <td style="font-size: 12px; text-align: center;">@negotiationBaseDto.StartDate.ToBrazilTimeZone().ToString("d")</td>
                            <td style="font-size: 12px;">
                                @negotiationBaseDto.RoomJsonDto.Name<br />
                                @Labels.Round @negotiationBaseDto.RoundNumber (@negotiationBaseDto.StartDate.ToBrazilTimeZone().ToString("HH:mm") - @negotiationBaseDto.EndDate.ToBrazilTimeZone().ToString("HH:mm") @brazilUtc)<br />
                                Mesa 2<br />
                                <span style="background-color: #ffb822; color: #111111; font-family: sans-serif; font-size: 11px; font-weight: bold; padding: 5px 9px; text-align: center;">
                                    @if (negotiationBaseDto.RoomJsonDto.IsVirtualMeeting)
                                    {
                                        @Labels.Virtual
                                    }
                                    else
                                    {
                                        @Labels.Presential
                                    }
                                </span>
                            </td>
                            <td style="font-size: 12px;">
                                @negotiationBaseDto.ProjectBuyerEvaluationBaseDto.ProjectBaseDto.ProjectName<br />
                                <table>
                                    <tbody>
                                        <tr>
                                            <td style="font-size: 12px;">
                                                @if (negotiationBaseDto.ProjectBuyerEvaluationBaseDto.SellerAttendeeOrganizationBaseDto.OrganizationBaseDto.HasImage())
                                                {
                                                    <div style="max-width: 35px; max-height: 35px;">
                                                        <img src="@ImageHelper.GetImageUrl(FileRepositoryPathType.OrganizationImage, negotiationBaseDto.ProjectBuyerEvaluationBaseDto.SellerAttendeeOrganizationBaseDto.OrganizationBaseDto.Uid, negotiationBaseDto.ProjectBuyerEvaluationBaseDto.SellerAttendeeOrganizationBaseDto.OrganizationBaseDto.ImageUploadDate, true)" style="max-width: 100%; max-height: 100%;">
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div style="background: rgba(85, 120, 235, 0.1); justify-content: center; align-items: center; border-radius: 8px; color: #5578eb; font-weight: 700; padding: 7px 7px;">
                                                        @(negotiationBaseDto.ProjectBuyerEvaluationBaseDto.SellerAttendeeOrganizationBaseDto.OrganizationBaseDto.GetTradeNameAbbreviation() ?? "-")
                                                    </div>
                                                }
                                            </td>
                                            <td style="font-size: 12px;">@negotiationBaseDto.ProjectBuyerEvaluationBaseDto.SellerAttendeeOrganizationBaseDto.OrganizationBaseDto.DisplayName</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }





    <p>
        <span>
            Para a edição de @Model.Edition.UrlCode, foi criada a plataforma <span style="font-weight: 800;">MyRio2C</span>, na qual estarão concentradas as principais informações sobre sua participação
            no <span style="font-weight: 800;">Rio2C @Model.Edition.UrlCode</span>, como: sua agenda, seu perfil, a programação do evento, a rede RIO2C para contato direto com outros convidados, credenciamento,
            dentre outras funcionalidades.
        </span><br />
        <span style="font-style: italic; color: @defaultFontColor;">
            For our @Model.Edition.UrlCode edition, we created the <span style="font-weight: 800;">MyRio2C</span> platform, which will concentrate all the key information about your participation in our event, such as:
            your schedule, your profile, the official event program, the RIO2C network for you to be able to reach out to other guests directly, accreditation, amongst other functions.
        </span>
    </p>
    <p>
        <span>
            Convidamos você para acessar a plataforma <span style="font-weight: 800;">MyRio2C</span> agora e cadastrar seu perfil para o <span style="font-weight: 800;">Rio2C @Model.Edition.UrlCode</span>.
        </span><br />
        <span style="font-style: italic; color: @defaultFontColor;">
            We would like to invite you to register your <span style="font-weight: 800;">Rio2C @Model.Edition.UrlCode</span> profile now on <span style="font-weight: 800;">MyRio2C</span>.
        </span>
    </p>
    <p>
        <span>
            Para acessá-la, clique no botão abaixo e utilize esse mesmo endereço de e-mail para fazer o acesso.
        </span><br />
        <span style="font-style: italic; color: @defaultFontColor;">
            Please click on the button below and register using your email address.
        </span>
    </p>
    <div style="margin-top: 25px; margin-bottom: 25px;">
        <!--Button:begin-->
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
                <td align="center">
                    <table cellpadding="0" cellspacing="0" width="250" border="0" style="border-collapse: separate !important;">
                        <tr>
                            <td style="background-color: @defaultFontColor; color: #FFFFFF; font-family: sans-serif; font-size: 16px; font-weight: bold; padding: 10px 10px; border-radius: 10px; text-align: center;">
                                <a href="@($"{ViewBag.SiteUrl}/account/onboarding?culture={Model.UserInterfaceLanguage}&edition={Model.Edition.UrlCode}&email={Url.Encode(Model.RecipientEmail)}&uid={Model.RecipientUserUid}&token={Model.UserSecurityToken}")" style="color:#FFFFFF;text-decoration:none;">Clique Aqui / Click here</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!--Button:end-->
    </div>
    <p>
        <span>
            Em caso de dúvidas, favor entre em contato com a nossa equipe usando o assunto “<span style="font-weight: bold;">MyRio2C</span>” através do email: curadoria@rio2c.com.
        </span><br />
        <span style="font-style: italic; color: @defaultFontColor;">
            For any queries, please get in touch with our team using the subject “<span style="font-weight: bold;">MyRio2C</span>” via the email: curadoria@rio2c.com.
        </span>
    </p>
    <p>
        <span>
            Desde já agradecemos sua cooperação.
        </span><br />
        <span style="font-style: italic; color: @defaultFontColor;">
            We thank you for your cooperation.
        </span>
    </p>
    <p>
        <span>
            Seja bem-vindo ao <span style="font-weight: bold;">MyRio2C</span>!
        </span><br />
        <span style="font-style: italic; color: @defaultFontColor;">
            Welcome to <span style="font-weight: bold;">MyRio2C</span>!
        </span>
    </p>
    <p>
        <span>
            Curadoria Rio2C
        </span><br />
        <span style="font-style: italic; color: @defaultFontColor;">
            Rio2C Curatorship
        </span>
    </p>
</td>
@section Styles {
}