@using System.Globalization
@using PlataformaRio2C.Domain.Statics
@using PlataformaRio2c.Infra.Data.FileRepository.Helpers
@model PlataformaRio2C.Application.CQRS.Commands.SendExecutiveAgendaEmailAsync
@{
    var brCulture = new CultureInfo("pt-BR");
    var usCulture = new CultureInfo("en-US");
    var brazilUtc = @DateTimeExtensions.GetBrazilUtc();
    var defaultFontColor = "#F2388F";
    string tableStyle = "width: 100%; border-collapse: separate; border-spacing: 0; border: 2px solid lightgray; border-radius: 10px;";
    string imageUrl = $"https://subscription.rio2c.com.br/api/rsvp/images/pixels/{Model.Collaboratoruid.ToString()}?key=convite_agenda";
}
<td valign="top">
    <!-- Header - begin -->
    <h1>
        <span>Prezado (a) @Model.RecipientFirstName,</span><br />
        <span style="font-style: italic; color: @defaultFontColor;">Dear @Model.RecipientFirstName,</span>
    </h1>
    <p>
        <span>
            Seja bem-vindo(a) ao <span style="font-weight: 800;">Rio2C @Model.Edition.UrlCode</span>!
        </span><br />
        <span style="font-style: italic; color: @defaultFontColor;">
            Welcome to <span style="font-weight: 800;">Rio2C @Model.Edition.UrlCode</span>!
        </span>
    </p>
    <p>
        <span>
            O <span style="font-weight: 800;">Rio2C @Model.Edition.UrlCode</span> acontece de <span style="font-weight: 800;">@(Html.Raw(Model.GetEditionStartAndEndDateByCulture(brCulture)))</span>, na Cidade das Artes, na Av. das Américas, 5300 - Barra da Tijuca, Rio de Janeiro.
            <br />
            Confira a programação completa no site http://rio2c.com e pelo aplicativo.
        </span>
        <br />
        <span style="font-style: italic; color: @defaultFontColor;">
            The <span style="font-weight: 800;">Rio2C @Model.Edition.UrlCode</span> takes place from <span style="font-weight: 800;">@(Html.Raw(Model.GetEditionStartAndEndDateByCulture(usCulture)))</span>, at Cidade das Artes, Av. das Américas, 5300 - Barra da Tijuca, Rio de Janeiro.
            <br />
            Check out the complete schedule on the website http://rio2c.com.
        </span>
    </p>
    <p>
        <span>
            Seguem informações importantes sobre a sua participação na edição deste ano, incluindo conteúdos, e os eventos sociais para os quais você está convidado.
            <br />
            Por favor, leia com atenção até o final.
        </span>
        <br />
        <span style="font-style: italic; color: @defaultFontColor;">
            Below is important information about your participation in this year's edition, including content, and the social events to which you are invited.
            <br />
            Please read carefully until the end.
        </span>
    </p>
    <!-- Header - end -->
    <!-- Conferences - begin -->
    @if (Model.ConferenceDtos?.Any() == true)
    {
        <table style="@tableStyle" cellpadding="10">
            <tbody>
                <tr>
                    <th style="text-align: center; background-color:lightgray;" colspan="3">
                        <p style="text-align: center;">
                            <span style="font-weight: 800; font-size:large;">@Labels.Conferences</span>
                        </p>
                    </th>
                </tr>
                @{var conferenceDtos = Model.ConferenceDtos.OrderBy(sn => sn.StartDate).ToList();}
                @foreach (var conferenceDto in conferenceDtos)
                {
                    var bgColor = conferenceDtos.IndexOf(conferenceDto) % 2 == 0 ? "whitesmoke" : "white";
                    <tr style="border-top: 1px solid #ebedf2; background-color:@bgColor">
                        <td style="width:100%">
                            <div style="display: inline-block; width: 50%; float:left;">
                                <span style="font-weight: 700;">@Labels.Date:</span>
                                <span>
                                    @(conferenceDto.StartDate.ToBrazilTimeZone()?.ToString("d"))
                                </span>
                            </div>
                            <div style="display: inline-block; width: 50%; float:right;">
                                <span style="font-weight: 700;">@Labels.Hour:</span>
                                <span>
                                    @(conferenceDto.StartDate.ToBrazilTimeZone()?.ToString("HH:mm")) - @(conferenceDto.EndDate.ToBrazilTimeZone()?.ToString("HH:mm")) (@brazilUtc)
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr style="background-color:@bgColor">
                        <td>
                            <span style="font-weight: 700;">@Labels.Room</span>
                            <br />
                            @conferenceDto.GetRoomNameDtoByLanguageCode(Model.UserInterfaceLanguage).RoomName.Value
                        </td>
                    </tr>
                    <tr style="background-color:@bgColor">
                        <td>
                            <span style="font-weight: 700;">@Labels.Conference</span>
                            <br />
                            @conferenceDto.GetConferenceTitleDtoByLanguageCode(Model.UserInterfaceLanguage).ConferenceTitle.Value
                        </td>
                    </tr>
                    <tr style="background-color:@bgColor">
                        <td>
                            <span style="font-weight: 700;">@Labels.ConferenceSynopsis</span>
                            <br />
                            @conferenceDto.GetConferenceSynopsisDtoByLanguageCode(Model.UserInterfaceLanguage).ConferenceSynopsis.Value
                        </td>
                    </tr>
                    <tr style="background-color:@bgColor">
                        <td>
                            <span style="font-weight: 700; ">@Labels.Participants</span>
                            <br />
                            <ul style="padding-left:15px;">
                                @foreach (var conferenceParticipantDto in conferenceDto.ConferenceParticipantDtos)
                                {
                                    <li>
                                        <span style="font-weight: 600;">
                                            @conferenceParticipantDto.AttendeeCollaboratorDto.Collaborator.GetFullName()
                                        </span>
                                        @{
                                            var jobTiltle = conferenceParticipantDto.AttendeeCollaboratorDto.GetJobTitleDtoByLanguageCode(Model.UserInterfaceLanguage)?.Value;
                                            if (!string.IsNullOrEmpty(jobTiltle))
                                            {
                                                <span style="font-style: italic;">
                                                    - @jobTiltle
                                                </span>
                                            }
                                        }
                                    </li>
                                }
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p>
            <span>
                Pedimos a gentileza de chegar ao palco/sala onde será realizada a sua atividade com <span style="font-weight: 800;">30 minutos de antecedência</span>, para cumprimento dos protocolos necessários para a sua participação.
            </span>
            <br />
            <span style="font-style: italic; color: @defaultFontColor;">
                We kindly ask you to arrive at the stage/room where your activity will take place <span style="font-weight: 800;">30 minutes in advance</span>, to comply with the necessary protocols for your participation.
            </span>
        </p>
        <p>
            <span>
                Caso tenha algum material de apresentação, pedimos que nos envie até o dia <span style="font-weight: 800;">18 de Maio</span>.
            </span>
            <br />
            <span style="font-style: italic; color: @defaultFontColor;">
                If you have any presentation material, we ask that you send it to us by <span style="font-weight: 800;">May 18th</span>.
            </span>
        </p>
        <p>
            <span>
                <span style="font-weight: 800;">No caso da sua apresentação ser em Keynote</span>, deve ser informado a coordenação de sala qual versão será utilizada. Caso opte por levar Macbook próprio, este deverá estar acompanhado de adaptador HDMI.
            </span>
            <br />
            <span style="font-style: italic; color: @defaultFontColor;">
                <span style="font-weight: 800;">If your presentation is in Keynote</span>, the room coordinator must be informed which version will be used. If you choose to bring your own Macbook, it must be accompanied by an HDMI adapter.
            </span>
        </p>
        <br />
    }
    <!-- Conferences - end -->
    <!-- Social Agenda - begin -->
    @if (Model.CollaboratorEventsDtos?.Any() == true)
    {
        <table style="@tableStyle" cellpadding="10">
            <tbody>
                <tr>
                    <th style="text-align: center; background-color:lightgray;" colspan="3">
                        <p style="text-align: center;">
                            <span style="font-weight: 800; font-size:large;">@Labels.SocialAgenda</span>
                        </p>
                    </th>
                </tr>
                @{var collaboratorEventDtos = Model.CollaboratorEventsDtos.OrderBy(dto => dto.Data).ThenBy(dto => dto.Horario).ToList();}
                @foreach (var collaboratorEvent in collaboratorEventDtos)
                {
                    var bgColor = collaboratorEventDtos.IndexOf(collaboratorEvent) % 2 == 0 ? "whitesmoke" : "white";

                    <tr style="border-top: 1px solid #ebedf2; background-color: @bgColor">
                        <td>
                            <span style="font-weight: 700;">@collaboratorEvent.Nome</span>
                        </td>
                    </tr>
                    <tr style="background-color:@bgColor">
                        <td style="width:100%">
                            <div style="display: inline-block; width: 50%; float:left;">
                                <span style="font-weight: 700;">@Labels.Date:</span>
                                <span>
                                    @(collaboratorEvent.Data?.ToBrazilTimeZone().ToString("d"))
                                </span>
                            </div>
                            <div style="display: inline-block; width: 50%; float:right;">
                                <span style="font-weight: 700;">@Labels.Hour:</span>
                                <span>
                                    @(collaboratorEvent.Horario) (@brazilUtc)
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr style="background-color:@bgColor">
                        <td>
                            <span style="font-weight: 700;">@Labels.Event</span>
                            <br />
                            @collaboratorEvent.Descritivo
                        </td>
                    </tr>
                    <tr style="background-color:@bgColor">
                        <td>
                            <span style="font-weight: 700;">@Labels.Place</span>
                            <br />
                            @collaboratorEvent.Local
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
    }
    <!-- Social Agenda - end -->
    <!-- Credentialing - begin -->
    <table style="@tableStyle" cellpadding="10">
        <tbody>
            <tr>
                <th style="text-align: center; background-color:lightgray;" colspan="3">
                    <p style="text-align: center;">
                        <span style="font-weight: 800; font-size:large;">@Labels.Credentialing</span>
                    </p>
                </th>
            </tr>
            <tr>
                <td>
                    <p>
                        <span>
                            A sua credencial <span style="font-weight: 800;">@Model.AttendeeCollaboratorTypeDtos.Select(dto => dto.CollaboratorTypeDescription.GetSeparatorTranslation(brCulture.Name)).ToString("/")</span> dá acesso a todos os dias do evento e todas as Salas de Programação e Áreas de Convivência.
                        </span>
                        <br />
                        <span style="font-style: italic; color: @defaultFontColor;">
                            Your <span style="font-weight: 800;">@Model.AttendeeCollaboratorTypeDtos.Select(dto => dto.CollaboratorTypeDescription.GetSeparatorTranslation(usCulture.Name)).ToString("/")</span> credential provides access to all days of the event and all Programming Rooms and Social Areas.
                        </span>
                    </p>
                    <p>
                        <span style="font-weight: 800;">
                            Para que sua credencial esteja disponível, é fundamental concluir o seu cadastro e autorização de imagem, conforme link enviado por e-mail com o assunto: MyRio2C | Bem-vindo ao Rio2C 2024 | Welcome to Rio2C 2024.
                        </span>
                        <br />
                        <span style="font-weight: 800; font-style: italic; color: @defaultFontColor;">
                            In order for your credential to be available, it's essential to complete your registration and image authorization, as per the link sent via email with the subject: MyRio2C | Welcome to Rio2C 2024
                        </span>
                    </p>
                    <p>
                        <span style="font-weight: 700;"><u>Datas e horário de credenciamento:</u> De 04 a 09 de junho – Das 09h às 18h</span>
                        <br />
                        <span style="font-style: italic; color: @defaultFontColor;"><u>Accreditation dates and times:</u> From June 4th to 9th – From 9am to 6pm</span>
                    </p>
                    <p>
                        <span style="font-weight: 700; text-decoration: underline;">Retire sua credencial nos seguintes pontos de credenciamento:</span>
                        <span style="font-weight: 700; text-decoration: underline; font-style: italic; color: @defaultFontColor;">Collect your credential at the following accreditation points:</span>
                        <br />
                        <ul style="padding-left:15px;">
                            <li>
                                <u>Cidade das Artes</u>
                                <br />
                                <span>Retire sua credencial no setor especial para palestrantes, Industry e Convidados, na entrada da Cidade das Artes – acesso Alvorada, na Av. das Américas, 5300 - Barra da Tijuca, Rio de Janeiro.</span>
                                <br />
                                <span style="font-style: italic; color: @defaultFontColor;">Collect your credential in the special sector for speakers, Industry and Guests, at the entrance to Cidade das Artes – Alvorada access, at Av. das Américas, 5300 - Barra da Tijuca, Rio de Janeiro</span>
                            </li>
                            <li>
                                <u>Village Mall</u>
                                <br />
                                <span>Retire sua credencial no estacionamento VIP (Próximo ao teatro Multiplan).</span>
                                <br />
                                <span style="font-style: italic; color: @defaultFontColor;">Collect your credentials at the VIP parking lot (near the Multiplan theater).</span>
                            </li>
                            <li>
                                <u>Hotel Windsor Oceânico</u>
                                <br />
                                <span>Retire sua credencial no desk indicado no lobby do hotel.</span>
                                <br />
                                <span style="font-style: italic; color: @defaultFontColor;">Collect your credentials at the designated desk in the hotel lobby.</span>
                            </li>
                        </ul>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <!-- Credentialing - end -->
    <!-- Business Rounds - begin -->
    @if (Model.NegotiationBaseDtos?.Any() == true)
    {
        <table style="@tableStyle" cellpadding="10">
            <tbody>
                <tr>
                    <th style="text-align: center; background-color:lightgray;" colspan="3">
                        <p style="text-align: center;">
                            <span style="font-weight: 800; font-size:large;">@Labels.BusinessRound</span>
                        </p>
                    </th>
                </tr>
                <tr>
                    <th>@Labels.Date</th>
                    <th style="width: 45%; text-align: left;">@Labels.OneToOneMeeting</th>
                    <th style="width: 35%; text-align: left;">@Labels.Project/@Labels.Company</th>
                </tr>
                @foreach (var negotiationBaseDto in Model.NegotiationBaseDtos.OrderBy(sn => sn.StartDate))
                {
                    <tr style="border-top: 1px solid #ebedf2;">
                        <td style="font-size: 12px; text-align: center;">@negotiationBaseDto.StartDate.ToBrazilTimeZone().ToString("d")</td>
                        <td style="font-size: 12px;">
                            @negotiationBaseDto.RoomJsonDto.Name<br />
                            @Labels.Round @negotiationBaseDto.RoundNumber (@negotiationBaseDto.StartDate.ToBrazilTimeZone().ToString("HH:mm") - @negotiationBaseDto.EndDate.ToBrazilTimeZone().ToString("HH:mm") @brazilUtc)<br />
                            @Labels.Table @negotiationBaseDto.TableNumber<br />
                            <span style="background-color: #ffb822; color: #111111; font-family: sans-serif; font-size: 11px; font-weight: bold; padding: 5px 9px; text-align: center;">
                                @if (negotiationBaseDto.RoomJsonDto.IsVirtualMeeting)
                                {
                                    @Labels.Virtual
                                }
                                else
                                {
                                    @Labels.Presential
                                }
                            </span>
                        </td>
                        <td style="font-size: 12px;">
                            @negotiationBaseDto.ProjectBuyerEvaluationBaseDto.ProjectBaseDto.ProjectName<br />
                            <table>
                                <tbody>
                                    <tr>
                                        <td style="font-size: 12px;">
                                            @if (negotiationBaseDto.ProjectBuyerEvaluationBaseDto.SellerAttendeeOrganizationBaseDto.OrganizationBaseDto.HasImage())
                                            {
                                                <div style="max-width: 35px; max-height: 35px;">
                                                    <img src="@ImageHelper.GetImageUrl(FileRepositoryPathType.OrganizationImage, negotiationBaseDto.ProjectBuyerEvaluationBaseDto.SellerAttendeeOrganizationBaseDto.OrganizationBaseDto.Uid, negotiationBaseDto.ProjectBuyerEvaluationBaseDto.SellerAttendeeOrganizationBaseDto.OrganizationBaseDto.ImageUploadDate, true)" style="max-width: 100%; max-height: 100%;">
                                                </div>
                                            }
                                            else
                                            {
                                                <div style="background: rgba(85, 120, 235, 0.1); justify-content: center; align-items: center; border-radius: 8px; color: #5578eb; font-weight: 700; padding: 7px 7px;">
                                                    @(negotiationBaseDto.ProjectBuyerEvaluationBaseDto.SellerAttendeeOrganizationBaseDto.OrganizationBaseDto.GetTradeNameAbbreviation() ?? "-")
                                                </div>
                                            }
                                        </td>
                                        <td style="font-size: 12px;">@negotiationBaseDto.ProjectBuyerEvaluationBaseDto.SellerAttendeeOrganizationBaseDto.OrganizationBaseDto.DisplayName</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
    }
    <!-- Business Rounds - end -->
    <!-- Parking - begin -->
    <table style="@tableStyle" cellpadding="10">
        <tbody>
            <tr>
                <th style="text-align: center; background-color:lightgray;" colspan="3">
                    <p style="text-align: center;">
                        <span style="font-weight: 800; font-size:large;">@Labels.Parking</span>
                    </p>
                </th>
            </tr>
            <tr>
                <td>
                    <p>
                        <span>
                            O evento não disponibiliza de estacionamento no local, mas teremos shuttle partindo do Village Mall e do Hotel Parceiro (Windsor Barra/ Oceânico) diariamente, das 9h às 18h.
                        </span>
                        <br />
                        <span style="font-style: italic; color: @defaultFontColor;">
                            The event does not provide parking on-site, but we will have shuttles departing from Village Mall and the Partner Hotel (Windsor Barra/ Oceânico) daily, from 9am to 6pm.
                        </span>
                    </p>
                    <p>
                        <span>
                            Táxis, Ubers e demais carros particulares poderão entrar na Cidade das Artes apenas para embarque e desembarque, através do Portão 1 na Avenida das Américas (Barra da Tijuca).
                        </span>
                        <br />
                        <span style="font-style: italic; color: @defaultFontColor;">
                            Taxis, Ubers, and other private cars can only enter Cidade das Artes for drop-off and pick-up through Gate 1 on Avenida das Américas (Barra da Tijuca).
                        </span>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Parking - end -->
    <!-- Footer - begin-->
    <br />
    <p>
        <span style="font-weight: 800;">
            Pedimos, por gentileza, que confirme o recebimento deste e-mail.
        </span>
        <br />
        <span style="font-style: italic; font-weight: 800; color: @defaultFontColor;">
            We kindly request that you confirm receipt of this email.
        </span>
    </p>
    <p>
        <span>
            À sua disposição para quaisquer esclarecimentos,
        </span>
        <br />
        <span style="font-style: italic; color: @defaultFontColor;">
            At your disposal for any further clarification,
        </span>
    </p>
    <p>
        <span>
            Atenciosamente, <span style="font-weight: 800;">Equipe Rio2C</span>
        </span>
        <br />
        <span style="font-style: italic; color: @defaultFontColor;">
            Sincerely, <span style="font-weight: 800;">Rio2C Team</span>
        </span>
    </p>

    <!-- Pixel for read receipt - https://softohq.atlassian.net/browse/RIO2CMY-1137 -->
    <img src="@imageUrl" width=1 height=1 style="display: none;" />
    <!-- Pixel for read receipt -->

    <!-- Footer - end-->
</td>
@section Styles {
}