@using System.Globalization
@model PlataformaRio2C.Application.CQRS.Commands.SendInnovationCommissionWelcomeEmailAsync
@{
    var brCulture = new CultureInfo("pt-BR");
    var usCulture = new CultureInfo("en-US");
}
<td valign="top">
    <!-- content -->
    <h1>
        <span>Prezado @Model.RecipientFirstName,</span><br />
        <span style="font-style: italic; color: red;">Dear @Model.RecipientFirstName,</span>
    </h1>
    <p>
        <span>
            Gostaríamos de convidá-lo e contar com a sua presença para fazer parte da banca de investidores do
            <span style="font-weight: 800;">Pitching de Startup do Rio2C @Model.Edition.UrlCode.</span>
        </span><br />
        <span style="font-style: italic; color: red;">
            We would like to invite you and count on your presence to be part of the investor panel of the
            <span style="font-weight: 800;">Rio2C @Model.Edition.UrlCode Startup Pitching.</span>
        </span>
    </p>
    <p>
        <span>
            <span style="font-weight: 800;">Rio2C</span> é o maior evento de criatividade e inovação da América Latina, desenhado para inspirar, informar e conectar pessoas, desenvolver negócios e qualificar talentos.
            Na última edição, o pilar de Inovação do Rio2C 2019 recebeu no palco <span style="font-weight: 800;">profissionais de ponta, brasileiros e internacionais</span> para explorar temas importantes, tais como:
            <span style="font-weight: 800;">AI, IoT, robótica, neurociência, fintech, biotech, energias renováveis, healthtech, smartcities, mídias imersivas e blockchain</span>, entre muitos outros, debatendo visões, estratégias e desafios do nosso mundo em rápida evolução.
        </span><br />
        <span style="font-style: italic; color: red;">
            <span style="font-weight: 800;">Rio2C</span> is the largest creativity and innovation event in Latin America, designed to inspire, inform and connect people, develop businesses and qualify talent.
            In the last edition, the Innovation pillar of Rio2C 2019 received on stage <span style="font-weight: 800;">Brazilian and international top professionals</span> to explore important themes, such as:
            <span style="font-weight: 800;">AI, IoT, robotics, neuroscience, fintech, biotech, renewable energies, healthtech, smartcities, immersive media and blockchain</span>, among many others, debating visions, strategies and challenges of our rapidly evolving world.
        </span>
    </p>
    <p>
        <span>
            Acreditamos que sua atuação será de grande interesse para o público do <span style="font-weight: 800;">Rio2C @Model.Edition.UrlCode</span> e gostaríamos de convidar você para fazer parte da comissão de investidores que formarão a
            <span style="font-weight: 800;">Banca do Pitching de Startups @Model.Edition.UrlCode</span>.
        </span><br />
        <span style="font-style: italic; color: red;">
            We believe that your performance will be of great interest to the <span style="font-weight: 800;">Rio2C @Model.Edition.UrlCode</span> audience and we would like to invite you to be part of the investor committee that will form the
            <span style="font-weight: 800;">Startups @Model.Edition.UrlCode Pitching Bank</span>.
        </span><br />
    </p>
    <p>
        <span>
            Será uma honra contar com a sua participação na <span style="font-weight: 800;">Banca do Pitching de Startups @Model.Edition.UrlCode do Rio2C </span> em <span style="text-decoration: underline;">uma das etapas</span> (1ª, 2ª etapas) e estar junto com outros criadores, empreendedores, investidores, inovadores, produtores e executivos.
        </span><br />
        <span style="font-style: italic; color: red;">
            It will be an honor to have your participation in the <span style="font-weight: 800;">Rio2C Startups @Model.Edition.UrlCode Pitching Bank</span> in one of the stages (1st, 2nd stages) and to be together with other creators, entrepreneurs, investors, innovators, producers and executives.
        </span>
    </p>
    <p>
        <span>Ficamos na expectativa da sua confirmação e permanecemos à disposição para quaisquer informações adicionais.</span>
        <br />
        <span style="font-style: italic; color: red;">We look forward to your confirmation and remain at your disposal for any further information.</span>
    </p>
    <p>
        <span>
            Para acessar a plataforma <span style="font-weight: 800;">MyRio2C</span> agora e cadastrar seu perfil para o <span style="font-weight: 800;">Rio2C @Model.Edition.UrlCode</span>, clique no botão abaixo e utilize esse mesmo endereço de e-mail para fazer o acesso.
        </span><br />
        <span style="font-style: italic; color: red;">
            To register your <span style="font-weight: 800;">Rio2C @Model.Edition.UrlCode</span> profile now on <span style="font-weight: 800;">MyRio2C</span>, click on the button below and register using your email address.
        </span>
    </p>
    <div style="margin-top: 25px; margin-bottom: 25px;">
        <!--Button:begin-->
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
                <td align="center">
                    <table cellpadding="0" cellspacing="0" width="250" border="0" style="border-collapse: separate !important;">
                        <tr>
                            <td style="background-color: #EA202C; color: #FFFFFF; font-family: sans-serif; font-size: 16px; font-weight: bold; padding: 10px 10px; border-radius: 10px; text-align: center;">
                                <a href="@($"{ViewBag.SiteUrl}/account/onboarding?culture={Model.UserInterfaceLanguage}&edition={Model.Edition.UrlCode}&email={Url.Encode(Model.RecipientEmail)}&uid={Model.RecipientUserUid}&token={Model.UserSecurityToken}")" style="color:#FFFFFF;text-decoration:none;">Clique Aqui / Click here</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!--Button:end-->
    </div>
    <p>
        <span>
            Em caso de dúvidas, favor entre em contato com a nossa equipe usando o assunto “<span style="font-weight: bold;">MyRio2C</span>” através do email: curadoria@rio2c.com.
        </span><br />
        <span style="font-style: italic; color: red;">
            For any queries, please get in touch with our team using the subject “<span style="font-weight: bold;">MyRio2C</span>” via the email: curadoria@rio2c.com.
        </span>
    </p>



    <p>
        <span>Atenciosamente,</span>
        <br />
        <span style="font-style: italic; color: red;">Graciously,</span>
        <br />
        <br />
    </p>
    <table width="100%">
        <tbody>
            <tr>
                <td>
                    <span style="font-weight: 800;">Susana Campos</span><br />
                    <span>Head do Mercado</span>
                </td>
                <td colspan="2">
                    <span style="font-weight: 800;">Luiza Rodrigues</span><br />
                    <span>Coord. Mercado de Inovação</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: 800;">Bernardo Zamijovsky</span><br />
                    <span>Curador de Inovação</span>
                </td>
                <td>
                    <span style="font-weight: 800;">Carla Esmeralda</span><br />
                    <span>Curadora Geral</span>
                </td>
                <td>
                    <span style="font-weight: 800;">Rafael Lazarini</span><br />
                    <span>Fundador do Rio2C</span>
                </td>
            </tr>
        </tbody>
    </table>
</td>

@section Styles {
}
