@model PlataformaRio2C.Application.CQRS.Commands.SendPlayerWelcomeEmailAsync
@{
    var defaultFontColor = "#F2388F";
}
<td valign="top">
    <!-- content -->
    <h1>
        <span>@Model.RecipientFirstName,</span><br />
        <span style="font-style: italic; color: @defaultFontColor;">Dear @Model.RecipientFirstName,</span>
    </h1>
    <p>
        <span>Bem-vindo(a) ao Rio2C @Model.Edition.UrlCode</span><br />
        <span style="font-style: italic; color: @defaultFontColor;">Welcome to Rio2C @Model.Edition.UrlCode</span>
    </p>
    <p>
        <span>
            Acesse a plataforma MyRio2C para realizar sua inscrição e de sua empresa nas Rodadas de Negócios até o dia <b>07 de janeiro de 2022</b>.
            Clique no botão abaixo e utilize o mesmo endereço deste e-mail para iniciar seu login.
        </span><br />
        <span style="font-style: italic; color: @defaultFontColor;">
            It is required that you access MyRio2C’s platform to register yourself and your company for the One-to-One Meetings by <b> January 7th, 2022</b>.
            Please click on the button below and use this same email address to login.
        </span>
    </p>
    <div style="margin-top: 25px; margin-bottom: 25px;">
        <!--Button:begin-->
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
                <td align="center">
                    <table cellpadding="0" cellspacing="0" width="250" border="0" style="border-collapse: separate !important;">
                        <tr>
                            <td style="background-color: @defaultFontColor; color: #FFFFFF; font-family: sans-serif; font-size: 16px; font-weight: bold; padding: 10px 10px; border-radius: 10px; text-align: center;">
                                <a href="@($"{ViewBag.SiteUrl}/account/onboarding?culture={Model.UserInterfaceLanguage}&edition={Model.Edition.UrlCode}&email={Url.Encode(Model.RecipientEmail)}&uid={Model.RecipientUserUid}&token={Model.UserSecurityToken}")" style="color:#FFFFFF;text-decoration:none;">Clique Aqui / Click here</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!--Button:end-->
    </div>
    <p>
        <span>
            Qualquer dúvida entre em contato através do email: meetings@rio2c.com.
        </span><br />
        <span style="font-style: italic; color: @defaultFontColor;">
            If you have any questions do not hesitate to get in touch at: meetings@rio2c.com.
        </span>
    </p>
    <p>
        <span>Venha fazer parte do Rio2C!</span><br />
        <span style="font-style: italic; color: @defaultFontColor;">Come and join us at Rio2C!</span>
    </p>
    <p>
        <span>Sua oportunidade de viver dias incríveis de aprendizado, negócios, networking e experiências inovadoras.</span><br />
        <span style="font-style: italic; color: @defaultFontColor;">This is your chance to experience days filled with great content, doing business, networking and sharing innovative experiences.</span>
    </p>
</td>
@section Styles {
}