@model LoginViewModel
@{
    Layout = "~/Views/Themes/Metronic/_InternalError.cshtml";
    ViewBag.Title = Labels.Error;
}
<!--begin::Error-->
<div class="kt-grid__item kt-grid__item--fluid kt-grid  kt-error-v1" style="background-image: url(/assets/img/bg-error-page.png?20230731);">
    <div class="kt-error-v1__container">
        <h1 class="kt-error-v1__number">@(ViewBag.ErrorCode ?? "500")</h1>
        <p class="kt-error-v1__desc">
            @ViewBag.Message
        </p>
        <p class="kt-error-v1__desc">
            <small>
                <a href="javascript: window.history.back();">@Labels.ClickHere</a> @Messages.ToLastPage
                @Labels.Or.ToLowerInvariant()
                <a href="@Url.Action("Login", "Account", new {Area = ""})">@Labels.ClickHere.ToLowerInvariant()</a> @Messages.ToLoginPage.
            </small>
        </p>
    </div>
</div>
<!--end::Error-->
@section Styles {
    @Styles.Render("~/bundles/css/errorCustomStyles.css")
}
@section Scripts {
}