@model ConferenceSearchViewModel
@{
    ViewBag.Title = Labels.Conferences;
}
<!--begin:: Quick Stats-->
<div class="row">
    <div class="col-sm-6">
        <!--begin:: Total Count Widget-->
        <div id="ConferencesTotalCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
        <!--end:: Total Count Widget-->
    </div>
    <div class="col-sm-6">
        <!--begin:: Edition Count-->
        <div id="ConferencesEditionCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
        <!--end:: Edition Count-->
    </div>
</div>
<!--end:: Quick Stats-->
@Html.Partial("Widgets/DataTablewidget", Model)
@section Styles {
    @Styles.Render("~/bundles/css/dataTables.css")
    @*@Styles.Render("~/bundles/css/cropper.css")*@
    @Styles.Render("~/bundles/css/select2.css")
    @Styles.Render("~/bundles/css/bootstrap-datepicker.css")
    @Styles.Render("~/bundles/css/bootstrap-timepicker.css")
}
@section Scripts {
    @Scripts.Render("~/bundles/js/dataTables.js")
    @Scripts.Render("~/bundles/js/chart.js")
    @Scripts.Render("~/bundles/js/cropper.js")
    @Scripts.Render("~/bundles/js/select2.js")
    @*@Scripts.Render("~/bundles/js/ckEditor.js")*@
    @Scripts.Render("~/bundles/js/bootbox.js")
    @Scripts.Render("~/bundles/js/bootstrap-datepicker.js")
    @Scripts.Render("~/bundles/js/bootstrap-timepicker.js")
    @*@Scripts.Render("~/bundles/js/dynamic.list.js")*@
    @Scripts.Render("~/bundles/js/conferences.list.js")
    @Scripts.Render("~/bundles/js/conferences.editioncount.js")
    @*@Scripts.Render("~/bundles/js/attendeeorganizations.form.js")*@
    @Scripts.Render("~/bundles/js/conferences.create.js")
    @*@Scripts.Render("~/bundles/js/speakers.update.js")*@
    @*@Scripts.Render("~/bundles/js/speakers.delete.js")*@
    @*@Scripts.Render("~/bundles/js/addresses.form.js")*@
    <script>
        // Page translations ----------------------------------------------------------------------

        // Pagination -----------------------------------------------------------------------------
        var initialPage = @(Model.Page?.ToString() ?? "null");
        var initialPageSize = @(Model.PageSize?.ToString() ?? "null");

        jQuery(document).ready(function () {
            ConferencesTotalCountWidget.init();
            ConferencesEditionCountWidget.init();
            ConferencesDataTableWidget.init();
        });
    </script>
}