@using PlataformaRio2C.Domain.Dtos
@using PlataformaRio2C.Domain.Entities;
@using System.Globalization
@model AttendeeInnovationOrganizationDto
@{
    var trackOptionGroupDtos = ViewBag.InnovationOrganizationTrackOptionGroupDtos as List<InnovationOrganizationTrackOptionGroupDto>;
    var activeInnovationOrganizationTrackOptionsIds = trackOptionGroupDtos.SelectMany(i => i.InnovationOrganizationTrackOptions.Select(ioto => ioto.Id));
}
<div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
            @Labels.VerticalsAndCreativeEconomyThemes
        </h3>
    </div>
</div>
<div class="kt-portlet__body">
    @if (trackOptionGroupDtos?.Any() == true)
    {
        <div class="kt-widget4 rio2c-scroll" style="max-height: 220px;">
            <!-- Shows older edition track options -->
            @foreach (var innovationOrganizationTrackOptionDto in Model.AttendeeInnovationOrganizationTrackDtos.Where(dto => !activeInnovationOrganizationTrackOptionsIds.Contains(dto.InnovationOrganizationTrackOption.Id)))
            {
                <div class="kt-widget4__item pt-2 pb-2">
                    <div class="kt-widget4__pic kt-font-success">
                        <i class="la la-check"></i>
                    </div>
                    <div class="kt-widget4__info">
                        <span class="kt-widget4__title">@innovationOrganizationTrackOptionDto.InnovationOrganizationTrackOption.GetNameTranslation(CultureInfo.CurrentCulture.ToString())</span>
                    </div>
                </div>
            }
            <!-- Shows only current edition active track options -->
            @foreach (var trackOptionGroupDto in trackOptionGroupDtos.OrderBy(dto => dto.InnovationOrganizationTrackOptionGroup?.DisplayOrder).ToList())
            {
                if (!string.IsNullOrEmpty(trackOptionGroupDto?.InnovationOrganizationTrackOptionGroup?.Name))
                {
                    <!-- Has group -->
                    <div class="kt-widget4__item pt-2 pb-2" style="align-items: flex-start;">
                        @{var attendeeInnovationOrganizationTrackDto = Model.GetAttendeeInnovationOrganizationTrackByTrackOptionGroupUid(trackOptionGroupDto.InnovationOrganizationTrackOptionGroup.Uid);}
                        @if (attendeeInnovationOrganizationTrackDto != null)
                        {
                            <div class="kt-widget4__pic kt-font-success">
                                <i class="la la-check"></i>
                            </div>
                        }
                        else
                        {
                            <div class="kt-widget4__pic kt-font-danger">
                                <i class="la la-close"></i>
                            </div>
                        }
                        <div class="kt-widget4__info">
                            <span class="kt-widget4__title">@(trackOptionGroupDto?.InnovationOrganizationTrackOptionGroup?.Name)</span>
                            <div class="row ml-0">
                                @foreach (var innovationOrganizationTrackOption in trackOptionGroupDto.InnovationOrganizationTrackOptions.OrderBy(ioto => ioto.DisplayOrder))
                                {
                                    <div class="align-content-between mr-3">
                                        @{var attendeeInnovationOrganizationTrackOptionDto = Model.GetAttendeeInnovationOrganizationTrackByTrackOptionUid(innovationOrganizationTrackOption.Uid);}
                                        @if (attendeeInnovationOrganizationTrackOptionDto != null)
                                        {
                                            <i class="kt-font-success la la-check"></i>
                                        }
                                        else
                                        {
                                            <i class="kt-font-danger la la-close"></i>
                                        }
                                        @(innovationOrganizationTrackOption.GetNameTranslation(CultureInfo.CurrentCulture.ToString()))
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- Has group -->
                }
                else
                {
                    <!--Has no group-->
                    <div class="kt-widget4__item pt-2 pb-2" style="align-items: flex-start;">
                        @foreach (var innovationOrganizationTrackOption in trackOptionGroupDto.InnovationOrganizationTrackOptions.OrderBy(ioto => ioto.DisplayOrder))
                        {
                            var attendeeInnovationOrganizationTrackDto = Model.GetAttendeeInnovationOrganizationTrackByTrackOptionUid(innovationOrganizationTrackOption.Uid);
                            if (attendeeInnovationOrganizationTrackDto != null)
                            {
                                <div class="kt-widget4__pic kt-font-success">
                                    <i class="la la-check"></i>
                                </div>
                            }
                            else
                            {
                                <div class="kt-widget4__pic kt-font-danger">
                                    <i class="la la-close"></i>
                                </div>
                            }
                            <div class="kt-widget4__info">
                                <span class="kt-widget4__title">@innovationOrganizationTrackOption.GetNameTranslation(CultureInfo.CurrentCulture.ToString())</span>
                            </div>
                        }
                    </div>
                    <!--Has no group-->
                }
            }
        </div>
    }
    else
    {
        <span class="text-center">@string.Format(Messages.EntityNotAction, Labels.Verticals, Labels.FoundF)</span>
    }
</div>
