@model PlataformaRio2C.Application.CQRS.Commands.UpdateMusicBusinessRoundProjectOptions
<div class="modal fade" id="UpdateOptionsModal" role="dialog" aria-labelledby="UpdateOptionsModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @Labels.Update @Labels.Options
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("UpdateOptions", "BusinessRoundProjects", new { Area = "Music" }, FormMethod.Post, new { enctype = "multipart/form-data", id = "UpdateOptionsForm" }))
                {
                    @Html.HiddenFor(m => m.MusicProjectUid)
                    <div id="form-container">
                        @Html.Partial("Modals/UpdateOptionsForm", Model)
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">@Labels.Cancel</button>
                <button type="button" class="btn btn-primary" onclick="MyRio2cCommon.submitForm('#UpdateOptionsForm');">@Labels.Save</button>
            </div>
        </div>
    </div>
</div>