<div class="kt-footer  kt-footer--extended  kt-grid__item" id="kt_footer">
    <!--begin::Footer Top-->
    <div class="kt-footer__top">
        <div class="kt-container ">
            <section class="section footer">
                <div class="row">
                    <div class="col-12 col-sm-3">
                        <dl>
                            <dt>
                                <a href="https://www.rio2c.com/" target="_blank">Home</a>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <a href="https://www.rio2c.com/" target="_blank">MyRio2C</a>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <a href="https://www.rio2c.com/experiencia/" target="_blank">@Labels.Experience</a>
                            </dt>
                            <dd>
                                <a href="https://www.rio2c.com/experiencia/#a-cidade-das-artes" target="_blank">A Cidade das Artes</a>
                            </dd>
                            <dd>
                                <a href="https://www.rio2c.com/experiencia/#rio-de-janeiro" target="_blank">Rio de Janeiro</a>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-12 col-sm-3">
                        <dl>
                            <dt>
                                <a href="https://www.rio2c.com/summit/" target="_blank">Summit</a>
                            </dt>
                            <dd>
                                <a href="https://www.rio2c.com/summit/#summit-marcas" target="_blank">@Labels.BrandContentSummit</a>
                            </dd>
                            <dd>
                                <a href="https://www.rio2c.com/summit/#summit-educa" target="_blank">Summit Educa</a>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <a href="https://www.rio2c.com/conferencia/" target="_blank">@Labels.Conference</a>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <a href="https://www.rio2c.com/mercado/" target="_blank">@Labels.Market</a>
                            </dt>
                            <dd>
                                <a href="https://www.rio2c.com/rodadas-de-negocios/" target="_blank">@Labels.OneToOneMeetings</a>
                            </dd>
                            <dd>
                                <a href="https://www.rio2c.com/pitching-de-audiovisual/" target="_blank">@Labels.AudiovisualPitchingSessions</a>
                            </dd>
                            <dd>
                                <a href="https://www.rio2c.com/players/" target="_blank">@Labels.Players</a>
                            </dd>
                            <dd>
                                <a href="https://www.rio2c.com/business-hall/" target="_blank">Business Hall</a>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-12 col-sm-3">
                        <dl>
                            <dt>
                                <a href="https://www.rio2c.com/expo/" target="_blank">Expo</a>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <a href="https://www.rio2c.com/festivalia/" target="_blank">Festivalia</a>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <a href="https://www.rio2c.com/imprensa/" target="_blank">@Labels.PressCenter</a>
                            </dt>
                            <dd>
                                <a href="https://www.rio2c.com/imprensa/#assessoria" target="_blank">@Labels.PressOffice</a>
                            </dd>
                            <dd>
                                <a href="https://www.rio2c.com/imprensa/#assessoria" target="_blank">Releases</a>
                            </dd>
                            <dd>
                                <a href="https://www.rio2c.com/imprensa/#clipping" target="_blank">@Labels.Clipping</a>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <a href="https://www.rio2c.com/perguntas-frequentes/" target="_blank">FAQ</a>
                            </dt>
                        </dl>
                    </div>
                    <div class="col-12 col-sm-3">
                        <dl>
                            <dt>
                                <a href="https://www.rio2c.com/parcerias-e-patrocinios/" target="_blank">@Labels.PartnersAndSponsors</a>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <a href="https://www.rio2c.com/contato/" target="_blank">@Labels.Contact</a>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <a href="https://www.rio2c.com/" target="_blank">@Labels.CodeOfEthics</a>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <a href="mailto:denuncias@rio2c.com" target="">@Labels.Complaints</a>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <a href="https://www.rio2c.com/rio2c-connections/" target="_blank">@Labels.Rio2cConnections</a>
                            </dt>
                            <dd>
                                <a href="https://www.rio2c.com/rio2c-connections/#brainspace" target="_blank">BrainSpace</a>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <a href="https://www.eventbrite.com.br/e/rio2c-2020-registration-63245927271?utm_medium=botao-compra&amp;utm_source=siterio2c&amp;utm_campaign=rio2c2020&amp;utm_content=botao-venda" target="_blank" class="btn btn-lg btn-primary" style="width: 100%; padding: 10px 5px;">
                                    @Labels.BuyTicket
                                </a>
                            </dt>
                        </dl>
                    </div>
                </div>
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-12 text-center">
                            <img src="https://www.rio2c.com/wp-content/themes/rio2c/assets/imgs/keepconnected.png">
                            <div class="social-networks new text-center mt-4">
                                <a href="https://www.instagram.com/rio2c/" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                                <a href="https://www.linkedin.com/company/rio2c" target="_blank"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
                                <a href="https://youtube.com/rio2c" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                                <a href="https://www.facebook.com/Rio2C/" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                <a href="https://open.spotify.com/user/p89fmch7olgdxpwh5atsdhg0v?si=RtNx0GSxQP2CxMRdB0NLaA" target="_blank"><i class="fab fa-spotify" aria-hidden="true"></i></a>
                                <a href="https://twitter.com/rio2c_" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                            </div>                      
                        </div>
                    </div>
                </div>
                <div class="container mt-2">
                    <div class="row">
                        <div class="col-12 text-center">
                            <!--<a href="" class="text-white"><small>Termos de uso</small></a>
                            •-->
                            <!--<a href="" class="text-white"><small>Política de privacidade</small></a>-->
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 text-center text-white">
                            © 2019 Rio2C
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-10 mx-auto text-center">
                        <p>
                            @Texts.FooterText
                        </p>                        
                    </div>
                </div>
                @*<div class="row mt-5">
                    <div class="col-10 mx-auto text-center">
                        <p>
                            @Texts.FooterText
                        </p>
                    </div>
                </div>*@
            </section>
        </div>
    </div>
    <!--end::Footer Top-->
    <!--begin::Footer Bottom-->
    <div class="kt-footer__bottom">
        <div class="kt-container ">
            <div class="kt-footer__wrapper">
                <div class="kt-footer__logo">
                    <a class="kt-header__brand-logo" href="@Url.Action("Index", "Home", new { Area = "" })">
                        <img alt="Logo" src="~/Assets/img/logo_rio2c_white.png" class="kt-header__brand-logo-sticky">
                    </a>
                    <div class="kt-footer__copyright">
                        &copy 2019 Rio2C | @Labels.DevelopedBy <a href="http://sof.to/?utm_source=client-site&utm_medium=footer-link&utm_campaign=MyRio2c" target="_blank" class="r2c-footer-link">Softo</a>
                    </div>
                </div>
                @*<div class="kt-footer__menu">
                        <a href="http://keenthemes.com/metronic" target="_blank">Purchase Lisence</a>
                        <a href="http://keenthemes.com/metronic" target="_blank">Team</a>
                        <a href="http://keenthemes.com/metronic" target="_blank">Contact</a>
                    </div>*@
            </div>
        </div>
    </div>
    <!--end::Footer Bottom-->
</div>