@using PlataformaRio2C.Domain.Dtos
@using Constants = PlataformaRio2C.Domain.Constants;
@{
    var userAccessControlDto = ViewBag.UserAccessControlDto as UserAccessControlDto;
    var editionDto = ViewBag.EditionDto as EditionDto;
    var menuOpenCssClass = "kt-menu__item--open";
}
<ul class="kt-menu__nav">
    <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, "Index", "Home", null)" aria-haspopup="true">
        <a href="@Url.Action("Index", "Home", new { Area = "" })" class="kt-menu__link">
            <span class="kt-menu__link-text">@Labels.Dashboard</span>
        </a>
    </li>
    @if (userAccessControlDto?.HasAnyCollaboratorType(new[] { Constants.CollaboratorType.ExecutiveAudiovisual, Constants.CollaboratorType.Industry }) == true)
    {
        var projectsUrl = Url.Action("Index", "Projects", new { Area = "" });
        var isOpenCondition = this.IsOpen(menuOpenCssClass, "SubmittedList", "Projects", null);

        if (editionDto?.IsProjectSubmitStarted() == true && userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.Industry) == true)
        {
            projectsUrl = Url.Action("SubmittedList", "Projects", new { Area = "" });
        }
        else if (userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.ExecutiveAudiovisual) == true)
        {
            projectsUrl = Url.Action("EvaluationList", "Projects", new { Area = "" });
            isOpenCondition = this.IsOpen(menuOpenCssClass, "EvaluationList", "Projects", null);

            if (editionDto?.IsProjectEvaluationStarted() != true)
            {
                projectsUrl = Url.Action("Index", "Projects", new { Area = "" });
                isOpenCondition = this.IsOpen(menuOpenCssClass, "Index", "Projects", null); ;
            }
        }
        <li class="kt-menu__item @isOpenCondition" aria-haspopup="true">
            <a class="kt-menu__link" href="@projectsUrl">
                <span class="kt-menu__link-text">@Labels.AudioVisual</span>
            </a>
        </li>
    }
    @if (userAccessControlDto?.HasAnyCollaboratorType(new[] { Constants.CollaboratorType.CommissionMusic, Constants.CollaboratorType.Music }) == true)
    {
        var projectsUrl = Url.Action("Index", "Projects", new { Area = "" });
        if (userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.CommissionMusic) == true)
        {
            projectsUrl = Url.Action("EvaluationList", "Projects", new { Area = "Music" });
            if (editionDto?.IsMusicProjectEvaluationStarted() != true)
            {
                projectsUrl = Url.Action("Index", "Projects", new { Area = "Music" });
            }
        }
        <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, null, "Projects", "Music")" aria-haspopup="true">
            <a class="kt-menu__link" href="@projectsUrl">
                <span class="kt-menu__link-text">@Labels.Music</span>
            </a>
        </li>
    }
    @if (userAccessControlDto?.HasAnyCollaboratorType(new[] { Constants.CollaboratorType.CommissionInnovation, Constants.CollaboratorType.Innovation }) == true)
    {
        var projectsUrl = Url.Action("Index", "Projects", new { Area = "" });
        if (userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.CommissionInnovation) == true)
        {
            projectsUrl = Url.Action("EvaluationList", "Projects", new { Area = "Innovation" });
            if (editionDto?.IsInnovationProjectEvaluationStarted() != true)
            {
                projectsUrl = Url.Action("Index", "Projects", new { Area = "Innovation" });
            }
        }
        <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, null, "Projects", "Innovation")" aria-haspopup="true">
            <a class="kt-menu__link" href="@projectsUrl">
                <span class="kt-menu__link-text">@Labels.Innovation</span>
            </a>
        </li>
    }
    @*<li class="kt-menu__item" aria-haspopup="true">
        <a class="kt-menu__link" href="#" onclick="return false;" data-toggle="kt-tooltip" title="" data-placement="bottom" data-original-title="@Labels.ComingSoon...">
            <span class="kt-menu__link-text">@Labels.Talents</span>
        </a>
    </li>*@
    @*<li class="kt-menu__separator"></li>
    <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, "Index", "Tickets", null)" aria-haspopup="true">
        <a class="kt-menu__link" href="#" onclick="return false;" data-toggle="kt-tooltip" title="" data-placement="bottom" data-original-title="@Labels.ComingSoon...">
            <span class="kt-menu__link-text">@Labels.Badges</span>
        </a>
    </li>*@
</ul>