@using PlataformaRio2C.Domain.Dtos
@using Constants = PlataformaRio2C.Domain.Constants;
@{
    var userAccessControlDto = ViewBag.UserAccessControlDto as UserAccessControlDto;
    var editionDto = ViewBag.EditionDto as EditionDto;
    var menuOpenCssClass = "kt-menu__item--open";
    var menuItemOpenCssClass = "kt-menu__item--active";
    var audiovisualCollaboratorTypesCount = userAccessControlDto?.CountCollaboratorTypes(Constants.CollaboratorType.Audiovisuals);
    var musicCollaboratorTypesCount = userAccessControlDto?.CountCollaboratorTypes(Constants.CollaboratorType.Musics);
    var innovationCollaboratorTypesCount = userAccessControlDto?.CountCollaboratorTypes(Constants.CollaboratorType.Innovations);
}
<ul class="kt-menu__nav">
    <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, "Index", "Home", null)" aria-haspopup="true">
        <a href="@Url.Action("Index", "Home", new { Area = "" })" class="kt-menu__link">
            <span class="kt-menu__link-text">@Labels.Dashboard</span>
        </a>
    </li>
    @if (audiovisualCollaboratorTypesCount > 0)
    {
        var projectsUrl = Url.Action("Index", "Projects", new { Area = "" });
        if (audiovisualCollaboratorTypesCount == 1)
        {
            if (userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.CommissionAudiovisual) == true)
            {
                projectsUrl = Url.Action("CommissionEvaluationList", "Projects", new { Area = "Audiovisual" });

                if (editionDto?.IsAudiovisualCommissionProjectEvaluationStarted() != true)
                {
                    projectsUrl = Url.Action("Index", "Projects", new { Area = "Audiovisual" });
                }
            }
            else if (userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.Industry) == true && editionDto?.IsProjectSubmitStarted() == true)
            {
                projectsUrl = Url.Action("SubmittedList", "Projects", new { Area = "" });
            }
            else if (userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.AudiovisualPlayerExecutive) == true)
            {
                projectsUrl = Url.Action("EvaluationList", "Projects", new { Area = "" });

                if (editionDto?.IsProjectEvaluationStarted() != true)
                {
                    projectsUrl = Url.Action("Index", "Projects", new { Area = "" });
                }
            }

            <li class="kt-menu__item 
                @this.IsOpen(menuOpenCssClass, null, "Projects", "Audiovisual")
                @this.IsOpen(menuOpenCssClass, "SubmittedList,EvaluationList", "Projects", "")
                " aria-haspopup="true">
                <a class="kt-menu__link" href="@projectsUrl">
                    <span class="kt-menu__link-text">@Labels.AudioVisual</span>
                </a>
            </li>
        }
        else if (audiovisualCollaboratorTypesCount > 1)
        {
            <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel 
                @this.IsOpen(menuOpenCssClass, null, "Projects", "Audiovisual") 
                @this.IsOpen(menuOpenCssClass, "SubmittedList,EvaluationList", "Projects", "")
                " data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">@Labels.AudioVisual</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                    <ul class="kt-menu__subnav">
                        @if (userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.CommissionAudiovisual) == true && editionDto?.IsAudiovisualCommissionProjectEvaluationStarted() == true)
                        {
                            projectsUrl = Url.Action("CommissionEvaluationList", "Projects", new { Area = "Audiovisual" });

                            <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "CommissionEvaluationList", "Projects", "Audiovisual")" aria-haspopup="true">
                                <a href="@projectsUrl" class="kt-menu__link">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">@Labels.Commission</span>
                                </a>
                            </li>
                        }
                        @if (userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.Industry) == true && editionDto?.IsProjectSubmitStarted() == true)
                        {
                            projectsUrl = Url.Action("SubmittedList", "Projects", new { Area = "" });

                            <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "SubmittedList", "Projects", "")" aria-haspopup="true">
                                <a href="@projectsUrl" class="kt-menu__link">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">@Labels.ProjectsSubmission</span>
                                </a>
                            </li>
                        }
                        @if (userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.AudiovisualPlayerExecutive) == true && editionDto?.IsProjectEvaluationStarted() == true)
                        {
                            projectsUrl = Url.Action("EvaluationList", "Projects", new { Area = "" });

                            <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "EvaluationList", "Projects", "")" aria-haspopup="true">
                                <a href="@projectsUrl" class="kt-menu__link">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">@Labels.ProjectsEvaluation</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </li>
        }
    }
    @if (musicCollaboratorTypesCount > 0)
    {
        var projectsUrl = Url.Action("Index", "Projects", new { Area = "" });
        if (userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.CommissionMusic) == true)
        {
            projectsUrl = Url.Action("EvaluationList", "Projects", new { Area = "Music" });
            if (editionDto?.IsMusicProjectEvaluationStarted() != true)
            {
                projectsUrl = Url.Action("Index", "Projects", new { Area = "Music" });
            }
        }
        <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, null, "Projects", "Music")" aria-haspopup="true">
            <a class="kt-menu__link" href="@projectsUrl">
                <span class="kt-menu__link-text">@Labels.Music</span>
            </a>
        </li>
    }
    @if (innovationCollaboratorTypesCount > 0)
    {
        var projectsUrl = Url.Action("Index", "Projects", new { Area = "" });
        if (userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.CommissionInnovation) == true)
        {
            projectsUrl = Url.Action("EvaluationList", "Projects", new { Area = "Innovation" });
            if (editionDto?.IsInnovationProjectEvaluationStarted() != true)
            {
                projectsUrl = Url.Action("Index", "Projects", new { Area = "Innovation" });
            }
        }
        <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, null, "Projects", "Innovation")" aria-haspopup="true">
            <a class="kt-menu__link" href="@projectsUrl">
                <span class="kt-menu__link-text">@Labels.Innovation</span>
            </a>
        </li>
    }
</ul>