@using PlataformaRio2C.Domain.Dtos
@using Constants = PlataformaRio2C.Domain.Constants;
@{
    var userAccessControlDto = ViewBag.UserAccessControlDto as UserAccessControlDto;
    var editionDto = ViewBag.EditionDto as EditionDto;
    var menuOpenCssClass = "kt-menu__item--open";
    var audiovisualCollaboratorTypesCount = userAccessControlDto?.CountCollaboratorTypes(Constants.CollaboratorType.Audiovisuals);
}
<ul class="kt-menu__nav">
    <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, "Index", "Home", null)" aria-haspopup="true">
        <a href="@Url.Action("Index", "Home", new { Area = "" })" class="kt-menu__link">
            <span class="kt-menu__link-text">@Labels.Dashboard</span>
        </a>
    </li>
    @if (audiovisualCollaboratorTypesCount > 0)
    {
        var projectsUrl = Url.Action("Index", "Projects", new { Area = "" });

        //if (audiovisualCollaboratorTypesCount == 1)
        //{
        if (userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.CommissionAudiovisual) == true)
        {
            projectsUrl = Url.Action("EvaluationList", "Projects", new { Area = "Audiovisual" });

            if (editionDto?.IsAudiovisualCommissionProjectEvaluationStarted() != true)
            {
                projectsUrl = Url.Action("Index", "Projects", new { Area = "Audiovisual" });
            }
        }
        else if (editionDto?.IsProjectSubmitStarted() == true && userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.Industry) == true)
        {
            projectsUrl = Url.Action("SubmittedList", "Projects", new { Area = "" });
        }
        else if (userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.ExecutiveAudiovisual) == true)
        {
            projectsUrl = Url.Action("EvaluationList", "Projects", new { Area = "" });

            if (editionDto?.IsProjectEvaluationStarted() != true)
            {
                projectsUrl = Url.Action("Index", "Projects", new { Area = "" });
            }
        }

            <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, null, "Projects", "Audiovisual")" aria-haspopup="true">
                <a class="kt-menu__link" href="@projectsUrl">
                    <span class="kt-menu__link-text">@Labels.AudioVisual</span>
                </a>
            </li>
        //}
        //else if (audiovisualCollaboratorTypesCount > 1)
        //{
        //    //TODO: Create menu with submenu
        //}
    }
    @if (userAccessControlDto?.HasAnyCollaboratorType(Constants.CollaboratorType.Musics) == true)
    {
        var projectsUrl = Url.Action("Index", "Projects", new { Area = "" });
        if (userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.CommissionMusic) == true)
        {
            projectsUrl = Url.Action("EvaluationList", "Projects", new { Area = "Music" });
            if (editionDto?.IsMusicProjectEvaluationStarted() != true)
            {
                projectsUrl = Url.Action("Index", "Projects", new { Area = "Music" });
            }
        }
        <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, null, "Projects", "Music")" aria-haspopup="true">
            <a class="kt-menu__link" href="@projectsUrl">
                <span class="kt-menu__link-text">@Labels.Music</span>
            </a>
        </li>
    }
    @if (userAccessControlDto?.HasAnyCollaboratorType(Constants.CollaboratorType.Innovations) == true)
    {
        var projectsUrl = Url.Action("Index", "Projects", new { Area = "" });
        if (userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.CommissionInnovation) == true)
        {
            projectsUrl = Url.Action("EvaluationList", "Projects", new { Area = "Innovation" });
            if (editionDto?.IsInnovationProjectEvaluationStarted() != true)
            {
                projectsUrl = Url.Action("Index", "Projects", new { Area = "Innovation" });
            }
        }
        <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, null, "Projects", "Innovation")" aria-haspopup="true">
            <a class="kt-menu__link" href="@projectsUrl">
                <span class="kt-menu__link-text">@Labels.Innovation</span>
            </a>
        </li>
    }
</ul>