@using PlataformaRio2C.Domain.Dtos
@using PlataformaRio2C.Domain.Entities;
@using Constants = PlataformaRio2C.Domain.Constants;
@{
    var userAccessControlDto = ViewBag.UserAccessControlDto as UserAccessControlDto;
    var editionDto = ViewBag.EditionDto as EditionDto;
    var menuOpenCssClass = "kt-menu__item--open kt-menu__item--here";
    var menuItemOpenCssClass = "kt-menu__item--active";
    var audiovisualCollaboratorTypesCount = userAccessControlDto?.CountCollaboratorTypes(Constants.CollaboratorType.Audiovisuals);
    var musicCollaboratorTypesCount = userAccessControlDto?.CountCollaboratorTypes(Constants.CollaboratorType.Musics);
    var innovationCollaboratorTypesCount = userAccessControlDto?.CountCollaboratorTypes(Constants.CollaboratorType.Innovations);
    var cartoonCollaboratorTypesCount = userAccessControlDto?.CountCollaboratorTypes(Constants.CollaboratorType.Cartoons);
    var creatorCollaboratorTypesCount = userAccessControlDto?.CountCollaboratorTypes(Constants.CollaboratorType.Creators);
}
<ul class="kt-menu__nav">
    <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, "Index", "Home", null)" aria-haspopup="true">
        <a href="@Url.Action("Index", "Home", new { Area = "" })" class="kt-menu__link">
            <span class="kt-menu__link-text">@Labels.Dashboard</span>
        </a>
    </li>
    @if (audiovisualCollaboratorTypesCount > 0)
    {
        var projectsUrl = Url.Action("Index", "Projects", new { Area = "" });
        var meetingsUrl = Url.Action("Index", "Meetings", new { Area = "Audiovisual" });
        if (audiovisualCollaboratorTypesCount == 1)
        {
            if (userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.CommissionAudiovisual) == true)
            {
                projectsUrl = Url.Action("CommissionEvaluationList", "Projects", new { Area = "Audiovisual" });

                if (editionDto?.IsAudiovisualCommissionProjectEvaluationStarted() != true)
                {
                    projectsUrl = Url.Action("Index", "Projects", new { Area = "Audiovisual" });
                }

                <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, null, "Projects", "Audiovisual")" aria-haspopup="true">
                    <a class="kt-menu__link" href="@projectsUrl">
                        <span class="kt-menu__link-text">@Labels.AudioVisual</span>
                    </a>
                </li>
            }
            else if (userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.Industry) == true && editionDto?.IsAudiovisualProjectSubmitStarted() == true)
            {
                <li
                    class="kt-menu__item kt-menu__item--submenu kt-menu__item--rel
                    @this.IsOpen(menuOpenCssClass, null, "Meetings", "Audiovisual")
                    @this.IsOpen(menuOpenCssClass, null, "PitchingProjects,BusinessRoundProjects", "Audiovisual")"
                    data-ktmenu-submenu-toggle="click"
                    aria-haspopup="true"
                >
                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">
                        @Labels.AudioVisual</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                        <ul class="kt-menu__subnav">
                            <li
                                class="kt-menu__item kt-menu__item--submenu
                                    @this.IsOpen(menuItemOpenCssClass, null, "PitchingProjects,BusinessRoundProjects", "Audiovisual")
                                "
                                data-ktmenu-submenu-toggle="hover"
                                aria-haspopup="true"
                            >
                                <a href="#" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">
                                    @Labels.Projects</span><i class="kt-menu__hor-arrow la la-angle-right"></i><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--right">
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, null, "PitchingProjects", "Audiovisual")" aria-haspopup="true">
                                            <a href="@Url.Action("Index", "PitchingProjects", new { Area = "Audiovisual" })" class="kt-menu__link ">
                                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                                <span class="kt-menu__link-text">@Labels.Pitching</span>
                                            </a>
                                        </li>
                                        <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, null, "BusinessRoundProjects", "Audiovisual")" aria-haspopup="true">
                                            <a href="@Url.Action("Index", "BusinessRoundProjects", new { Area = "Audiovisual" })" class="kt-menu__link ">
                                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                                <span class="kt-menu__link-text">@Labels.BusinessRound</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, null, "Meetings", "Audiovisual")" aria-haspopup="true">
                                <a class="kt-menu__link" href="@Url.Action("Index", "Meetings", new { Area = "Audiovisual", CollaboratorTypeUid = CollaboratorType.Industry.Uid })">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">@Labels.ScheduledNegotiations</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            }
            else if (userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.PlayerExecutiveAudiovisual) == true)
            {
                projectsUrl = Url.Action("EvaluationList", "Projects", new { Area = "" });

                if (editionDto?.IsProjectBuyerEvaluationStarted() != true)
                {
                    projectsUrl = Url.Action("Index", "Projects", new { Area = "" });
                }

                <li class="kt-menu__item kt-menu__item--submenu kt-menu__item--rel @this.IsOpen(menuOpenCssClass, null, "Projects,Meetings", "Audiovisual") @this.IsOpen(menuOpenCssClass, "SubmittedList,EvaluationList", "Projects", "")" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">@Labels.AudioVisual</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                    <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "Index,EvaluationList", "Projects", "")" aria-haspopup="true">
                                <a class="kt-menu__link" href="@projectsUrl">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">@Labels.Projects</span>
                                </a>
                            </li>
                            <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, null, "Meetings", "Audiovisual")" aria-haspopup="true">
                                <a class="kt-menu__link" href="@Url.Action("Index", "Meetings", new { Area = "Audiovisual", CollaboratorTypeUid = CollaboratorType.PlayerExecutiveAudiovisual.Uid })">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">@Labels.BusinessRound</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            }
        }
        else if (audiovisualCollaboratorTypesCount > 1)
        {
            <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel @this.IsOpen(menuOpenCssClass, null, "Projects,Meetings", "Audiovisual") @this.IsOpen(menuOpenCssClass, "SubmittedList,EvaluationList", "Projects", "")" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">@Labels.AudioVisual</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                    <ul class="kt-menu__subnav">
                        @if (userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.CommissionAudiovisual) == true && editionDto?.IsAudiovisualCommissionProjectEvaluationStarted() == true)
                        {
                            projectsUrl = Url.Action("CommissionEvaluationList", "Projects", new { Area = "Audiovisual" });

                            <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "CommissionEvaluationList", "Projects", "Audiovisual")" aria-haspopup="true">
                                <a href="@projectsUrl" class="kt-menu__link">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">@Labels.Commission</span>
                                </a>
                            </li>
                        }
                        @if (userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.Industry) == true && editionDto?.IsAudiovisualProjectSubmitStarted() == true)
                        {
                            projectsUrl = Url.Action("SubmittedList", "Projects", new { Area = "" });
                            <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "SubmittedList", "Projects", "")" aria-haspopup="true">
                                <a href="@projectsUrl" class="kt-menu__link">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">@Labels.ProjectsSubmission</span>
                                </a>
                            </li>

                            meetingsUrl = Url.Action("Index", "Meetings", new { Area = "Audiovisual", CollaboratorTypeUid = CollaboratorType.Industry.Uid });
                        }
                        @if (userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.PlayerExecutiveAudiovisual) == true && editionDto?.IsProjectBuyerEvaluationStarted() == true)
                        {
                            projectsUrl = Url.Action("EvaluationList", "Projects", new { Area = "" });
                            <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "EvaluationList", "Projects", "")" aria-haspopup="true">
                                <a href="@projectsUrl" class="kt-menu__link">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">@Labels.ProjectsEvaluation</span>
                                </a>
                            </li>

                            meetingsUrl = Url.Action("Index", "Meetings", new { Area = "Audiovisual", CollaboratorTypeUid = CollaboratorType.PlayerExecutiveAudiovisual.Uid });
                        }

                        @if (userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.Industry) == true ||
                            userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.PlayerExecutiveAudiovisual) == true)
                        {
                            <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, null, "Meetings", "Audiovisual")" aria-haspopup="true">
                                <a class="kt-menu__link" href="@meetingsUrl">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">@Labels.BusinessRound</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </li>
        }
    }
    @if (musicCollaboratorTypesCount > 0)
    {
        var musicCommissionTypes = new string[] { Constants.CollaboratorType.CommissionMusic, Constants.CollaboratorType.CommissionMusicCurator };
        var projectsUrl = Url.Action("Index", "Projects", new { Area = "" });
        if (userAccessControlDto?.CountCollaboratorTypes(musicCommissionTypes) > 0)
        {
            projectsUrl = Url.Action("EvaluationList", "Projects", new { Area = "Music" });
            if (editionDto?.IsMusicPitchingCommissionEvaluationStarted() != true)
            {
                projectsUrl = Url.Action("Index", "Projects", new { Area = "Music" });
            }
        }
        <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, null, "Projects", "Music")" aria-haspopup="true">
            <a class="kt-menu__link" href="@projectsUrl">
                <span class="kt-menu__link-text">@Labels.Music</span>
            </a>
        </li>
    }
    @if (innovationCollaboratorTypesCount > 0)
    {
        var projectsUrl = Url.Action("Index", "Projects", new { Area = "" });
        if (userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.CommissionInnovation) == true)
        {
            projectsUrl = Url.Action("EvaluationList", "Projects", new { Area = "Innovation" });
            if (editionDto?.IsInnovationProjectEvaluationStarted() != true)
            {
                projectsUrl = Url.Action("Index", "Projects", new { Area = "Innovation" });
            }
        }
        <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, null, "Projects", "Innovation")" aria-haspopup="true">
            <a class="kt-menu__link" href="@projectsUrl">
                <span class="kt-menu__link-text">@Labels.Startups</span>
            </a>
        </li>
    }
    @if (cartoonCollaboratorTypesCount > 0)
    {
        var projectsUrl = Url.Action("Index", "Projects", new { Area = "" });
        if (userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.CommissionCartoon) == true)
        {
            projectsUrl = Url.Action("EvaluationList", "Projects", new { Area = "Cartoon" });
            if (editionDto?.IsCartoonProjectEvaluationStarted() != true)
            {
                projectsUrl = Url.Action("Index", "Projects", new { Area = "Cartoon" });
            }
        }
        //Disabled on https://softohq.atlassian.net/browse/RIO2CMY-801
        @*<li class="kt-menu__item @this.IsOpen(menuOpenCssClass, null, "Projects", "Cartoon")" aria-haspopup="true">
                <a class="kt-menu__link" href="@projectsUrl">
                    <span class="kt-menu__link-text">@Labels.Cartoonito</span>
                </a>
            </li>*@
    }
    @if (creatorCollaboratorTypesCount > 0)
    {
        var projectsUrl = Url.Action("Index", "Projects", new { Area = "" });
        if (userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.CommissionCreator) == true)
        {
            projectsUrl = Url.Action("EvaluationList", "Projects", new { Area = "Creator" });
            if (editionDto?.IsCreatorProjectEvaluationStarted() != true)
            {
                projectsUrl = Url.Action("Index", "Projects", new { Area = "Creator" });
            }
            <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, null, "Projects", "Creator")" aria-haspopup="true">
                <a class="kt-menu__link" href="@projectsUrl">
                    <span class="kt-menu__link-text">@Labels.Creator</span>
                </a>
            </li>
        }
    }
</ul>
