@{
    var userRoles = ViewBag.UserRoles as IList<string>;
    var isPLayer = userRoles.HasElement("Player");
    var isProducer = userRoles.HasElement("Producer");
    var menuOpenCssClass = "kt-menu__item--open";
}

<ul class="kt-menu__nav r2c-header-menu">
    <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, "Index", "Home", null)" aria-haspopup="true">
        <a href="@(ViewBag.Environment == "dev" ? "#" : Url.Action("Index", "Home", new { Area = "" }))" class="kt-menu__link">
            <span class="kt-menu__link-text">@Labels.Dashboard</span>
        </a>
    </li>
    <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, "Index", "Project", null)" aria-haspopup="true">
        <a href="@(ViewBag.Environment == "dev" ? "#" : Url.Action("Index", "Project", new { Area = "" }))" class="kt-menu__link">
            <span class="kt-menu__link-text">@Labels.Projects</span>
        </a>
    </li>
    <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, "Index", "Project", null)" aria-haspopup="true">
        <a href="@(ViewBag.Environment == "dev" ? "#" : Url.Action("Index", "Project", new { Area = "" }))" class="kt-menu__link">
            <span class="kt-menu__link-text">Pitches</span>
        </a>
    </li>
    <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, "Index", "Conference", null)" aria-haspopup="true">
        <a href="@(ViewBag.Environment == "dev" ? "#" : Url.Action("Index", "Conference", new { Area = "" }))" class="kt-menu__link">
            <span class="kt-menu__link-text">@Labels.Calendar</span>
        </a>
    </li>
    <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, "Index", "Schedule", null)" aria-haspopup="true">
        <a href="@(ViewBag.Environment == "dev" ? "#" : Url.Action("Index", "Schedule", new { Area = "" }))" class="kt-menu__link">
            <span class="kt-menu__link-text">@Labels.Schedule</span>
        </a>
    </li>
    <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, "Index", "Rio2CNetwork", null)" aria-haspopup="true">
        <a href="@(ViewBag.Environment == "dev" ? "#" : Url.Action("Index", "Rio2CNetwork", new { Area = "" }))" class="kt-menu__link">
            <span class="kt-menu__link-text">@Labels.NetworkRio2C</span>
        </a>
    </li>
    <li class="kt-menu__item" aria-haspopup="true">
        <a href="@(ViewBag.Environment == "dev" ? "#" : "https://talentos.rio2c.com")" class="kt-menu__link">
            <span class="kt-menu__link-text">@Labels.Talents</span>
        </a>
    </li>
    <li class="kt-nav__separator"></li>
    <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, "Index", "Tickets", null)" aria-haspopup="true">
        <a href="@(ViewBag.Environment == "dev" ? "#" : Url.Action("Index", "Tickets", new { Area = "" }))" class="kt-menu__link">
            <span class="kt-menu__link-text">E-Ticket</span>
        </a>
    </li>
    <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, "Index", "Downloads", null)" aria-haspopup="true">
        <a href="@(ViewBag.Environment == "dev" ? "#" : Url.Action("Index", "Downloads", new { Area = "" }))" class="kt-menu__link">
            <span class="kt-menu__link-text">Downloads</span>
        </a>
    </li>
    @*
        @if (isPLayer || isProducer)
            {
                <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, "Index", "Home", null)" aria-haspopup="true">
                    <a href="@Url.Action("Index", "Home")" class="kt-menu__link">
                        <span class="kt-menu__link-text">@Labels.Dashboard</span>
                    </a>
                </li>
                <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, "Index", "Project", null)" aria-haspopup="true">
                    <a href="@Url.Action("Index", "Project")" class="kt-menu__link">
                        <span class="kt-menu__link-text">@Labels.Projects</span>
                    </a>
                </li>
                if (isProducer && ViewBag.Area == "Producer")
                {
                    <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, "List", "Player", "Producer")" aria-haspopup="true">
                        <a href="@Url.Action("List", "Player", new { Area = "" })" class="kt-menu__link">
                            <span class="kt-menu__link-text">@Labels.Players</span>
                        </a>
                    </li>
                }
                <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, "Index", "Schedule", null)" aria-haspopup="true">
                    <a href="@Url.Action("Index", "Schedule", new { Area = "" })" class="kt-menu__link">
                        <span class="kt-menu__link-text">@Labels.BusinessRound</span>
                    </a>
                </li>
                <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, "Index", "Conference", null)" aria-haspopup="true">
                    <a href="@Url.Action("Index", "Conference", new { Area = "" })" class="kt-menu__link">
                        <span class="kt-menu__link-text">@Labels.Conferences</span>
                    </a>
                </li>
            }

    *@

</ul>