@{
    Layout = "~/Views/Themes/Metronic/_Internal.cshtml";
}
@section Head {
    @RenderSection("Head", required: false)
}
<div class="row">
    <!--begin:Left panel-->
    <div class="col-md-9 col-lg-9">
        @RenderBody()
    </div>
    <!--begin:Left panel-->
    <!--begin:Right panel-->
    <div class="col-md-3 col-lg-3">
        <!--begin:Projects-->
        @Html.Partial("Widgets/AudiovisualProjectsWidget")
        <!--end:Projects-->
        <!--begin:Downloads-->
        @Html.Partial("Widgets/DownloadsWidget")
        <!--end:Downloads-->
        <!--begin:Badges-->
        @Html.Partial("Widgets/BadgesWidget")
        <!--end:Badges-->
        <!--begin:Cards-->
        @Html.Partial("Widgets/CardsWidget")
        <!--end:Cards-->
    </div>
    <!--begin:Right panel-->
</div>
@section Styles {
    @RenderSection("Styles", required: false)
}
@section Scripts {
    @RenderSection("Scripts", required: false)
}