@using PlataformaRio2C.Domain.Dtos
@using PlataformaRio2C.Domain.Entities
@using Constants = PlataformaRio2C.Domain.Constants;
@model int
@{
    var counter = 1;
    var userAccessControlDto = ViewBag.UserAccessControlDto as UserAccessControlDto;
    var playerAttendeeOrganizations = ViewBag.PlayerAttendeeOrganizations as List<AttendeeOrganization>;
    var isIndustry = userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.Industry) == true;
    var isTicketBuyer = userAccessControlDto?.HasAnyCollaboratorType(Constants.CollaboratorType.TicketBuyers) == true;
    var isSpeaker = userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.Speaker) == true;
}
<div class="kt-wizard-v2__nav">
    <div class="kt-wizard-v2__nav-items">
        <div class="row mb-3">
            <div class="col-md-12 text-center"><h3>@Labels.Steps</h3></div>
        </div>
        <span class="kt-wizard-v2__nav-item" data-ktwizard-type="step" data-ktwizard-state="@(Model == counter ? "current" :
                                                                                              Model > counter || userAccessControlDto?.IsUserOnboardingFinished() == true ? "done" :
                                                                                              "pending")">
            <div class="kt-wizard-v2__nav-body">
                <div class="kt-wizard-v2__nav-icon text-center" style="width: 20px;">@counter</div>
                <div class="kt-wizard-v2__nav-label">
                    <div class="kt-wizard-v2__nav-label-title">@Labels.AccessData</div>
                    <div class="kt-wizard-v2__nav-label-desc">@Messages.ConfirmAndCompleteYourAccessData</div>
                </div>
            </div>
        </span>
        @if (isSpeaker)
        {
            counter++;
            <span class="kt-wizard-v2__nav-item" data-ktwizard-type="step" data-ktwizard-state="@(Model == counter ? "current" :
                                                                                                      Model > counter || userAccessControlDto?.IsSpeakerTermsAcceptanceFinished() == true ? "done" :
                                                                                                          "pending")">
                <div class="kt-wizard-v2__nav-body">
                    <div class="kt-wizard-v2__nav-icon text-center" style="width: 20px;">@counter</div>
                    <div class="kt-wizard-v2__nav-label">
                        <div class="kt-wizard-v2__nav-label-title">@Messages.ImageAuthorizationForm</div>
                        <div class="kt-wizard-v2__nav-label-desc">@Messages.ToProceedYouMustAcceptTheTerm</div>
                    </div>
                </div>
            </span>
        }
        @if (userAccessControlDto.IsAudiovisualPlayerExecutive())
        {
            counter++;
            <span class="kt-wizard-v2__nav-item" data-ktwizard-type="step" data-ktwizard-state="@(Model == counter ? "current" :
                                                                                                  Model > counter || userAccessControlDto?.IsAudiovisualPlayerTermsAcceptanceFinished() == true ? "done" :
                                                                                                  "pending")">
                <div class="kt-wizard-v2__nav-body">
                    <div class="kt-wizard-v2__nav-icon text-center" style="width: 20px;">@counter</div>
                    <div class="kt-wizard-v2__nav-label">
                        <div class="kt-wizard-v2__nav-label-title">@Messages.AudiovisualPlayerTerms</div>
                        <div class="kt-wizard-v2__nav-label-desc">@Messages.ToProceedYouMustAcceptTheTerm</div>
                    </div>
                </div>
            </span>
        }
        @if (userAccessControlDto.IsInnovationPlayerExecutive())
        {
            counter++;
            <span class="kt-wizard-v2__nav-item" data-ktwizard-type="step" data-ktwizard-state="@(Model == counter ? "current" :
                                                                                                  Model > counter || userAccessControlDto?.IsInnovationPlayerTermsAcceptanceFinished() == true ? "done" :
                                                                                                  "pending")">
                <div class="kt-wizard-v2__nav-body">
                    <div class="kt-wizard-v2__nav-icon text-center" style="width: 20px;">@counter</div>
                    <div class="kt-wizard-v2__nav-label">
                        <div class="kt-wizard-v2__nav-label-title">@Messages.InnovationPlayerTerms</div>
                        <div class="kt-wizard-v2__nav-label-desc">@Messages.ToProceedYouMustAcceptTheTerm</div>
                    </div>
                </div>
            </span>
        }
        @if (userAccessControlDto.IsMusicPlayerExecutive())
        {
            counter++;
            <span class="kt-wizard-v2__nav-item" data-ktwizard-type="step" data-ktwizard-state="@(Model == counter ? "current" :
                                                                                                  Model > counter || userAccessControlDto?.IsMusicPlayerTermsAcceptanceFinished() == true ? "done" :
                                                                                                  "pending")">
                <div class="kt-wizard-v2__nav-body">
                    <div class="kt-wizard-v2__nav-icon text-center" style="width: 20px;">@counter</div>
                    <div class="kt-wizard-v2__nav-label">
                        <div class="kt-wizard-v2__nav-label-title">@Messages.MusicPlayerTerms</div>
                        <div class="kt-wizard-v2__nav-label-desc">@Messages.ToProceedYouMustAcceptTheTerm</div>
                    </div>
                </div>
            </span>
        }
        @{
            counter++;
        }
        <span class="kt-wizard-v2__nav-item" data-ktwizard-type="step" data-ktwizard-state="@(Model == counter ? "current" :
                                                                                              Model > counter || userAccessControlDto?.IsCollaboratorOnboardingFinished() == true  ? "done" :
                                                                                              "pending")">
            <div class="kt-wizard-v2__nav-body">
                <div class="kt-wizard-v2__nav-icon text-center" style="width: 20px;">@counter</div>
                <div class="kt-wizard-v2__nav-label">
                    <div class="kt-wizard-v2__nav-label-title">@Labels.PersonalInformation</div>
                    <div class="kt-wizard-v2__nav-label-desc">@Messages.ConfirmAndCompletePersonalInfo</div>
                </div>
            </div>
        </span>
        @if (userAccessControlDto.IsAudiovisualOrMusicPlayerExecutive())
        {
            foreach (var playerAttendeeOrganization in playerAttendeeOrganizations)
            {
                counter++;
                <span class="kt-wizard-v2__nav-item" data-ktwizard-type="step" data-ktwizard-state="@(Model == counter ? "current" :
                                                                                                          Model > counter ? "done" :
                                                                                                          "pending")">
                    <div class="kt-wizard-v2__nav-body">
                        <div class="kt-wizard-v2__nav-icon text-center" style="width: 20px;">@counter</div>
                        <div class="kt-wizard-v2__nav-label">
                            <div class="kt-wizard-v2__nav-label-title">@Labels.Company</div>
                            <div class="kt-wizard-v2__nav-label-desc">
                                @Html.Raw(string.Format(Messages.CompletePlayerInfo, playerAttendeeOrganization.Organization.TradeName))
                            </div>
                        </div>
                    </div>
                </span>
                counter++;
                <span class="kt-wizard-v2__nav-item" data-ktwizard-type="step" data-ktwizard-state="@(Model == counter ? "current" :
                                                                                                          Model > counter ? "done" :
                                                                                                          "pending")">
                    <div class="kt-wizard-v2__nav-body">
                        <div class="kt-wizard-v2__nav-icon text-center" style="width: 20px;">@counter</div>
                        <div class="kt-wizard-v2__nav-label">
                            <div class="kt-wizard-v2__nav-label-title">@Labels.PlayerInterests</div>
                            <div class="kt-wizard-v2__nav-label-desc">@Html.Raw(string.Format(Messages.CompletePlayerInterestsFor, playerAttendeeOrganization.Organization.TradeName))</div>
                        </div>
                    </div>
                </span>
            }
        }
        @if (isTicketBuyer)
        {
            counter++;
            <span class="kt-wizard-v2__nav-item" data-ktwizard-type="step" data-ktwizard-state="@(Model == counter ? "current" :
                                                                                                      Model > counter || userAccessControlDto?.IsTicketBuyerOrganizationOnboardingPending() != true ? "done" :
                                                                                                      "pending")">
                <div class="kt-wizard-v2__nav-body">
                    <div class="kt-wizard-v2__nav-icon text-center" style="width: 20px;">@counter</div>
                    <div class="kt-wizard-v2__nav-label">
                        <div class="kt-wizard-v2__nav-label-title">@Labels.Company</div>
                        <div class="kt-wizard-v2__nav-label-desc">@Messages.CompleteCompanyrInfo</div>
                    </div>
                </div>
            </span>
        }
    </div>
</div>