@model PlataformaRio2C.Application.CQRS.Commands.CreateCollaborator
<div class="modal fade" id="CreateProducerExecutiveModal" role="dialog" aria-labelledby="CreateProducerExecutiveModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Labels.NewM @Labels.Executive</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "ProducersExecutives", new { Area = "Audiovisual" }, FormMethod.Post, new { enctype = "multipart/form-data", id = "CreateProducerExecutiveForm" }))
                {
                    <div id="form-container">
                        @Html.Partial("Modals/_Form", Model)
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">@Labels.Cancel</button>
                <button type="button" class="btn btn-primary" onclick="$('#CreateProducerExecutiveForm').submit();">@Labels.Save</button>
            </div>
        </div>
    </div>
</div>