@model PlataformaRio2C.Application.CQRS.Commands.RefuseMusicProjectEvaluation
<div class="modal fade" id="RefuseEvaluationModal" role="dialog" aria-labelledby="RefuseEvaluationModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @Labels.RefuseProject @Labels.Project
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Refuse", "Projects", new { Area = "Music" }, FormMethod.Post, new { id = "RefuseEvaluationForm" }))
                {
                    @Html.HiddenFor(m => m.ProjectUid)
                    <div id="form-container">
                        @Html.Partial("Modals/RefuseEvaluationForm", Model)
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">@Labels.Cancel</button>
                <button type="button" class="btn btn-danger" onclick="$('#RefuseEvaluationForm').submit();">
                    <i class="fa fa-thumbs-down"></i> @Labels.RefuseProject
                </button>
            </div>
        </div>
    </div>
</div>