@using PlataformaRio2C.Domain.Dtos
@model CollaboratorDto

<div class="kt-portlet__body">

    <div class="kt-widget kt-widget--user-profile-3">
        <div class="kt-widget__top">
            <div style="float: right;">
                <div class="kt-widget__media">
                    <img src="https://dev.assets.my.rio2c.com/img/users/9ac6e5d3-fd78-41b7-b5a0-5b849e4c5290_thumbnail.png?v=20200226172606" alt="image">
                </div>
            </div>
            <div class="kt-widget__content" style="overflow: hidden;">
                <div class="kt-widget__head">
                    <span class="kt-widget__username">
                        @(Model.FirstName) @(Model.LastNames)
                        <i class="flaticon2-correct"></i>
                    </span>
                    <div class="kt-widget__action">
                        <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md btn-circle" onclick="ManagersUpdate.showModal('@(Model.Uid)');">
                            <i class="flaticon2-edit"></i>
                        </button>
                    </div>
                </div>

                <div class="kt-widget__subhead pt-0">
                    @(Model.JobTitle)
                </div>                
            </div>
        </div>
        <div class="kt-widget__bottom">
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.FirstName</span>
                    <span class="kt-widget__value"><span>@(Model.FirstName)</span></span>
                </div>
            </div>
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.LastNames</span>
                    <span class="kt-widget__value"><span>@(Model.LastNames)</span></span>
                </div>
            </div>
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.BirthDate</span>
                    <span class="kt-widget__value"><span>@(Model.BirthDate?.ToShortDateString())</span></span>
                </div>
            </div>
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.Gender</span>
                    <span class="kt-widget__value"><span>@(Model.Gender?.Name)</span></span>
                </div>
            </div>
        </div>
        <div class="kt-widget__bottom">
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.Email</span>
                    <span class="kt-widget__value"><span>@(Model.Email)</span></span>
                </div>
            </div>
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.CellPhone</span>
                    <span class="kt-widget__value"><span>@(Model.CellPhone)</span></span>
                </div>
            </div>
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.PhoneNumber</span>
                    <span class="kt-widget__value"><span>@(Model.PhoneNumber)</span></span>
                </div>
            </div>
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.Website</span>
                    <span class="kt-widget__value"><span>@(Model.Website)</span></span>
                </div>
            </div>
        </div>
        <div class="kt-widget__bottom">
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.BadgeName</span>
                    <span class="kt-widget__value"><span>@(Model.Badge)</span></span>
                </div>
            </div>
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.JobTitle</span>
                    <span class="kt-widget__value"><span>@(Model.JobTitle)</span></span>
                </div>
            </div>

        </div>


    </div>
    <br /><br /><br /><br /><br />
</div>