@using PlataformaRio2C.Domain.Dtos
@model NegotiationDto
@{
    ViewBag.Title = $"{Labels.OneToOneMeetings} {Model.RoomDto.GetRoomNameByLanguageCode(ViewBag.UserInterfaceLanguage)?.RoomName?.Value}";
}
@Html.Hidden("AggregateId", Model.Negotiation.Uid)

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-12">
                <div id="AudiovisualMeetingsMainInformationWidget" class="kt-portlet" style="min-height: 100px;"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-12">
                <div id="AudiovisualMeetingsVirtualMeetingWidget" class="kt-portlet" style="min-height: 325px;"></div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/bundles/css/chronograph.css")
}
@section Scripts {
    @* TODO: Migrade jit.si to BundlesConfig?*@
    <script src='https://meet.jit.si/external_api.js'></script>
    @Scripts.Render("~/bundles/js/bootbox.js")
    @Scripts.Render("~/bundles/js/chronograph.js")
    @Scripts.Render("~/bundles/js/audiovisual.meetings.widget.js")

<script>
        // Page translations ----------------------------------------------------------------------
        var translations = {
            meetings: '@Html.Raw(Labels.OneToOneMeeting)',
            finished: '@Html.Raw(Labels.FinishedF)',
            inProgress: '@Html.Raw(Labels.InProgress)',
            leaveMeetingconfirmationMessage: '@Html.Raw(Messages.ConfirmToLeaveMeeting)',
            isAlmostOver: '@Html.Raw(Messages.MeetingIsAlmostOver)',
            isOver: '@Html.Raw(Messages.MeetingIsOver)'
        };

        var meeting = {
            negotiationStartDate: '@(Model.Negotiation.StartDate.ToString(System.Globalization.CultureInfo.CreateSpecificCulture("en-US")))',
            negotiationEndDate: '@(Model.Negotiation.EndDate.ToString(System.Globalization.CultureInfo.CreateSpecificCulture("en-US")))',
            roomLiberationDate: '@(Model.Negotiation.StartDate.AddMinutes(-5).ToString(System.Globalization.CultureInfo.CreateSpecificCulture("en-US")))',
            userEmail: '@(Html.Raw(ViewBag.UserAccessControlDto.User.Email as string))',
            userDisplayName: '@(Html.Raw((ViewBag.UserAccessControlDto.Collaborator?.GetDisplayName() ?? ViewBag.UserAccessControlDto.User.Name) as string))'
        }

        jQuery(document).ready(function () {
            AudiovisualMeetingsMainInformationWidget.init();
            AudiovisualMeetingsVirtualMeetingWidget.init();
        });
</script>
}