
@{
    ViewBag.Title = Labels.Players;
}

<div ng-controller="PlayerByProducerListController as vm">

    @*<div ng-if="!vm.loadedOptionsPlayers">
            <div class="content content-abas content-abas-no-margin-top">
                <div class="nav-content clearfix">
                    <p>@Labels.Loading</p>
                </div>
            </div>
        </div>*@

    <div>

        <div class="content content-header-button clearfix">
            <h1 class="page-title pull-left">@ViewBag.Title</h1>


            <div class="filter-menu pull-left" ng-if="vm.loadedOptionsPlayers">
                <div class="btn-group" ng-if="vm.genresOptions.length > 0">
                    <button data-toggle="dropdown" class="btn-lg btn-default dropdown-toggle" type="button">@Labels.Genre <span class="caret"></span></button>
                    <div role="menu" class="dropdown-menu dropdown-option-filter">
                        <ul>
                            <li ng-class="{'active' : vm.genreSelected=== null}">
                                <a href="#" ng-click="vm.filterByGenre($event, null)">@Labels.All</a>
                            </li>
                            <li ng-repeat="genre in vm.genresOptions" ng-class="{'active' : genre.name === vm.genreSelected}">
                                <a href="#" ng-click="vm.filterByGenre($event, genre.name)" title="{{genre.name}}">{{genre.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>





        @*<section ng-if="vm.loadingPlayers" class="wrapper-no-margion-top">
                <div class="content content-abas content-abas-no-margin-top">
                    <div class="nav-content clearfix">
                        <p>@Labels.Loading</p>
                    </div>
                </div>
            </section>*@

        <section ng-if="!vm.loadingPlayers && vm.groupPlayers.length <= 0" class="wrapper-no-margion-top">
            <div class="content content-abas content-abas-no-margin-top">
                <div class="nav-content clearfix">
                    <p>@Labels.NoPlayerWasFound</p>
                </div>
            </div>
        </section>

        <section class="wrapper-no-margion-top">
            <div class="content content-abas">
                <div class="nav-content clearfix">
                    <p ng-if="vm.loadingPlayers">@Labels.LoadingPlayers</p>

                    <div class="players-index" ng-if="!vm.loadingPlayers && vm.groupPlayers.length > 0">
                        <ul class="players-index-list">
                            <li ng-repeat="groupPlayer in vm.groupPlayers" class="players-index-list-li" >
                                <h5  ng-if="groupPlayer.title">{{groupPlayer.title}}</h5>

                                <div class="players-index-list-item clearfix" ng-repeat="player in groupPlayer.players">
                                    <div class="profile-nav players-index-image">
                                        <div class="players-index-image-wrapper">
                                            <a href="@Url.Action("Details", "Player")?uid={{player.uid}}">
                                                <img ng-if="!player.image" ng-model="player" class="img-thumbnail" src="~/Content/img/profile-avatar.png" alt="{{player.name}}" title="{{player.name}}" load-image="{{player.uid}}" ng-disable-load-image="{{!player.hasImage}}" url-load="/api/players/thumbImage" />
                                                <img ng-if="player.image" ng-model="player" class="img-thumbnail" ng-src="data:image/jpeg;base64, {{player.image.file}}" alt="{{player.name}}" title="{{player.name}}" />
                                            </a>
                                        </div>
                                    </div>

                                    <div class="players-index-image-description">
                                        <h3>
                                            <a href="@Url.Action("Details", "Player")?uid={{player.uid}}">
                                                {{player.name}}
                                            </a>
                                        </h3>
                                        <div class="wrap-genres">
                                            <p>
                                                @Labels.Genres:
                                                <div ng-if="player.genres.length > 0">
                                                    <span ng-repeat="genre in player.genres" class="badge">{{genre}}</span>
                                                </div>
                                                <div ng-if="player.genres == null || player.genres.length <= 0">
                                                    @Labels.PlayerDidNotDefinedGenre
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>






