@using PlataformaRio2C.Domain.Constants
@using PlataformaRio2C.Domain.Dtos
@{
    ViewBag.Title = Labels.Dashboard;
    var adminAccessControlDto = ViewBag.AdminAccessControlDto as AdminAccessControlDto;
    var isAdminFull = adminAccessControlDto?.IsAdmin() == true;
    var isAdminAudiovisual = adminAccessControlDto?.HasCollaboratorType(CollaboratorType.AdminAudiovisual) == true;
    var isAdminMusic = adminAccessControlDto?.HasCollaboratorType(CollaboratorType.AdminMusic) == true;
    var isAdminInnovation = adminAccessControlDto?.HasCollaboratorType(CollaboratorType.AdminInnovation) == true;
    var isAdminEditorial = adminAccessControlDto?.HasCollaboratorType(CollaboratorType.AdminEditorial) == true;
    var isAdminLogistic = adminAccessControlDto?.HasCollaboratorType(CollaboratorType.AdminLogistic) == true;
    var isAdminConferences = adminAccessControlDto?.HasCollaboratorType(CollaboratorType.AdminConferences) == true;

}
<div class="row">

    @if (isAdminFull || isAdminMusic)
    {
        <div class="col-md-6">
            <div id="MusicProjectsEditionCountGaugeWidget" class="kt-portlet kt-portlet--fit" style="min-height: 230px;"></div>
        </div>
    }
    @if (isAdminFull || isAdminInnovation)
    {
        <div class="col-md-6">
            <div id="InnovationProjectsEditionCountChartWidget" class="kt-portlet kt-portlet--fit" style="min-height: 230px;"></div>
        </div>
    }
    @if (isAdminFull || isAdminAudiovisual)
    {
        <div class="col-sm-6">
            <div id="AudiovisualProjectsEditionCountGaugeWidget" class="kt-portlet kt-portlet--fit" style="min-height: 230px;"></div>
        </div>
        <div class="col-sm-6">
            <div id="AudiovisualMeetingsEditionScheduledCountGaugeWidget" class="kt-portlet kt-portlet--fit" style="min-height: 230px;"></div>
        </div>
    }

</div>
@section Styles {
}
@section Scripts {
    @Scripts.Render("~/bundles/js/chart.js")
    @Scripts.Render("~/bundles/js/amcharts.js");
    @if (isAdminFull)
    {
        @Scripts.Render("~/bundles/js/events.editioncount.js")
    }
    @if (isAdminFull || isAdminAudiovisual)
    {
        @Scripts.Render("~/bundles/js/holdings.editioncount.js")
        @Scripts.Render("~/bundles/js/audiovisual.players.editioncount.js")
        @Scripts.Render("~/bundles/js/collaborators.editioncount.js")
        @Scripts.Render("~/bundles/js/audiovisual.projects.editioncount.widget.js")
        @Scripts.Render("~/bundles/js/audiovisual.projects.editioncount.gauge.widget.js")
        @Scripts.Render("~/bundles/js/audiovisual.meetings.editionscheduledcount.gauge.widget.js")
    }
    @if (isAdminFull || isAdminConferences)
    {
        @Scripts.Render("~/bundles/js/conferences.editioncount.js")
        @Scripts.Render("~/bundles/js/speakers.editioncount.js")
        @Scripts.Render("~/bundles/js/rooms.editioncount.js")
        @Scripts.Render("~/bundles/js/tracks.editioncount.js")
        @Scripts.Render("~/bundles/js/presentationformats.editioncount.js")
        @Scripts.Render("~/bundles/js/conferenceparticipantroles.editioncount.js")
    }
    @if (isAdminFull || isAdminMusic)
    {
        @Scripts.Render("~/bundles/js/music.projects.editioncount.widget.js")
        @Scripts.Render("~/bundles/js/music.projects.editioncount.gauge.widget.js")
    }

    @if (isAdminFull || isAdminInnovation)
    {
        @Scripts.Render("~/bundles/js/innovation.projects.editioncount.chart.widget.js")
    }

<script>
        var musicProjects = '@Labels.MusicProjects.RemoveAccents()';
        var innovationProjects = '@Labels.InnovationProjects.RemoveAccents()';

        jQuery(document).ready(function () {
            @if (isAdminFull)
            {
                <text>
                    //EventsEditionCountWidget.init();
                </text>
            }
            @if (isAdminFull || isAdminAudiovisual)
            {
                <text>
                    //HoldingsEditionCountWidget.init();
                    //AudiovisualPlayersEditionCountWidget.init();
                    //CollaboratorsEditionCountWidget.init();
                   // AudiovisualProjectsEditionCountWidget.init();
                    AudiovisualProjectsEditionCountGaugeWidget.init();
                    AudiovisualMeetingsEditionScheduledCountGaugeWidget.init();
                </text>
            }
            @if (isAdminFull || isAdminConferences)
            {
                <text>
                    //ConferencesEditionCountWidget.init();
                    //SpeakersEditionCountWidget.init();
                    //RoomsEditionCountWidget.init();
                    //TracksEditionCountWidget.init();
                    //PresentationFormatsEditionCountWidget.init();
                    //ConferenceParticipantRolesEditionCountWidget.init();
                </text>
            }
            @if (isAdminFull || isAdminMusic)
            {
                <text>
                    //MusicProjectsEditionCountWidget.init();
                    MusicProjectsEditionCountGaugeWidget.init();
                </text>
            }
            @if (isAdminFull || isAdminInnovation)
            {
                <text>
                    InnovationProjectsEditionCountChartWidget.init();
                </text>
            }
            });
</script>
}