@using PlataformaRio2C.Domain.Constants
@using PlataformaRio2C.Domain.Dtos
@{
    ViewBag.Title = Labels.Dashboard;
    var adminAccessControlDto = ViewBag.AdminAccessControlDto as AdminAccessControlDto;
    var isAdminFull = adminAccessControlDto?.IsAdmin() == true;
    var isAdminAudiovisual = adminAccessControlDto?.IsAdminPartial() == true && adminAccessControlDto?.HasCollaboratorType(CollaboratorType.AdminAudiovisual) == true;
    var isCuratorshipAudiovisual = adminAccessControlDto?.IsAdminPartial() == true && adminAccessControlDto?.HasCollaboratorType(CollaboratorType.CuratorshipAudiovisual) == true;
}
<div class="row">
    @if (isAdminFull || isAdminAudiovisual)
    {
        <div class="col-sm-4">
            <!--begin:: Holdings Edition Count-->
            <div id="HoldingsEditionCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
            <!--end:: Holdings Edition Count-->
        </div>
        <div class="col-sm-4">
            <!--begin:: Players Edition Count-->
            <div id="PlayersEditionCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
            <!--end:: Players Edition Count-->
        </div>
        <div class="col-sm-4">
            <!--begin:: Players Executives Edition Count-->
            <div id="PlayersExecutivesEditionCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
            <!--end:: Players Executives Edition Count-->
        </div>
    }
    @if (isAdminFull || isAdminAudiovisual || isCuratorshipAudiovisual)
    {
        <div class="col-sm-4">
            <!--begin:: Holdings Edition Count-->
            <div id="EventsEditionCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
            <!--end:: Holdings Edition Count-->
        </div>
        <div class="col-sm-4">
            <!--begin:: Holdings Edition Count-->
            <div id="ConferencesEditionCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
            <!--end:: Holdings Edition Count-->
        </div>
        <div class="col-sm-4">
            <!--begin:: Holdings Edition Count-->
            <div id="SpeakersEditionCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
            <!--end:: Holdings Edition Count-->
        </div>
        <div class="col-sm-4">
            <!--begin:: Holdings Edition Count-->
            <div id="RoomsEditionCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
            <!--end:: Holdings Edition Count-->
        </div>
    }
</div>
@section Styles {
}
@section Scripts {
    @Scripts.Render("~/bundles/js/chart.js")
    @if (isAdminFull || isAdminAudiovisual)
    {
        @Scripts.Render("~/bundles/js/holdings.editioncount.js")
        @Scripts.Render("~/bundles/js/organizations.editioncount.js")
        @Scripts.Render("~/bundles/js/collaborators.editioncount.js")
    }
    @if (isAdminFull || isAdminAudiovisual || isCuratorshipAudiovisual)
    {
        @Scripts.Render("~/bundles/js/events.editioncount.js")
        @Scripts.Render("~/bundles/js/conferences.editioncount.js")
        @Scripts.Render("~/bundles/js/speakers.editioncount.js")
        @Scripts.Render("~/bundles/js/rooms.editioncount.js")
    }
    <script>
        jQuery(document).ready(function () {
            @if (isAdminFull || isAdminAudiovisual)
            {
                <text>
                    HoldingsEditionCountWidget.init();
                    OrganizationsEditionCountWidget.init();
                    CollaboratorsEditionCountWidget.init();
                </text>
            }
            @if (isAdminFull || isAdminAudiovisual || isCuratorshipAudiovisual)
            {
                <text>
                    EventsEditionCountWidget.init();
                    ConferencesEditionCountWidget.init();
                    SpeakersEditionCountWidget.init();
                    RoomsEditionCountWidget.init();
                </text>
            }
        });
    </script>
}