@using PlataformaRio2C.Domain.Constants
@using PlataformaRio2C.Domain.Dtos
@{
    ViewBag.Title = Labels.Dashboard;
    var adminAccessControlDto = ViewBag.AdminAccessControlDto as AdminAccessControlDto;
    var isAdminFull = adminAccessControlDto?.IsAdmin() == true;
    var isAdminAudiovisual = adminAccessControlDto?.IsAdminPartial() == true && adminAccessControlDto?.HasCollaboratorType(CollaboratorType.AdminAudiovisual) == true;
    var isCuratorshipAudiovisual = adminAccessControlDto?.IsAdminPartial() == true && adminAccessControlDto?.HasCollaboratorType(CollaboratorType.CuratorshipAudiovisual) == true;
}
<div class="row">
    @if (isAdminFull || isAdminAudiovisual)
    {
        <!--begin:: Holdings Edition Count-->
        <div class="col-sm-4">
            <div id="HoldingsEditionCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
        </div>
        <!--end:: Holdings Edition Count-->
        <!--begin:: Players Edition Count-->
        <div class="col-sm-4">
            <div id="PlayersEditionCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
        </div>
        <!--end:: Players Edition Count-->
        <!--begin:: Players Executives Edition Count-->
        <div class="col-sm-4">
            <div id="PlayersExecutivesEditionCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
        </div>
        <!--end:: Players Executives Edition Count-->
    }
    @if (isAdminFull || isAdminAudiovisual || isCuratorshipAudiovisual)
    {
        <!--begin:: Events Edition Count-->
        <div class="col-sm-4">
            <div id="EventsEditionCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
        </div>
        <!--end:: Events Edition Count-->
        <!--begin:: Conferences Edition Count-->
        <div class="col-sm-4">
            <div id="ConferencesEditionCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
        </div>
        <!--end:: Conferences Edition Count-->
        <!--begin:: Speakers Edition Count-->
        <div class="col-sm-4">
            <div id="SpeakersEditionCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
        </div>
        <!--end:: Speakers Edition Count-->
        <!--begin:: Rooms Edition Count-->
        <div class="col-sm-4">
            <div id="RoomsEditionCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
        </div>
        <!--end:: Rooms Edition Count-->
        <!--begin:: Tracks Edition Count-->
        <div class="col-sm-4">
            <div id="TracksEditionCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
        </div>
        <!--end:: Tracks Edition Count-->
        <!--begin:: Horizontal Tracks Edition Count-->
        <div class="col-sm-4">
            <div id="HorizontalTracksEditionCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
        </div>
        <!--end:: Horizontal Tracks Edition Count-->
        <!--begin:: Conference Participant Roles Edition Count-->
        <div class="col-sm-4">
            <div id="ConferenceParticipantRolesEditionCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
        </div>
        <!--end:: Conference Participant Roles Edition Count-->
    }
</div>
@section Styles {
}
@section Scripts {
    @Scripts.Render("~/bundles/js/chart.js")
    @if (isAdminFull || isAdminAudiovisual)
    {
        @Scripts.Render("~/bundles/js/holdings.editioncount.js")
        @Scripts.Render("~/bundles/js/organizations.editioncount.js")
        @Scripts.Render("~/bundles/js/collaborators.editioncount.js")
    }
    @if (isAdminFull || isAdminAudiovisual || isCuratorshipAudiovisual)
    {
        @Scripts.Render("~/bundles/js/events.editioncount.js")
        @Scripts.Render("~/bundles/js/conferences.editioncount.js")
        @Scripts.Render("~/bundles/js/speakers.editioncount.js")
        @Scripts.Render("~/bundles/js/rooms.editioncount.js")
        @Scripts.Render("~/bundles/js/tracks.editioncount.js")
        @Scripts.Render("~/bundles/js/horizontaltracks.editioncount.js")
        @Scripts.Render("~/bundles/js/conferenceparticipantroles.editioncount.js")
    }
    <script>
        jQuery(document).ready(function () {
            @if (isAdminFull || isAdminAudiovisual)
            {
                <text>
                    HoldingsEditionCountWidget.init();
                    OrganizationsEditionCountWidget.init();
                    CollaboratorsEditionCountWidget.init();
                </text>
            }
            @if (isAdminFull || isAdminAudiovisual || isCuratorshipAudiovisual)
            {
                <text>
                    EventsEditionCountWidget.init();
                    ConferencesEditionCountWidget.init();
                    SpeakersEditionCountWidget.init();
                    RoomsEditionCountWidget.init();
                    TracksEditionCountWidget.init();
                    HorizontalTracksEditionCountWidget.init();
                    ConferenceParticipantRolesEditionCountWidget.init();
                </text>
            }
        });
    </script>
}