@using PlataformaRio2C.Domain.Constants
@using PlataformaRio2C.Domain.Dtos
@{
    ViewBag.Title = Labels.Dashboard;
    var adminAccessControlDto = ViewBag.AdminAccessControlDto as AdminAccessControlDto;
    var isAdminFull = adminAccessControlDto?.IsAdmin() == true;
    var isAdminAudiovisual = adminAccessControlDto?.HasCollaboratorType(CollaboratorType.AdminAudiovisual) == true;
    var isAdminMusic = adminAccessControlDto?.HasCollaboratorType(CollaboratorType.AdminMusic) == true;
    var isAdminInnovation = adminAccessControlDto?.HasCollaboratorType(CollaboratorType.AdminInnovation) == true;
    var isAdminEditorial = adminAccessControlDto?.HasCollaboratorType(CollaboratorType.AdminEditorial) == true;
    var isAdminLogistic = adminAccessControlDto?.HasCollaboratorType(CollaboratorType.AdminLogistic) == true;
    var isAdminConferences = adminAccessControlDto?.HasCollaboratorType(CollaboratorType.AdminConferences) == true;
}
<div class="row">
    @if (isAdminFull || isAdminMusic)
    {
        <div class="col-md-6">
            <div id="MusicProjectsEditionCountPieWidget" class="kt-portlet kt-portlet--fit" style="min-height: 230px;"></div>
        </div>
    }
    @if (isAdminFull || isAdminInnovation)
    {
        <div class="col-md-6">
            <div id="InnovationProjectsEditionCountPieWidget" class="kt-portlet kt-portlet--fit" style="min-height: 230px;"></div>
        </div>
    }
    @if (isAdminFull || isAdminAudiovisual)
    {
        <div class="col-md-6">
            <div id="AudiovisualProjectsEditionCountGaugeWidget" class="kt-portlet kt-portlet--fit" style="min-height: 230px;"></div>
        </div>
    }
    @if (isAdminFull || isAdminMusic)
    {
        <div class="col-md-6">
            <div id="AudiovisualMeetingsEditionScheduledCountGaugeWidget" class="kt-portlet kt-portlet--fit" style="min-height: 230px;"></div>
        </div>
    }
    @if (isAdminFull || isAdminAudiovisual)
    {
        <div class="col-md-6">
            <div id="AudiovisualPlayersEditionCountOdometerWidget" class="kt-portlet kt-portlet--fit" style="min-height: 230px;"></div>
        </div>
    }
</div>
@section Styles {
    @Styles.Render("~/bundles/css/odometer.css")
}
@section Scripts {
    @Scripts.Render("~/bundles/js/chart.js")
    @Scripts.Render("~/bundles/js/amcharts.js")
    @Scripts.Render("~/bundles/js/odometer.js")
    @if (isAdminFull)
    {
        @Scripts.Render("~/bundles/js/events.editioncount.js")
    }
    @if (isAdminFull || isAdminAudiovisual)
    {
        @Scripts.Render("~/bundles/js/audiovisual.players.editioncountodometer.widget.js")
        @Scripts.Render("~/bundles/js/audiovisual.projects.editioncount.gauge.widget.js")
        @Scripts.Render("~/bundles/js/audiovisual.meetings.editionscheduledcount.gauge.widget.js")
    }
    @if (isAdminFull || isAdminConferences)
    {
    }
    @if (isAdminFull || isAdminMusic)
    {
        @Scripts.Render("~/bundles/js/music.projects.editioncount.pie.widget.js")
    }
    @if (isAdminFull || isAdminInnovation)
    {
        @Scripts.Render("~/bundles/js/innovation.projects.editioncount.pie.widget.js")
    }
    <script>
        jQuery(document).ready(function () {
            @if (isAdminFull)
            {
                <text>
                </text>
            }
            @if (isAdminFull || isAdminAudiovisual)
            {
                <text>
                    AudiovisualPlayersEditionCountOdometerWidget.init();
                    AudiovisualProjectsEditionCountGaugeWidget.init();
                    AudiovisualMeetingsEditionScheduledCountGaugeWidget.init();
                </text>
            }
            @if (isAdminFull || isAdminConferences)
            {
                <text>
                </text>
            }
            @if (isAdminFull || isAdminMusic)
            {
                <text>
                    MusicProjectsEditionCountPieWidget.init();
                </text>
            }
            @if (isAdminFull || isAdminInnovation)
            {
                <text>
                    InnovationProjectsEditionCountPieWidget.init();
                </text>
            }
        });
    </script>
}