@using PlataformaRio2C.Domain.Dtos
@model PlataformaRio2C.Application.CQRS.Commands.CreateEdition
@{
    //var editionDto = ViewBag.EditionDto as EditionDto;
}
<div class="row">
    <div class="form-group col-8">
        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-4">
        @Html.LabelFor(m => m.UrlCode, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.UrlCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UrlCode, "", new { @class = "text-danger" })
    </div> 
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.StartDate, new { @class = "control-label" })
        @Html.TextBox("StartDate", Model.StartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker"@*, @readonly = "readonly", data_date_start_date = editionDto?.StartDate.ToUserTimeZone().ToShortDateString(), data_date_end_date = editionDto?.EndDate.ToUserTimeZone().ToShortDateString()*@ })
        @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EndDate, new { @class = "control-label" })
        @Html.TextBox("EndDate", Model.EndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker"@*, @readonly = "readonly", data_date_start_date = editionDto?.StartDate.ToUserTimeZone().ToShortDateString(), data_date_end_date = editionDto?.EndDate.ToUserTimeZone().ToShortDateString()*@ })
        @Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.SellStartDate, new { @class = "control-label" })
        @Html.TextBox("SellStartDate", Model.SellStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker"@*, @readonly = "readonly", data_date_sell_start_date = editionDto?.SellStartDate.ToUserTimeZone().ToShortDateString(), data_date_sell_end_date = editionDto?.SellEndDate.ToUserTimeZone().ToShortDateString()*@ })
        @Html.ValidationMessageFor(m => m.SellStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.SellEndDate, new { @class = "control-label" })
        @Html.TextBox("SellEndDate", Model.SellEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker"@*, @readonly = "readonly",data_date_sell_start_date = editionDto?.SellStartDate.ToUserTimeZone().ToShortDateString(), data_date_sell_end_date = editionDto?.SellEndDate.ToUserTimeZone().ToShortDateString()*@ })
        @Html.ValidationMessageFor(m => m.SellEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.ProjectSubmitStartDate, new { @class = "control-label" })
        @Html.TextBox("ProjectSubmitStartDate", Model.ProjectSubmitStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker"@*, @readonly = "readonly",data_date_projectsubmit_start_date = editionDto?.ProjectSubmitStartDate.ToUserTimeZone().ToShortDateString(), data_date_projectsubmit_end_date = editionDto?.ProjectSubmitEndDate.ToUserTimeZone().ToShortDateString()*@ })
        @Html.ValidationMessageFor(m => m.ProjectSubmitStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.ProjectSubmitEndDate, new { @class = "control-label" })
        @Html.TextBox("ProjectSubmitEndDate", Model.ProjectSubmitEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker"@*, @readonly = "readonly",data_date_projectsubmit_start_date = editionDto?.ProjectSubmitStartDate.ToUserTimeZone().ToShortDateString(), data_date_projectsubmit_end_date = editionDto?.ProjectSubmitEndDate.ToUserTimeZone().ToShortDateString()*@ })
        @Html.ValidationMessageFor(m => m.ProjectSubmitEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.ProjectEvaluationStartDate, new { @class = "control-label" })
        @Html.TextBox("ProjectEvaluationStartDate", Model.ProjectEvaluationStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker"@*, @readonly = "readonly", data_date_projectevaluation_start_date = editionDto?.ProjectEvaluationStartDate.ToUserTimeZone().ToShortDateString(), data_date_projectevaluation_end_date = editionDto?.ProjectEvaluationEndDate.ToUserTimeZone().ToShortDateString()*@ })
        @Html.ValidationMessageFor(m => m.ProjectEvaluationStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.ProjectEvaluationEndDate, new { @class = "control-label" })
        @Html.TextBox("ProjectEvaluationEndDate", Model.ProjectEvaluationEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker"@*, @readonly = "readonly", data_date_projectevaluation_start_date = editionDto?.ProjectEvaluationStartDate.ToUserTimeZone().ToShortDateString(), data_date_projectevaluation_end_date = editionDto?.ProjectEvaluationEndDate.ToUserTimeZone().ToShortDateString()*@ })
        @Html.ValidationMessageFor(m => m.ProjectEvaluationEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.NegotiationStartDate, new { @class = "control-label" })
        @Html.TextBox("NegotiationStartDate", Model.NegotiationStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker"@*, @readonly = "readonly", data_date_negotiation_start_date = editionDto?.NegotiationStartDate.ToUserTimeZone().ToShortDateString(), data_date_negotiation_end_date = editionDto?.NegotiationEndDate.ToUserTimeZone().ToShortDateString()*@ })
        @Html.ValidationMessageFor(m => m.NegotiationStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.NegotiationEndDate, new { @class = "control-label" })
        @Html.TextBox("NegotiationEndDate", Model.NegotiationEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker"@*, @readonly = "readonly", data_date_negotiation_start_date = editionDto?.NegotiationStartDate.ToUserTimeZone().ToShortDateString(), data_date_negotiation_end_date = editionDto?.NegotiationEndDate.ToUserTimeZone().ToShortDateString()*@ })
        @Html.ValidationMessageFor(m => m.NegotiationEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.MusicProjectSubmitStartDate, new { @class = "control-label" })
        @Html.TextBox("MusicProjectSubmitStartDate", Model.MusicProjectSubmitStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker"@*, @readonly = "readonly", data_date_musicprojectsubmit_start_date = editionDto?.MusicProjectSubmitStartDate.ToUserTimeZone().ToShortDateString(), data_date_musicprojectsubmit_end_date = editionDto?.MusicProjectSubmitEndDate.ToUserTimeZone().ToShortDateString()*@ })
        @Html.ValidationMessageFor(m => m.MusicProjectSubmitStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.MusicProjectSubmitEndDate, new { @class = "control-label" })
        @Html.TextBox("MusicProjectSubmitEndDate", Model.MusicProjectSubmitEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker"@*, @readonly = "readonly", data_date_musicprojectsubmit_start_date = editionDto?.MusicProjectSubmitStartDate.ToUserTimeZone().ToShortDateString(), data_date_musicprojectsubmit_end_date = editionDto?.MusicProjectSubmitEndDate.ToUserTimeZone().ToShortDateString()*@ })
        @Html.ValidationMessageFor(m => m.MusicProjectSubmitEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.MusicProjectEvaluationStartDate, new { @class = "control-label" })
        @Html.TextBox("MusicProjectEvaluationStartDate", Model.MusicProjectEvaluationStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker"@*, @readonly = "readonly", data_date_musicprojectevaluation_start_date = editionDto?.MusicProjectEvaluationStartDate.ToUserTimeZone().ToShortDateString(), data_date_musicprojectevaluation_end_date = editionDto?.MusicProjectEvaluationEndDate.ToUserTimeZone().ToShortDateString()*@ })
        @Html.ValidationMessageFor(m => m.MusicProjectEvaluationStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.MusicProjectEvaluationEndDate, new { @class = "control-label" })
        @Html.TextBox("MusicProjectEvaluationEndDate", Model.MusicProjectEvaluationEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker"@*, @readonly = "readonly", data_date_musicprojectevaluation_start_date = editionDto?.MusicProjectEvaluationStartDate.ToUserTimeZone().ToShortDateString(), data_date_musicprojectevaluation_end_date = editionDto?.MusicProjectEvaluationEndDate.ToUserTimeZone().ToShortDateString()*@ })
        @Html.ValidationMessageFor(m => m.MusicProjectEvaluationEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.InnovationProjectSubmitStartDate, new { @class = "control-label" })
        @Html.TextBox("InnovationProjectSubmitStartDate", Model.InnovationProjectSubmitStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker"@*, @readonly = "readonly", data_date_innovationprojectsubmit_start_date = editionDto?.InnovationProjectSubmitStartDate.ToUserTimeZone().ToShortDateString(), data_date_innovationprojectsubmit_end_date = editionDto?.InnovationProjectSubmitEndDate.ToUserTimeZone().ToShortDateString()*@ })
        @Html.ValidationMessageFor(m => m.InnovationProjectSubmitStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.InnovationProjectSubmitEndDate, new { @class = "control-label" })
        @Html.TextBox("InnovationProjectSubmitEndDate", Model.InnovationProjectSubmitEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker"@*, @readonly = "readonly", data_date_innovationprojectsubmit_start_date = editionDto?.InnovationProjectSubmitStartDate.ToUserTimeZone().ToShortDateString(), data_date_innovationprojectsubmit_end_date = editionDto?.InnovationProjectSubmitEndDate.ToUserTimeZone().ToShortDateString()*@ })
        @Html.ValidationMessageFor(m => m.InnovationProjectSubmitEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.InnovationProjectEvaluationStartDate, new { @class = "control-label" })
        @Html.TextBox("InnovationProjectEvaluationStartDate", Model.InnovationProjectEvaluationStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker"@*, @readonly = "readonly", data_date_innovationprojectevaluation_start_date = editionDto?.InnovationProjectEvaluationStartDate.ToUserTimeZone().ToShortDateString(), data_date_innovationprojectevaluation_end_date = editionDto?.InnovationProjectEvaluationEndDate.ToUserTimeZone().ToShortDateString()*@ })
        @Html.ValidationMessageFor(m => m.InnovationProjectEvaluationStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.InnovationProjectEvaluationEndDate, new { @class = "control-label" })
        @Html.TextBox("InnovationProjectEvaluationEndDate", Model.InnovationProjectEvaluationEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker"@*, @readonly = "readonly", data_date_innovationprojectevaluation_start_date = editionDto?.InnovationProjectEvaluationStartDate.ToUserTimeZone().ToShortDateString(), data_date_innovationprojectevaluation_end_date = editionDto?.InnovationProjectEvaluationEndDate.ToUserTimeZone().ToShortDateString()*@ })
        @Html.ValidationMessageFor(m => m.InnovationProjectEvaluationEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.AudiovisualNegotiationsCreateStartDate, new { @class = "control-label" })
        @Html.TextBox("AudiovisualNegotiationsCreateStartDate", Model.AudiovisualNegotiationsCreateStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker"@*, @readonly = "readonly", data_date_audiovisualnegotiationscreate_start_date = editionDto?.AudiovisualNegotiationsCreateStartDate?.ToUserTimeZone().ToShortDateString(), data_date_audiovisualnegotiationscreate_end_date = editionDto?.AudiovisualNegotiationsCreateEndDate?.ToUserTimeZone().ToShortDateString()*@ })
        @Html.ValidationMessageFor(m => m.AudiovisualNegotiationsCreateStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.AudiovisualNegotiationsCreateEndDate, new { @class = "control-label" })
        @Html.TextBox("AudiovisualNegotiationsCreateEndDate", Model.AudiovisualNegotiationsCreateEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker"@*, @readonly = "readonly", data_date_audiovisualnegotiationscreate_start_date = editionDto?.AudiovisualNegotiationsCreateStartDate?.ToUserTimeZone().ToShortDateString(), data_date_audiovisualnegotiationscreate_end_date = editionDto?.AudiovisualNegotiationsCreateEndDate?.ToUserTimeZone().ToShortDateString()*@ })
        @Html.ValidationMessageFor(m => m.AudiovisualNegotiationsCreateEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.AttendeeOrganizationMaxSellProjectsCount, new { @class = "control-label" })
        @Html.TextBox("AttendeeOrganizationMaxSellProjectsCount", Model.AttendeeOrganizationMaxSellProjectsCount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AttendeeOrganizationMaxSellProjectsCount, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.ProjectMaxBuyerEvaluationsCount, new { @class = "control-label" })
        @Html.TextBox("ProjectMaxBuyerEvaluationsCount", Model.ProjectMaxBuyerEvaluationsCount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ProjectMaxBuyerEvaluationsCount, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.OneToOneMeetingsScheduleDate, new { @class = "control-label" })
        @Html.TextBox("OneToOneMeetingsScheduleDate", Model.OneToOneMeetingsScheduleDate?.ToShortDateString(), new { @class = "form-control enable-datepicker"@*, @readonly = "readonly", data_date_start_date = editionDto?.StartDate.ToUserTimeZone().ToShortDateString(), data_date_end_date = editionDto?.EndDate.ToUserTimeZone().ToShortDateString()*@ })
        @Html.ValidationMessageFor(m => m.OneToOneMeetingsScheduleDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-3">
        <div class="form-group">
            <label>&nbsp;</label>
            <div class="kt-checkbox-list">
                <label class="kt-checkbox mt-2">
                    @Html.CheckBoxFor(m => m.IsCurrent) @Labels.IsCurrent
                    @Html.ValidationMessageFor(m => m.IsCurrent, "", new { @class = "text-danger" })
                    <span></span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group col-3">
        <div class="form-group">
            <label>&nbsp;</label>
            <div class="kt-checkbox-list">
                <label class="kt-checkbox mt-2">
                    @Html.CheckBoxFor(m => m.IsActive) @Labels.IsActive
                    @Html.ValidationMessageFor(m => m.IsActive, "", new { @class = "text-danger" })
                    <span></span>
                </label>
            </div>
        </div>
    </div>
</div>