@model PlataformaRio2C.Application.CQRS.Commands.CreateEdition
<div class="row">
    <div class="form-group col-8">
        @Html.LabelFor(m => m.EditionMainInformation.Name, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.EditionMainInformation.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EditionMainInformation.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-4">
        @Html.LabelFor(m => m.EditionMainInformation.UrlCode, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.EditionMainInformation.UrlCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EditionMainInformation.UrlCode, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionMainInformation.StartDate, new { @class = "control-label" })
        @Html.TextBox("EditionMainInformation.StartDate", Model.EditionMainInformation.StartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.EditionMainInformation.StartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionMainInformation.EndDate, new { @class = "control-label" })
        @Html.TextBox("EditionMainInformation.EndDate", Model.EditionMainInformation.EndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.EditionMainInformation.EndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionMainInformation.SellStartDate, new { @class = "control-label" })
        @Html.TextBox("EditionMainInformation.SellStartDate", Model.EditionMainInformation.SellStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.EditionMainInformation.SellStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionMainInformation.SellEndDate, new { @class = "control-label" })
        @Html.TextBox("EditionMainInformation.SellEndDate", Model.EditionMainInformation.SellEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.EditionMainInformation.SellEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionMainInformation.OneToOneMeetingsScheduleDate, new { @class = "control-label" })
        @Html.TextBox("EditionMainInformation.OneToOneMeetingsScheduleDate", Model.EditionMainInformation.OneToOneMeetingsScheduleDate?.ToShortDateString(), new
        {
            @class = "form-control enable-datepicker"
        })
        @Html.ValidationMessageFor(m => m.EditionMainInformation.OneToOneMeetingsScheduleDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-3">
        <div class="row">
            <div class="col-12">
                @Html.Label(Labels.IsCurrent, new { @class = "control-label" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <span class="kt-switch kt-switch--icon">
                    <label>
                        @Html.CheckBoxFor(m => m.EditionMainInformation.IsCurrent)
                        <span></span>
                    </label>
                </span>
                <div class="row">
                    @Html.ValidationMessageFor(m => m.EditionMainInformation.IsCurrent, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group col-3">
        <div class="row">
            <div class="col-12">
                @Html.Label(Labels.IsActiveF, new { @class = "control-label" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <span class="kt-switch kt-switch--icon">
                    <label>
                        @Html.CheckBoxFor(m => m.EditionMainInformation.IsActive)
                        <span></span>
                    </label>
                </span>
                <div class="row">
                    @Html.ValidationMessageFor(m => m.EditionMainInformation.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Audiovisual Negotiations - Begin  -->
<h3 class="kt-section__title mb-4">@Labels.AudioVisual</h3>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.ProjectSubmitStartDate, new { @class = "control-label" })
        @Html.TextBox("EditionDate.ProjectSubmitStartDate", Model.EditionDate.ProjectSubmitStartDate?.ToShortDateString(), new
        {
            @class = "form-control enable-datepicker"
        })
        @Html.ValidationMessageFor(m => m.EditionDate.ProjectSubmitStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.ProjectSubmitEndDate, new { @class = "control-label" })
        @Html.TextBox("EditionDate.ProjectSubmitEndDate", Model.EditionDate.ProjectSubmitEndDate?.ToShortDateString(), new
        {
            @class = "form-control enable-datepicker"
        })
        @Html.ValidationMessageFor(m => m.EditionDate.ProjectSubmitEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.ProjectEvaluationStartDate, new { @class = "control-label" })
        @Html.TextBox("EditionDate.ProjectEvaluationStartDate", Model.EditionDate.ProjectEvaluationStartDate?.ToShortDateString(), new
        {
            @class = "form-control enable-datepicker"
        })
        @Html.ValidationMessageFor(m => m.EditionDate.ProjectEvaluationStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.ProjectEvaluationEndDate, new { @class = "control-label" })
        @Html.TextBox("EditionDate.ProjectEvaluationEndDate", Model.EditionDate.ProjectEvaluationEndDate?.ToShortDateString(), new
        {
            @class = "form-control enable-datepicker"
        })
        @Html.ValidationMessageFor(m => m.EditionDate.ProjectEvaluationEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.NegotiationStartDate, new { @class = "control-label" })
        @Html.TextBox("EditionDate.NegotiationStartDate", Model.EditionDate.NegotiationStartDate?.ToShortDateString(), new
        {
            @class = "form-control enable-datepicker"
        })
        @Html.ValidationMessageFor(m => m.EditionDate.NegotiationStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.NegotiationEndDate, new { @class = "control-label" })
        @Html.TextBox("EditionDate.NegotiationEndDate", Model.EditionDate.NegotiationEndDate?.ToShortDateString(), new
        {
            @class = "form-control enable-datepicker"
        })
        @Html.ValidationMessageFor(m => m.EditionDate.NegotiationEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.AttendeeOrganizationMaxSellProjectsCount, new { @class = "control-label" })
        @Html.TextBox("EditionDate.AttendeeOrganizationMaxSellProjectsCount", Model.EditionDate.AttendeeOrganizationMaxSellProjectsCount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EditionDate.AttendeeOrganizationMaxSellProjectsCount, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.ProjectMaxBuyerEvaluationsCount, new { @class = "control-label" })
        @Html.TextBox("EditionDate.ProjectMaxBuyerEvaluationsCount", Model.EditionDate.ProjectMaxBuyerEvaluationsCount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EditionDate.ProjectMaxBuyerEvaluationsCount, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <label class="control-label" for="AudiovisualNegotiationsVirtualMeetingsJoinMinutes">
            <span>@Labels.AudiovisualNegotiationsVirtualMeetingsJoinMinutes</span>
            <span class="form-optional-input">(@Labels.Minutes)</span>
        </label>
        @Html.TextBox("EditionDate.AudiovisualNegotiationsVirtualMeetingsJoinMinutes", Model.EditionDate.AudiovisualNegotiationsVirtualMeetingsJoinMinutes, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EditionDate.AudiovisualNegotiationsVirtualMeetingsJoinMinutes, "", new { @class = "text-danger" })
    </div>
</div>

<!-- Audiovisual Negotiations - End  -->
<!-- Music Commissions - Begin -->
<h3 class="kt-section__title mt-30 mb-4">@Labels.MusicCommission</h3>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.MusicProjectSubmitStartDate, new { @class = "control-label" })
        @Html.TextBox("EditionDate.MusicProjectSubmitStartDate", Model.EditionDate.MusicProjectSubmitStartDate?.ToShortDateString(), new
        {
            @class = "form-control enable-datepicker"
        })
        @Html.ValidationMessageFor(m => m.EditionDate.MusicProjectSubmitStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.MusicProjectSubmitEndDate, new { @class = "control-label" })
        @Html.TextBox("EditionDate.MusicProjectSubmitEndDate", Model.EditionDate.MusicProjectSubmitEndDate?.ToShortDateString(), new
        {
            @class = "form-control enable-datepicker"
        })
        @Html.ValidationMessageFor(m => m.EditionDate.MusicProjectSubmitEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.MusicCommissionEvaluationStartDate, new { @class = "control-label" })
        @Html.TextBox("EditionDate.MusicCommissionEvaluationStartDate", Model.EditionDate.MusicCommissionEvaluationStartDate?.ToShortDateString(), new
        {
            @class = "form-control enable-datepicker"
        })
        @Html.ValidationMessageFor(m => m.EditionDate.MusicCommissionEvaluationStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.MusicCommissionEvaluationEndDate, new { @class = "control-label" })
        @Html.TextBox("EditionDate.MusicCommissionEvaluationEndDate", Model.EditionDate.MusicCommissionEvaluationEndDate?.ToShortDateString(), new
        {
            @class = "form-control enable-datepicker"
        })
        @Html.ValidationMessageFor(m => m.EditionDate.MusicCommissionEvaluationEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.MusicCommissionMinimumEvaluationsCount, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.EditionDate.MusicCommissionMinimumEvaluationsCount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EditionDate.MusicCommissionMinimumEvaluationsCount, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.MusicCommissionMaximumApprovedBandsCount, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.EditionDate.MusicCommissionMaximumApprovedBandsCount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EditionDate.MusicCommissionMaximumApprovedBandsCount, "", new { @class = "text-danger" })
    </div>
</div>
<!-- Music Commissions - End -->
<!-- Innovation Commissions - Begin  -->
<h3 class="kt-section__title mt-30 mb-4">@Labels.InnovationCommission</h3>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.InnovationProjectSubmitStartDate, new { @class = "control-label" })
        @Html.TextBox("EditionDate.InnovationProjectSubmitStartDate", Model.EditionDate.InnovationProjectSubmitStartDate?.ToShortDateString(), new
        {
            @class = "form-control enable-datepicker"
        })
        @Html.ValidationMessageFor(m => m.EditionDate.InnovationProjectSubmitStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.InnovationProjectSubmitEndDate, new { @class = "control-label" })
        @Html.TextBox("EditionDate.InnovationProjectSubmitEndDate", Model.EditionDate.InnovationProjectSubmitEndDate?.ToShortDateString(), new
        {
            @class = "form-control enable-datepicker"
        })
        @Html.ValidationMessageFor(m => m.EditionDate.InnovationProjectSubmitEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.InnovationCommissionEvaluationStartDate, new { @class = "control-label" })
        @Html.TextBox("EditionDate.InnovationCommissionEvaluationStartDate", Model.EditionDate.InnovationCommissionEvaluationStartDate?.ToShortDateString(), new
        {
            @class = "form-control enable-datepicker"
        })
        @Html.ValidationMessageFor(m => m.EditionDate.InnovationCommissionEvaluationStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.InnovationCommissionEvaluationEndDate, new { @class = "control-label" })
        @Html.TextBox("EditionDate.InnovationCommissionEvaluationEndDate", Model.EditionDate.InnovationCommissionEvaluationEndDate?.ToShortDateString(), new
        {
            @class = "form-control enable-datepicker"
        })
        @Html.ValidationMessageFor(m => m.EditionDate.InnovationCommissionEvaluationEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.InnovationCommissionMinimumEvaluationsCount, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.EditionDate.InnovationCommissionMinimumEvaluationsCount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EditionDate.InnovationCommissionMinimumEvaluationsCount, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.InnovationCommissionMaximumApprovedCompaniesCount, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.EditionDate.InnovationCommissionMaximumApprovedCompaniesCount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EditionDate.InnovationCommissionMaximumApprovedCompaniesCount, "", new { @class = "text-danger" })
    </div>
</div>
<!-- Innovation Commissions - End  -->
<!-- Audiovisual Commissions - Begin  -->
<h3 class="kt-section__title mt-30 mb-4">@Labels.AudiovisualCommission</h3>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.AudiovisualNegotiationsCreateStartDate, new { @class = "control-label" })
        @Html.TextBox("EditionDate.AudiovisualNegotiationsCreateStartDate", Model.EditionDate.AudiovisualNegotiationsCreateStartDate?.ToShortDateString(), new
        {
            @class = "form-control enable-datepicker"
        })
        @Html.ValidationMessageFor(m => m.EditionDate.AudiovisualNegotiationsCreateStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.AudiovisualNegotiationsCreateEndDate, new { @class = "control-label" })
        @Html.TextBox("EditionDate.AudiovisualNegotiationsCreateEndDate", Model.EditionDate.AudiovisualNegotiationsCreateEndDate?.ToShortDateString(), new
        {
            @class = "form-control enable-datepicker"
        })
        @Html.ValidationMessageFor(m => m.EditionDate.AudiovisualNegotiationsCreateEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.AudiovisualCommissionEvaluationStartDate, new { @class = "control-label" })
        @Html.TextBox("EditionDate.AudiovisualCommissionEvaluationStartDate", Model.EditionDate.AudiovisualCommissionEvaluationStartDate?.ToShortDateString(), new
        {
            @class = "form-control enable-datepicker"
        })
        @Html.ValidationMessageFor(m => m.EditionDate.AudiovisualCommissionEvaluationStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.AudiovisualCommissionEvaluationEndDate, new { @class = "control-label" })
        @Html.TextBox("EditionDate.AudiovisualCommissionEvaluationEndDate", Model.EditionDate.AudiovisualCommissionEvaluationEndDate?.ToShortDateString(), new
        {
            @class = "form-control enable-datepicker"
        })
        @Html.ValidationMessageFor(m => m.EditionDate.AudiovisualCommissionEvaluationEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.AudiovisualCommissionMinimumEvaluationsCount, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.EditionDate.AudiovisualCommissionMinimumEvaluationsCount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EditionDate.AudiovisualCommissionMinimumEvaluationsCount, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.AudiovisualCommissionMaximumApprovedProjectsCount, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.EditionDate.AudiovisualCommissionMaximumApprovedProjectsCount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EditionDate.AudiovisualCommissionMaximumApprovedProjectsCount, "", new { @class = "text-danger" })
    </div>
</div>
<!-- Audiovisual Commissions - End  -->
<!-- Cartoon Commissions - Begin  -->
<h3 class="kt-section__title mt-30 mb-4">@Labels.CartoonCommission</h3>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.CartoonProjectSubmitStartDate, new { @class = "control-label" })
        @Html.TextBox("EditionDate.CartoonProjectSubmitStartDate", Model.EditionDate.CartoonProjectSubmitStartDate?.ToShortDateString(), new
        {
            @class = "form-control enable-datepicker"
        })
        @Html.ValidationMessageFor(m => m.EditionDate.CartoonProjectSubmitStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.CartoonProjectSubmitEndDate, new { @class = "control-label" })
        @Html.TextBox("EditionDate.CartoonProjectSubmitEndDate", Model.EditionDate.CartoonProjectSubmitEndDate?.ToShortDateString(), new
        {
            @class = "form-control enable-datepicker"
        })
        @Html.ValidationMessageFor(m => m.EditionDate.CartoonProjectSubmitEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.CartoonCommissionEvaluationStartDate, new { @class = "control-label" })
        @Html.TextBox("EditionDate.CartoonCommissionEvaluationStartDate", Model.EditionDate.CartoonCommissionEvaluationStartDate?.ToShortDateString(), new
        {
            @class = "form-control enable-datepicker"
        })
        @Html.ValidationMessageFor(m => m.EditionDate.CartoonCommissionEvaluationStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.CartoonCommissionEvaluationEndDate, new { @class = "control-label" })
        @Html.TextBox("EditionDate.CartoonCommissionEvaluationEndDate", Model.EditionDate.CartoonCommissionEvaluationEndDate?.ToShortDateString(), new
        {
            @class = "form-control enable-datepicker"
        })
        @Html.ValidationMessageFor(m => m.EditionDate.CartoonCommissionEvaluationEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.CartoonCommissionMinimumEvaluationsCount, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.EditionDate.CartoonCommissionMinimumEvaluationsCount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EditionDate.CartoonCommissionMinimumEvaluationsCount, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.EditionDate.CartoonCommissionMaximumApprovedProjectsCount, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.EditionDate.CartoonCommissionMaximumApprovedProjectsCount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EditionDate.CartoonCommissionMaximumApprovedProjectsCount, "", new { @class = "text-danger" })
    </div>
</div>
<!-- Cartoon Commissions - End  -->