@model PlataformaRio2C.Application.CQRS.Commands.UpdateEditionDatesInformation

<!-- Audiovisual - Business Rounds - Begin -->
<h3 class="kt-section__title mb-4">@Labels.BusinessRounds - @Labels.AudioVisual</h3>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.ProjectSubmitStartDate, new { @class = "control-label" })
        @Html.TextBox("ProjectSubmitStartDate", Model.ProjectSubmitStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.ProjectSubmitStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.ProjectSubmitEndDate, new { @class = "control-label" })
        @Html.TextBox("ProjectSubmitEndDate", Model.ProjectSubmitEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.ProjectSubmitEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.ProjectEvaluationStartDate, new { @class = "control-label" })
        @Html.TextBox("ProjectEvaluationStartDate", Model.ProjectEvaluationStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.ProjectEvaluationStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.ProjectEvaluationEndDate, new { @class = "control-label" })
        @Html.TextBox("ProjectEvaluationEndDate", Model.ProjectEvaluationEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.ProjectEvaluationEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.NegotiationStartDate, new { @class = "control-label" })
        @Html.TextBox("NegotiationStartDate", Model.NegotiationStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.NegotiationStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.NegotiationEndDate, new { @class = "control-label" })
        @Html.TextBox("NegotiationEndDate", Model.NegotiationEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.NegotiationEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.AttendeeOrganizationMaxSellProjectsCount, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.AttendeeOrganizationMaxSellProjectsCount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AttendeeOrganizationMaxSellProjectsCount, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.ProjectMaxBuyerEvaluationsCount, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.ProjectMaxBuyerEvaluationsCount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ProjectMaxBuyerEvaluationsCount, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <label class="control-label" for="AudiovisualNegotiationsVirtualMeetingsJoinMinutes">
            <span>@Labels.AudiovisualNegotiationsVirtualMeetingsJoinMinutes</span>
            <span class="form-optional-input">(@Labels.Minutes)</span>
        </label>
        @Html.TextBoxFor(m => m.AudiovisualNegotiationsVirtualMeetingsJoinMinutes, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AudiovisualNegotiationsVirtualMeetingsJoinMinutes, "", new { @class = "text-danger" })
    </div>
</div>
<!-- Audiovisual - Business Rounds - End -->
<!-- Music - Business Rounds - Begin -->
<h3 class="kt-section__title mt-30 mb-4">@Labels.BusinessRounds - @Labels.Music</h3>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.MusicBusinessRoundSubmitStartDate, new { @class = "control-label" })
        @Html.TextBox("MusicBusinessRoundSubmitStartDate", Model.MusicBusinessRoundSubmitStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.MusicBusinessRoundSubmitStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.MusicBusinessRoundSubmitEndDate, new { @class = "control-label" })
        @Html.TextBox("MusicBusinessRoundSubmitEndDate", Model.MusicBusinessRoundSubmitEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.MusicBusinessRoundSubmitEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.MusicBusinessRoundEvaluationStartDate, new { @class = "control-label" })
        @Html.TextBox("MusicBusinessRoundEvaluationStartDate", Model.MusicBusinessRoundEvaluationStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.MusicBusinessRoundEvaluationStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.MusicBusinessRoundEvaluationEndDate, new { @class = "control-label" })
        @Html.TextBox("MusicBusinessRoundEvaluationEndDate", Model.MusicBusinessRoundEvaluationEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.MusicBusinessRoundEvaluationEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.MusicBusinessRoundNegotiationStartDate, new { @class = "control-label" })
        @Html.TextBox("MusicBusinessRoundNegotiationStartDate", Model.MusicBusinessRoundNegotiationStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.MusicBusinessRoundNegotiationStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.MusicBusinessRoundNegotiationEndDate, new { @class = "control-label" })
        @Html.TextBox("MusicBusinessRoundNegotiationEndDate", Model.MusicBusinessRoundNegotiationEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.MusicBusinessRoundNegotiationEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.MusicBusinessRoundMaximumProjectsBySeller, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.MusicBusinessRoundMaximumProjectsBySeller, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MusicBusinessRoundMaximumProjectsBySeller, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.MusicBusinessRoundMaximumEvaluatorsByProject, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.MusicBusinessRoundMaximumEvaluatorsByProject, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MusicBusinessRoundMaximumEvaluatorsByProject, "", new { @class = "text-danger" })
    </div>
</div>
<!-- Music - Business Rounds - End -->
<!-- Music - Pitching - Begin -->
<h3 class="kt-section__title mt-30 mb-4">@Labels.Pitching - @Labels.Music</h3>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.MusicPitchingSubmitStartDate, new { @class = "control-label" })
        @Html.TextBox("MusicPitchingSubmitStartDate", Model.MusicPitchingSubmitStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.MusicPitchingSubmitStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.MusicPitchingSubmitEndDate, new { @class = "control-label" })
        @Html.TextBox("MusicPitchingSubmitEndDate", Model.MusicPitchingSubmitEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.MusicPitchingSubmitEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.MusicCommissionEvaluationStartDate, new { @class = "control-label" })
        @Html.TextBox("MusicCommissionEvaluationStartDate", Model.MusicCommissionEvaluationStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.MusicCommissionEvaluationStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.MusicCommissionEvaluationEndDate, new { @class = "control-label" })
        @Html.TextBox("MusicCommissionEvaluationEndDate", Model.MusicCommissionEvaluationEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.MusicCommissionEvaluationEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.MusicCommissionMinimumEvaluationsCount, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.MusicCommissionMinimumEvaluationsCount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MusicCommissionMinimumEvaluationsCount, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.MusicCommissionMaximumApprovedBandsCount, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.MusicCommissionMaximumApprovedBandsCount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MusicCommissionMaximumApprovedBandsCount, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6 col-lg-6">
        @Html.LabelFor(
            m => m.MusicPitchingMaximumProjectSubmissionsByEdition,
            HttpUtility.HtmlDecode($"{Labels.MusicPitchingMaximumProjectSubmissionsByEdition}&shy;"),
            new { @class = "control-label" }
        )
        @Html.TextBoxFor(m => m.MusicPitchingMaximumProjectSubmissionsByEdition, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MusicPitchingMaximumProjectSubmissionsByEdition, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6 col-lg-6">
        @Html.LabelFor(m => m.MusicPitchingMaximumProjectSubmissionsByParticipant, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.MusicPitchingMaximumProjectSubmissionsByParticipant, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MusicPitchingMaximumProjectSubmissionsByParticipant, "", new { @class = "text-danger" })
    </div>
    @*<div class="form-group col-md-6 col-lg-6">
        @Html.LabelFor(m => m.MusicPitchingEntityMaxS, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.MusicPitchingMaximumProjectSubmissionsByParticipant, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MusicPitchingMaximumProjectSubmissionsByParticipant, "", new { @class = "text-danger" })
    </div>*@
</div>
<div class="row">
    <div class="form-group col-md-6 col-lg-6">
        @Html.LabelFor(m => m.MusicPitchingMaximumApprovedProjectsByCommissionMember, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.MusicPitchingMaximumApprovedProjectsByCommissionMember, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MusicPitchingMaximumApprovedProjectsByCommissionMember, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6 col-lg-6">
        @Html.LabelFor(
            m => m.MusicPitchingCuratorEvaluationStartDate,
            HttpUtility.HtmlDecode($"{Labels.MusicPitchingCuratorEvaluationStartDate}&shy;"),
            new { @class = "control-label" }
        )
        @Html.TextBox("MusicPitchingCuratorEvaluationStartDate", Model.MusicPitchingCuratorEvaluationStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.MusicPitchingCuratorEvaluationStartDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6 col-lg-6">
        @Html.LabelFor(m => m.MusicPitchingCuratorEvaluationEndDate, new { @class = "control-label" })
        @Html.TextBox("MusicPitchingCuratorEvaluationEndDate", Model.MusicPitchingCuratorEvaluationEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.MusicPitchingCuratorEvaluationEndDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6 col-lg-6">
        @Html.LabelFor(m => m.MusicPitchingMaximumApprovedProjectsByCurator, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.MusicPitchingMaximumApprovedProjectsByCurator, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MusicPitchingMaximumApprovedProjectsByCurator, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6 col-lg-6">
        @Html.LabelFor(m => m.MusicPitchingPopularEvaluationStartDate, new { @class = "control-label" })
        @Html.TextBox("MusicPitchingPopularEvaluationStartDate", Model.MusicPitchingPopularEvaluationStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.MusicPitchingPopularEvaluationStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6 col-lg-6">
        @Html.LabelFor(m => m.MusicPitchingPopularEvaluationEndDate, new { @class = "control-label" })
        @Html.TextBox("MusicPitchingPopularEvaluationEndDate", Model.MusicPitchingPopularEvaluationEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.MusicPitchingPopularEvaluationEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6 col-lg-6">
        @Html.LabelFor(m => m.MusicPitchingMaximumApprovedProjectsByPopularVote, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.MusicPitchingMaximumApprovedProjectsByPopularVote, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MusicPitchingMaximumApprovedProjectsByPopularVote, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6 col-lg-6">
        @Html.LabelFor(m => m.MusicPitchingRepechageEvaluationStartDate, new { @class = "control-label" })
        @Html.TextBox("MusicPitchingRepechageEvaluationStartDate", Model.MusicPitchingRepechageEvaluationStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.MusicPitchingRepechageEvaluationStartDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6 col-lg-6">
        @Html.LabelFor(m => m.MusicPitchingRepechageEvaluationEndDate, new { @class = "control-label" })
        @Html.TextBox("MusicPitchingRepechageEvaluationEndDate", Model.MusicPitchingRepechageEvaluationEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.MusicPitchingRepechageEvaluationEndDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6 col-lg-6">
        @Html.LabelFor(m => m.MusicPitchingMaximumApprovedProjectsByRepechage, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.MusicPitchingMaximumApprovedProjectsByRepechage, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MusicPitchingMaximumApprovedProjectsByRepechage, "", new { @class = "text-danger" })
    </div>
</div>
<!-- Music - Pitching - End -->
<!-- Startup - Pitching - Begin -->
<h3 class="kt-section__title mt-30 mb-4">@Labels.Pitching - @Labels.Startup</h3>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.InnovationProjectSubmitStartDate, new { @class = "control-label" })
        @Html.TextBox("InnovationProjectSubmitStartDate", Model.InnovationProjectSubmitStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.InnovationProjectSubmitStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.InnovationProjectSubmitEndDate, new { @class = "control-label" })
        @Html.TextBox("InnovationProjectSubmitEndDate", Model.InnovationProjectSubmitEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.InnovationProjectSubmitEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.InnovationCommissionEvaluationStartDate, new { @class = "control-label" })
        @Html.TextBox("InnovationCommissionEvaluationStartDate", Model.InnovationCommissionEvaluationStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.InnovationCommissionEvaluationStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.InnovationCommissionEvaluationEndDate, new { @class = "control-label" })
        @Html.TextBox("InnovationCommissionEvaluationEndDate", Model.InnovationCommissionEvaluationEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.InnovationCommissionEvaluationEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.InnovationCommissionMinimumEvaluationsCount, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.InnovationCommissionMinimumEvaluationsCount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.InnovationCommissionMinimumEvaluationsCount, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(
            m => m.InnovationCommissionMaximumApprovedCompaniesCount,
            HttpUtility.HtmlDecode($"{Labels.InnovationCommissionMaximumApprovedCompaniesCount}&shy;"),
            new { @class = "control-label" }
        )
        @Html.TextBoxFor(m => m.InnovationCommissionMaximumApprovedCompaniesCount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.InnovationCommissionMaximumApprovedCompaniesCount, "", new { @class = "text-danger" })
    </div>
</div>
<!-- Startup - Pitching - End -->
<!-- Audiovisual - Pitching - Begin -->
<h3 class="kt-section__title mt-30 mb-4">@Labels.Pitching - @Labels.AudioVisual</h3>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.AudiovisualCommissionEvaluationStartDate, new { @class = "control-label" })
        @Html.TextBox("AudiovisualCommissionEvaluationStartDate", Model.AudiovisualCommissionEvaluationStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.AudiovisualCommissionEvaluationStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.AudiovisualCommissionEvaluationEndDate, new { @class = "control-label" })
        @Html.TextBox("AudiovisualCommissionEvaluationEndDate", Model.AudiovisualCommissionEvaluationEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.AudiovisualCommissionEvaluationEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6 col-lg-6">
        @Html.LabelFor(
            m => m.AudiovisualCommissionMinimumEvaluationsCount,
            HttpUtility.HtmlDecode($"{Labels.AudiovisualCommissionMinimumEvaluationsCount}&shy;"),
            new { @class = "control-label" }
        )
        @Html.TextBoxFor(m => m.AudiovisualCommissionMinimumEvaluationsCount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AudiovisualCommissionMinimumEvaluationsCount, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6 col-lg-6">
        @Html.LabelFor(m => m.AudiovisualCommissionMaximumApprovedProjectsCount, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.AudiovisualCommissionMaximumApprovedProjectsCount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AudiovisualCommissionMaximumApprovedProjectsCount, "", new { @class = "text-danger" })
    </div>
</div>
<!-- Audiovisual - Pitching - End -->
<!-- Creator - Pitching - Begin -->
<h3 class="kt-section__title mt-30 mb-4">@Labels.Pitching - @Labels.Creator</h3>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.CreatorProjectSubmitStartDate, new { @class = "control-label" })
        @Html.TextBox("CreatorProjectSubmitStartDate", Model.CreatorProjectSubmitStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.CreatorProjectSubmitStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.CreatorProjectSubmitEndDate, new { @class = "control-label" })
        @Html.TextBox("CreatorProjectSubmitEndDate", Model.CreatorProjectSubmitEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.CreatorProjectSubmitEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.CreatorCommissionEvaluationStartDate, new { @class = "control-label" })
        @Html.TextBox("CreatorCommissionEvaluationStartDate", Model.CreatorCommissionEvaluationStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.CreatorCommissionEvaluationStartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.CreatorCommissionEvaluationEndDate, new { @class = "control-label" })
        @Html.TextBox("CreatorCommissionEvaluationEndDate", Model.CreatorCommissionEvaluationEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
        @Html.ValidationMessageFor(m => m.CreatorCommissionEvaluationEndDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.CreatorCommissionMinimumEvaluationsCount, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.CreatorCommissionMinimumEvaluationsCount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CreatorCommissionMinimumEvaluationsCount, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.CreatorCommissionMaximumApprovedProjectsCount, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.CreatorCommissionMaximumApprovedProjectsCount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CreatorCommissionMaximumApprovedProjectsCount, "", new { @class = "text-danger" })
    </div>
</div>
<!-- Creator - Pitching - End -->
@*Disabled on https://softohq.atlassian.net/browse/RIO2CMY-802*@
@*<h3 class="kt-section__title mt-30 mb-4">@Labels.CartoonCommission</h3>
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.CartoonProjectSubmitStartDate, new { @class = "control-label" })
            @Html.TextBox("CartoonProjectSubmitStartDate", Model.CartoonProjectSubmitStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
            @Html.ValidationMessageFor(m => m.CartoonProjectSubmitStartDate, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.CartoonProjectSubmitEndDate, new { @class = "control-label" })
            @Html.TextBox("CartoonProjectSubmitEndDate", Model.CartoonProjectSubmitEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
            @Html.ValidationMessageFor(m => m.CartoonProjectSubmitEndDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.CartoonCommissionEvaluationStartDate, new { @class = "control-label" })
            @Html.TextBox("CartoonCommissionEvaluationStartDate", Model.CartoonCommissionEvaluationStartDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
            @Html.ValidationMessageFor(m => m.CartoonCommissionEvaluationStartDate, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.CartoonCommissionEvaluationEndDate, new { @class = "control-label" })
            @Html.TextBox("CartoonCommissionEvaluationEndDate", Model.CartoonCommissionEvaluationEndDate?.ToShortDateString(), new { @class = "form-control enable-datepicker" })
            @Html.ValidationMessageFor(m => m.CartoonCommissionEvaluationEndDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.CartoonCommissionMinimumEvaluationsCount, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.CartoonCommissionMinimumEvaluationsCount, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CartoonCommissionMinimumEvaluationsCount, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.CartoonCommissionMaximumApprovedProjectsCount, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.CartoonCommissionMaximumApprovedProjectsCount, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CartoonCommissionMaximumApprovedProjectsCount, "", new { @class = "text-danger" })
        </div>
    </div>*@