@using PlataformaRio2C.Domain.Dtos
@model List<NegotiationGroupedByDateDto>
@{
    var showParticipants = ViewBag.ShowParticipants as bool?;
}
@if (Model?.Any() == true)
{
    foreach (var negotiationGroupedByDateDto in Model)
    {
        var date = negotiationGroupedByDateDto.Date.ToShortDateString();

        <div class="kt-portlet kt-portlet--solid-brand kt-portlet--height-fluid mb-0" style="background: #808080;">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title" style="font-size: 25px;">@date</h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                @if (negotiationGroupedByDateDto.NegotiationGroupedByRoomDtos?.Any() == true)
                {
                    foreach (var negotiationGroupedByRoomDto in negotiationGroupedByDateDto.NegotiationGroupedByRoomDtos)
                    {
                        var roomName = negotiationGroupedByRoomDto?.GetRoomNameByLanguageCode(ViewBag.UserInterfaceLanguage)?.Value;

                        <div class="kt-portlet kt-portlet--solid-warning kt-portletk-portlet--height-fluid" style="background: #d1d1d1;">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label text-center">
                                    <h3 class="kt-portlet__head-title" style="font-size: 20px;">@roomName</h3>
                                    @{
                                        var virtualOrPresentialText = negotiationGroupedByRoomDto.Room.IsVirtualMeeting ? Labels.Virtual : Labels.Presential;
                                        <span class="kt-badge kt-badge--inline kt-badge--warning kt-font-boldest ml-3">@virtualOrPresentialText</span>
                                    }
                                </div>
                            </div>
                            <div class="kt-portlet__body">
                                @if (negotiationGroupedByRoomDto.NegotiationGroupedByRoundDtos?.Any() == true)
                                {
                                    foreach (var negotiationGroupedByRoundDto in negotiationGroupedByRoomDto.NegotiationGroupedByRoundDtos)
                                    {
                                        <div class="kt-portlet kt-portlet--solid-success kt-portlet--height-fluid" style="background: #ffffff;">
                                            <div class="kt-portlet__head">
                                                <div class="kt-portlet__head-label">
                                                    <h3 class="kt-portlet__head-title">
                                                        @Labels.Round @negotiationGroupedByRoundDto.RoundNumber (@(negotiationGroupedByRoundDto.StartDate?.ToString("HH:mm")) - @(negotiationGroupedByRoundDto.EndDate?.ToString("HH:mm")))
                                                    </h3>
                                                </div>
                                                <div class="kt-portlet__head-toolbar font-italic">
                                                    @roomName - @date
                                                </div>
                                            </div>
                                            <div class="kt-portlet__body">
                                                @if (negotiationGroupedByRoundDto.Negotiations?.Any() == true)
                                                {
                                                    <!--begin: Data -->
                                                    <div class="table-responsive">
                                                        <table class="table table-striped- table-bordered table-hover table-checkable" id="conferences-list-table">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center">@Labels.Table</th>
                                                                    <th>@Labels.Player</th>
                                                                    <th>@Labels.Project</th>
                                                                    <th>@Labels.StageName</th>
                                                                    <th class="text-center">@Labels.Type</th>
                                                                    <th class="text-center">@Labels.Actions</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var negotiation in negotiationGroupedByRoundDto.Negotiations)
                                                                {
                                                                    <tr>
                                                                        <td class="text-center">@(negotiation.TableNumber)</td>
                                                                        <td>@(negotiation.ProjectBuyerEvaluation?.BuyerAttendeeOrganization?.Organization?.TradeName)</td>
                                                                        <td>@(negotiation.ProjectBuyerEvaluation?.Project?.ProjectTitles?.FirstOrDefault(pt => pt.Language.Code == ViewBag.UserInterfaceLanguage)?.Value)</td>
                                                                        <td>@(negotiation.ProjectBuyerEvaluation?.Project?.SellerAttendeeOrganization?.Organization?.TradeName)</td>
                                                                        <td class="text-center">@(negotiation.IsAutomatic ? Labels.Automatic : Labels.Manual)</td>
                                                                        <td class="text-center">
                                                                            <span class="dropdown">
                                                                                <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true">
                                                                                    <i class="la la-ellipsis-h"></i>
                                                                                </a>
                                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                                    <button class="dropdown-item" onclick="MusicMeetingsUpdate.showModal('@(negotiation?.Uid)');">
                                                                                        <i class="la la-edit"></i>@Labels.Edit
                                                                                    </button>
                                                                                    <button class="dropdown-item" onclick="MusicMeetingsScheduledDelete.showModal('@(negotiation?.Uid)');">
                                                                                        <i class="la la-remove"></i>@Labels.Remove
                                                                                    </button>
                                                                                </div>
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                    if (showParticipants == true && negotiationGroupedByRoomDto.Room.IsVirtualMeeting == true)
                                                                    {
                                                                        <tr>
                                                                            <td colspan="6">
                                                                                <div class="row">
                                                                                    <table class="w-100" style="margin-left: 10px; margin-right: 10px; border:dashed; border-color:lightgray">
                                                                                        @if (negotiation.AttendeeNegotiationCollaborators?.Any() == true)
                                                                                        {
                                                                                            <thead>
                                                                                                <tr class="bg-light-yellow">
                                                                                                    <th colspan="2" class="text-center">@Labels.Participants.ToUpper()</th>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <th>@Labels.Name</th>
                                                                                                    <th>@Labels.MusicVirtualMeetingJoinDate</th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                                @foreach (var attendeeNegotiationCollaborator in negotiation.AttendeeNegotiationCollaborators)
                                                                                                {
                                                                                                    <tr>
                                                                                                        <td>
                                                                                                            @attendeeNegotiationCollaborator.AttendeeCollaborator.Collaborator.GetFullName()

                                                                                                            @foreach (var attendeeOrganizationCollaborator in attendeeNegotiationCollaborator.AttendeeCollaborator.AttendeeOrganizationCollaborators)
                                                                                                            {
                                                                                                                <span class="kt-badge kt-badge--inline kt-badge--warning kt-font-boldest ml-3">@attendeeOrganizationCollaborator.AttendeeOrganization.Organization.TradeName</span>
                                                                                                            }
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @attendeeNegotiationCollaborator.CreateDate.ToStringHourMinute()
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                }
                                                                                            </tbody>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <tbody>
                                                                                                <tr class="bg-light-yellow">
                                                                                                    <td colspan="2">
                                                                                                        <div class="col-12 text-center">@string.Format(Messages.EntityNotAction, Labels.Participants, Labels.FoundMP)</div>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        }
                                                                                    </table>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!--end: Data -->
                                                }
                                                else
                                                {
                                                    <div class="col-12 text-center mt-30">@string.Format(Messages.EntityNotAction, Labels.Negotiation, Labels.FoundF)</div>
                                                }
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="col-12 text-center mt-30">@string.Format(Messages.EntityNotAction, Labels.BusinessRound, Labels.FoundM)</div>
                                }
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="col-12 text-center mt-30">@string.Format(Messages.EntityNotAction, Labels.Rooms, Labels.FoundFP)</div>
                }
            </div>
        </div>
    }
}
else
{
    <div class="col-12 text-center mt-30">@string.Format(Messages.EntityNotAction, Labels.ScheduledNegotiations, Labels.FoundFP)</div>
}
