@model PlataformaRio2C.Application.CQRS.Commands.OnboardProducerOrganizationData
@{
    ViewBag.Title = Labels.ProjectSubmission;
}
<div class="kt-portlet">
    <div class="kt-portlet__body kt-portlet__body--fit">
        <div class="row mb-3" style="padding-top:30px">
            <div class="col-md-12 text-center"><h3>@Messages.StepsToProjectSubscription</h3></div>
        </div>
        <div class="kt-grid kt-wizard-v3 kt-wizard-v3--white" data-ktwizard-state="between">
            <div class="kt-grid__item">
                <!--begin: Form Wizard Nav -->
                @Html.Partial("Shared/_ProjectsOnboardingMenu", 1)
                <!--end: Form Wizard Nav -->
            </div>
            <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v3__wrapper">
                <!--begin: Form Wizard Form-->
                @using (Html.BeginForm("CompanyInfo", "Projects", FormMethod.Post, new { enctype = "multipart/form-data", id = "OrganizationDataForm", @class = "kt-form" }))
                {
                    @Html.HiddenFor(m => m.OrganizationUid)
                    <div id="form-container">
                        @Html.Partial("/Views/Companies/Shared/_ProducerInfoForm.cshtml", Model)
                    </div>
                    <!--begin: Form Actions -->
                    <div class="kt-form__actions">
                        <button type="button" class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u ml-auto" onclick="MyRio2cCommon.submitForm('#OrganizationDataForm');">
                            @Labels.NextStep
                        </button>
                    </div>
                    <!--end: Form Actions -->
                }
                <!--end: Form Wizard Form-->
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/bundles/css/cropper.css")
    @Styles.Render("~/bundles/css/select2.css")
    @Styles.Render("~/bundles/css/onboarding.projects.css")
    @Styles.Render("~/bundles/css/jquery.autocomplete.css")
}
@section Scripts {
    @Scripts.Render("~/bundles/js/cropper.js")
    @Scripts.Render("~/bundles/js/select2.js")
    @*@Scripts.Render("~/bundles/js/ckEditor.js")*@
    @Scripts.Render("~/bundles/js/inputmask.js")
    @Scripts.Render("~/bundles/js/jquery.autocomplete.js")
    @Scripts.Render("~/bundles/js/addresses.form.js")
    @Scripts.Render("~/bundles/js/projects.producerinfo.js")
    <script>
        jQuery(document).ready(function () {
            ProjectsProducerInfo.init();
        });
    </script>
}