@using PlataformaRio2C.Domain.Dtos
@using Constants = PlataformaRio2C.Domain.Constants;
@{
    ViewBag.Title = Labels.Projects;
    var userAccessControlDto = ViewBag.UserAccessControlDto as UserAccessControlDto;
    var isSeller = userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.Industry) == true;
    var isBuyer = userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.ExecutiveAudiovisual) == true;
    var editionDto = ViewBag.EditionDto as EditionDto;
}
<div class="row">
    <!--begin:Right column-->
    <div class="col-md-12">
        <!--begin:Main-->
        @*<div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="kt-infobox">
                    <div class="kt-infobox__header">
                        <h2 class="kt-infobox__title">@Labels.AudiovisualProjects</h2>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="row equal">
            @if (isSeller)
            {
                <div class="@(isBuyer ?  "col-xl-6" : "col-xl-12")">
                    <div class="kt-portlet kt-iconbox kt-iconbox--wave" style="height:100%">
                        <div class="kt-portlet__body" style="height:100%">
                            <div class="kt-iconbox__body">
                                <div class="kt-iconbox__icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                                            <path d="M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z" id="Combined-Shape" fill="#000000" opacity="0.3"></path>
                                            <path d="M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z" id="Combined-Shape" fill="#000000"></path>
                                        </g>
                                    </svg>
                                </div>
                                <div class="kt-iconbox__desc">
                                    <h3 class="kt-iconbox__title">
                                        <a class="kt-link" href="#">@Labels.SentProjects (@Labels.Producer)</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="kt-iconbox__content mt-3">
                                <ul class="pl-0 mb-0">
                                    @Html.Raw(string.Format(
                                        Texts.ProducerProjectsDates,
                                        editionDto?.ProjectSubmitStartDate.ToBrazilTimeZone().ToShortDateString(), 
                                        editionDto?.ProjectSubmitEndDate.ToBrazilTimeZone().ToShortDateString(),
                                        editionDto?.ProjectEvaluationStartDate.ToBrazilTimeZone().ToShortDateString(),
                                        editionDto?.ProjectEvaluationEndDate.ToBrazilTimeZone().ToShortDateString(),
                                        editionDto?.OneToOneMeetingsScheduleDate.ToBrazilTimeZone().ToShortDateString()))
                                </ul>
                            </div>
                        </div>
                        <div class="kt-portlet__foot pl-0 pr-0">
                            <div class="row align-items-center">
                                <div class="col-lg-12 kt-align-right pl-0 pr-0">
                                    @if (editionDto?.IsProjectSubmitStarted() != true || editionDto.IsProjectSubmitEnded() != true)
                                    {
                                        var subscriptionUrl = Url.Action("SubmittedList", "Projects", new { Area = "" });
                                        var editionUrl = Url.Action("SubmittedList", "Projects", new { Area = "" });
                                        if (editionDto?.IsProjectSubmitStarted() != true)
                                        {
                                            subscriptionUrl = Url.Action("Index", "Projects", new { Area = "" });
                                            editionUrl = Url.Action("Index", "Projects", new { Area = "" });                            
                                        }

                                        <a href="@subscriptionUrl" class="btn btn-brand mt-1">@Labels.Submit</a>
                                        <a href="@editionUrl" class="btn btn-secondary mt-1">@Labels.Edit</a>
                                    }
                                    @{
                                        var resultUrl = Url.Action("SubmittedList", "Projects", new { Area = "" });
                                        if (editionDto?.IsProjectSubmitEnded() != true)
                                        {
                                            resultUrl = Url.Action("Index", "Projects", new { Area = "" });
                                        }
                                    }
                                    <a href="@resultUrl" class="btn btn-secondary mt-1">@Labels.Result</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (isBuyer)
            {
                <div class="@(isSeller ? "col-xl-6" : "col-xl-12")">
                    <div class="kt-portlet kt-iconbox kt-iconbox--wave" style="height:100%">
                        <div class="kt-portlet__body" style="height:100%">
                            <div class="kt-iconbox__body">
                                <div class="kt-iconbox__icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                                            <path d="M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z" id="Combined-Shape" fill="#000000" opacity="0.3"></path>
                                            <path d="M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z" id="Combined-Shape" fill="#000000"></path>
                                        </g>
                                    </svg>
                                </div>
                                <div class="kt-iconbox__desc">
                                    <h3 class="kt-iconbox__title">
                                        <a class="kt-link" href="#">
                                            @Labels.ProjectsEvaluation (@Labels.Player)
                                        </a>
                                    </h3>
                                </div>
                            </div>
                            <div class="kt-iconbox__content mt-3">
                                <ul class="pl-0 mb-0">
                                    @Html.Raw(string.Format(
                                        Texts.PlayerProjectsDates,
                                        editionDto?.ProjectEvaluationStartDate.ToBrazilTimeZone().ToShortDateString(),
                                        editionDto?.ProjectEvaluationEndDate.ToBrazilTimeZone().ToShortDateString(),
                                        editionDto?.OneToOneMeetingsScheduleDate.ToBrazilTimeZone().ToShortDateString()))
                                </ul>
                            </div>
                        </div>
                        <div class="kt-portlet__foot pl-0 pr-0">
                            <div class="row align-items-center">
                                <div class="col-lg-12 kt-align-right pl-0 pr-0">
                                    @{var resultUrl = Url.Action("EvaluationList", "Projects", new { Area = "" }); }
                                    @if (editionDto?.IsProjectEvaluationOpen() == true)
                                    {
                                        <a href="@resultUrl" class="btn btn-brand">@Labels.EvaluateProjects</a>
                                    }
                                    else if (editionDto?.IsProjectEvaluationStarted() == true)
                                    {
                                        <a href="@resultUrl" class="btn btn-brand">@Labels.ReceivedProjects</a>
                                    }
                                    else
                                    {
                                        <a href="@resultUrl" onclick="return false;" class="btn btn-brand" data-toggle="kt-tooltip" title="" data-placement="bottom" data-original-title="@Labels.ComingSoon...">@Labels.EvaluateProjects</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!--end:Main-->
    </div>
    <!--end:Right column-->
</div>