@using PlataformaRio2c.Infra.Data.FileRepository.Helpers
@using PlataformaRio2C.Domain.Dtos
@using PlataformaRio2C.Domain.Statics
@using PlataformaRio2C.Domain.Entities
@model AttendeeOrganizationExecutiveWidgetDto
@{
    @Html.Hidden("OrganizationTypeUid", ViewBag.OrganizationTypeUid as Guid?);
    @Html.Hidden("CollaboratorTypeForDropdownSearch", ViewBag.CollaboratorTypeForDropdownSearch as string);
    var organizationTypeUid = (Guid?)ViewBag.OrganizationTypeUid;
    var organizationUrlAction = "";
}
<div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
            @Labels.Executives
        </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
        <div class="kt-portlet__head-actions">
            <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md btn-circle" onclick="AudiovisualOrganizationsExecutivesWidget.showAssociateModal('@Model.AttendeeOrganization.Organization.Uid');">
                <i class="flaticon2-plus"></i>
            </button>
        </div>
    </div>
</div>
<div class="kt-portlet__body">
    @if (Model.AttendeeCollaboratorsDtos?.Any() == true)
    {
        <div class="row rio2c-scroll" style="height: 200px;">
            @foreach (var attendeeCollaboratorDto in Model.AttendeeCollaboratorsDtos?.OrderBy(acd => acd.Collaborator.GetDisplayName()))
            {
                <div class="col-sm-6 col-md-6 col-xl-4">
                    <!--Begin::Portlet-->
                    <div class="kt-portlet kt-portlet--height-fluid">
                        <div class="text-right pr-2 pt-2">
                            <a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md btn-circle" data-toggle="dropdown" aria-expanded="false">
                                <i class="flaticon-more-1"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right" style="">
                                <ul class="kt-nav">
                                    <li class="kt-nav__item">
                                        <a class="kt-nav__link" onclick="AudiovisualOrganizationsExecutivesWidget.showDisassociateModal('@attendeeCollaboratorDto.Collaborator.Uid', '@Model.AttendeeOrganization.Organization.Uid'); return false;">
                                            <i class="kt-nav__link-icon flaticon2-delete"></i>
                                            <span class="kt-nav__link-text">@Labels.Remove</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="kt-portlet__body mt-10">
                            <!--begin::Widget -->
                            <div class="kt-widget kt-widget--user-profile-2" style="flex-direction: row;">
                                <div class="kt-widget__head">
                                    <div class="kt-widget__media">
                                        @if (attendeeCollaboratorDto.Collaborator.HasImage())
                                        {
                                            <img class="kt-widget__img" src="@ImageHelper.GetImageUrl(FileRepositoryPathType.UserImage, attendeeCollaboratorDto.Collaborator.Uid, attendeeCollaboratorDto.Collaborator.ImageUploadDate, true)" alt="image">
                                        }
                                        else
                                        {
                                            <div class="kt-widget__pic kt-widget__pic--info kt-font-info kt-font-boldest">
                                                @attendeeCollaboratorDto.Collaborator.GetDisplayNameAbbreviation()
                                            </div>
                                        }
                                    </div>
                                    <div class="kt-widget__info">
                                        <a class="kt-widget__username">@attendeeCollaboratorDto.Collaborator.GetDisplayName()</a>
                                        @{
                                            var jobTitle = attendeeCollaboratorDto.GetJobTitleDtoByLanguageCode(ViewBag.UserInterfaceLanguage)?.Value;

                                            if (organizationTypeUid == OrganizationType.Player.Uid)
                                            {
                                                organizationUrlAction = Url.Action("Details", "PlayersExecutives", new { Area = "Audiovisual", id = attendeeCollaboratorDto.Collaborator.Uid });
                                            }
                                            else if (organizationTypeUid == OrganizationType.Producer.Uid)
                                            {
                                                organizationUrlAction = Url.Action("Details", "ProducersExecutives", new { Area = "Audiovisual", id = attendeeCollaboratorDto.Collaborator.Uid });
                                            }
                                        }
                                        @if (!string.IsNullOrEmpty(jobTitle))
                                        {
                                            <span class="kt-widget__desc">@jobTitle</span>
                                        }
                                        <span class="kt-widget__desc">
                                            @if (!string.IsNullOrEmpty(organizationUrlAction))
                                            {
                                                <a href="@organizationUrlAction" target="_blank">
                                                    <small><i class="flaticon-profile"></i> @Labels.SeeDescription</small>
                                                </a>
                                            }
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--end::Widget -->
                        </div>
                    </div>
                    <!--End::Portlet-->
                </div>
            }
        </div>
    }
    else
    {
        <span class="text-center">@string.Format(Messages.EntityNotAction, Labels.Executive, Labels.FoundF)</span>
    }
</div>