@model PlataformaRio2C.Application.CQRS.Commands.CreateRoom
<div class="kt-section pt-2">
    <h3 class="kt-section__title mb-0">@Labels.Names</h3>
    @Html.ValidationMessage("Names", new { @class = "text-danger" })
    <div class="kt-section__content mt-3">
        @Html.EditorFor(m => m.Names)
    </div>
    <h3 class="kt-section__title mb-0">@Labels.RoomType</h3>
    <div class="kt-section__content mt-3">
        <div class="form-group">
            <div class="kt-radio-list ml-3" data-id="IsVirtualMeeting">
                <label class="kt-radio">
                    @Html.RadioButtonFor(m => m.IsVirtualMeeting, false) @Labels.Presential
                    <span></span>
                </label>
                <label class="kt-radio">
                    @Html.RadioButtonFor(m => m.IsVirtualMeeting, true) @Labels.Virtual
                    <span></span>
                </label>
            </div>
            @Html.ValidationMessageFor(m => m.IsVirtualMeeting, "", new { @class = "text-danger" })
        </div>

        <div class="form-group" data-additionalinfo="IsVirtualMeeting">
            <label class="control-label">@Labels.VirtualMeetingUrl</label>
            @Html.TextBoxFor(m => m.VirtualMeetingUrl, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.VirtualMeetingUrl, "", new { @class = "text-danger" })
        </div>
    </div>
</div>