@model PlataformaRio2C.Application.CQRS.Commands.CollaboratorBaseCommand
<div class="form-group row">
    <div class="col-lg-4 text-center">
        @Html.EditorFor(m => m.CropperImage)
    </div>
    <div class="col-lg-8">
        <div class="form-group row">
            <div class="col-md-12">
                @Html.LabelFor(m => m.HoldingUid, new { @class = "control-label" })
                @Html.DropDownList("HoldingUid", new SelectList(Model.HoldingBaseDtos, "Uid", "Name", Model.HoldingUid), $"{Labels.Select}...", new { @class = "form-control enable-select2" })
                @Html.ValidationMessageFor(m => m.HoldingUid, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-5">
                @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-7">
                @Html.LabelFor(m => m.LastNames, new { @class = "control-label" }) <span class="form-optional-input text-muted">@Labels.Optional</span>
                @Html.TextBoxFor(m => m.LastNames, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastNames, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Badge, new { @class = "control-label" }) <span class="form-optional-input text-muted">@Labels.Optional</span>
                @Html.TextBoxFor(m => m.Badge, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Badge, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                <span class="form-text text-muted">@Messages.EmailInputMessage</span>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-6">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label" }) <span class="form-optional-input text-muted">@Labels.Optional</span>
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(m => m.CellPhone, new { @class = "control-label" }) <span class="form-optional-input text-muted">@Labels.Optional</span>
        @Html.TextBoxFor(m => m.CellPhone, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CellPhone, "", new { @class = "text-danger" })
    </div>
</div>
<div class="kt-separator kt-separator--border-dashed kt-separator--space-xl"></div>
<div class="kt-section">
    <h3 class="kt-section__title mb-0">@Labels.JobTitle</h3>
    @Html.ValidationMessage("JobTitles", new { @class = "text-danger" })
    <div class="kt-section__content mt-3">
        @Html.EditorFor(m => m.JobTitles)
    </div>
</div>
<div class="kt-separator kt-separator--border-dashed kt-separator--space-xl"></div>
<div class="kt-section">
    <h3 class="kt-section__title mb-0">@Labels.Address <span class="form-optional-input text-muted">@Labels.Optional</span></h3>
    <div class="kt-section__content mt-3">
        @Html.EditorFor(m => m.Address)
    </div>
</div>
<div class="kt-separator kt-separator--border-dashed kt-separator--space-xl"></div>
<div class="kt-section">
    <h3 class="kt-section__title mb-0">@Labels.MiniBio</h3>
    @Html.ValidationMessage("MiniBios", new { @class = "text-danger" })
    <div class="kt-section__content mt-3">
        @Html.EditorFor(m => m.MiniBios)
    </div>
</div>