@using System.Linq
@using PlataformaRio2C.Domain.Dtos
@model CollaboratorDto

<div class="kt-portlet__body">

    <div class="kt-widget kt-widget--user-profile-3">
        <div class="kt-widget__top">
            <div style="float: right;">
                <div class="kt-widget__media">
                    <img src="https://dev.assets.my.rio2c.com/img/users/9ac6e5d3-fd78-41b7-b5a0-5b849e4c5290_thumbnail.png?v=20200226172606" alt="image">
                </div>
            </div>
            <div class="kt-widget__content" style="overflow: hidden;">
                <div class="kt-widget__head">
                    <span class="kt-widget__username">
                        @(Model.FirstName.GetDashIfNullOrEmpty()) @(Model.LastNames.GetDashIfNullOrEmpty())
                        <i class="flaticon2-correct"></i>
                    </span>
                    <div class="kt-widget__action">
                        <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md btn-circle" onclick="AdministratorsUpdate.showModal('@Model.Uid');">
                            <i class="flaticon2-edit"></i>
                        </button>
                    </div>
                </div>
                @*<div class="kt-widget__subhead pt-0">
                    @(Model.Roles?.FirstOrDefault(r => PlataformaRio2C.Domain.Constants.Role.AnyAdminArray.Contains(r.Name))?.Description?.GetDashIfNullOrEmpty())
                </div>*@                
            </div>
        </div>
        <div class="kt-widget__bottom">
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.FirstName</span>
                    <span class="kt-widget__value"><span>@(Model.FirstName.GetDashIfNullOrEmpty())</span></span>
                </div>
            </div>
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.LastNames</span>
                    <span class="kt-widget__value"><span>@(Model.LastNames.GetDashIfNullOrEmpty())</span></span>
                </div>
            </div>
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.Email</span>
                    <span class="kt-widget__value"><span>@(Model.Email.GetDashIfNullOrEmpty())</span></span>
                </div>
            </div>
        </div>
        <div class="kt-widget__bottom">                        
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.Profile</span>
                    <span class="kt-widget__value">                        
                        <span>@(Model.Roles?.FirstOrDefault(r => PlataformaRio2C.Domain.Constants.Role.AnyAdminArray.Contains(r.Name))?.Description?.GetDashIfNullOrEmpty())</span>
                    </span>
                </div>
            </div>
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.CollaboratorType</span>
                    <span class="kt-widget__value">
                        @if (Model.AttendeeCollaboratorTypeDtos?.Any() == true)
                        {
                            foreach (var attendeeCollaboratorTypeDto in Model.AttendeeCollaboratorTypeDtos.OrderBy(act => act.CollaboratorType.Description))
                            {
                                <span>
                                    @attendeeCollaboratorTypeDto.CollaboratorType.Description
                                </span><br />
                            }
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br />
</div>