@using PlataformaRio2C.Domain.Dtos
@model MusicProjectDto
@{
    ViewBag.Title = $"{Labels.PitchingShow} {Model.AttendeeMusicBandDto?.MusicBand?.Name}";
}
@Html.Hidden("AggregateId", Model.MusicProject.Uid)
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <!--begin:Main Information Widget-->
            <div class="col-12">
                <div id="ProjectMainInformationWidget" class="kt-portlet" style="min-height: 325px;"></div>
            </div>
            <!--end:Main Information Widget-->
        </div>
        <div class="row">
            <!--begin:Members Widget-->
            <div class="col-md-6">
                <div id="ProjectMembersWidget" class="kt-portlet" style="min-height: 325px;"></div>
            </div>
            <!--end:Members Widget-->
            <!--begin:Team Members Widget-->
            <div class="col-md-6">
                <div id="ProjectTeamMembersWidget" class="kt-portlet" style="min-height: 325px;"></div>
            </div>
            <!--end:Team Members Widget-->
        </div>
        <div class="row">
            <!--begin:Released Projects Widget-->
            <div class="col-md-6">
                <div id="ReleasedProjectsWidget" class="kt-portlet" style="min-height: 325px;"></div>
            </div>
            <!--end:Released Projects Widget-->
            <!--begin:Responsible Widget-->
            <div class="col-md-6">
                <div id="ProjectResponsibleWidget" class="kt-portlet" style="min-height: 325px;"></div>
            </div>
            <!--end:Responsible Widget-->
        </div>
        <div class="row">
            <!--begin:Video and Music Widget-->
            <div class="col-12">
                <div id="ProjectVideoAndMusicWidget" class="kt-portlet" style="min-height: 325px;"></div>
            </div>
            <!--end:Video and Music Widget-->
        </div>
        <div class="row">
            <!--begin:Clipping Widget-->
            <div class="col-12">
                <div id="ProjectClippingWidget" class="kt-portlet" style="min-height: 325px;"></div>
            </div>
            <!--end:Clipping Widget-->
        </div>
        <div class="row">
            <!--begin:Social Networks Widget-->
            <div class="col-12">
                <div id="ProjectSocialNetworksWidget" class="kt-portlet" style="min-height: 325px;"></div>
            </div>
            <!--end:Social Networks Widget-->
        </div>
        <div class="row">
            <!--begin:Evaluation Widget-->
            <div class="col-12">
                <div id="ProjectEvaluationWidget" class="kt-portlet" style="min-height: 296px;"></div>
            </div>
            <!--end:Evaluation Widget-->
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/bundles/css/select2.css")
}
@section Scripts {
    @Scripts.Render("~/bundles/js/select2.js")
    @Scripts.Render("~/bundles/js/inputmask.js")
    @Scripts.Render("~/bundles/js/bootbox.js")
    @Scripts.Render("~/bundles/js/music.projects.widget.js")
    @Scripts.Render("~/bundles/js/music.projects.evaluation.update.widget.js")
    <script>
        // Page translations ----------------------------------------------------------------------
        var translations = {
        };

        jQuery(document).ready(function () {
            MusicProjectsMainInformationWidget.init();
            MusicProjectsMembersWidget.init();
            MusicProjectsTeamMembersWidget.init();
            MusicProjectsReleasedWidget.init();
            MusicProjectResponsibleWidget.init();
            MusicProjectsVideoAndMusicWidget.init();
            MusicProjectsClippingWidget.init();
            MusicProjectsSocialNetworksWidget.init();
            MusicProjectsEvaluationUpdateWidget.init();
        });
    </script>
}