@model PlataformaRio2C.Application.CQRS.Commands.UpdateNegotiationRoomConfig
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.RoomUid, new { @class = "control-label" })
        @Html.DropDownListFor(m => m.RoomUid, new SelectList(Model.Rooms, "Uid", "Name", Model.RoomUid), Labels.Select + "...", new { @class = "form-control enable-select2" })
        @Html.ValidationMessageFor(m => m.RoomUid, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.CountAutomaticTables, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.CountAutomaticTables, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CountAutomaticTables, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.CountManualTables, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.CountManualTables, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CountManualTables, "", new { @class = "text-danger" })
    </div>
</div>