@model PlataformaRio2C.Application.CQRS.Commands.AddressBaseCommand
<!--begin:: Address Form-->
<div class="row">
    @Html.HiddenFor(m => m.IsRequired)
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.AddressZipCode, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.AddressZipCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AddressZipCode, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6" data-id="State">
        @Html.LabelFor(m => m.StateUid, new { @class = "control-label" })
        <div class="view">
            @Html.Hidden("InitialStateUid", Model.StateUid)
            @Html.DropDownList("StateUid", Enumerable.Empty<SelectListItem>(), $"{Labels.Select}...", new {@class = "form-control"})
            <span class="form-text text-muted text-right"><a href="" onclick="return AddressesForm.enableNewState();" class="btn-link btn-edit">@(Labels.NewM.ToLowerInvariant()) @(Labels.State.ToLowerInvariant())</a></span>
        </div>
        <div class="edit d-none">
            @Html.TextBoxFor(m => m.StateName, new { @class = "form-control" })
            <span class="form-text text-muted text-right"><a href="" onclick="return AddressesForm.disableNewState();" class="btn-link">@(Labels.Cancel.ToLowerInvariant())</a></span>
        </div>
        @Html.ValidationMessageFor(m => m.StateName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6" data-id="City">
        @Html.LabelFor(m => m.CityUid, new { @class = "control-label" })
        <div class="view">
            @Html.Hidden("InitialCityUid", Model.CityUid)
            @Html.DropDownList("CityUid", Enumerable.Empty<SelectListItem>(), $"{Labels.Select}...", new { @class = "form-control" })
            <span class="form-text text-muted text-right"><a href="" onclick="return AddressesForm.enableNewCity();" class="btn-link btn-edit">@(Labels.NewF.ToLowerInvariant()) @(Labels.City.ToLowerInvariant())</a></span>
        </div>
        <div class="edit d-none">
            @Html.TextBoxFor(m => m.CityName, new { @class = "form-control" })
            <span class="form-text text-muted text-right"><a href="" onclick="return AddressesForm.disableNewCity();" class="btn-link">@(Labels.Cancel.ToLowerInvariant())</a></span>
        </div>
        @Html.ValidationMessageFor(m => m.CityName, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
        @Html.LabelFor(m => m.Address1, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Address1, "", new { @class = "text-danger" })
    </div>
</div>
<!--end:: Address Form-->