<div class="row">
    <div class="col-md-6" style="border-right: 0.07rem dashed #ebedf2;">
        <div class="row">
            <div class="col-12">
                <h5>@Labels.PlayersSelectedForEvaluation</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12" id="ProjectBuyerCompanySelectedWidget" style="min-height: 640px"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-12">
                <div class="d-flex">
                    @Html.TextBox("SearchKeywords", null, new { @class = "form-control mr-1", type = "search", placeholder = Labels.Search })
                    <button type="button" class="btn btn-primary btn-icon" onclick="AudiovisualProjectsBuyerCompanyWidget.search();"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <ul class="nav nav-tabs nav-fill" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#PlayersSuggested">@Labels.PlayersSuggested</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#AllPlayers">@Labels.AllPlayers</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="PlayersSuggested" role="tabpanel">
                        @*<div class="row">
                    <div class="col-12 text-center mb-2"><small class="font-weight-bold">@Labels.SeekProjectsOfThisGenre</small></div>
                </div>*@
                        <div class="row">
                            <div class="col-12" id="ProjectMatchBuyerCompanyWidget" style="min-height: 500px"></div>
                        </div>
                    </div>
                    <div class="tab-pane" id="AllPlayers" role="tabpanel">
                        @*<div class="row">
                    <div class="col-12 text-center mb-2"><small class="font-weight-bold">@Labels.AllPlayers</small></div>
                </div>*@
                        <div class="row">
                            <div class="col-12" id="ProjectAllBuyerCompanyWidget" style="min-height: 500px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>