@using System.Globalization
@using PlataformaRio2c.Infra.Data.FileRepository.Helpers
@using PlataformaRio2C.Domain.Dtos
@using PlataformaRio2C.Domain.Statics
@model List<MessageDto>
@{
    var userAccessControlDto = ViewBag.UserAccessControlDto as UserAccessControlDto;
    var userImageUrl = userAccessControlDto?.Collaborator?.HasImage() == true ? ImageHelper.GetImageUrl(FileRepositoryPathType.UserImage, userAccessControlDto.Collaborator.Uid, userAccessControlDto.Collaborator.ImageUploadDate, true) : string.Empty;
    var otherUserDto = ViewBag.OtherUserDto as UserDto;
    var otherUserImageUrl = otherUserDto?.Collaborator?.HasImage() == true ? ImageHelper.GetImageUrl(FileRepositoryPathType.UserImage, otherUserDto.Collaborator.Uid, otherUserDto.Collaborator.ImageUploadDate, true) : string.Empty;
}
<div class="kt-portlet__head">
    <div class="kt-chat__head ">
        <div class="kt-chat__left">
            <!--begin:: Aside Mobile Toggle -->
            <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md kt-hidden-desktop" id="kt_chat_aside_mobile_toggle">
                <i class="flaticon2-open-text-book"></i>
            </button>
            <!--end:: Aside Mobile Toggle-->
            @*<div class="dropdown dropdown-inline">
                    <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="flaticon-more-1"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-left dropdown-menu-md">

                        <!--begin::Nav-->
                        <ul class="kt-nav">
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-group"></i>
                                    <span class="kt-nav__link-text">New Group</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-open-text-book"></i>
                                    <span class="kt-nav__link-text">Contacts</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-rocket-1"></i>
                                    <span class="kt-nav__link-text">Groups</span>
                                    <span class="kt-nav__link-badge">
                                        <span class="kt-badge kt-badge--brand kt-badge--inline">new</span>
                                    </span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-bell-2"></i>
                                    <span class="kt-nav__link-text">Calls</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-dashboard"></i>
                                    <span class="kt-nav__link-text">Settings</span>
                                </a>
                            </li>
                            <li class="kt-nav__separator"></li>
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-protected"></i>
                                    <span class="kt-nav__link-text">Help</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-bell-2"></i>
                                    <span class="kt-nav__link-text">Privacy</span>
                                </a>
                            </li>
                        </ul>

                        <!--end::Nav-->
                    </div>
                </div>*@
        </div>
        <div class="kt-chat__center">
            <div class="kt-chat__label">
                <a href="#" class="kt-chat__title">
                    @(otherUserDto?.Collaborator?.Badge ??
                      otherUserDto?.Collaborator?.GetFullName() ??
                      otherUserDto?.User.Name ??
                      "-")
                </a>
                @*<span class="kt-chat__status">
                        <span class="kt-badge kt-badge--dot kt-badge--success"></span> Active
                    </span>*@
            </div>
        </div>
        <div class="kt-chat__right">
            @*<div class="dropdown dropdown-inline">
                    <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="flaticon2-add-1"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-md">

                        <!--begin::Nav-->
                        <ul class="kt-nav">
                            <li class="kt-nav__head">
                                Messaging
                                <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more..."></i>
                            </li>
                            <li class="kt-nav__separator"></li>
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-group"></i>
                                    <span class="kt-nav__link-text">New Group</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-open-text-book"></i>
                                    <span class="kt-nav__link-text">Contacts</span>
                                    <span class="kt-nav__link-badge">
                                        <span class="kt-badge kt-badge--brand  kt-badge--rounded-">5</span>
                                    </span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-bell-2"></i>
                                    <span class="kt-nav__link-text">Calls</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-dashboard"></i>
                                    <span class="kt-nav__link-text">Settings</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-protected"></i>
                                    <span class="kt-nav__link-text">Help</span>
                                </a>
                            </li>
                            <li class="kt-nav__separator"></li>
                            <li class="kt-nav__foot">
                                <a class="btn btn-label-brand btn-bold btn-sm" href="#">Upgrade plan</a>
                                <a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more...">Learn more</a>
                            </li>
                        </ul>

                        <!--end::Nav-->
                    </div>
                </div>*@
        </div>
    </div>
</div>
<div class="kt-portlet__body">
    <div class="kt-scroll kt-scroll--pull" data-mobile-height="300">
        <div class="kt-chat__messages" id="Messages">
            @if (Model?.Any() == true)
            {
                foreach (var messageDto in Model)
                {
                    if (messageDto.SenderUser?.Uid == userAccessControlDto?.User?.Uid)
                    {
                        <div class="kt-chat__message kt-chat__message--right">
                            <div class="kt-chat__user">
                                <span class="kt-chat__datetime">
                                    <time class="timeago kt-widget__date" datetime="@messageDto.Message.SendDate.ToUniversalTime().ToString("yyyy-MM-ddTHH:mm:ss.fffZ", CultureInfo.CurrentCulture)">@messageDto.Message.SendDate.ToShortDateString() @messageDto.Message.SendDate.ToLongTimeString()</time>
                                </span>
                                <a href="#" class="kt-chat__username">@Labels.You</a>
                                @if (!string.IsNullOrEmpty(userImageUrl))
                                {
                                    <span class="kt-userpic kt-userpic--circle kt-userpic--sm">
                                        <img src="@userImageUrl" alt="image">
                                    </span>
                                }
                                else
                                {
                                    <a href="#" class="kt-media kt-media--circle kt-media--brand kt-media--sm d-inline-block">
                                        <span>
                                            @(userAccessControlDto?.Collaborator?.Badge?.GetTwoLetterCode() ??
                                              userAccessControlDto?.Collaborator?.GetNameAbbreviation() ??
                                              userAccessControlDto?.User?.Name?.GetTwoLetterCode() ??
                                              "-")
                                        </span>
                                    </a>
                                }
                            </div>
                            <div class="kt-chat__text kt-bg-light-brand">
                                @Html.Raw(messageDto.Message?.Text)
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="kt-chat__message">
                            <div class="kt-chat__user">
                                @if (!string.IsNullOrEmpty(otherUserImageUrl))
                                {
                                    <span class="kt-userpic kt-userpic--circle kt-userpic--sm">
                                        <img src="@otherUserImageUrl" alt="image">
                                    </span>
                                }
                                else
                                {
                                    <a href="#" class="kt-media kt-media--circle kt-media--brand kt-media--sm d-inline-block">
                                        <span>
                                            @(otherUserDto?.Collaborator?.Badge?.GetTwoLetterCode() ??
                                              otherUserDto?.Collaborator?.GetNameAbbreviation() ??
                                              otherUserDto?.User.Name?.GetTwoLetterCode() ??
                                              "-")
                                        </span>
                                    </a>
                                }
                                <a href="#" class="kt-chat__username">@(messageDto.SenderCollaborator?.Badge)</a>
                                <span class="kt-chat__datetime">
                                    <time class="timeago kt-widget__date" datetime="@messageDto.Message.SendDate.ToUniversalTime().ToString("yyyy-MM-ddTHH:mm:ss.fffZ", CultureInfo.CurrentCulture)">@messageDto.Message.SendDate.ToShortDateString() @messageDto.Message.SendDate.ToLongTimeString()</time>
                                </span>
                            </div>
                            <div class="kt-chat__text kt-bg-light-success">
                                @Html.Raw(messageDto.Message?.Text)
                            </div>
                        </div>
                    }
                }
            }
            @*<div class="kt-chat__message">
                    <div class="kt-chat__user">
                        <span class="kt-userpic kt-userpic--circle kt-userpic--sm">
                            <img src="./assets/media/users/100_12.jpg" alt="image">
                        </span>
                        <a href="#" class="kt-chat__username">Jason Muller</a>
                        <span class="kt-chat__datetime">2 Hours</span>
                    </div>
                    <div class="kt-chat__text kt-bg-light-success">
                        How likely are you to recommend our company <br>to your friends and family?
                    </div>
                </div>
                <div class="kt-chat__message kt-chat__message--right">
                    <div class="kt-chat__user">
                        <span class="kt-chat__datetime">30 Seconds</span>
                        <a href="#" class="kt-chat__username">You</a>
                        <span class="kt-userpic kt-userpic--circle kt-userpic--sm">
                            <img src="./assets/media/users/300_21.jpg" alt="image">
                        </span>
                    </div>
                    <div class="kt-chat__text kt-bg-light-brand">
                        Hey there, we’re just writing to let you know <br>that you’ve been subscribed to a repository on GitHub.
                    </div>
                </div>
                <div class="kt-chat__message">
                    <div class="kt-chat__user">
                        <span class="kt-userpic kt-userpic--circle kt-userpic--sm">
                            <img src="./assets/media/users/100_12.jpg" alt="image">
                        </span>
                        <a href="#" class="kt-chat__username">Jason Muller</a>
                        <span class="kt-chat__datetime">30 Seconds</span>
                    </div>
                    <div class="kt-chat__text kt-bg-light-success">
                        Ok, Understood!
                    </div>
                </div>*@
    </div>
    </div>
</div>
<div class="kt-portlet__foot">
    <div class="kt-chat__input">
        <div class="kt-chat__editor">
            @Html.TextArea("Text", null, new { placeholder = Labels.TypeYourMessage + "...", rows = 3 })
            @*<textarea style="height: 50px" placeholder="Type here..."></textarea>*@
        </div>
        <div class="kt-chat__toolbar">
            <div class="kt_chat__tools">
                @*<a href="#"><i class="flaticon2-link"></i></a>
                    <a href="#"><i class="flaticon2-photograph"></i></a>
                    <a href="#"><i class="flaticon2-photo-camera"></i></a>*@
            </div>
            <div class="kt_chat__actions">
                <button type="button" class="btn btn-brand btn-md btn-upper btn-bold kt-chat__reply" id="SendMessage">@Labels.Send</button>
            </div>
        </div>
    </div>
</div>