@using System.Globalization
@using PlataformaRio2c.Infra.Data.FileRepository.Helpers
@using PlataformaRio2C.Domain.Dtos
@using PlataformaRio2C.Domain.Statics
@model List<MessageDto>
@{
    var userAccessControlDto = ViewBag.UserAccessControlDto as UserAccessControlDto;
    var userImageUrl = userAccessControlDto?.Collaborator?.HasImage() == true ? ImageHelper.GetImageUrl(FileRepositoryPathType.UserImage, userAccessControlDto.Collaborator.Uid, userAccessControlDto.Collaborator.ImageUploadDate, true) : string.Empty;
    var otherUserDto = ViewBag.OtherUserDto as UserDto;
    var otherUserImageUrl = otherUserDto?.Collaborator?.HasImage() == true ? ImageHelper.GetImageUrl(FileRepositoryPathType.UserImage, otherUserDto.Collaborator.Uid, otherUserDto.Collaborator.ImageUploadDate, true) : string.Empty;
}
<div class="kt-portlet__head">
    <div class="kt-chat__head ">
        <div class="kt-chat__left">
            <!--begin:: Aside Mobile Toggle -->
            <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md kt-hidden-desktop" id="kt_chat_aside_mobile_toggle">
                <i class="flaticon2-open-text-book"></i>
            </button>
            <!--end:: Aside Mobile Toggle-->
        </div>
        <div class="kt-chat__center">
            <div class="kt-chat__label">
                <a href="#" class="kt-chat__title">
                    @(otherUserDto?.Collaborator?.Badge ??
                              otherUserDto?.Collaborator?.GetFullName() ??
                              otherUserDto?.User.Name ??
                              "-")
                </a>
                @*<span class="kt-chat__status">
                        <span class="kt-badge kt-badge--dot kt-badge--success"></span> Active
                    </span>*@
            </div>
        </div>
        <div class="kt-chat__right"></div>
    </div>
</div>
<div class="kt-portlet__body">
    <div class="kt-scroll kt-scroll--pull" data-mobile-height="300">
        <div class="kt-chat__messages" id="Messages">
            @if (Model?.Any() == true)
            {
                foreach (var messageDto in Model)
                {
                    if (messageDto.SenderUser?.Uid == userAccessControlDto?.User?.Uid)
                    {
                        <div class="kt-chat__message kt-chat__message--right">
                            <div class="kt-chat__user">
                                <span class="kt-chat__datetime">
                                    <time class="timeago kt-widget__date" datetime="@messageDto.Message.SendDate.ToUniversalTime().ToString("yyyy-MM-ddTHH:mm:ss.fffZ", CultureInfo.CurrentCulture)">@messageDto.Message.SendDate.DateTime.ToShortDateString() @messageDto.Message.SendDate.DateTime.ToLongTimeString()</time>
                                </span>
                                <a href="#" class="kt-chat__username">@Labels.You</a>
                                @if (!string.IsNullOrEmpty(userImageUrl))
                                {
                                    <span class="kt-userpic kt-userpic--circle kt-userpic--sm">
                                        <img src="@userImageUrl" alt="image">
                                    </span>
                                }
                                else
                                {
                                    <a href="#" class="kt-media kt-media--circle kt-media--brand kt-media--sm d-inline-block">
                                        <span>
                                            @(userAccessControlDto?.Collaborator?.Badge?.GetTwoLetterCode() ??
                                              userAccessControlDto?.Collaborator?.GetNameAbbreviation() ??
                                              userAccessControlDto?.User?.Name?.GetTwoLetterCode() ??
                                              "-")
                                        </span>
                                    </a>
                                }
                            </div>
                            <div class="kt-chat__text kt-bg-light-brand">
                                @Html.Raw(messageDto.Message?.Text)
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="kt-chat__message">
                            <div class="kt-chat__user">
                                @if (!string.IsNullOrEmpty(otherUserImageUrl))
                                {
                                    <span class="kt-userpic kt-userpic--circle kt-userpic--sm">
                                        <img src="@otherUserImageUrl" alt="image">
                                    </span>
                                }
                                else
                                {
                                    <a href="#" class="kt-media kt-media--circle kt-media--brand kt-media--sm d-inline-block">
                                        <span>
                                            @(otherUserDto?.Collaborator?.Badge?.GetTwoLetterCode() ??
                                              otherUserDto?.Collaborator?.GetNameAbbreviation() ??
                                              otherUserDto?.User.Name?.GetTwoLetterCode() ??
                                              "-")
                                        </span>
                                    </a>
                                }
                                <a href="#" class="kt-chat__username">@(messageDto.SenderCollaborator?.Badge)</a>
                                <span class="kt-chat__datetime">
                                    <time class="timeago kt-widget__date" datetime="@messageDto.Message.SendDate.ToUniversalTime().ToString("yyyy-MM-ddTHH:mm:ss.fffZ", CultureInfo.CurrentCulture)">@messageDto.Message.SendDate.DateTime.ToShortDateString() @messageDto.Message.SendDate.DateTime.ToLongTimeString()</time>
                                </span>
                            </div>
                            <div class="kt-chat__text kt-bg-light-success">
                                @Html.Raw(messageDto.Message?.Text)
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>
<div class="kt-portlet__foot">
    <div class="kt-chat__input">
        <div class="kt-chat__editor">
            @Html.TextArea("Text", null, new { placeholder = Labels.TypeYourMessage + "...", rows = 3, disabled = true })
            @*<textarea style="height: 50px" placeholder="Type here..."></textarea>*@
        </div>
        <div class="kt-chat__toolbar">
            <div class="kt_chat__tools">
                @*<a href="#"><i class="flaticon2-link"></i></a>
                    <a href="#"><i class="flaticon2-photograph"></i></a>
                    <a href="#"><i class="flaticon2-photo-camera"></i></a>*@
            </div>
            <div class="kt_chat__actions">
                <button id="SendMessage" type="button" class="btn btn-brand btn-md btn-upper btn-bold kt-chat__reply" disabled>@Labels.Send</button>
            </div>
        </div>
    </div>
</div>