@using PlataformaRio2C.Domain.Dtos
@using PlataformaRio2C.Domain.Constants
@model AttendeeCollaboratorSiteDetailsDto
@{
    ViewBag.Title = $"{Labels.Member}  {Model.Collaborator.GetFullName()}";
}
@Html.Hidden("AggregateId", Model.Collaborator.Uid)
<div class="row">
    <!--begin: Main Container-->
    <div class="col-md-8 col-lg-9">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-12">
                        <div id="MainInformationWidget" class="kt-portlet" style="min-height: 325px;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="SocialNetworksWidget" class="kt-portlet" style="min-height: 325px;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="AudiovisualCommissionEvaluationsWidget" class="kt-portlet" style="min-height: 325px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end: Main Container-->
    <!--begin: Right Container-->
    <div class="col-md-4 col-lg-3">
        <div class="row">
            <div class="col-12">
                <div id="OnboardingInfoWidget" class="kt-portlet" style="min-height: 325px;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="AudiovisualCommissionInterestsWidget" class="kt-portlet" style="min-height: 325px;"></div>
            </div>
        </div>
    </div>
    <!--end: Right Container-->
</div>
@section Styles {
    @Styles.Render("~/bundles/css/cropper.css")
    @Styles.Render("~/bundles/css/select2.css")
    @Styles.Render("~/bundles/css/jquery.autocomplete.css")
    @Styles.Render("~/bundles/css/bootstrap-datepicker.css")
}
@section Scripts {
    @Scripts.Render("~/bundles/js/cropper.js")
    @Scripts.Render("~/bundles/js/select2.js")
    @Scripts.Render("~/bundles/js/inputmask.js")
    @Scripts.Render("~/bundles/js/jquery.autocomplete.js")
    @Scripts.Render("~/bundles/js/bootstrap-datepicker.js")
    @Scripts.Render("~/bundles/js/bootbox.js")
    @Scripts.Render("~/bundles/js/addresses.form.js")
    @Scripts.Render("~/bundles/js/audiovisual.commissions.details.js")
<script>
        jQuery(document).ready(function () {
            CollaboratorsMainInformationWidget.init('@(CollaboratorType.CommissionAudiovisual)');
            CollaboratorsSocialNetworksWidget.init('@(CollaboratorType.CommissionAudiovisual)');
            CollaboratorsOnboardingInfoWidget.init('@(CollaboratorType.CommissionAudiovisual)');
            AudiovisualCommissionsInterestsWidget.init();
            AudiovisualCommissionsEvaluationsWidget.init();
        });
</script>
}