@using PlataformaRio2C.Domain.Dtos
@using Constants = PlataformaRio2C.Domain.Constants;
@using PlataformaRio2c.Infra.Data.FileRepository.Helpers
@using PlataformaRio2C.Domain.Statics
@using PlataformaRio2C.Domain.Entities;
@model MusicProjectDto
@{
    var editionDto = ViewBag.EditionDto as EditionDto;
    var userAccessControlDto = ViewBag.UserAccessControlDto as UserAccessControlDto;
    var currentEvaluation = Model.AttendeeMusicBandDto.GetLastAttendeeMusicBandEvaluation(userAccessControlDto);
    var hasCurrentEvaluation = currentEvaluation != null;
    var isEvaluatedByCurrentUser = currentEvaluation?.EvaluatorUser?.Id == userAccessControlDto.User.Id;
    var isCommissionMusicCurator = userAccessControlDto.IsCommissionMusicCurator();
    var isCommissionMusic = userAccessControlDto.IsCommissionMusic();
    var disapprovalByPopulation = ViewBag.DisapprovalByPopulation as int? ?? 0;
    var enabledEvaluationProperties = isEvaluatedByCurrentUser ?
        $"title='{Labels.ClickHereToChangeEvaluation}' onclick='MyRio2cCommon.enableFieldEdit({{ dataId: \"EvaluationGradeMain\" }})' style='cursor: pointer;'" :
        "";
}
<div class="kt-portlet__body">
    <div class="kt-widget kt-widget--user-profile-3">
        <div class="kt-widget__top">
            <div style="float: right;">
                @if (Model.AttendeeMusicBandDto?.MusicBand?.HasImage() == true)
                {
                    var imageUrlThumb = ImageHelper.GetImageUrl(FileRepositoryPathType.MusicBandImage, Model.AttendeeMusicBandDto.MusicBand.Uid, Model.AttendeeMusicBandDto.MusicBand.ImageUploadDate, true);
                    var imageUrlOriginal = imageUrlThumb.Replace("_thumbnail.png", "_original.png");

                    <div class="kt-widget__media">
                        <img src="@imageUrlThumb"
                             alt="image"
                             class="clickable-band-image"
                             data-full-image="@imageUrlOriginal"
                             style="cursor: pointer;" />
                    </div>
                }
                else
                {
                    <div class="kt-widget__pic kt-widget__pic--info kt-font-info kt-font-boldest" style="width: 110px; height: 110px;">
                        <span>@(Model.AttendeeMusicBandDto?.MusicBand?.GetNameAbbreviation() ?? "-")</span>
                    </div>
                }
            </div>
            <div class="kt-widget__content">
                <div class="kt-widget__head">
                    <span class="kt-widget__username">
                        @(Model.AttendeeMusicBandDto?.MusicBand?.Name ?? "-")
                    </span>
                </div>
                <div class="kt-widget__info">
                    <div class="kt-widget__desc">
                        <div class="kt-widget__subhead pt-0">
                            @(Model.AttendeeMusicBandDto?.MusicBandType?.Name?.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|') ?? "-")
                        </div>
                        <div class="kt-widget__subhead pt-1 pb-0">
                            @Labels.MusicGenre:
                            @if (Model.AttendeeMusicBandDto?.MusicBandGenreDtos?.Any() == true)
                            {
                                foreach (var musicBandGenreDto in Model.AttendeeMusicBandDto.MusicBandGenreDtos)
                                {
                                    <span class="kt-badge kt-badge--inline kt-badge--info">
                                        @(musicBandGenreDto.MusicGenre.Name.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|'))
                                        @if (musicBandGenreDto.MusicGenre.HasAdditionalInfo && !string.IsNullOrEmpty(musicBandGenreDto.MusicBandGenre.AdditionalInfo))
                                        {
                                            @musicBandGenreDto.MusicBandGenre.AdditionalInfo
                                        }
                                    </span>
                                }
                            }
                            else
                            {
                                @:-
                            }
                        </div>
                        <div class="kt-widget__subhead pt-1 pb-0">
                            @Labels.TargetAudience:
                            @if (Model.AttendeeMusicBandDto?.MusicBandTargetAudienceDtos?.Any() == true)
                            {
                                foreach (var musicBandTargetAudienceDto in Model.AttendeeMusicBandDto.MusicBandTargetAudienceDtos)
                                {
                                    <span class="kt-badge kt-badge--inline kt-badge--primary">@(musicBandTargetAudienceDto.TargetAudience.Name.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|'))</span>
                                }
                            }
                            else
                            {
                                @:-
                            }
                        </div>
                    </div>
                    <div class="myrio2c-evaluation-position">
                        <div class="kt-widget__text" data-id="EvaluationGradeMain">
                            @if (hasCurrentEvaluation)
                            {
                                <div class="view">
                                    @if (currentEvaluation.AttendeeMusicBandEvaluation.CommissionEvaluationStatusId == ProjectEvaluationStatus.Accepted.Id
                                        || currentEvaluation.AttendeeMusicBandEvaluation.CuratorEvaluationStatusId == ProjectEvaluationStatus.Accepted.Id
                                        || currentEvaluation.AttendeeMusicBandEvaluation.PopularEvaluationStatusId == ProjectEvaluationStatus.Accepted.Id
                                        || currentEvaluation.AttendeeMusicBandEvaluation.RepechageEvaluationStatusId == ProjectEvaluationStatus.Accepted.Id)
                                    {
                                        <div class="myrio2c-alert-box success mx-auto text-center" @Html.Raw(enabledEvaluationProperties)>
                                            <span class="fa fa-thumbs-up mr-2"></span><span>@Labels.ApprovedBy</span>
                                            <br />
                                            <text>@currentEvaluation.EvaluatorUser.Name</text>
                                        </div>
                                    }
                                    else if (currentEvaluation.AttendeeMusicBandEvaluation.CommissionEvaluationStatusId == ProjectEvaluationStatus.Refused.Id
                                        || currentEvaluation.AttendeeMusicBandEvaluation.CuratorEvaluationStatusId == ProjectEvaluationStatus.Refused.Id
                                        || currentEvaluation.AttendeeMusicBandEvaluation.PopularEvaluationStatusId == ProjectEvaluationStatus.Refused.Id
                                        || currentEvaluation.AttendeeMusicBandEvaluation.RepechageEvaluationStatusId == ProjectEvaluationStatus.Refused.Id)
                                    {
                                        <div class="myrio2c-alert-box danger mx-auto text-center" @Html.Raw(enabledEvaluationProperties)>
                                            <span class="fa fa-thumbs-down mr-2"></span><span>@Labels.RefusedBy</span>
                                            <br />
                                            <text>@currentEvaluation.EvaluatorUser.Name</text>
                                        </div>
                                    }
                                </div>
                            }

                            @if (isCommissionMusicCurator && editionDto.IsMusicPitchingCuratorEvaluationOpen() == true)
                            {
                                <div class="edit @(hasCurrentEvaluation ? "d-none" : "")">
                                    <form class="form-inline myrio2c-evaluation-grade-box-form justify-content-center">
                                        <div class="form-group ml-3 mt-2 mb-2 mr-3">
                                            <button @(currentEvaluation?.AttendeeMusicBandEvaluation.CuratorEvaluationStatusId == ProjectEvaluationStatus.Accepted.Id ? "disabled" : "")
                                                    type="button"
                                                    class="btn btn-success"
                                                    onclick="MusicProjectsEvaluationWidget.showAcceptModal('@Model.MusicProject.Uid');">
                                                <i class="fa fa-thumbs-up"></i> @Labels.Approve
                                            </button>
                                        </div>
                                        <div class="form-group mt-2 mb-2 mr-3">
                                            <button @(currentEvaluation?.AttendeeMusicBandEvaluation.CuratorEvaluationStatusId == ProjectEvaluationStatus.Refused.Id ? "disabled" : "")
                                                    type="button"
                                                    class="btn btn-danger"
                                                    onclick="MusicProjectsEvaluationWidget.showRefuseModal('@Model.MusicProject.Uid');">
                                                <i class="fa fa-thumbs-down"></i> @Labels.RefuseProject
                                            </button>
                                        </div>
                                        @if (hasCurrentEvaluation)
                                        {
                                            <button type="button" class="btn btn-secondary mt-2 mb-2 mr-2 pl-4" onclick="MyRio2cCommon.disableFieldEdit({ dataId: 'EvaluationGradeMain' })" data-toggle="tooltip" title="@(Labels.Cancel)">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        }
                                    </form>
                                </div>
                            }
                            else if (isCommissionMusicCurator && editionDto?.IsMusicPitchingRepechageEvaluationOpen() == true && disapprovalByPopulation > 0)
                            {
                                <div class="edit @(hasCurrentEvaluation ? "d-none" : "")">
                                    <form class="form-inline myrio2c-evaluation-grade-box-form justify-content-center">
                                        <div class="form-group ml-3 mt-2 mb-2 mr-3">
                                            <button @(currentEvaluation?.AttendeeMusicBandEvaluation.RepechageEvaluationStatusId == ProjectEvaluationStatus.Accepted.Id ? "disabled" : "")
                                                    type="button"
                                                    class="btn btn-success"
                                                    onclick="MusicProjectsEvaluationWidget.showAcceptModal('@Model.MusicProject.Uid');">
                                                <i class="fa fa-thumbs-up"></i> @Labels.ApproveToRepechage
                                            </button>
                                        </div>
                                        <div class="form-group mt-2 mb-2 mr-3">
                                            <button @(currentEvaluation?.AttendeeMusicBandEvaluation.RepechageEvaluationStatusId == ProjectEvaluationStatus.Refused.Id ? "disabled" : "")
                                                    type="button"
                                                    class="btn btn-danger"
                                                    onclick="MusicProjectsEvaluationWidget.showRefuseModal('@Model.MusicProject.Uid');">
                                                <i class="fa fa-thumbs-down"></i> @Labels.DisapproveToRepechage
                                            </button>
                                        </div>
                                        @if (hasCurrentEvaluation)
                                        {
                                            <button type="button" class="btn btn-secondary mt-2 mb-2 mr-2 pl-4" onclick="MyRio2cCommon.disableFieldEdit({ dataId: 'EvaluationGradeMain' })" data-toggle="tooltip" title="@(Labels.Cancel)">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        }
                                    </form>
                                </div>
                            }
                            else if (isCommissionMusic && editionDto?.IsMusicPitchingComissionEvaluationOpen() == true)
                            {
                                <div class="edit @(hasCurrentEvaluation ? "d-none" : "")">
                                    <form class="form-inline myrio2c-evaluation-grade-box-form justify-content-center">
                                        <div class="form-group ml-3 mt-2 mb-2 mr-3">
                                            <button @(currentEvaluation?.AttendeeMusicBandEvaluation.CommissionEvaluationStatusId == ProjectEvaluationStatus.Accepted.Id ? "disabled" : "")
                                                    type="button"
                                                    class="btn btn-success"
                                                    onclick="MusicProjectsEvaluationWidget.showAcceptModal('@Model.MusicProject.Uid');">
                                                <i class="fa fa-thumbs-up"></i> @Labels.Approve
                                            </button>
                                        </div>
                                        <div class="form-group mt-2 mb-2 mr-3">
                                            <button @(currentEvaluation?.AttendeeMusicBandEvaluation.CommissionEvaluationStatusId == ProjectEvaluationStatus.Refused.Id ? "disabled" : "")
                                                    type="button"
                                                    class="btn btn-danger"
                                                    onclick="MusicProjectsEvaluationWidget.showRefuseModal('@Model.MusicProject.Uid');">
                                                <i class="fa fa-thumbs-down"></i> @Labels.RefuseProject
                                            </button>
                                        </div>
                                        @if (hasCurrentEvaluation)
                                        {
                                            <button type="button" class="btn btn-secondary mt-2 mb-2 mr-2 pl-4" onclick="MyRio2cCommon.disableFieldEdit({ dataId: 'EvaluationGradeMain' })" data-toggle="tooltip" title="@(Labels.Cancel)">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        }
                                    </form>
                                </div>
                            }
                            else if(!hasCurrentEvaluation)
                            {
                                <div class="row">
                                    <div class="col-12 mb-2">
                                        <div class="myrio2c-alert-box warning mx-auto text-center">
                                            <span>@Messages.OutOfEvaluationPeriod</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-widget__bottom">
            @if (!string.IsNullOrEmpty(Model.MusicProject?.Release))
            {
                <div class="kt-widget__item w-100">
                    <div class="kt-widget__details">
                        <span class="kt-widget__title">@Labels.Release</span>
                        <span class="kt-widget__value rio2c-scroll" style="max-height: 250px;"><span>@(Html.Raw(Model.MusicProject?.Release?.Replace("\n", "<br/>") ?? "-"))</span></span>
                    </div>
                </div>
            }
            <div class="kt-widget__item w-50 w-xs-100">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.MusicBandFormationYear</span>
                    <span class="kt-widget__value"><span class="text-break">@(Model.AttendeeMusicBandDto?.MusicBand?.FormationDate ?? "-")</span></span>
                </div>
            </div>
            <div class="kt-widget__item w-50 w-xs-100">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.MainMusicInfluences</span>
                    <span class="kt-widget__value"><span class="text-break">@(Model.AttendeeMusicBandDto?.MusicBand?.MainMusicInfluences ?? "-")</span></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ImageFullModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img id="FullBandImage" src="" alt="Band Image" style="max-width: 100%; max-height: 80vh;" />
            </div>
        </div>
    </div>
</div>