@model ForgotPasswordViewModel
@{
    ViewBag.Title = Texts.ForgotPassword;
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" }))
{
    <div class="login-wrap">
        <section id="loginForm">           

            <div class="title-forgot-password">
                <h4 class="text-center">@ViewBag.Title</h4>
                <h4 class="text-center"><small>@Texts.EnterEmail</small></h4>
            </div>

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email) })                
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error-login" })
            </div>

            <div class="form-group send-button">
                <input type="submit" value="@Labels.Send" class="btn btn-primary btn-lg btn-block" />
            </div>

            @*<p class="forgot-password"></p>*@
        </section>
    </div>
}