@model ForgotPasswordViewModel
@{
    Layout = "~/Views/Themes/Metronic/_InternalOutside.cshtml";
    ViewBag.Title = Texts.ForgotPassword;
}
<!--begin::ForgotPassword-->
<div class="kt-login__form">
    <div class="kt-login__title">
        <h3>@Texts.ForgotPassword</h3>
    </div>
    <!--begin::Form-->
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-signin kt-form", role = "form", novalidade = "novalidate" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "Something is wrong", new { @class = "text-danger" })
        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email) })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <!--begin::Action-->
        <div class="kt-login__actions">
            <a href="@Url.Action("Login", "Account", new { Area = "" })" class="kt-link kt-login__link-forgot">
                @(Labels.GoBackToSignIn)
            </a>
            <input type="submit" value="@Labels.Send" class="btn btn-primary btn-elevate kt-login__btn-primary" />
        </div>
        <!--end::Action-->
    }
    <!--end::Form-->
</div>
<!--end::ForgotPassword-->
@section Styles {
    @Styles.Render("~/bundles/css/loginCustomStyles")
}
@section Scripts {
    @Scripts.Render("~/bundles/js/loginCustomScripts")
}

@*@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" }))
{
    <div class="login-wrap">
        <section id="loginForm">

            <div class="title-forgot-password">
                <h4 class="text-center">@ViewBag.Title</h4>
                <h4 class="text-center"><small>@Texts.EnterEmail</small></h4>
            </div>

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email) })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error-login" })
            </div>

            <div class="form-group send-button">
                <input type="submit" value="@Labels.Send" class="btn btn-primary btn-lg btn-block" />
            </div>

        </section>
    </div>
}*@