@model ResetPasswordViewModel
@{
    ViewBag.Title = Labels.ChangePassword;
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" }))
{
    <div class="login-wrap">
        <section id="loginForm">

            <div class="title-forgot-password">
                <h4 class="text-center">@ViewBag.Title</h4>                
            </div>

            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Code)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email) })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error-login" })
            </div>

            <div class="form-group">                
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password) })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error-login" })
            </div>

            <div class="form-group">                
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.ConfirmPassword) })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "error-login" })
            </div>

            <div class="form-group send-button">
                <input type="submit" value="@Labels.Reset" class="btn btn-primary btn-lg btn-block" />
            </div>
        </section>
    </div>
}
