@using PlataformaRio2C.Domain.Dtos
@model CollaboratorDto
@{
    // ViewBag.Title = $"{Labels.Edition}  {Model.Edition.Name}";
}
@Html.Hidden("AggregateId", Model.Uid)
<div class="row">
    <div class="col-md-12">
        <!--begin:Main Information Widget-->
        <div class="row">
            <div class="col-12">
                <div id="ManagersMainInformationWidget" class="kt-portlet" style="min-height: 150px;"></div>
            </div>
        </div>
        <!--end:Main Information Widget-->
    </div>
</div>

@section Styles {
    @Styles.Render("~/bundles/css/dataTables.css")
    @Styles.Render("~/bundles/css/cropper.css")
    @Styles.Render("~/bundles/css/select2.css")
    @Styles.Render("~/bundles/css/bootstrap-datepicker.css")
}
@section Scripts {
    @Scripts.Render("~/bundles/js/dataTables.js")
    @Scripts.Render("~/bundles/js/chart.js")
    @Scripts.Render("~/bundles/js/cropper.js")
    @Scripts.Render("~/bundles/js/select2.js")
    @Scripts.Render("~/bundles/js/bootbox.js")
    @Scripts.Render("~/bundles/js/dynamic.list.js")
    @Scripts.Render("~/bundles/js/bootstrap-datepicker.js")
    @Scripts.Render("~/bundles/js/managers.maininformation.widget.js")
    @Scripts.Render("~/bundles/js/managers.update.js")

    <script>
        jQuery(document).ready(function () {
            ManagersMainInformationWidget.show();
        });
    </script>

}