@model PlataformaRio2C.Application.CQRS.Commands.TrackNameBaseCommand
<div class="form-group row">
    <div class="col-lg-12">
        @Html.LabelFor(m => m.Value, $"{Labels.Name} ({Model.LanguageCode.GetSplittedWord('-', 0).ToUpper()})", new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Value, new { @class = "form-control" })
        @Html.HiddenFor(m => m.LanguageCode)
        @Html.HiddenFor(m => m.LanguageName)
        @Html.ValidationMessageFor(m => m.Value, null, new { @class = "text-danger" })
    </div>
</div>