@using System.Globalization
@model PlataformaRio2C.Application.CQRS.Commands.OrganizationActivityBaseCommand
<div data-id="@Model.ActivityUid">
    @Html.HiddenFor(m => m.ActivityUid)
    @Html.HiddenFor(m => m.ActivityName)
    @Html.HiddenFor(m => m.ActivityHasAdditionalInfo)
    <label class="kt-checkbox" style="margin-bottom: 5px;">
        @if (!Model.ActivityHasAdditionalInfo)
        {
            @Html.CheckBoxFor(m => m.IsChecked, new { @class = "require-one", data_id = "activity-group" })
        }
        else
        {
            @Html.CheckBoxFor(m => m.IsChecked, new { @class = "require-one toggle-addicional-info", data_id = "activity-group", data_toggle_id = Model.ActivityUid })
        }
        @Model.ActivityName.GetSeparatorTranslation(CultureInfo.CurrentCulture.ToString(), '|')
        <span></span>
    </label>
    @if (Model.ActivityHasAdditionalInfo)
    {
        <div class="additional-info @(!Model.IsChecked ? "d-none" : string.Empty)">
            @Html.TextBoxFor(m => m.AdditionalInfo, (Model.IsChecked ? (object)new { @class = "form-control" } : (object)new { @class = "form-control additional-info-textbox", disabled = "" }))
            <span class="form-text text-muted">@Messages.TextInPortugueseInEnglish</span>
        </div>
    }
</div>