@{
    var area = ViewContext.RouteData.DataTokens["area"] != null && !string.IsNullOrWhiteSpace(ViewContext.RouteData.DataTokens["area"].ToString()) ? ViewContext.RouteData.DataTokens["area"].ToString() : "Player";

    if (area == "ProducerArea")
    {
        area = "Produtora";
    }

    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

<!--header start-->
<header class="header gradient-bg">
    <div class="navbar-header">        
        <a href="@Url.Action("Index", "Dashboard")" class="logo">
            Rio2C
        </a>

        <!--logo end-->
        <div class="horizontal-menu navbar-collapse collapse" style="margin-left:220px; margin-top:6px;">
            <ul class="nav navbar-nav" style="display:none;">
                <li><a class="@Html.AddClassActive("active", "Index,Create,Edit,Detail", "Project")"  href="@Url.Action("Index", "Project")"><i class="icon-circle"></i> <span>@Labels.Projects</span></a></li>

                @if (area == "Produtora")
                {
                    <li><a class="@Html.AddClassActive("active", "Index,Create,Edit", "Player")" href="@Url.Action("List", "Player")"><i class="icon-circle"></i> <span>@Labels.Players</span></a></li>
                }

                <!--<li><a class="@Html.AddClassActive("active", "Index", "Schedule")" href="@Url.Action("Index", "Schedule")"><i class="icon-circle"></i> <span>@Labels.Diary <small>@Labels.BusinessRound</small></span></a></li>-->
                <li><a class="@Html.AddClassActive("active", "Index", "Conference")" href="@Url.Action("Index", "Conference")"><i class="icon-circle"></i> <span>@Labels.Conferences</span></a></li>
            </ul>
        </div>

        @Html.Partial("_LoginPartial")
    </div>
</header>
<!--header end-->