@using PlataformaRio2c.Infra.Data.FileRepository.Helpers
@using PlataformaRio2C.Domain.Dtos
@using PlataformaRio2C.Domain.Entities
@using PlataformaRio2C.Domain.Statics
@model MusicBusinessRoundProjectDto
@{
    var editionDto = ViewBag.EditionDto as EditionDto;
}
@if (Model != null)
{
    <div class="kt-portlet__body">
        <div class="kt-widget5">
            <div class="kt-widget kt-widget--project-1" style="border-bottom: 0.07rem dashed #ebedf2;">
                <div class="kt-widget__head pt-0">
                    <div class="kt-widget__label">
                        <div class="kt-widget__media" style="padding-right: 10px">
                            <a href="@Url.Action("Details", "Executives", new { Area = "", id = Model.SellerAttendeeCollaboratorDto?.Collaborator?.Uid })" target="_blank">
                                @if (Model.SellerAttendeeCollaboratorDto?.Collaborator?.HasImage() == true)
                                {
                                    <span class="kt-media kt-media--lg kt-margin-r-5 kt-margin-t-5">
                                        <img src="@ImageHelper.GetImageUrl(FileRepositoryPathType.UserImage, Model.SellerAttendeeCollaboratorDto.Collaborator.Uid, Model.SellerAttendeeCollaboratorDto.Collaborator.ImageUploadDate, true)" alt="" style="max-width: 65px; max-height: 65px;">
                                    </span>
                                }
                                else
                                {
                                    <div class="kt-userpic kt-userpic--lg kt-userpic--brand kt-margin-r-5 kt-margin-t-5">
                                        <span>@(Model.SellerAttendeeCollaboratorDto?.Collaborator?.GetDisplayNameAbbreviation())</span>
                                    </div>
                                }
                            </a>
                        </div>
                        <div class="kt-widget__info mt-0 pl-0">
                            <a href="@Url.Action("EvaluationDetails", "BusinessRoundProjects", new { Area = "Music", id = Model.Uid })" class="kt-widget__title">
                                @(Model.SellerAttendeeCollaboratorDto?.Collaborator?.GetFullName())
                            </a>
                            @*<span class="kt-widget__desc">
            @Labels.Participant: <a href="@Url.Action("Details", "Executives", new { Area = "", id = Model.SellerAttendeeCollaboratorDto?.Collaborator?.Uid })" target="_blank">@(Model.SellerAttendeeCollaboratorDto?.Collaborator?.GetFullName())</a>
        </span>*@
                            <span class="kt-widget__desc">
                                @Labels.ParticipantProfile:
                                @{
                                    if (Model.MusicBusinessRoundProjectTargetAudienceDtos?.Any() == true)
                                    {
                                        foreach (var targetAudienceDto in Model.MusicBusinessRoundProjectTargetAudienceDtos)
                                        {
                                            <span class="kt-badge kt-badge--inline kt-badge--info ml-2">@(targetAudienceDto.TargetAudience.Name.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|'))</span>
                                        }
                                    }
                                }
                            </span>
                            <span class="kt-widget__desc">
                                @Labels.LookingFor:
                                @{
                                    var projectInterestsLookingForDtos = Model.GetAllInterestsByInterestGroupUid(InterestGroup.MusicLookingFor.Uid);
                                    if (projectInterestsLookingForDtos?.Any() == true)
                                    {
                                        foreach (var projectInterestLookingForDto in projectInterestsLookingForDtos)
                                        {
                                            <span class="kt-badge kt-badge--inline kt-badge--info ml-2">@(projectInterestLookingForDto.Interest.GetNameTranslation(ViewBag.UserInterfaceLanguage))</span>
                                        }
                                    }
                                }
                            </span>
                            <span class="kt-widget__desc">
                                @Labels.Interest:
                                @{
                                    var projectInterestsDtos = Model.GetAllInterestsByInterestGroupUid(InterestGroup.MusicOpportunitiesYouOffer.Uid);
                                    if (projectInterestsDtos?.Any() == true)
                                    {
                                        foreach (var projectInterestDto in projectInterestsDtos)
                                        {
                                            <span class="kt-badge kt-badge--inline kt-badge--info ml-2">@(projectInterestDto.Interest.GetNameTranslation(ViewBag.UserInterfaceLanguage))</span>
                                        }
                                    }
                                }
                            </span>
                        </div>
                    </div>
                </div>
                <div class="kt-widget__body pb-0">
                    <div class="kt-widget__content">
                        @Labels.ExpectationsForMeeting:
                        @(Model.GetProjectExpectationsDtoByLanguageCode(ViewBag.UserInterfaceLanguage)?.Value)

                        @Html.Partial("Shared/_BuyersEvaluations", Model)
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-20 pt-4 justify-content-end">
            <div class="col-4 text-center">
                <a href="@Url.Action("EvaluationDetails", "BusinessRoundProjects", new { Area = "Music", id = Model.Uid })" class="btn btn-brand">@Labels.View</a>
            </div>
            @if (editionDto?.IsMusicBusinessRoundProjectBuyerEvaluationOpen() == true)
            {
                <div class="col-4 text-center">
                    <button type="button" class="btn btn-success" onclick="ProjectsBuyerEvaluationUpdateWidget.showAcceptModal('@Model.Uid');">
                        <i class="fa fa-thumbs-up"></i> @Labels.AcceptProject
                    </button>
                </div>
                <div class="col-4 text-center">
                    <button type="button" class="btn btn-danger" onclick="ProjectsBuyerEvaluationUpdateWidget.showRefuseModal('@Model.Uid');">
                        <i class="fa fa-thumbs-down"></i> @Labels.RefuseProject
                    </button>
                </div>
            }
        </div>
    </div>
}