@{
    ViewBag.Title = Labels.Contacts;
}
@Html.Partial("Shared/_ContactListSearchForm")
<div id="NetworksContactsListWidget" class="kt-grid__item kt-grid__item--fluid"></div>
@section Styles {
    @Styles.Render("~/bundles/css/select2.css")
}
@section Scripts {
    @Scripts.Render("~/bundles/js/select2.js")
    @Scripts.Render("~/bundles/js/networks.contacts.js")
    <script>
        // Page translations ----------------------------------------------------------------------
        var translations = {
            selectPlaceholderAn: '@Labels.SelectAnFEntity',
            selectPlaceholderA: '@Labels.SelectAFEntity',
            industry: '@Html.Raw(Labels.CollaboratorIndustry.ToLowerInvariant())',
            role: '@Html.Raw(Labels.Role.ToLowerInvariant())'
        };

        jQuery(document).ready(function () {
            NetworksContacts.init();
            NetworksContactsListWidget.init();
        });
    </script>
}