@using PlataformaRio2C.Domain.Dtos
@using System.Linq;
@using PlataformaRio2C.Domain.Entities;
@model MusicProjectDto
@{
    var editionDto = ViewBag.EditionDto as EditionDto;
    var userAccessControlDto = ViewBag.UserAccessControlDto as UserAccessControlDto;
    var currentEvaluation = Model.AttendeeMusicBandDto.GetLastAttendeeMusicBandEvaluation(userAccessControlDto);
    var hasCurrentEvaluation = currentEvaluation != null;
    var isCommissionMusicCurator = userAccessControlDto.IsCommissionMusicCurator();
    var isCommissionMusic = userAccessControlDto.IsCommissionMusic();
}
@if (hasCurrentEvaluation)
{
    <div class="row">
        <div class="col-12 mb-2">
            @if (currentEvaluation?.AttendeeMusicBandEvaluation.CommissionEvaluationStatusId == ProjectEvaluationStatus.Accepted.Id
                || currentEvaluation?.AttendeeMusicBandEvaluation.CuratorEvaluationStatusId == ProjectEvaluationStatus.Accepted.Id
                || currentEvaluation?.AttendeeMusicBandEvaluation.PopularEvaluationStatusId == ProjectEvaluationStatus.Accepted.Id
                || currentEvaluation?.AttendeeMusicBandEvaluation.RepechageEvaluationStatusId == ProjectEvaluationStatus.Accepted.Id)
            {
                <div class="myrio2c-alert-box success mx-auto text-center">
                    <span class="fa fa-thumbs-up mr-1"></span><span>@Labels.ApprovedBy</span>
                    <br />
                    <text>@currentEvaluation.EvaluatorUser.Name</text>
                </div>
            }
            else if (currentEvaluation?.AttendeeMusicBandEvaluation.CommissionEvaluationStatusId == ProjectEvaluationStatus.Refused.Id
                || currentEvaluation?.AttendeeMusicBandEvaluation.CuratorEvaluationStatusId == ProjectEvaluationStatus.Refused.Id
                || currentEvaluation?.AttendeeMusicBandEvaluation.PopularEvaluationStatusId == ProjectEvaluationStatus.Refused.Id
                || currentEvaluation?.AttendeeMusicBandEvaluation.RepechageEvaluationStatusId == ProjectEvaluationStatus.Refused.Id)
            {
                <div class="myrio2c-alert-box danger mx-auto text-center">
                    <span class="fa fa-thumbs-down mr-1"></span><span>@Labels.RefusedBy</span>
                    <br />
                    <text>@currentEvaluation.EvaluatorUser.Name</text>
                </div>
            }
        </div>
    </div>
}
else if ((isCommissionMusic && editionDto.IsMusicPitchingComissionEvaluationOpen())
    || (isCommissionMusicCurator && editionDto.IsMusicPitchingCuratorEvaluationOpen())
    || (isCommissionMusicCurator && editionDto.IsMusicPitchingRepechageEvaluationOpen()))
{
    <div class="row">
        <div class="col-12 mb-2">
            <div class="myrio2c-alert-box warning mx-auto text-center">
                <span>@Labels.UnderEvaluation</span>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-12 mb-2">
            <div class="myrio2c-alert-box warning mx-auto text-center">
                <span>@Messages.OutOfEvaluationPeriod</span>
            </div>
        </div>
    </div>
}

