@model string
@{
    var music = Model;
}
@if (!string.IsNullOrEmpty(music))
{
    if (music?.IsYoutubeVideo() == true || music?.IsVimeoVideo() == true  || music?.IsFacebookVideo() == true)
    {
        <div class="row mt-3 justify-content-center">
            <div class="col-sm-8 col-md-8 col-lg-6">
                <div class="embed-responsive embed-responsive-16by9 d-flex">
                    @Html.Raw(music.ConvertVideoToEmbed())
                </div>
            </div>
        </div>
    }
    else if (music?.IsSpotifyMusic() == true)
    {
        <div class="row mt-3 justify-content-center">
            <div class="col-sm-8 col-md-8 col-lg-6">
                <div class="embed-responsive embed-responsive-16by9 d-flex">
                    @Html.Raw(music.ConvertMusicToEmbed())
                </div>
            </div>
        </div>
    }
    <div class="row mt-2">
        <div class="col-12 text-center">
            <span><a href="@music" target="_blank"><small class="text-break">@music</small></a></span>
        </div>
    </div>
}
else
{
    <div class="row mt-3">
        <div class="col-12 text-center">
            <span class="text-center">@string.Format(Messages.EntityNotAction, @Labels.Music, Labels.FoundF)</span>
        </div>
    </div>
}