@using PlataformaRio2C.Domain.Dtos
@model EditionDto
<div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
            @Labels.Dates
        </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
        <div class="kt-portlet__head-actions">
            <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md btn-circle" onclick="EditionsDatesInformationWidget.showUpdateModal();">
                <i class="flaticon2-edit"></i>
            </button>
        </div>
    </div>
</div>
<div class="kt-portlet__body pt-0">
    <div class="mt-30 mb-0">
        <h3 class="kt-subheader__title mb-0">@Labels.BusinessRounds - @Labels.AudioVisual</h3>
        <div class="kt-separator kt-separator--border kt-separator--border w-100 mt-2"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.ProjectSubmitStartDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.ProjectSubmitStartDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.ProjectSubmitEndDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.ProjectSubmitEndDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.ProjectEvaluationStartDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.ProjectEvaluationStartDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.ProjectEvaluationEndDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.ProjectEvaluationEndDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.NegotiationStartDate</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.NegotiationStartDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.NegotiationEndDate</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.NegotiationEndDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.AttendeeOrganizationMaxSellProjectsCount</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.AttendeeOrganizationMaxSellProjectsCount)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.ProjectMaxBuyerEvaluationsCount</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.ProjectMaxBuyerEvaluationsCount)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.AudiovisualNegotiationsVirtualMeetingsJoinMinutes</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.AudiovisualNegotiationsVirtualMeetingsJoinMinutes) @Labels.Minutes.ToLowerInvariant()
                </div>
            </div>
        </div>
    </div>

    <div class="mt-30 mb-0">
        <h3 class="kt-subheader__title mb-0 mt-30">@Labels.BusinessRounds - @Labels.Music</h3>
        <div class="kt-separator kt-separator--border kt-separator--border w-100 mt-2"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mt-0 mb-3">@Labels.MusicBusinessRoundSubmitStartDate</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.MusicBusinessRoundSubmitStartDate?.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mt-0 mb-3">@Labels.MusicBusinessRoundSubmitEndDate</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.MusicBusinessRoundSubmitEndDate?.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.MusicBusinessRoundEvaluationStartDate</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.MusicBusinessRoundEvaluationStartDate?.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.MusicBusinessRoundEvaluationEndDate</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.MusicBusinessRoundEvaluationEndDate?.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.MusicBusinessRoundNegotiationStartDate</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.MusicBusinessRoundNegotiationStartDate?.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.MusicBusinessRoundNegotiationEndDate</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.MusicBusinessRoundNegotiationEndDate?.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.MusicBusinessRoundsMaximumProjectSubmissionsByCompany</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.MusicBusinessRoundsMaximumProjectSubmissionsByCompany)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.MusicBusinessRoundMaximumEvaluatorsByProject</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.MusicBusinessRoundMaximumEvaluatorsByProject)
                </div>
            </div>
        </div>
    </div>

    <div class="mt-30 mb-0">
        <h3 class="kt-subheader__title mb-0 mt-30">@Labels.Pitching - @Labels.Music</h3>
        <div class="kt-separator kt-separator--border kt-separator--border w-100 mt-2"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mt-0 mb-3">@Labels.MusicPitchingSubmitStartDate</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.MusicPitchingSubmitStartDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mt-0 mb-3">@Labels.MusicPitchingSubmitEndDate</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.MusicPitchingSubmitEndDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.MusicCommissionEvaluationStartDate</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.MusicCommissionEvaluationStartDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.MusicCommissionEvaluationEndDate</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.MusicCommissionEvaluationEndDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.MusicCommissionMinimumEvaluationsCount</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.MusicCommissionMinimumEvaluationsCount)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.MusicCommissionMaximumApprovedBandsCount</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.MusicCommissionMaximumApprovedBandsCount)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.MusicPitchingMaximumProjectSubmissionsByEdition</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.MusicPitchingMaximumProjectSubmissionsByEdition)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.MusicPitchingMaximumProjectSubmissionsByParticipant</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.MusicPitchingMaximumProjectSubmissionsByParticipant)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6" ">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.MusicPitchingMaximumProjectSubmissionsByCompany</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.MusicPitchingMaximumProjectSubmissionsByCompany)
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.MusicPitchingMaximumApprovedProjectsByCommissionMember</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.MusicPitchingMaximumApprovedProjectsByCommissionMember)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.MusicPitchingCuratorEvaluationStartDate</h3>
            <div class="row">
                <div class="col-12">
                    @(
                Model.Edition.MusicPitchingCuratorEvaluationStartDate.HasValue ?
                    Model.Edition.MusicPitchingCuratorEvaluationStartDate?.ToBrazilTimeZone().ToShortDateString()
                    : "-"
            )
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.MusicPitchingCuratorEvaluationEndDate</h3>
            <div class="row">
                <div class="col-12">
                    @(
                        Model.Edition.MusicPitchingCuratorEvaluationEndDate.HasValue ?
                            Model.Edition.MusicPitchingCuratorEvaluationEndDate?.ToBrazilTimeZone().ToShortDateString()
                            : "-"
                    )
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.MusicPitchingMaximumApprovedProjectsByCurator</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.MusicPitchingMaximumApprovedProjectsByCurator)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.MusicPitchingPopularEvaluationStartDate</h3>
            <div class="row">
                <div class="col-12">
                    @(
                        Model.Edition.MusicPitchingPopularEvaluationStartDate.HasValue ?
                            Model.Edition.MusicPitchingPopularEvaluationStartDate?.ToBrazilTimeZone().ToShortDateString()
                            : "-"
                    )
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.MusicPitchingPopularEvaluationEndDate</h3>
            <div class="row">
                <div class="col-12">
                    @(
                        Model.Edition.MusicPitchingPopularEvaluationEndDate.HasValue ?
                            Model.Edition.MusicPitchingPopularEvaluationEndDate?.ToBrazilTimeZone().ToShortDateString()
                            : "-"
                    )
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.MusicPitchingMaximumApprovedProjectsByPopularVote</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.MusicPitchingMaximumApprovedProjectsByPopularVote)
                </div>
            </div>
        </div> 
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.MusicPitchingRepechageEvaluationStartDate</h3>
            <div class="row">
                <div class="col-12">
                    @(
                Model.Edition.MusicPitchingRepechageEvaluationStartDate.HasValue ?
                    Model.Edition.MusicPitchingRepechageEvaluationStartDate?.ToBrazilTimeZone().ToShortDateString()
                    : "-"
            )
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.MusicPitchingRepechageEvaluationEndDate</h3>
            <div class="row">
                <div class="col-12">
                    @(
                        Model.Edition.MusicPitchingRepechageEvaluationEndDate.HasValue ?
                            Model.Edition.MusicPitchingRepechageEvaluationEndDate?.ToBrazilTimeZone().ToShortDateString()
                            : "-"
                    )
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.MusicPitchingMaximumApprovedProjectsByRepechage</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.MusicPitchingMaximumApprovedProjectsByRepechage)
                </div>
            </div>
        </div>
    </div>
    <div class="mt-30 mb-0">
        <h3 class="kt-subheader__title mb-0 mt-30">@Labels.Pitching - @Labels.Startup</h3>
        <div class="kt-separator kt-separator--border kt-separator--border w-100 mt-2"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm  mt-0 mb-3">@Labels.InnovationProjectSubmitStartDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.InnovationProjectSubmitStartDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm  mt-0 mb-3">@Labels.InnovationProjectSubmitEndDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.InnovationProjectSubmitEndDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.InnovationCommissionEvaluationStartDate</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.InnovationCommissionEvaluationStartDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.InnovationCommissionEvaluationEndDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.InnovationCommissionEvaluationEndDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.InnovationCommissionMinimumEvaluationsCount</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.InnovationCommissionMinimumEvaluationsCount)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.InnovationCommissionMaximumApprovedCompaniesCount</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.InnovationCommissionMaximumApprovedCompaniesCount)
                </div>
            </div>
        </div>
    </div>
    <!-- Audiovisual Commissions - Begin  -->
    <div class="mt-30 mb-0">
        <h3 class="kt-subheader__title mb-0 mt-30">@Labels.Pitching - @Labels.AudioVisual</h3>
        <div class="kt-separator kt-separator--border kt-separator--border w-100 mt-2"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.AudiovisualCommissionEvaluationStartDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.AudiovisualCommissionEvaluationStartDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.AudiovisualCommissionEvaluationEndDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.AudiovisualCommissionEvaluationEndDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.AudiovisualCommissionMinimumEvaluationsCount</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.AudiovisualCommissionMinimumEvaluationsCount)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.AudiovisualCommissionMaximumApprovedProjectsCount</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.AudiovisualCommissionMaximumApprovedProjectsCount)
                </div>
            </div>
        </div>
    </div>
    <!-- Audiovisual Commissions - End  -->
    <!-- Creator Commissions - Begin  -->
    <div class="mt-30 mb-0">
        <h3 class="kt-subheader__title mb-0 mt-30">@Labels.Pitching - @Labels.Creator</h3>
        <div class="kt-separator kt-separator--border kt-separator--border w-100 mt-2"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm  mt-0 mb-3">@Labels.ProjectSubmitStartDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.CreatorProjectSubmitStartDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm  mt-0 mb-3">@Labels.ProjectSubmitEndDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.CreatorProjectSubmitEndDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.ProjectEvaluationStartDate</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.CreatorCommissionEvaluationStartDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.ProjectEvaluationEndDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.CreatorCommissionEvaluationEndDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.CommissionMinimumEvaluationsCount</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.CreatorCommissionMinimumEvaluationsCount)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.CommissionMaximumApprovedProjectsCount</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.CreatorCommissionMaximumApprovedProjectsCount)
                </div>
            </div>
        </div>
    </div>
    <!-- Creator Commissions - End  -->
    @*Disabled on https://softohq.atlassian.net/browse/RIO2CMY-802*@
    @*<div class="mt-30 mb-0">
            <h3 class="kt-subheader__title mb-0 mt-30">@Labels.CartoonCommission</h3>
            <div class="kt-separator kt-separator--border kt-separator--border w-100 mt-2"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3 class="kt-heading kt-heading--sm  mt-0 mb-3">@Labels.CartoonProjectSubmitStartDate</h3>
                <div class="row mt-3">
                    <div class="col-12">
                        @(Model.Edition.CartoonProjectSubmitStartDate.ToBrazilTimeZone().ToShortDateString())
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="kt-heading kt-heading--sm  mt-0 mb-3">@Labels.CartoonProjectSubmitEndDate</h3>
                <div class="row mt-3">
                    <div class="col-12">
                        @(Model.Edition.CartoonProjectSubmitEndDate.ToBrazilTimeZone().ToShortDateString())
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3 class="kt-heading kt-heading--sm mb-3">@Labels.CartoonCommissionEvaluationStartDate</h3>
                <div class="row">
                    <div class="col-12">
                        @(Model.Edition.CartoonCommissionEvaluationStartDate.ToBrazilTimeZone().ToShortDateString())
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="kt-heading kt-heading--sm mb-3">@Labels.CartoonCommissionEvaluationEndDate</h3>
                <div class="row mt-3">
                    <div class="col-12">
                        @(Model.Edition.CartoonCommissionEvaluationEndDate.ToBrazilTimeZone().ToShortDateString())
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3 class="kt-heading kt-heading--sm mb-3">@Labels.InnovationCommissionMinimumEvaluationsCount</h3>
                <div class="row">
                    <div class="col-12">
                        @(Model.Edition.CartoonCommissionMinimumEvaluationsCount)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="kt-heading kt-heading--sm mb-3">@Labels.InnovationCommissionMaximumApprovedCompaniesCount</h3>
                <div class="row">
                    <div class="col-12">
                        @(Model.Edition.CartoonCommissionMaximumApprovedProjectsCount)
                    </div>
                </div>
            </div>
        </div>*@
</div>

