@using PlataformaRio2C.Domain.Dtos
@model EditionDto
<div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
            @Labels.Dates
        </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
        <div class="kt-portlet__head-actions">
            <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md btn-circle" onclick="EditionsDatesInformationWidget.showUpdateModal();">
                <i class="flaticon2-edit"></i>
            </button>
        </div>
    </div>
</div>
<div class="kt-portlet__body pt-0">
    <div class="mt-30 mb-0">
        <h3 class="kt-subheader__title mb-0">@Labels.AudiovisualNegotiations</h3>
        <div class="kt-separator kt-separator--border kt-separator--border w-100 mt-2"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.ProjectSubmitStartDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.ProjectSubmitStartDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.ProjectSubmitEndDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.ProjectSubmitEndDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.ProjectEvaluationStartDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.ProjectEvaluationStartDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.ProjectEvaluationEndDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.ProjectEvaluationEndDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.NegotiationStartDate</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.NegotiationStartDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.NegotiationEndDate</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.NegotiationEndDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.AttendeeOrganizationMaxSellProjectsCount</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.AttendeeOrganizationMaxSellProjectsCount)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.ProjectMaxBuyerEvaluationsCount</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.ProjectMaxBuyerEvaluationsCount)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.AudiovisualNegotiationsVirtualMeetingsJoinMinutes</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.AudiovisualNegotiationsVirtualMeetingsJoinMinutes) @Labels.Minutes.ToLowerInvariant()
                </div>
            </div>
        </div>
    </div>

    <div class="mt-30 mb-0">
        <h3 class="kt-subheader__title mb-0 mt-30">@Labels.MusicCommission</h3>
        <div class="kt-separator kt-separator--border kt-separator--border w-100 mt-2"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mt-0 mb-3">@Labels.MusicProjectSubmitStartDate</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.MusicProjectSubmitStartDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mt-0 mb-3">@Labels.MusicProjectSubmitEndDate</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.MusicProjectSubmitEndDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.MusicCommissionEvaluationStartDate</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.MusicCommissionEvaluationStartDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.MusicCommissionEvaluationEndDate</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.MusicCommissionEvaluationEndDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.MusicCommissionMinimumEvaluationsCount</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.MusicCommissionMinimumEvaluationsCount)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.MusicCommissionMaximumApprovedBandsCount</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.MusicCommissionMaximumApprovedBandsCount)
                </div>
            </div>
        </div>
    </div>

    <div class="mt-30 mb-0">
        <h3 class="kt-subheader__title mb-0 mt-30">@Labels.InnovationCommission</h3>
        <div class="kt-separator kt-separator--border kt-separator--border w-100 mt-2"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm  mt-0 mb-3">@Labels.InnovationProjectSubmitStartDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.InnovationProjectSubmitStartDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm  mt-0 mb-3">@Labels.InnovationProjectSubmitEndDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.InnovationProjectSubmitEndDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.InnovationCommissionEvaluationStartDate</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.InnovationCommissionEvaluationStartDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.InnovationCommissionEvaluationEndDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.InnovationCommissionEvaluationEndDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.InnovationCommissionMinimumEvaluationsCount</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.InnovationCommissionMinimumEvaluationsCount)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-3">@Labels.InnovationCommissionMaximumApprovedCompaniesCount</h3>
            <div class="row">
                <div class="col-12">
                    @(Model.Edition.InnovationCommissionMaximumApprovedCompaniesCount)
                </div>
            </div>
        </div>
    </div>

    <div class="mt-30 mb-0">
        <h3 class="kt-subheader__title mb-0 mt-30">@Labels.AudiovisualCommission</h3>
        <div class="kt-separator kt-separator--border kt-separator--border w-100 mt-2"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.AudiovisualNegotiationsCreateStartDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.AudiovisualNegotiationsCreateStartDate?.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.AudiovisualNegotiationsCreateEndDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.AudiovisualNegotiationsCreateEndDate?.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.AudiovisualCommissionEvaluationStartDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.AudiovisualCommissionEvaluationStartDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.AudiovisualCommissionEvaluationEndDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.AudiovisualCommissionEvaluationEndDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.AudiovisualCommissionMinimumEvaluationsCount</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.AudiovisualCommissionMinimumEvaluationsCount)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.AudiovisualCommissionMaximumApprovedProjectsCount</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.AudiovisualCommissionMaximumApprovedProjectsCount)
                </div>
            </div>
        </div>
    </div>
</div>

