@using PlataformaRio2C.Domain.Dtos
@model EditionDto
<div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
            @(Model.Edition?.Name ?? "-")
        </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
        <div class="kt-portlet__head-actions">
            <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md btn-circle" onclick="EditionsMainInformationWidget.showUpdateModal();">
                <i class="flaticon2-edit"></i>
            </button>
        </div>
    </div>
</div>
<div class="kt-portlet__body pt-0">
    <div class="row">
        <div class="col-md-4">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.UrlCode</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.UrlCode)
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.IsCurrent</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.IsCurrent.ToYesOrNoString())
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.IsActiveF</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.IsActive.ToYesOrNoString())
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.StartDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.StartDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.EndDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.EndDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.SellStartDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.SellStartDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.SellEndDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.SellEndDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3 class="kt-heading kt-heading--sm mb-0">@Labels.OneToOneMeetingsScheduleDate</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @(Model.Edition.OneToOneMeetingsScheduleDate.ToBrazilTimeZone().ToShortDateString())
                </div>
            </div>
        </div>
    </div>
</div>



