@using PlataformaRio2C.Domain.Dtos
@model EditionDto
<div class="kt-portlet__body">
    <div class="kt-widget kt-widget--user-profile-3">
        <div class="kt-widget__top">
            <div class="kt-widget__content pl-0" style="overflow: hidden;">
                <div class="kt-widget__head">
                    <span class="kt-widget__username">
                        @(Model.Edition?.Name ?? "-")
                    </span>
                    <div class="kt-widget__action">
                        <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md btn-circle" onclick="EditionsMainInformationWidget.showUpdateModal();">
                            <i class="flaticon2-edit"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-widget__bottom">
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.UrlCode</span>
                    <span class="kt-widget__value"><span>@(Model.Edition.UrlCode)</span></span>
                </div>
            </div>
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.StartDate</span>
                    <span class="kt-widget__value"><span>@(Model.Edition.StartDate.ToBrazilTimeZone().ToShortDateString())</span></span>
                </div>
            </div>
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.EndDate</span>
                    <span class="kt-widget__value"><span>@(Model.Edition.EndDate.ToBrazilTimeZone().ToShortDateString())</span></span>
                </div>
            </div>
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.IsCurrent</span>
                    <span class="kt-widget__value"><span>@(Model.Edition.IsCurrent.ToYesOrNoString())</span></span>
                </div>
            </div>
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.IsActiveF</span>
                    <span class="kt-widget__value"><span>@(Model.Edition.IsActive.ToYesOrNoString())</span></span>
                </div>
            </div>
        </div>
        <div class="kt-widget__bottom">
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.OneToOneMeetingsScheduleDate</span>
                    <span class="kt-widget__value"><span>@(Model.Edition.OneToOneMeetingsScheduleDate.ToBrazilTimeZone().ToShortDateString())</span></span>
                </div>
            </div>
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.AttendeeOrganizationMaxSellProjectsCount</span>
                    <span class="kt-widget__value"><span>@(Model.Edition.AttendeeOrganizationMaxSellProjectsCount)</span></span>
                </div>
            </div>
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.ProjectMaxBuyerEvaluationsCount</span>
                    <span class="kt-widget__value"><span>@(Model.Edition.ProjectMaxBuyerEvaluationsCount)</span></span>
                </div>
            </div>
        </div>
        <div class="kt-widget__bottom">
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.MusicProjectMinimumEvaluationsCount</span>
                    <span class="kt-widget__value"><span>@(Model.Edition.MusicProjectMinimumEvaluationsCount)</span></span>
                </div>
            </div>
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.MusicProjectMaximumApprovedBandsCount</span>
                    <span class="kt-widget__value"><span>@(Model.Edition.MusicProjectMaximumApprovedBandsCount)</span></span>
                </div>
            </div>
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="kt-widget__value"></span>
                </div>
            </div>
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="kt-widget__value"></span>
                </div>
            </div>
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="kt-widget__value"></span>
                </div>
            </div>
        </div>
    </div>
</div>
