@using PlataformaRio2C.Domain.Dtos
@model MusicProjectDto
@{
    var editionDto = ViewBag.EditionDto as EditionDto;
}
<div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">@Labels.Evaluation</h3>
    </div>
</div>
<div class="kt-portlet__body">
    <div class="kt-widget5">
        <div class="kt-widget kt-widget--project-1" style="@(editionDto?.IsMusicProjectEvaluationOpen() == true ? "border-bottom: 0.07rem dashed #ebedf2;" : string.Empty)">
            <div class="kt-widget__body pb-0">
                <div class="kt-widget__content">
                    @Html.Partial("Shared/_Evaluation", Model)
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-20 justify-content-center">
        @if (editionDto?.IsMusicProjectEvaluationOpen() == true)
        {
            <div class="col-4 text-center">
                <button type="button" class="btn btn-success" onclick="MusicProjectsEvaluationWidget.showAcceptModal('@Model.MusicProject.Uid');">
                    <i class="fa fa-thumbs-up"></i> @Labels.AcceptProject
                </button>
            </div>
            <div class="col-4 text-center">
                <button type="button" class="btn btn-danger" onclick="MusicProjectsEvaluationWidget.showRefuseModal('@Model.MusicProject.Uid');">
                    <i class="fa fa-thumbs-down"></i> @Labels.RefuseProject
                </button>
            </div>
        }
    </div>
</div>