@using PlataformaRio2C.Domain.Dtos
@model MusicProjectDto
@{
    var editionDto = ViewBag.EditionDto as EditionDto;
    var evaluationsCount = Model.AttendeeMusicBandDto.AttendeeMusicBandEvaluationsDtos?.Count();

    var evaluationDetailsAction = Url.Action("EvaluationDetails", "Projects", new
    {
        Area = "Music",
        id = Model.MusicProject.Id,
        //step = 0,
        searchKeywords = ViewBag.SearchKeywords,
        musicGenreUid = ViewBag.MusicGenreUid,
        evaluationStatusUid = ViewBag.EvaluationStatusUid,
        Page = ViewBag.Page,
        pageSize = ViewBag.PageSize
    });
}
@if (Model != null)
{
    <div class="kt-portlet__body">
        <div class="kt-widget5">
            <div class="kt-widget kt-widget--project-1">
                <div class="kt-widget__head p-0">
                    <div class="kt-widget__media">
                        <a href="@evaluationDetailsAction" target="_blank">
                            @if (Model.AttendeeMusicBandDto?.MusicBand?.HasImage() == true)
                            {
                                <span class="col-md-12 p-0 m-0">
                                    <img src="@(Model.AttendeeMusicBandDto?.MusicBand.ImageUrl)" class="img-fluid" alt="">
                                </span>
                            }
                            else
                            {
                                <div class="kt-userpic kt-userpic--lg kt-userpic--brand">
                                    <span>@(Model.AttendeeMusicBandDto?.MusicBand?.GetNameAbbreviation())</span>
                                </div>
                            }
                        </a>
                    </div>
                    <div class="kt-widget__info mt-3">
                        <span class="kt-widget__title h5">
                            @(Model.AttendeeMusicBandDto?.MusicBand?.Name ?? "-")
                        </span>
                        <br />
                        <span class="kt-widget__desc">
                            @(Model.AttendeeMusicBandDto?.MusicBandType?.Name ?? "-")
                        </span>
                        <br />
                        <span class="kt-widget__desc">
                            @Labels.MusicGenre:
                            @if (Model.AttendeeMusicBandDto?.MusicBandGenreDtos?.Any() == true)
                            {
                                foreach (var musicBandGenreDto in Model.AttendeeMusicBandDto.MusicBandGenreDtos)
                                {
                                    <span class="kt-badge kt-badge--inline kt-badge--info">
                                        @(musicBandGenreDto.MusicGenre.Name)
                                        @if (musicBandGenreDto.MusicGenre.HasAdditionalInfo && !string.IsNullOrEmpty(musicBandGenreDto.MusicBandGenre.AdditionalInfo))
                                        {
                                            @musicBandGenreDto.MusicBandGenre.AdditionalInfo
                                        }
                                    </span>
                                }
                            }
                            else
                            {
                                @:-
                            }
                        </span>
                        <br />
                        <span class="kt-widget__desc">
                            @Labels.TargetAudience:
                            @if (Model.AttendeeMusicBandDto?.MusicBandTargetAudienceDtos?.Any() == true)
                            {
                                foreach (var musicBandTargetAudienceDto in Model.AttendeeMusicBandDto.MusicBandTargetAudienceDtos)
                                {
                                    <span class="kt-badge kt-badge--inline kt-badge--primary">@(musicBandTargetAudienceDto.TargetAudience.Name.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|'))</span>
                                }
                            }
                            else
                            {
                                @:-
                            }
                        </span>
                    </div>
                </div>
                <div class="kt-widget__body p-0">
                    <div class="kt-widget__content">
                        @Html.Partial("Shared/_Evaluation", Model)
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-20 justify-content-center">
            <div class="col-md-12 text-center">
                <a href="@evaluationDetailsAction" class="btn btn-brand">@Labels.View</a>
            </div>
        </div>
    </div>
}