@using PlataformaRio2C.Domain.Dtos
@using Constants = PlataformaRio2C.Domain.Constants;
@using PlataformaRio2c.Infra.Data.FileRepository.Helpers
@using PlataformaRio2C.Domain.Statics
@using PlataformaRio2C.Domain.Entities;
@model MusicProjectDto
@{
    var editionDto = ViewBag.EditionDto as EditionDto;
    var userAccessControlDto = ViewBag.UserAccessControlDto as UserAccessControlDto;
    var isMusicCommission = userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.CommissionMusic) == true;
    var currentEvaluation = Model.AttendeeMusicBandDto.GetAttendeeMusicBandEvaluationByUserId(userAccessControlDto.User.Id);
    var approvedAttendeeMusicBandsIds = ViewBag.ApprovedAttendeeMusicBandsIds as int[];
    var isThisMusicProjectApproved = (approvedAttendeeMusicBandsIds?.Contains(Model.AttendeeMusicBandDto.AttendeeMusicBand.Id) == true);
    var isCommissionMusicCurator = userAccessControlDto.IsCommissionMusicCurator();
    var disapprovalByPopulation = ViewBag.DisapprovalByPopulation as int? ?? 0;
}
<div class="kt-portlet__body">
    <div class="kt-widget kt-widget--user-profile-3">
        <div class="kt-widget__top">
            <div style="float: right;">
                <a href="@Url.Action("EvaluationDetails", "Projects", new {Area = "Music", id = Model.MusicProject?.Id})" target="_blank">
                    @if (Model.AttendeeMusicBandDto?.MusicBand?.HasImage() == true)
                    {
                        <div class="kt-widget__media">
                            <img src="@ImageHelper.GetImageUrl(FileRepositoryPathType.MusicBandImage, Model.AttendeeMusicBandDto.MusicBand.Uid, Model.AttendeeMusicBandDto.MusicBand.ImageUploadDate, true)" alt="image">
                        </div>
                    }
                    else
                    {
                        <div class="kt-widget__pic kt-widget__pic--info kt-font-info kt-font-boldest" style="width: 110px; height: 110px;">
                            <span>@(Model.AttendeeMusicBandDto?.MusicBand?.GetNameAbbreviation() ?? "-")</span>
                        </div>
                    }
                </a>
            </div>
            <div class="kt-widget__content">
                <div class="kt-widget__head">
                    <span class="kt-widget__username">
                        @(Model.AttendeeMusicBandDto?.MusicBand?.Name ?? "-")
                    </span>
                </div>
                <div class="kt-widget__info">
                    <div class="kt-widget__desc">
                        <div class="kt-widget__subhead pt-0">
                            @(Model.AttendeeMusicBandDto?.MusicBandType?.Name?.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|') ?? "-")
                        </div>
                        <div class="kt-widget__subhead pt-1 pb-0">
                            @Labels.MusicGenre:
                            @if (Model.AttendeeMusicBandDto?.MusicBandGenreDtos?.Any() == true)
                            {
                                foreach (var musicBandGenreDto in Model.AttendeeMusicBandDto.MusicBandGenreDtos)
                                {
                                    <span class="kt-badge kt-badge--inline kt-badge--info">
                                        @(musicBandGenreDto.MusicGenre.Name.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|'))
                                        @if (musicBandGenreDto.MusicGenre.HasAdditionalInfo && !string.IsNullOrEmpty(musicBandGenreDto.MusicBandGenre.AdditionalInfo))
                                        {
                                            @musicBandGenreDto.MusicBandGenre.AdditionalInfo
                                        }
                                    </span>
                                }
                            }
                            else
                            {
                                @:-
                            }
                        </div>
                        <div class="kt-widget__subhead pt-1 pb-0">
                            @Labels.TargetAudience:
                            @if (Model.AttendeeMusicBandDto?.MusicBandTargetAudienceDtos?.Any() == true)
                            {
                                foreach (var musicBandTargetAudienceDto in Model.AttendeeMusicBandDto.MusicBandTargetAudienceDtos)
                                {
                                    <span class="kt-badge kt-badge--inline kt-badge--primary">@(musicBandTargetAudienceDto.TargetAudience.Name.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|'))</span>
                                }
                            }
                            else
                            {
                                @:-
                            }
                        </div>
                    </div>
                    <div class="myrio2c-evaluation-position">
                        <div class="kt-widget__text" data-id="EvaluationGradeMain">
                            @if (editionDto?.IsMusicPitchingCommissionEvaluationStarted() != true)
                            {
                                <div class="row">
                                    <div class="col-12">
                                        <div class="myrio2c-alert-box danger mx-auto text-center">
                                            <span>@Messages.OutOfEvaluationPeriod</span>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (editionDto?.IsMusicPitchingComissionEvaluationOpen() == true)
                            {
                                <div class="edit">
                                    <form class="form-inline myrio2c-evaluation-grade-box-form justify-content-center">
                                        <div class="form-group ml-3 mt-2 mb-2 mr-3">
                                            <button @(currentEvaluation?.AttendeeMusicBandEvaluation.CommissionEvaluationStatusId == ProjectEvaluationStatus.Accepted.Id ? "disabled" : "")
                                                    type="button"
                                                    class="btn btn-success"
                                                    onclick="MusicProjectsEvaluationWidget.showAcceptModal('@Model.MusicProject.Uid');">
                                                <i class="fa fa-thumbs-up"></i> @Labels.Approve
                                            </button>
                                        </div>
                                        <div class="form-group mt-2 mb-2 mr-3">
                                            <button @(currentEvaluation?.AttendeeMusicBandEvaluation.CommissionEvaluationStatusId == ProjectEvaluationStatus.Refused.Id ? "disabled" : "")
                                                    type="button"
                                                    class="btn btn-danger"
                                                    onclick="MusicProjectsEvaluationWidget.showRefuseModal('@Model.MusicProject.Uid');">
                                                <i class="fa fa-thumbs-down"></i> @Labels.RefuseProject
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            }
                            else if (isCommissionMusicCurator && editionDto.IsMusicPitchingCuratorEvaluationOpen() == true)
                            {
                                <div class="edit">
                                    <form class="form-inline myrio2c-evaluation-grade-box-form justify-content-center">
                                        <div class="form-group ml-3 mt-2 mb-2 mr-3">
                                            <button @(currentEvaluation?.AttendeeMusicBandEvaluation.CuratorEvaluationStatusId == ProjectEvaluationStatus.Accepted.Id ? "disabled" : "")
                                                    type="button"
                                                    class="btn btn-success"
                                                    onclick="MusicProjectsEvaluationWidget.showAcceptModal('@Model.MusicProject.Uid');">
                                                <i class="fa fa-thumbs-up"></i> @Labels.CuratorApproval
                                            </button>
                                        </div>
                                        <div class="form-group mt-2 mb-2 mr-3">
                                            <button @(currentEvaluation?.AttendeeMusicBandEvaluation.CuratorEvaluationStatusId == ProjectEvaluationStatus.Refused.Id ? "disabled" : "")
                                                    type="button"
                                                    class="btn btn-danger"
                                                    onclick="MusicProjectsEvaluationWidget.showRefuseModal('@Model.MusicProject.Uid');">
                                                <i class="fa fa-thumbs-down"></i> @Labels.CuratorDisapproval
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            }
                            else if (isCommissionMusicCurator && editionDto?.IsMusicPitchingRepechageEvaluationOpen() == true && disapprovalByPopulation > 0)
                            {
                                <div class="edit">
                                    <form class="form-inline myrio2c-evaluation-grade-box-form justify-content-center">
                                        <div class="form-group ml-3 mt-2 mb-2 mr-3">
                                            <button @(currentEvaluation?.AttendeeMusicBandEvaluation.RepechageEvaluationStatusId == ProjectEvaluationStatus.Accepted.Id ? "disabled" : "")
                                                    type="button"
                                                    class="btn btn-success"
                                                    onclick="MusicProjectsEvaluationWidget.showAcceptModal('@Model.MusicProject.Uid');">
                                                <i class="fa fa-thumbs-up"></i> @Labels.ApproveToRepechage
                                            </button>
                                        </div>
                                        <div class="form-group mt-2 mb-2 mr-3">
                                            <button @(currentEvaluation?.AttendeeMusicBandEvaluation.RepechageEvaluationStatusId == ProjectEvaluationStatus.Refused.Id ? "disabled" : "")
                                                    type="button"
                                                    class="btn btn-danger"
                                                    onclick="MusicProjectsEvaluationWidget.showRefuseModal('@Model.MusicProject.Uid');">
                                                <i class="fa fa-thumbs-down"></i> @Labels.DisapproveToRepechage
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            }
                            else
                            {
                                <form class="form-inline">
                                    <div class="form-group mb-2">
                                        <div class="myrio2c-evaluation-grade-box-lg form-control">
                                            <span class="grade-label mr-2">@Labels.Average</span>
                                            <span class="grade-vote">@(Model.AttendeeMusicBandDto?.AttendeeMusicBand?.Grade?.ToString() ?? "-")</span>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-widget__bottom">
            @if (!string.IsNullOrEmpty(Model.MusicProject?.Release))
            {
                <div class="kt-widget__item w-100">
                    <div class="kt-widget__details">
                        <span class="kt-widget__title">@Labels.Release</span>
                        <span class="kt-widget__value rio2c-scroll" style="max-height: 250px;"><span>@(Html.Raw(Model.MusicProject?.Release?.Replace("\n", "<br/>") ?? "-"))</span></span>
                    </div>
                </div>
            }
            <div class="kt-widget__item w-50 w-xs-100">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.MusicBandFormationYear</span>
                    <span class="kt-widget__value"><span class="text-break">@(Model.AttendeeMusicBandDto?.MusicBand?.FormationDate ?? "-")</span></span>
                </div>
            </div>
            <div class="kt-widget__item w-50 w-xs-100">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.MainMusicInfluences</span>
                    <span class="kt-widget__value"><span class="text-break">@(Model.AttendeeMusicBandDto?.MusicBand?.MainMusicInfluences ?? "-")</span></span>
                </div>
            </div>
        </div>
    </div>
</div>