@using PlataformaRio2C.Domain.Dtos
@using PlataformaRio2C.Domain.Statics
@using Constants = PlataformaRio2C.Domain.Constants;
@using PlataformaRio2c.Infra.Data.FileRepository.Helpers
@model MusicProjectDto
@{
    var editionDto = ViewBag.EditionDto as EditionDto;
    var userAccessControlDto = ViewBag.UserAccessControlDto as UserAccessControlDto;
    var isMusicCommission = userAccessControlDto?.HasCollaboratorType(Constants.CollaboratorType.CommissionMusic) == true;
    var isProjectSubmissionOpen = editionDto?.IsMusicProjectSubmitOpen() == true;
    var attendeeMusicBandCollaboratorDto = Model.AttendeeMusicBandDto?.AttendeeMusicBandCollaboratorDto;
}
<div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">@Labels.Responsible</h3>
    </div>
    @*@if (isMusicCommission && isProjectSubmissionOpen)
        {
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-actions">
                    <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md btn-circle" onclick="ProjectsLinksWidget.showUpdateModal();">
                        <i class="flaticon2-edit"></i>
                    </button>
                </div>
            </div>
        }*@
</div>
<div class="kt-portlet__body">
    <div class="kt-widget kt-widget--user-profile-3">
        <div class="kt-widget__top">
            <div style="float: right;">
                @if (attendeeMusicBandCollaboratorDto?.Collaborator?.HasImage() == true)
                {
                    <div class="kt-widget__media">
                        <img src="@ImageHelper.GetImageUrl(FileRepositoryPathType.UserImage, attendeeMusicBandCollaboratorDto.Collaborator.Uid, attendeeMusicBandCollaboratorDto.Collaborator.ImageUploadDate, true)" alt="image">
                    </div>
                }
                else
                {
                    <div class="kt-widget__pic kt-widget__pic--info kt-font-info kt-font-boldest" style="width: 110px; height: 110px;">
                        @(attendeeMusicBandCollaboratorDto?.Collaborator?.GetDisplayNameAbbreviation() ?? "-")
                    </div>
                }
            </div>
            <div class="kt-widget__content" style="overflow: hidden;">
                <div class="kt-widget__head">
                    <span class="kt-widget__username">
                        @(attendeeMusicBandCollaboratorDto?.Collaborator?.GetDisplayName() ?? "-")
                        @if (attendeeMusicBandCollaboratorDto?.AttendeeCollaborator?.OnboardingFinishDate != null)
                        {
                            <i class="flaticon2-correct"></i>
                        }
                    </span>
                </div>
                <div class="kt-widget__subhead">
                    <a><i class="la la-envelope-o"></i>@(attendeeMusicBandCollaboratorDto?.User?.Email ?? "-")</a>
                    @if (!string.IsNullOrEmpty(attendeeMusicBandCollaboratorDto?.Collaborator?.CellPhone))
                    {
                        <br /><a><i class="la la-mobile-phone"></i>@(attendeeMusicBandCollaboratorDto.Collaborator.CellPhone)</a>
                    }
                    @if (!string.IsNullOrEmpty(attendeeMusicBandCollaboratorDto?.Collaborator?.PhoneNumber))
                    {
                        <br /><a><i class="la la-phone"></i>@(attendeeMusicBandCollaboratorDto.Collaborator.PhoneNumber)</a>
                    }
                </div>
                @*@{
                        var jobTitleDto = Model.GetJobTitleDtoByLanguageCode(ViewBag.UserInterfaceLanguage);
                    }
                    @if (jobTitleDto != null)
                    {
                        <div class="kt-widget__subhead pt-0">
                            @jobTitleDto.Value
                        </div>
                    }*@
                @*<div class="kt-widget__info" style="display: block;">
                    @{
                        var miniBioDto = Model.GetMiniBioDtoByLanguageCode(ViewBag.UserInterfaceLanguage);
                    }
                    @if (miniBioDto != null)
                    {
                        <div class="kt-widget__desc" style="word-wrap: break-word;">
                            @Html.Raw(miniBioDto.Value)
                        </div>
                    }*@
            </div>
        </div>
        <div class="kt-widget__bottom">
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.FullName</span>
                    <span class="kt-widget__value"><span>@(attendeeMusicBandCollaboratorDto?.Collaborator?.GetFullName() ?? "-")</span></span>
                </div>
            </div>
        </div>
    </div>
</div>