<div id="music-meeting-popover-event-content" class="d-none">
    <div class="row mb-2">
        <div class="col-md-12">
            <div class="label-medium">@Labels.When</div>
            <span>popoverDate</span>
        </div>
        <div class="col-md-12 mt-2">
            <div class="row">
                <div class="col-md-3">
                    <div class="label-medium">@Labels.Type</div>
                </div>
                <div class="col-md-9">
                    <span>@Labels.OneToOneMeeting</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <div class="row">
                <div class="col-md-3">
                    <div class="label-medium">@Labels.Participant</div>
                </div>
                <div class="col-md-9">
                    <span>popoverParticipant</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <div class="row">
                <div class="col-md-3">
                    <div class="label-medium">@Labels.Player</div>
                </div>
                <div class="col-md-9">
                    <span>popoverPlayer</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <div class="row">
                <div class="col-md-3">
                    <div class="label-medium">@Labels.Room</div>
                </div>
                <div class="col-md-9">
                    <span>popoverRoom</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <div class="row">
                <div class="col-md-3">
                    <div class="label-medium">@Labels.TableNumber</div>
                </div>
                <div class="col-md-9">
                    <span>popoverTableNumber</span>
                </div>
            </div>
        </div>
    </div>
</div>