@using PlataformaRio2C.Domain.Dtos
@model RoomDto
<div class="kt-portlet__body">
    <div class="kt-widget kt-widget--user-profile-3">
        <div class="kt-widget__top">
            <div class="kt-widget__content pl-0" style="overflow: hidden;">
                <div class="kt-widget__head">
                    <span class="kt-widget__username">
                        @(Model.GetRoomNameByLanguageCode(ViewBag.UserInterfaceLanguage)?.RoomName?.Value ?? "-")
                    </span>
                    <div class="kt-widget__action">
                        <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md btn-circle" onclick="RoomsMainInformationWidget.showUpdateModal();">
                            <i class="flaticon2-edit"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.Room.IsVirtualMeeting == true)
        {
            <div class="kt-widget__bottom">
                <div class="kt-widget__item">
                    <div class="kt-widget__details">
                        <span class="kt-widget__title">@Labels.RoomType</span>
                        <span class="kt-widget__value"><span>@(Model.Room.IsVirtualMeeting ? Labels.Virtual : Labels.Presential)</span></span>
                    </div>
                </div>
                <div class="kt-widget__item">
                    <div class="kt-widget__details">
                        <span class="kt-widget__title">@Labels.VirtualMeetingUrl</span>
                        <span class="kt-widget__value"><span>@Model.Room.VirtualMeetingUrl</span></span>
                    </div>
                </div>
            </div>
        }
        <div class="kt-widget__bottom">
            @if (!Model.Room.IsVirtualMeeting)
            {
                <div class="kt-widget__item">
                    <div class="kt-widget__details">
                        <span class="kt-widget__title">@Labels.RoomType</span>
                        <span class="kt-widget__value"><span>@(Model.Room.IsVirtualMeeting ? Labels.Virtual : Labels.Presential)</span></span>
                    </div>
                </div>
            }
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.CreateDate</span>
                    <span class="kt-widget__value"><span>@(Model.Room.CreateDate.ToUserTimeZone().ToShortDateString()) @(Model.Room.CreateDate.ToUserTimeZone().ToShortTimeString())</span></span>
                </div>
            </div>
            <div class="kt-widget__item">
                <div class="kt-widget__details">
                    <span class="kt-widget__title">@Labels.UpdateDate</span>
                    <span class="kt-widget__value"><span>@(Model.Room.UpdateDate.ToUserTimeZone().ToShortDateString()) @(Model.Room.UpdateDate.ToUserTimeZone().ToShortTimeString())</span></span>
                </div>
            </div>
        </div>
    </div>
</div>
