@using System.Globalization
@using PlataformaRio2c.Infra.Data.FileRepository.Helpers
@using PlataformaRio2C.Domain.Dtos
@using PlataformaRio2C.Domain.Statics
@{
    var adminAccessControlDto = ViewBag.AdminAccessControlDto as AdminAccessControlDto;
    var userImageUrl = adminAccessControlDto?.HasImage() == true ? ImageHelper.GetImageUrl(FileRepositoryPathType.UserImage, adminAccessControlDto.Collaborator.Uid, adminAccessControlDto.Collaborator.ImageUploadDate, true) :
                                                                   string.Empty;
}
<div id="kt_header" class="kt-header  kt-header--fixed " data-ktheader-minimize="on">
    <div class="kt-container ">
        <!-- begin:: Brand -->
        <div class="kt-header__brand   kt-grid__item" id="kt_header_brand">
            <a class="kt-header__brand-logo" href="@Url.Action("Index", "Home", new { Area = "" })">
                <img alt="Logo" src="~/Assets/img/logo_rio2c_white.png" class="kt-header__brand-logo-default" />
                <img alt="Logo" src="~/Assets/img/logo_rio2c_color.png" class="kt-header__brand-logo-sticky" />
            </a>
        </div>
        <!-- end:: Brand -->
        <!-- begin: Header Menu -->
        <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
        <div class="kt-header-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_header_menu_wrapper">
            <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile ">
                @{ Html.RenderPartial("~/Views/Themes/Metronic/_HeaderMenu.cshtml"); }
            </div>
        </div>
        <!-- end: Header Menu -->
        <!-- begin:: Header Topbar -->
        <div class="kt-header__topbar kt-grid__item">
            <!--begin: Browsing mode -->
            @{ Html.RenderPartial("~/Views/Themes/Metronic/_BrowsingMode.cshtml"); }
            <!--end: Browsing mode -->
            <!--begin: Edition dropdown -->
            <div class="kt-header__topbar-item dropdown">
                <div class="kt-header__topbar-wrapper" data-toggle="kt-tooltip" title="" data-placement="bottom"> @*data-original-title="@Labels.PastEditions"*@
                    <span class="kt-header__topbar-icon">
                        @{ Html.RenderPartial("~/Views/Themes/Metronic/_EditionSelector.cshtml"); }
                    </span>
                </div>
            </div>
            <!--end: Edition dropdown -->
            <!--begin: Language bar -->
            @{ Html.RenderPartial("~/Views/Themes/Metronic/_LanguageSelector.cshtml"); }
            <!--end: Language bar -->
            <!--begin: User bar -->
            <div class="kt-header__topbar-item kt-header__topbar-item--user">
                <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
                    <span class="kt-header__topbar-welcome">@Labels.Hi,</span>
                    <span class="kt-header__topbar-username">@(adminAccessControlDto?.GetFirstName())</span>
                    @if (adminAccessControlDto?.HasImage() == true)
                    {
                        <img alt="Pic" src="@userImageUrl" />
                    }
                    else
                    {
                        <span class="kt-header__topbar-icon"><b>@(adminAccessControlDto?.GetNameAbbreviationCode())</b></span>
                    }
                </div>
                <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">

                    <!--begin: Head -->
                    <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background-image: url(/Assets/themes/metronic/media/misc/bg-1.jpg)">
                        <div class="kt-user-card__avatar">
                            @if (adminAccessControlDto?.HasImage() == true)
                            {
                                <img alt="Pic" src="@userImageUrl" />
                            }
                            else
                            {
                                <span class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success">@(adminAccessControlDto?.GetNameAbbreviationCode())</span>
                            }
                        </div>
                        <div class="kt-user-card__name">
                            @(adminAccessControlDto?.GetFullName(CultureInfo.CurrentCulture.ToString()))
                        </div>
                        @*
                    <div class="kt-user-card__badge">
                        <span class="btn btn-success btn-sm btn-bold btn-font-md">23 messages</span>
                    </div>
                        *@
                    </div>
                    <!--end: Head -->
                    <!--begin: Navigation -->
                    <div class="kt-notification">
                        <a href="#" class="kt-notification__item" onclick="AccountsPassword.showUpdateModal(); return false;">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon-lock kt-font-success"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title kt-font-bold">
                                    @Labels.ChangePassword
                                </div>
                                <div class="kt-notification__item-time">
                                    @Messages.ClickHereToChangePassword
                                </div>
                            </div>
                        </a>
                        @*<a href="#" class="kt-notification__item">
                        <div class="kt-notification__item-icon">
                            <i class="flaticon2-calendar-3 kt-font-success"></i>
                        </div>
                        <div class="kt-notification__item-details">
                            <div class="kt-notification__item-title kt-font-bold">
                                My Profile
                            </div>
                            <div class="kt-notification__item-time">
                                Account settings and more
                            </div>
                        </div>
                    </a>
                    <a href="#" class="kt-notification__item">
                        <div class="kt-notification__item-icon">
                            <i class="flaticon2-mail kt-font-warning"></i>
                        </div>
                        <div class="kt-notification__item-details">
                            <div class="kt-notification__item-title kt-font-bold">
                                My Messages
                            </div>
                            <div class="kt-notification__item-time">
                                Inbox and tasks
                            </div>
                        </div>
                    </a>
                    <a href="#" class="kt-notification__item">
                        <div class="kt-notification__item-icon">
                            <i class="flaticon2-rocket-1 kt-font-danger"></i>
                        </div>
                        <div class="kt-notification__item-details">
                            <div class="kt-notification__item-title kt-font-bold">
                                My Activities
                            </div>
                            <div class="kt-notification__item-time">
                                Logs and notifications
                            </div>
                        </div>
                    </a>*@
                        <div class="kt-notification__custom kt-space-between">
                            @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                            }

                            <a onclick="$('#logoutForm').submit();" class="btn btn-label btn-label-brand btn-sm btn-bold">@Labels.LogOut</a>
                        </div>
                    </div>

                    <!--end: Navigation -->
                </div>
            </div>
            <!--end: User bar -->
        </div>
        <!-- end:: Header Topbar -->
    </div>
</div>