@using PlataformaRio2C.Domain.Constants
@using PlataformaRio2C.Domain.Dtos
@{
    var adminAccessControlDto = ViewBag.AdminAccessControlDto as AdminAccessControlDto;
    var isAdminFull = adminAccessControlDto?.IsAdmin() == true;
    var isAdminAudiovisual = adminAccessControlDto?.IsAdminPartial() == true && adminAccessControlDto?.HasCollaboratorType(CollaboratorType.AdminAudiovisual) == true;
    var isCuratorshipAudiovisual = adminAccessControlDto?.HasCollaboratorType(CollaboratorType.CuratorshipAudiovisual) == true;
    var isCuratorshipMusic = adminAccessControlDto?.HasCollaboratorType(CollaboratorType.CuratorshipMusic) == true;
    var isComissionAudiovisual = adminAccessControlDto?.HasCollaboratorType(CollaboratorType.CommissionAudiovisual) == true;

    var isLogistics = false; //userRoles.HasElement("Logistics");
    var menuOpenCssClass = "kt-menu__item--open kt-menu__item--here";
    var menuItemOpenCssClass = "kt-menu__item--active";
}
<ul class="kt-menu__nav">
    <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, "Index", "Home", null)" aria-haspopup="true">
        <a href="@Url.Action("Index", "Home", new { Area = "" })" class="kt-menu__link">
            <span class="kt-menu__link-text">@Labels.Dashboard</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
        </a>
    </li>
    @if (isAdminFull
        || isAdminAudiovisual
        || isComissionAudiovisual)
    {
        <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel @this.IsOpen(menuOpenCssClass, null, "Holdings", null) @this.IsOpen(menuOpenCssClass, null, "Players", null) @this.IsOpen(menuOpenCssClass, null, "PlayersExecutives", null) @this.IsOpen(menuOpenCssClass, "Collaborators", "ManualMessage", null) @this.IsOpen(menuOpenCssClass, "Index", "Producer", null) @this.IsOpen(menuOpenCssClass, "Index", "CollaboratorProducer", null) @this.IsOpen(menuOpenCssClass, "Pitchings", "Projects", null)" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">@Labels.AudioVisual</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
            <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                <ul class="kt-menu__subnav">
                    @if (isAdminFull
                        || isAdminAudiovisual)
                    {
                        <li class="kt-menu__item  kt-menu__item--submenu @this.IsOpen(menuOpenCssClass, null, "Holdings", null) @this.IsOpen(menuOpenCssClass, null, "Players", null) @this.IsOpen(menuOpenCssClass, "Index", "CollaboratorPlayer", null) @this.IsOpen(menuOpenCssClass, "Collaborators", "ManualMessage", null)" data-ktmenu-submenu-toggle="hover" aria-haspopup="true">
                            <a href="#" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.Players</span><i class="kt-menu__hor-arrow la la-angle-right"></i><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                            <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--right">
                                <ul class="kt-menu__subnav">
                                    <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, null, "Holdings", null)" aria-haspopup="true">
                                        <a href="@Url.Action("Index", "Holdings", new { Area = "" })" class="kt-menu__link "><span class="kt-menu__link-text">@Labels.Holdings</span></a>
                                    </li>
                                    <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, null, "Players", null)" aria-haspopup="true">
                                        <a href="@Url.Action("Index", "Players", new { Area = "" })" class="kt-menu__link "><span class="kt-menu__link-text">@Labels.Companies</span></a>
                                    </li>
                                    <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, null, "PlayersExecutives", null)" aria-haspopup="true">
                                        <a href="@Url.Action("Index", "PlayersExecutives", new { Area = "" })" class="kt-menu__link "><span class="kt-menu__link-text">@Labels.Executives</span></a>
                                    </li>
                                    @*<li class="kt-menu__item @this.IsOpen(menuOpenCssClass, null, "ManualMessage", null)" aria-haspopup="true">
                                            <a href="@Url.Action("Collaborators", "ManualMessage")" class="kt-menu__link "><span class="kt-menu__link-text">@Labels.InvitationSending</span></a>
                                        </li>*@
                                </ul>
                            </div>
                        </li>
                    }
                    <li class="kt-menu__item  kt-menu__item--submenu @this.IsOpen(menuOpenCssClass, "Index", "Producer", null) @this.IsOpen(menuOpenCssClass, "Index", "CollaboratorProducer", null) @this.IsOpen(menuOpenCssClass, "Pitchings", "Projects", null)" data-ktmenu-submenu-toggle="hover" aria-haspopup="true">
                        <a href="#" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.Producers</span><i class="kt-menu__hor-arrow la la-angle-right"></i><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                        <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--right">
                            <ul class="kt-menu__subnav">
                                @if (isAdminFull)
                                {
                                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "Index", "Producer", null)" aria-haspopup="true">
                                        <a href="#" @*href="@Url.Action("Index", "Producer", new { Area = "" })"*@ class="kt-menu__link "><span class="kt-menu__link-text">@Labels.Companies</span></a>
                                    </li>
                                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "Index", "CollaboratorProducer", null)" aria-haspopup="true">
                                        <a href="#" @*href="@Url.Action("Index", "CollaboratorProducer", new { Area = "" })"*@ class="kt-menu__link "><span class="kt-menu__link-text">@Labels.Executives</span></a>
                                    </li>
                                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "Index", "Project", null)" aria-haspopup="true">
                                        <a href="#" @*href="@Url.Action("Index", "Project", new { Area = "" })"*@ class="kt-menu__link "><span class="kt-menu__link-text">@Labels.Projects</span></a>
                                    </li>
                                }
                                <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "Pitchings", "Projects", null)" aria-haspopup="true">
                                    <a href="@Url.Action("Pitchings", "Projects", new { Area = "" })" class="kt-menu__link "><span class="kt-menu__link-text">@Labels.ProjectsForPitching</span></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    @if (isAdminFull
                         || isAdminAudiovisual)
                    {
                        <li class="kt-menu__item  kt-menu__item--submenu @this.IsOpen(menuOpenCssClass, null, "ScheduleOneToOneMeetings", null)" data-ktmenu-submenu-toggle="hover" aria-haspopup="true">
                            <a href="#" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.OneToOneMeetings</span><i class="kt-menu__hor-arrow la la-angle-right"></i><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                            <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--right">
                                <ul class="kt-menu__subnav">
                                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "Index", "ScheduleOneToOneMeetingsConfig", null)" aria-haspopup="true">
                                        <a @*href="@Url.Action("Index", "ScheduleOneToOneMeetingsConfig", new { Area = "" })"*@ class="kt-menu__link "><span class="kt-menu__link-text">@Labels.Parameters</span></a>
                                    </li>
                                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "Process", "ScheduleOneToOneMeetings", null)" aria-haspopup="true">
                                        <a @*href="@Url.Action("Process", "ScheduleOneToOneMeetings", new { Area = "" })"*@ class="kt-menu__link "><span class="kt-menu__link-text">@Labels.GenerateCalendar</span></a>
                                    </li>
                                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "Index", "ScheduleOneToOneMeetings", null)" aria-haspopup="true">
                                        <a @*href="@Url.Action("Index", "ScheduleOneToOneMeetings", new { Area = "" })"*@ class="kt-menu__link "><span class="kt-menu__link-text">@Labels.ViewCalendar</span></a>
                                    </li>
                                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "UnscheduledNegotiations", "ScheduleOneToOneMeetings", null)" aria-haspopup="true">
                                        <a @*href="@Url.Action("UnscheduledNegotiations", "ScheduleOneToOneMeetings", new { Area = "" })"*@ class="kt-menu__link "><span class="kt-menu__link-text">@Labels.UnscheduledNegotiations</span></a>
                                    </li>
                                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "RegisterNegotiationManual", "ScheduleOneToOneMeetings", null)" aria-haspopup="true">
                                        <a @*href="@Url.Action("RegisterNegotiationManual", "ScheduleOneToOneMeetings", new { Area = "" })"*@ class="kt-menu__link "><span class="kt-menu__link-text">@Labels.ScheduleNegotiation</span></a>
                                    </li>
                                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "SendEmailToPlayers", "ScheduleOneToOneMeetings", null)" aria-haspopup="true">
                                        <a @*href="@Url.Action("SendEmailToPlayers", "ScheduleOneToOneMeetings", new { Area = "" })"*@ class="kt-menu__link "><span class="kt-menu__link-text">@Labels.SendEmailToPlayers</span></a>
                                    </li>
                                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "SendEmailToProducers", "ScheduleOneToOneMeetings", null)" aria-haspopup="true">
                                        <a @*href="@Url.Action("SendEmailToProducers", "ScheduleOneToOneMeetings", new { Area = "" })"*@ class="kt-menu__link "><span class="kt-menu__link-text">@Labels.SendEmailToProducers</span></a>
                                    </li>
                                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "Report", "ScheduleOneToOneMeetings", null)" aria-haspopup="true">
                                        <a @*href="@Url.Action("Report", "ScheduleOneToOneMeetings", new { Area = "" })"*@ class="kt-menu__link "><span class="kt-menu__link-text">@Labels.CalendarReport</span></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </li>
    }
    @if (isAdminFull)
    {
        <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel @this.IsOpen(menuOpenCssClass, null, "Investors", null) @this.IsOpen(menuOpenCssClass, null, "MusicBands", null)" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">@Labels.Innovation</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
            <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                <ul class="kt-menu__subnav">
                    <li class="kt-menu__item  kt-menu__item--submenu @this.IsOpen(menuOpenCssClass, null, "Investors", null)" data-ktmenu-submenu-toggle="hover" aria-haspopup="true">
                        <a href="#" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.Investors</span><i class="kt-menu__hor-arrow la la-angle-right"></i><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                        <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--right">
                            <ul class="kt-menu__subnav">
                                <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, null, "BaInvestorsnds", null)" aria-haspopup="true">
                                    <a @*href="@Url.Action("Index", "Recorders", new { Area = "" })"*@ class="kt-menu__link "><span class="kt-menu__link-text">@Labels.Companies</span></a>
                                </li>
                                <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "Index", "CollaboratorProducer", null)" aria-haspopup="true">
                                    <a @*href="@Url.Action("Index", "RercorderExecutives", new { Area = "" })"*@ class="kt-menu__link "><span class="kt-menu__link-text">@Labels.Executives</span></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="kt-menu__item  kt-menu__item--submenu @this.IsOpen(menuOpenCssClass, null, "Startups", null)" data-ktmenu-submenu-toggle="hover" aria-haspopup="true">
                        <a href="#" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.Startups</span><i class="kt-menu__hor-arrow la la-angle-right"></i><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                        <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--right">
                            <ul class="kt-menu__subnav">
                                <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, null, "Startups", null)" aria-haspopup="true">
                                    <a @*href="@Url.Action("Index", "MusicBands", new { Area = "" })"*@ class="kt-menu__link "><span class="kt-menu__link-text">@Labels.Companies</span></a>
                                </li>
                                <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "Index", "CollaboratorProducer", null)" aria-haspopup="true">
                                    <a @*href="@Url.Action("Index", "MusicsBands", new { Area = "" })"*@ class="kt-menu__link "><span class="kt-menu__link-text">@Labels.Executives</span></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    }
    @if (isAdminFull || isCuratorshipAudiovisual)
    {
        <li class="kt-menu__item kt-menu__item--submenu kt-menu__item--rel @this.IsOpen(menuOpenCssClass, null, "Conferences,Speakers,Events,Rooms,Pillars,Tracks,PresentationFormats,ParticipantRoles", null)" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">@Labels.Conferences</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
            <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                <ul class="kt-menu__subnav">
                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, null, "Conferences", null)" aria-haspopup="true">
                        <a href="@Url.Action("Index", "Conferences", new { Area = "" })" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.Conferences</span></a>
                    </li>
                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, null, "Speakers", null)" aria-haspopup="true">
                        <a href="@Url.Action("Index", "Speakers", new { Area = "" })" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.Speakers</span></a>
                    </li>
                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, null, "Events", null)" aria-haspopup="true">
                        <a href="@Url.Action("Index", "Events", new { Area = "" })" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.Events</span></a>
                    </li>
                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, null, "Rooms", null)" aria-haspopup="true">
                        <a href="@Url.Action("Index", "Rooms", new { Area = "" })" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.Rooms</span></a>
                    </li>
                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, null, "Pillars", null)" aria-haspopup="true">
                        <a href="@Url.Action("Index", "Pillars", new { Area = "" })" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.Pillars</span></a>
                    </li>
                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, null, "Tracks", null)" aria-haspopup="true">
                        <a href="@Url.Action("Index", "Tracks", new { Area = "" })" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.Tracks</span></a>
                    </li>
                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, null, "PresentationFormats", null)" aria-haspopup="true">
                        <a href="@Url.Action("Index", "PresentationFormats", new { Area = "" })" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.PresentationFormats</span></a>
                    </li>
                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, null, "ParticipantRoles", null)" aria-haspopup="true">
                        <a href="@Url.Action("Index", "ParticipantRoles", new { Area = "" })" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.SpeakersRoles</span></a>
                    </li>
                </ul>
            </div>
        </li>
    }
    @if (isAdminFull || isAdminAudiovisual)
    {
        <li class="kt-menu__item kt-menu__item--submenu kt-menu__item--rel @this.IsOpen(menuOpenCssClass, null, "Reports", null)" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">@Labels.Reports</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
            <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                <ul class="kt-menu__subnav">
                    <li class="kt-menu__item  kt-menu__item--submenu @this.IsOpen(menuOpenCssClass, null, "Reports", null)" data-ktmenu-submenu-toggle="hover" aria-haspopup="true">
                        <a href="#" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.AudioVisual</span><i class="kt-menu__hor-arrow la la-angle-right"></i><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                        <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--right">
                            <ul class="kt-menu__subnav">
                                <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, null, "Reports", null)" aria-haspopup="true">
                                    <a href="@Url.Action("AudiovisualSubscriptions", "Reports", new { Area = "" })" class="kt-menu__link "><span class="kt-menu__link-text">@Labels.ProjectSubscriptions</span></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    }
    @if (isAdminFull || isLogistics)
    {
        <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel  @this.IsOpen(menuOpenCssClass, "Index", "Logistics", null)"  data-ktmenu-submenu-toggle="click" aria-haspopup="true">
            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">@Labels.Logistics</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
            <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                <ul class="kt-menu__subnav">
                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, null, "Logistics", null)" aria-haspopup="true">
                        <a href="@Url.Action("Index", "Logistics")" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.Requests</span></a>
                    </li>
                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, null, "LogisticSponsors", null)" aria-haspopup="true">
                        <a href="@Url.Action("Index", "LogisticSponsors")" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.Sponsors</span></a>
                    </li>
                </ul>
            </div>
        </li>
    }
    @if (isAdminFull || isCuratorshipMusic)
    {
        <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel @this.IsOpen(menuOpenCssClass, null, "Commissions,Projects", "Music") @this.IsOpen(menuOpenCssClass, null, "MusicBands", null)" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">@Labels.PitchingShow</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
            <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                <ul class="kt-menu__subnav">
                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, null, "Commissions",  "Music")" aria-haspopup="true">
                        <a href="@Url.Action("Index", "Commissions", new { Area = "Music" })" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.Commission</span></a>
                    </li>
                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, null, "Projects",  "Music")" aria-haspopup="true">
                        <a href="@Url.Action("Index", "Projects", new { Area = "Music" })" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.Projects</span></a>
                    </li>
                </ul>
            </div>
        </li>
    }
</ul>