@{
    var userRoles = ViewBag.UserRoles as IList<string>;
    var isAdministrator = userRoles.HasElement("Administrator");
    var isProjectPitching = userRoles.HasElement("ProjectPitching");
    var isLogistics = userRoles.HasElement("Logistics");
    var menuOpenCssClass = "kt-menu__item--open kt-menu__item--here";
    var menuItemOpenCssClass = "kt-menu__item--active";
}
<ul class="kt-menu__nav ">
    <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, "Index", "Home", null)" aria-haspopup="true">
        <a href="@Url.Action("Index", "Home")" class="kt-menu__link">
            <span class="kt-menu__link-text">@Labels.Dashboard</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
        </a>
    </li>
    @if (isAdministrator)
    {
        <li class="kt-menu__item kt-menu__item--submenu kt-menu__item--rel @this.IsOpen(menuOpenCssClass, "Index", "Holding", null) @this.IsOpen(menuOpenCssClass, "Index", "Player", null) @this.IsOpen(menuOpenCssClass, "Index", "CollaboratorPlayer", null) @this.IsOpen(menuOpenCssClass, "Collaborators", "ManualMessage", null)" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">@Labels.Players</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
            <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                <ul class="kt-menu__subnav">
                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "Index", "Holding", null)" aria-haspopup="true">
                        <a href="@Url.Action("Index", "Holding")" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.Holdings</span></a>
                    </li>
                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "Index", "Player", null)" aria-haspopup="true">
                        <a href="@Url.Action("Index", "Player")" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.Companies / @Labels.Players</span></a>
                    </li>
                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "Index", "CollaboratorPlayer", null)" aria-haspopup="true">
                        <a href="@Url.Action("Index", "CollaboratorPlayer")" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.Executives / @Labels.Players</span></a>
                    </li>
                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "Collaborators", "ManualMessage", null)" aria-haspopup="true">
                        <a href="@Url.Action("Collaborators", "ManualMessage")" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.InvitationSending</span></a>
                    </li>
                </ul>
            </div>
        </li>
    }
    @if (isAdministrator || isProjectPitching)
    {
        <li class="kt-menu__item kt-menu__item--submenu kt-menu__item--rel @this.IsOpen(menuOpenCssClass, "Index", "Producer", null) @this.IsOpen(menuOpenCssClass, "Index", "CollaboratorProducer", null) @this.IsOpen(menuOpenCssClass, "Index,ProjectPitching", "Project", null)" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">@Labels.Producers</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
            <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                <ul class="kt-menu__subnav">
                    @if (isAdministrator)
                    {
                        <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "Index", "Producer", null)" aria-haspopup="true">
                            <a href="@Url.Action("Index", "Producer")" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.Companies / @Labels.Producers</span></a>
                        </li>
                        <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "Index", "CollaboratorProducer", null)" aria-haspopup="true">
                            <a href="@Url.Action("Index", "CollaboratorProducer")" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.Executives / @Labels.Producers</span></a>
                        </li>
                        <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "Index", "Project", null)" aria-haspopup="true">
                            <a href="@Url.Action("Index", "Project")" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.Projects</span></a>
                        </li>
                    }
                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "ProjectPitching", "Project", null)" aria-haspopup="true">
                        <a href="@Url.Action("ProjectPitching", "Project")" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.ProjectsForPitching</span></a>
                    </li>
                </ul>
            </div>
        </li>
    }
    @if (isAdministrator)
    {
        <li class="kt-menu__item kt-menu__item--submenu kt-menu__item--rel @this.IsOpen(menuOpenCssClass, "Index", "Conference", null) @this.IsOpen(menuOpenCssClass, "Index", "RoleLecturer", null)" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">@Labels.Speeches</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
            <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                <ul class="kt-menu__subnav">
                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "Index", "Conference", null)" aria-haspopup="true">
                        <a href="@Url.Action("Index", "Conference")" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.Speeches</span></a>
                    </li>
                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "Index", "RoleLecturer", null)" aria-haspopup="true">
                        <a href="@Url.Action("Index", "RoleLecturer")" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.SpeakerFunctions</span></a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, "Index", "Speaker", null)" aria-haspopup="true">
            <a href="@Url.Action("Index", "Speaker")" class="kt-menu__link">
                <span class="kt-menu__link-text">@Labels.Speakers</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
            </a>
        </li>
        <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, "Index", "Room", null)" aria-haspopup="true">
            <a href="@Url.Action("Index", "Room")" class="kt-menu__link">
                <span class="kt-menu__link-text">@Labels.Rooms</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
            </a>
        </li>
    }
    @if (isAdministrator || isLogistics)
    {
        <li class="kt-menu__item @this.IsOpen(menuOpenCssClass, "Index", "Logistics", null)" aria-haspopup="true">
            <a href="@Url.Action("Index", "Logistics")" class="kt-menu__link">
                <span class="kt-menu__link-text">@Labels.Logistics</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
            </a>
        </li>
    }
    @if (isAdministrator)
    {
        <li class="kt-menu__item kt-menu__item--submenu kt-menu__item--rel @this.IsOpen(menuOpenCssClass, null, "ScheduleOneToOneMeetings", null) @this.IsOpen(menuOpenCssClass, null, "ScheduleOneToOneMeetingsConfig", null)" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">@Labels.BusinessRoundtable</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
            <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                <ul class="kt-menu__subnav">
                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "Index", "ScheduleOneToOneMeetingsConfig", null)" aria-haspopup="true">
                        <a href="@Url.Action("Index", "ScheduleOneToOneMeetingsConfig")" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.Parameters</span></a>
                    </li>
                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "Process", "ScheduleOneToOneMeetings", null)" aria-haspopup="true">
                        <a href="@Url.Action("Process", "ScheduleOneToOneMeetings")" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.GenerateCalendar</span></a>
                    </li>
                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "Index", "ScheduleOneToOneMeetings", null)" aria-haspopup="true">
                        <a href="@Url.Action("Index", "ScheduleOneToOneMeetings")" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.ViewCalendar</span></a>
                    </li>
                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "UnscheduledNegotiations", "ScheduleOneToOneMeetings", null)" aria-haspopup="true">
                        <a href="@Url.Action("UnscheduledNegotiations", "ScheduleOneToOneMeetings")" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.UnscheduledNegotiations</span></a>
                    </li>
                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "RegisterNegotiationManual", "ScheduleOneToOneMeetings", null)" aria-haspopup="true">
                        <a href="@Url.Action("RegisterNegotiationManual", "ScheduleOneToOneMeetings")" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.ScheduleNegotiation</span></a>
                    </li>
                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "SendEmailToPlayers", "ScheduleOneToOneMeetings", null)" aria-haspopup="true">
                        <a href="@Url.Action("SendEmailToPlayers", "ScheduleOneToOneMeetings")" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.SendEmailToPlayers</span></a>
                    </li>
                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "SendEmailToProducers", "ScheduleOneToOneMeetings", null)" aria-haspopup="true">
                        <a href="@Url.Action("SendEmailToProducers", "ScheduleOneToOneMeetings")" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.SendEmailToProducers</span></a>
                    </li>
                    <li class="kt-menu__item @this.IsOpen(menuItemOpenCssClass, "Report", "ScheduleOneToOneMeetings", null)" aria-haspopup="true">
                        <a href="@Url.Action("Report", "ScheduleOneToOneMeetings")" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Labels.CalendarReport</span></a>
                    </li>
                </ul>
            </div>
        </li>
    }
</ul>