@using System.Configuration
@using System.Globalization
<!DOCTYPE html>
@*
    <!--
    Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 4 & Angular 8
    Version: 6.0.4
    Author: KeenThemes
    Website: http://www.keenthemes.com/
    Contact: support@keenthemes.com
    Follow: www.twitter.com/keenthemes
    Dribbble: www.dribbble.com/keenthemes
    Like: www.facebook.com/keenthemes
    Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
    Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
    License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
    -->
*@
<html lang="@(CultureInfo.CurrentCulture?.ToString()?.ToLowerInvariant())">
<!-- begin::Head -->
<head>
    <!--begin::Base Path (base relative path for assets of this page) -->
    <base href="../">
    <!--end::Base Path -->
    <meta charset="utf-8" />
    <title>@Labels.PlatformRio2CAdmin | @ViewBag.Title</title>
    <meta name="description" content="@Labels.PlatformRio2CAdmin">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                "families": ["Poppins:300,400,500,600,700"]
            },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Fonts -->
    <!--begin:: Global Mandatory Vendors -->
    @Styles.Render("~/bundles/css/layoutGlobalMandatoryVendors.css")
    <!--end:: Global Mandatory Vendors -->
    <!--begin:: Global Optional Vendors -->
    @Styles.Render("~/bundles/css/layoutGlobalOptionalVendors.css")
    @Styles.Render("~/bundles/css/layoutFontOptionalVendors.css")
    <!--end:: Global Optional Vendors -->
    <!--begin::Global Customized Styles -->
    @Styles.Render("~/bundles/css/layoutGlobalCustomizedStyles.css")
    <!--end::Global Customized Styles -->
    <!--begin::Page Styles -->
    @RenderSection("Styles", false)
    <!--end::Page Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    @Styles.Render("~/bundles/css/layoutGlobalThemeStyles.css")
    <!--end::Global Theme Styles -->
    <link rel="shortcut icon" href="~/Assets/img/favicon.png" />
    @RenderSection("Head", false)
</head>
<!-- end::Head -->
<!-- begin::Body -->
<body style="@ViewBag.LayoutBodyStyle" class="@ViewBag.LayoutBodyClass">
    @RenderBody()
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#366cf3",
                    "light": "#ffffff",
                    "dark": "#282a3c",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                    "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
                }
            }
        };
    </script>
    <!-- end::Global Config -->
    <!--begin:: Global Mandatory Vendors -->
    @Scripts.Render("~/bundles/js/layoutGlobalMandatoryVendors.js")
    <!--end:: Global Mandatory Vendors -->
    <!--begin:: Global Optional Vendors -->
    @Scripts.Render("~/bundles/js/layoutGlobalOptionalVendors.js")
    <!--end:: Global Optional Vendors -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    @Scripts.Render("~/bundles/js/layoutGlobalThemeBundle.js")
    @Scripts.Render("~/bundles/js/layoutGlobalCustomized.js")
    <!--end::Global Theme Bundle -->
    <!--begin: MyRio2C Scripts-->
    <script>
        // Show alert translations --------------------------------------------
        var alertMessageTypeTranslated = {};
        alertMessageTypeTranslated['success'] = '@Labels.Success';
        alertMessageTypeTranslated['info'] = '@Labels.Info';
        alertMessageTypeTranslated['error'] = '@Labels.Error';
        alertMessageTypeTranslated['warning'] = '@Labels.Warning';
        var alertUndefinedMessage = '@Messages.UndefinedMessage';
        var redirectMessage = '@Messages.YouWillBeRedirected';

        // Global javascript translations -------------------------------------
        var labels = {
            selectPlaceholder: '@(Labels.Select)...',
            actions: '@Labels.Actions',
            edit: '@Labels.Edit',
            view: '@Labels.View',
            remove: '@Labels.Remove',
            send: '@Labels.Send',
            cancel: '@Labels.Cancel',
            confirm: '@Labels.ToConfirm',
            deleteConfirmationMessage: '@Messages.ConfirmDelete',
            deleteCurrentEditionConfirmationMessage: '@(ViewBag.EditionDto?.UrlCode != null ? string.Format(Messages.ConfirmDeleteEdition, ViewBag.EditionDto?.UrlCode) : string.Empty)',
            notInEdition: '@(ViewBag.EditionDto?.UrlCode != null ? string.Format(Labels.NotInEdition, ViewBag.EditionDto?.UrlCode) : string.Empty)',
            selectAtLeastOneOption: '@Messages.SelectAtLeastOneOption',
            propertyBetweenLengths: '@Messages.PropertyBetweenLengths',
            maxlengthCounterMessage: '@Messages.MaxlengthCounterMessage',
            selectAll: '@Labels.SelectAll',
            unselectAll: '@Labels.UnselectAll',
            block: '@Labels.Block',
            unblock: '@Labels.Unblock',
            blocked: '@Labels.Blocked',
            blockConfirmationMessage: '@Messages.ConfirmBlock',
            unblockConfirmationMessage: '@Messages.ConfirmUnblock',
        };

        // MyRio2CCommon script -----------------------------------------------
        MyRio2cCommon.init('@ViewBag.UserInterfaceLanguage', '@(ViewBag.EditionDto?.UrlCode)', '@ConfigurationManager.AppSettings["AWSBucket"]');

        @Html.StatusMessageToastr()
    </script>
    <!--end: MyRio2C Scripts-->
    <!--begin::Page Scripts -->
    <script type="text/javascript">
        CKEDITOR_BASEPATH = "@Url.Content("~/Scripts/ckeditor/")";
    </script>
    @Scripts.Render("~/bundles/js/globalize.js")
    @RenderSection("Scripts", false)
    @Scripts.Render("~/bundles/js/jqueryval.js")
    <script>
        //Enable Globalize with current culture
        Globalize.culture(@(new HtmlString(string.Format("\'{0}\'", CultureInfo.CurrentCulture))));

        //Enable Moment with current culture
        moment.locale(@(new HtmlString(string.Format("\'{0}\'", CultureInfo.CurrentCulture))));
    </script>
    <!--end::Page Scripts -->
    <!--begin: Global Modal Container-->
    <div id="GlobalModalContainer"></div>
    <!--end: Global Modal Container-->
</body>
<!-- end::Body -->
</html>