@using PlataformaRio2C.Infra.CrossCutting.Tools.Helpers
@{
    var breadcrumb = ViewBag.Breadcrumb as BreadcrumbHelper;
}
@if (breadcrumb != null)
{
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">@breadcrumb.Title</h3>
                <div class="kt-subheader__breadcrumbs">
                    <a href="@Url.Action("Index", "Home")" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i> <span class="kt-subheader__breadcrumbs-link pr-0">@Labels.Dashboard</span></a>
                    @if (breadcrumb?.Items?.Any() == true)
                    {
                        foreach (var item in breadcrumb.Items)
                        {
                            <span class="kt-subheader__breadcrumbs-separator"></span>
                            <a href="@item.Url" class="kt-subheader__breadcrumbs-link">
                                @item.Name
                            </a>
                        }
                    }
                </div>
            </div>
            @if (breadcrumb.MenuActions?.Any() == true)
            {
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        @*<a href="#" class="btn kt-subheader__btn-secondary">
                                @breadcrumb.MenuName
                            </a>*@
                        <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="@breadcrumb.MenuName" data-placement="top">
                            <a href="#" class="btn @(breadcrumb.MenuColorClass) kt-subheader__btn-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @breadcrumb.MenuName
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                @foreach (var menuAction in breadcrumb.MenuActions)
                                {
                                    <a class="dropdown-item" @(!string.IsNullOrEmpty(menuAction.Id) ? "id=" + menuAction.Id : string.Empty) @(!string.IsNullOrEmpty(menuAction.Url) ? "href=" + menuAction.Url + " target=_blank" : string.Empty) @(!string.IsNullOrEmpty(menuAction.OnClick) ? "onclick=" + menuAction.OnClick : string.Empty) @(menuAction.IsModal.HasValue && menuAction.IsModal.Value ? "data-toggle=modal" : string.Empty)>
                                        @if (!string.IsNullOrEmpty(menuAction.Icon))
                                        {
                                            <i class="@(menuAction.Icon)"></i>
                                        }
                                        @menuAction.Name
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}