@using Mvc.Mailer
@model PlataformaRio2C.Application.CQRS.Commands.SendWelcomeEmailAsync
<td valign="top">
    <!-- content -->
    <h1>@Labels.Dear @Model.RecipientFirstName,</h1>
    <p>@string.Format(Labels.Welcome, Model.EditionUrlCode)</p>
    <p>@Messages.WelcomeEmailMessage1</p>
    <p>@Html.Raw(Messages.WelcomeEmailMessage2)</p>
    <div>
        <!--[if mso]>
            <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:40px;v-text-anchor:middle;width:200px;" arcsize="15%" stroke="f" fillcolor="#ea202c">
            <w:anchorlock/>
        <![endif]-->
        <center>
            <p style="margin-top: 40px; margin-bottom: 40px;">
                <a href="@Url.Abs(Url.Action("Onboarding", "Account", new { culture = Model.UserInterfaceLanguage, edition = Model.EditionUrlCode, email = Model.RecipientEmail, uid = Model.RecipientUserUid, token = Model.UserSecurityToken }))"
                   style="background-color:#ea202c;border-radius:6px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:16px;font-weight:bold;line-height:40px;text-align:center;text-decoration:none;width:200px;-webkit-text-size-adjust:none;">@Labels.ClickHere!</a>
            </p>
        </center>
        <!--[if mso]>
            </v:roundrect>
        <![endif]-->
    </div>
    <p>
        @Messages.WelcomeEmailMessage3<br />
        meetings@rio2c.com
    </p>
    <p>@Messages.WelcomeEmailMessage4</p>
    <p>@Messages.WelcomeEmailMessage5</p>
</td>
@section Styles {
}