@using PlataformaRio2c.Infra.Data.FileRepository.Helpers
@using PlataformaRio2C.Domain.Constants
@using PlataformaRio2C.Domain.Dtos
@using PlataformaRio2C.Domain.Statics
@model List<AttendeeCollaboratorDto>
@{
    var adminAccessControlDto = ViewBag.AdminAccessControlDto as AdminAccessControlDto;
    var hasChangeDataPermission = adminAccessControlDto?.HasAnyCollaboratorType(new[] { CollaboratorType.AdminAudiovisual, CollaboratorType.AdminLogistic }) == true;
    var hideActions = (bool?)ViewBag.HideActions ?? false;
}

<div class="kt-widget4">
    @if (Model != null && Model.Any(ac => ac.LogisticDto?.LogisticAirfareDtos != null && ac.LogisticDto?.LogisticAirfareDtos.Count() > 0))
    {
        <div class="col-12">
            <table class="table table-sm table-head-bg-brand table-body-scroll">
                <thead class="thead-inverse">
                    <tr>
                        <th>@Labels.Executive</th>
                        <th>@Labels.FromPlace</th>
                        <th>@Labels.DepartureDate</th>
                        <th>@Labels.ToPlace</th>
                        <th>@Labels.ArrivalDate</th>
                    </tr>
                </thead>
                <tbody class="rio2c-scroll" style="height: 150px;">
                    @foreach (var attendeeCollaboratorDto in Model.Where(ac => ac.LogisticDto?.LogisticAirfareDtos != null && ac.LogisticDto?.LogisticAirfareDtos?.Count() > 0))
                    {
                        foreach (var logisticAirfareDto in attendeeCollaboratorDto.LogisticDto.LogisticAirfareDtos)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Details", "Logistics", new { Area = "", id = logisticAirfareDto.LogisticAirfare.Logistic.Uid })" target="_blank">
                                        @(attendeeCollaboratorDto.Collaborator.GetFullName())
                                    </a>
                                    <div class="row col-md-12">
                                        <span class="kt-badge kt-badge--inline kt-badge--info">
                                            @(attendeeCollaboratorDto.AttendeeOrganizationsDtos.FirstOrDefault().Organization.Name)
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    @logisticAirfareDto.LogisticAirfare.From
                                </td>
                                <td>
                                    @logisticAirfareDto.LogisticAirfare.DepartureDate.ToUserTimeZone().ToString("g")
                                </td>
                                <td>
                                    @logisticAirfareDto.LogisticAirfare.To
                                </td>
                                <td>
                                    @logisticAirfareDto.LogisticAirfare.ArrivalDate.ToUserTimeZone().ToString("g")
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="row mt-3">
            <div class="col-12 text-center">
                <span class="text-center">@string.Format(Messages.EntityNotAction, Labels.Executives, Labels.FoundMP)</span>
            </div>
        </div>
    }
</div>
