@using PlataformaRio2C.Domain.Dtos
@model LogisticDto
@{
    ViewBag.Title = Labels.Logistics;
}
@Html.Hidden("LogisticAggregateId", Model.Logistic.Uid)
@Html.Hidden("SpeakerAggregateId", Model.AttendeeCollaboratorDto.Collaborator.Uid)
<div class="row">
    <!--begin:Main Information Widget-->
    <div class="col-12">
        <div id="LogisticsMainInformationWidget" class="kt-portlet" style="min-height: 185px;"></div>
    </div>
    <!--end:Main Information Widget-->
</div>
<div class="row">
    <!--begin:Participants Widget-->
    <div class="col-6">
        <div id="SpeakerParticipantsWidget" class="kt-portlet" style="min-height: 325px;"></div>
    </div>
    <!--end:Participants Widget-->
    <!--begin:Conferences Widget-->
    <div class="col-6">
        <div id="SpeakerConferencesWidget" class="kt-portlet" style="min-height: 325px;"></div>
    </div>
    <!--end:Conferences Widget-->
</div>
<div class="row">
    <!--begin:Airfare Widget-->
    <div class="col-12">
        <div id="LogisticsAirfareWidget" class="kt-portlet" style="min-height: 325px;"></div>
    </div>
    <!--end:Airfare Widget-->
</div>
<div class="row">
    <!--begin:Accommodations Widget-->
    <div class="col-12">
        <div id="LogisticsAccommodationWidget" class="kt-portlet" style="min-height: 325px;"></div>
    </div>
    <!--end:Accommodations Widget-->
</div>
<div class="row">
    <!--begin:Transfer Widget-->
    <div class="col-12">
        <div id="LogisticsTransferWidget" class="kt-portlet" style="min-height: 325px;"></div>
    </div>
    <!--end:Transfer Widget-->
</div>
@section Styles {
    @Styles.Render("~/bundles/css/select2.css")
    @Styles.Render("~/bundles/css/bootstrap-datepicker.css")
    @Styles.Render("~/bundles/css/bootstrap-datetimepicker.css")
    <style type="text/css">
        .custom-file-input ~ .custom-file-label::after {
            content: "@Labels.Choose";
        }
    </style>
}
@section Scripts {
    @Scripts.Render("~/bundles/js/select2.js")
    @Scripts.Render("~/bundles/js/bootbox.js")
    @Scripts.Render("~/bundles/js/bootstrap-datepicker.js")
    @Scripts.Render("~/bundles/js/bootstrap-datetimepicker.js")
    @Scripts.Render("~/bundles/js/logistics.details.js")
    @Scripts.Render("~/bundles/js/speakers.details.js")
    <script>
        // Page translations ----------------------------------------------------------------------
        var translations = {
            dateBetweenDates: '@Messages.DateBetweenDates'
        }

        jQuery(document).ready(function () {
            LogisticsMainInformationWidget.init();
            SpeakersParticipantsWidget.init();
            SpeakersConferencesWidget.init();
            LogisticsAirfareWidget.init();
            LogisticsTransferWidget.init();
            LogisticsAccommodationWidget.init();
        });
    </script>
}