@using PlataformaRio2C.Domain.Dtos
@model LogisticRequestBaseDto
@{
    ViewBag.Title = Labels.Logistics;
}
@Html.Hidden("AggregateId", Model.Uid)
<!--begin:Main Information Widget-->
<div class="row">
    <div class="col-12">
        <div id="LogisticsMainInformationWidget" class="kt-portlet" style="min-height: 185px;"></div>
    </div>
</div>
<!--end:Main Information Widget-->
<!--begin:Airfare Widget-->
<div class="row">
    <div class="col-12">
        <div id="LogisticsAirfareWidget" class="kt-portlet" style="min-height: 325px;"></div>
    </div>
</div>
<!--end:Airfare Widget-->
<!--begin:Accommodations Widget-->
<div class="row">
    <div class="col-12">
        <div id="LogisticsAccommodationWidget" class="kt-portlet" style="min-height: 325px;"></div>
    </div>
</div>
<!--end:Accommodations Widget-->
<!--begin:Transfer Widget-->
<div class="row">
    <div class="col-12">
        <div id="LogisticsTransferWidget" class="kt-portlet" style="min-height: 325px;"></div>
    </div>
</div>
<!--end:Transfer Widget-->
@section Styles {
    @Styles.Render("~/bundles/css/select2.css")
    @Styles.Render("~/bundles/css/bootstrap-datepicker.css")
    @Styles.Render("~/bundles/css/bootstrap-datetimepicker.css")
    <style type="text/css">
        .custom-file-input ~ .custom-file-label::after {
            content: "@Labels.Choose";
        }
    </style>
}
@section Scripts {
    @Scripts.Render("~/bundles/js/select2.js")
    @Scripts.Render("~/bundles/js/bootbox.js")
    @Scripts.Render("~/bundles/js/bootstrap-datepicker.js")
    @Scripts.Render("~/bundles/js/bootstrap-datetimepicker.js")
    @Scripts.Render("~/bundles/js/logistics.details.js")
    <script>
        // Page translations ----------------------------------------------------------------------
        var translations = {
            dateBetweenDates: '@Messages.DateBetweenDates'
        }

        jQuery(document).ready(function () {
            LogisticsMainInformationWidget.init();
            LogisticsAirfareWidget.init();
            LogisticsTransferWidget.init();
            LogisticsAccommodationWidget.init();
        });
    </script>
}