@using PlataformaRio2C.Domain.Dtos
@model LogisticRequestDetailsDto
@{
    ViewBag.Title = Labels.Logistics;
}
@Html.Hidden("Uid", Model.Uid)

<!--begin:Main Information Widget-->
<div class="row">
    <div class="col-12">
        <div id="LogisticRequestsMainInformationWidget" class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="kt-widget kt-widget--user-profile-3">
                    <div class="kt-widget__top">
                        <div class="kt-widget__content pl-0" style="overflow: hidden;">
                            <div class="kt-widget__head">
                                <span class="kt-widget__username">
                                    Satya Nadella
                                </span>
                                <div class="kt-widget__action">
                                    <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md btn-circle" onclick="LogisticRequestsMainInformationWidget.showUpdateModal();">
                                        <i class="flaticon2-edit"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="kt-widget__info">
                                <span class="kt-widget__desc">
                                    @Labels.Pillars: <span class="kt-badge  kt-badge--info kt-badge--inline" style="background-color: #E5007D; color: white;">Transformação das empresas e empregos</span>
                                    <span class="kt-badge  kt-badge--info kt-badge--inline" style="background-color: #F9B233; color: white;">Arte, Mídia e Entretenimento</span>
                                    <span class="kt-badge  kt-badge--info kt-badge--inline" style="background-color: #5578eb; color: white;">Inovação</span>
                                </span>
                            </div>
                            <div class="kt-widget__info">
                                <span class="kt-widget__desc">
                                    Funções: <span class="kt-badge  kt-badge--info kt-badge--inline">Keynote</span>
                                    <span class="kt-badge  kt-badge--info kt-badge--inline">Palestrante</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="kt-widget__bottom">
                        <div class="kt-widget__item">
                            <div class="kt-widget__details">
                                <span class="kt-widget__title">@Labels.Airfare</span>
                                <span class="kt-widget__value"><span>Rio2C</span></span>
                            </div>
                        </div>
                        <div class="kt-widget__item">
                            <div class="kt-widget__details">
                                <span class="kt-widget__title">@Labels.Accommodation</span>
                                <span class="kt-widget__value"><span>APEX</span></span>
                            </div>
                        </div>
                        <div class="kt-widget__item">
                            <div class="kt-widget__details">
                                <span class="kt-widget__title">@Labels.AirportTransfer</span>
                                <span class="kt-widget__value"><span>Patrocinado por outras instituições</span></span>
                            </div>
                        </div>
                        <div class="kt-widget__item">
                            <div class="kt-widget__details">
                                <span class="kt-widget__title">@Labels.TransferCity</span>
                                <span class="kt-widget__value"><span>Sim</span></span>
                            </div>
                        </div>
                        <div class="kt-widget__item">
                            <div class="kt-widget__details">
                                <span class="kt-widget__title">@Labels.VehicleAtDisposal</span>
                                <span class="kt-widget__value"><span>Sim</span></span>
                            </div>
                        </div>

                        <div class="kt-widget__item">
                            <div class="kt-widget__details">
                                <span class="kt-widget__title">Solicitante</span>
                                <span class="kt-widget__value"><span>Stephan Gates</span></span>
                            </div>
                        </div>


                        <div class="kt-widget__item">
                            <div class="kt-widget__details">
                                <span class="kt-widget__title">Data de Solicitação</span>
                                <span class="kt-widget__value"><span>08/01/2020 18:30</span></span>
                            </div>
                        </div>

                        <div class="kt-widget__item col-12">
                            <div class="kt-widget__details">
                                <span class="kt-widget__title">@Labels.AdditionalInfo</span>
                                <span class="kt-widget__value">
                                    <span>
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end:Main Information Widget-->
<!--begin:Airfare Widget-->
<div class="row">
    <div class="col-12">
        <div id="LogisticAirfareWidget" class="kt-portlet" style="position: relative; zoom: 1;">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        @Labels.Airfare
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-actions">
                        <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md btn-circle" onclick="LogisticAirfareCreate.showModal();">
                            <i class="flaticon2-add-1"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-sm table-head-bg-brand table-body-scroll">
                            <thead class="thead-inverse">
                                <tr>
                                    <th class="text-center">Nacional</th>
                                    <th class="text-center">@Labels.FromPlace</th>
                                    <th class="text-center">@Labels.DepartureDate</th>
                                    <th class="text-center">@Labels.ToPlace</th>
                                    <th class="text-center">@Labels.ArrivalDate</th>
                                    <th class="text-center">@Labels.TicketNumber</th>
                                    <th class="text-center">@Labels.AirfareTicket</th>
                                    <th class="text-center">@Labels.CreateDate</th>
                                    <th class="text-center">@Labels.UpdateDate</th>
                                    <th class="text-center">@Labels.Actions</th>
                                </tr>
                            </thead>
                            <tbody class="rio2c-scroll kt-scroll ps rio2c-scroll-enabled" style="height: 200px; overflow: hidden;">
                                <tr>
                                    <td class="text-center ">
                                        Sim
                                    </td>
                                    <td class="text-center ">
                                        São Paulo
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 01:00
                                    </td>
                                    <td class="text-center ">
                                        São Paulo
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        QWERTY12345
                                    </td>
                                    <td class="text-center ">
                                        <a class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true"> <i class="la la-paperclip"></i> </a>
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        <span class="dropdown">
                                            <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true">

                                                <i class="la la-ellipsis-h"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <button class="dropdown-item" onclick="LogisticAirfareCreate.showModal();"><i class="la la-edit"></i>@Labels.Edit</button>
                                                <a class="dropdown-item" href="@Url.Content("~/Assets/img/200484580088054.pdf")" target="_blank"><i class="la la-download"></i>@Labels.Download</a>
                                                <button class="dropdown-item" onclick="LogisticAirfareDelete.showModal();"><i class="la la-remove"></i>@Labels.Remove</button>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center ">
                                        Sim
                                    </td>
                                    <td class="text-center ">
                                        São Paulo
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 01:00
                                    </td>
                                    <td class="text-center ">
                                        São Paulo
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        QWERTY12345
                                    </td>
                                    <td class="text-center ">
                                        <a class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true"> <i class="la la-paperclip"></i> </a>
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        <span class="dropdown">
                                            <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true">

                                                <i class="la la-ellipsis-h"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <button class="dropdown-item" onclick="LogisticAirfareCreate.showModal();"><i class="la la-edit"></i>@Labels.Edit</button>
                                                <a class="dropdown-item" href="@Url.Content("~/Assets/img/200484580088054.pdf")" target="_blank"><i class="la la-download"></i>@Labels.Download</a>
                                                <button class="dropdown-item" onclick="LogisticAirfareDelete.showModal();"><i class="la la-remove"></i>@Labels.Remove</button>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center ">
                                        Sim
                                    </td>
                                    <td class="text-center ">
                                        São Paulo
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 01:00
                                    </td>
                                    <td class="text-center ">
                                        São Paulo
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        QWERTY12345
                                    </td>
                                    <td class="text-center ">
                                        <a class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true"> <i class="la la-paperclip"></i> </a>
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        <span class="dropdown">
                                            <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true">

                                                <i class="la la-ellipsis-h"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <button class="dropdown-item" onclick="LogisticAirfareCreate.showModal();"><i class="la la-edit"></i>@Labels.Edit</button>
                                                <a class="dropdown-item" href="@Url.Content("~/Assets/img/200484580088054.pdf")" target="_blank"><i class="la la-download"></i>@Labels.Download</a>
                                                <button class="dropdown-item" onclick="LogisticAirfareDelete.showModal();"><i class="la la-remove"></i>@Labels.Remove</button>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center ">
                                        Sim
                                    </td>
                                    <td class="text-center ">
                                        São Paulo
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 01:00
                                    </td>
                                    <td class="text-center ">
                                        São Paulo
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                    </td>
                                    <td class="text-center ">
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        <span class="dropdown">
                                            <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true">
                                                <i class="la la-ellipsis-h"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <button class="dropdown-item" onclick="LogisticAirfareCreate.showModal();"><i class="la la-edit"></i>@Labels.Edit</button>
                                                <a class="dropdown-item" href="@Url.Content("~/Assets/img/200484580088054.pdf")" target="_blank"><i class="la la-download"></i>@Labels.Download</a>
                                                <button class="dropdown-item" onclick="LogisticAirfareDelete.showModal();"><i class="la la-remove"></i>@Labels.Remove</button>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end:Airfare Widget-->
<!--begin:Accommodations Widget-->
<div class="row">
    <div class="col-12">
        <div id="LogisticAccommodationWidget" class="kt-portlet" style="position: relative; zoom: 1;">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        @Labels.Accommodation
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-actions">
                        <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md btn-circle" onclick="LogisticAccommodationCreate.showModal();">
                            <i class="flaticon2-add-1"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-sm table-head-bg-brand table-body-scroll">
                            <thead class="thead-inverse">
                                <tr>
                                    <th class="text-center">Hotel</th>
                                    <th class="text-center">@Labels.CheckInDate</th>
                                    <th class="text-center">@Labels.CheckOutDate</th>
                                    <th class="text-center">@Labels.CreateDate</th>
                                    <th class="text-center">@Labels.UpdateDate</th>
                                    <th class="text-center">@Labels.Actions</th>
                                </tr>
                            </thead>
                            <tbody class="rio2c-scroll kt-scroll ps rio2c-scroll-enabled" style="height: 200px; overflow: hidden;">
                                <tr>
                                    <td class="text-center ">
                                        Ipsum Lorem Budget
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 01:00
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center ">
                                        <span class="dropdown">
                                            <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true">
                                                <i class="la la-ellipsis-h"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <button class="dropdown-item" onclick="LogisticAccommodationCreate.showModal();"><i class="la la-edit"></i>@Labels.Edit</button>
                                                <button class="dropdown-item" onclick="LogisticAirfareDelete.showModal();"><i class="la la-remove"></i>@Labels.Remove</button>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end:Airfare Widget-->
<!--begin:Accommodations Widget-->
<div class="row">
    <div class="col-12">
        <div id="LogisticTransportWidget" class="kt-portlet" style="position: relative; zoom: 1;">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        @Labels.LogisticsTransfer
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-actions">
                        <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md btn-circle" onclick="LogisticTransportCreate.showModal();">
                            <i class="flaticon2-add-1"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-sm table-head-bg-brand table-body-scroll">
                            <thead class="thead-inverse">
                                <tr>
                                    <th class="text-center">@Labels.FromPlace</th>
                                    <th class="text-center">@Labels.ToPlace</th>
                                    <th class="text-center">@Labels.Departure</th>
                                    <th class="text-center">@Labels.CreateDate</th>
                                    <th class="text-center">@Labels.UpdateDate</th>
                                    <th class="text-center">@Labels.Actions</th>
                                </tr>
                            </thead>
                            <tbody class="rio2c-scroll kt-scroll ps rio2c-scroll-enabled" style="height: 200px; overflow: hidden;">
                                <tr>
                                    <td class="text-center">
                                        Origem
                                    </td>
                                    <td class="text-center">
                                        Destino
                                    </td>
                                    <td class="text-center">
                                        05/05/2020 01:00
                                    </td>
                                    <td class="text-center">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center">
                                        05/05/2020 02:00
                                    </td>
                                    <td class="text-center">
                                        <span class="dropdown">
                                            <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true">
                                                <i class="la la-ellipsis-h"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <button class="dropdown-item" onclick="LogisticTransportCreate.showModal();"><i class="la la-edit"></i>@Labels.Edit</button>
                                                <button class="dropdown-item" onclick="LogisticAirfareDelete.showModal();"><i class="la la-remove"></i>@Labels.Remove</button>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end:Airfare Widget-->

@section Styles {
    @Styles.Render("~/bundles/css/select2.css")
    @Styles.Render("~/bundles/css/bootstrap-datepicker.css")
    @Styles.Render("~/bundles/css/bootstrap-datetimepicker.css")
}
@section Scripts {
    @Scripts.Render("~/bundles/js/select2.js")
    @Scripts.Render("~/bundles/js/bootbox.js")
    @Scripts.Render("~/bundles/js/bootstrap-datepicker.js")
    @Scripts.Render("~/bundles/js/bootstrap-datetimepicker.js")
    @Scripts.Render("~/bundles/js/logisticrequests.details.js")
    <script>
        // Page translations ----------------------------------------------------------------------
        var translations = {
            dateBetweenDates: '@Messages.DateBetweenDates'
        }

        jQuery(document).ready(function () {
            //ConferencesMainInformationWidget.init();
            //ConferencesTracksAndPresentationFormatsWidget.init();
            //ConferencesParticipantsWidget.init();
        });
    </script>
}