@model PlataformaRio2C.Application.CQRS.Commands.UpdateLogisticMainInformation
<div class="modal fade" id="UpdateLogisticRequestModal" role="dialog" aria-labelledby="UpdateLogisticMainInformationModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @(Labels.Update + " " + Labels.Request)
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Update", "Requests", new { Area = "Logistics" }, FormMethod.Post, new { enctype = "multipart/form-data", id = "UpdateLogisticRequestForm" }))
                {
                    @Html.HiddenFor(m => m.LogisticRequestUid)                    
                    <div id="form-container">
                        @Html.Partial("Modals/_CreateForm", Model)
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">@Labels.Cancel</button>
                <button type="button" class="btn btn-primary" onclick="$('#UpdateLogisticRequestForm').submit();">@Labels.Save</button>
            </div>
        </div>
    </div>
</div>