<!DOCTYPE html>
<html data-ng-app="Rio2CAdmin" lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.png">

    <title>@ViewBag.Title - Admin Plataforma Rio2C</title>
    <link href="@Html.GetBaseUrl()/Content/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />    
    @Styles.Render("~/Content/assets/css")
    @Styles.Render("~/Content/css/bundle")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-cloak>
   
    <!--main content start-->
    <section id="main-content" class="main-content-print">
        <section class="wrapper">
            @RenderBody()
        </section>
    </section>  
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/assets/js")
    @Scripts.Render("~/Content/js/bundle")
    @Scripts.Render("~/Scripts/angular/bundles")
    @Scripts.Render("~/Content/js/Rio2CAdmin/bundles")
    
    @RenderSection("scripts", required: false)
</body>
</html>
