@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "~/Views/Themes/Metronic/_InternalOutside.cshtml";
    ViewBag.Title = Messages.AccountLockedOut;
}
<div class="kt-login__body">
    <!--begin::ForgotPassword-->
    <div class="kt-login__form">
        <div class="kt-login__title">
            <h3>@ViewBag.Title</h3>
        </div>
        <div class="row mt-20">
            <div class="col-12 text-center">
                @Html.Raw(Messages.LockOutPage)
            </div>
        </div>
        <!--begin::Action-->
        <div class="kt-login__actions text-center d-block">
            <a href="@Url.Action("Login", "Account", new { Area = "" })" class="kt-link kt-login__link-forgot">
                @(Labels.GoBackToSignIn)
            </a>
        </div>
        <!--end::Action-->
    </div>
    <!--end::ForgotPassword-->
</div>
@section Styles {
    @Styles.Render("~/bundles/css/loginCustomStyles.css")
}
@section Scripts {
}