@{
    ViewBag.Title = Labels.OneToOneMeetings + " | " + Labels.GenerateCalendar;
}
<!--begin:: Quick Stats-->
<div class="row">
    <!--begin:: Edition Scheduled Count Widget-->
    <div class="col-sm-6">
        <div id="AudiovisualMeetingsEditionScheduledCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
    </div>
    <!--end:: Edition Scheduled Count Widget-->
    <!--begin:: Edition Unscheduled Count Widget-->
    <div class="col-sm-6">
        <div id="AudiovisualMeetingsEditionUnscheduledCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
    </div>
    <!--end:: Edition Unscheduled Count Widget-->
</div>
<!--end:: Quick Stats-->
<div class="row">
    <!--begin:: Status Widget-->
    <div class="col-12">
        <div id="AudiovisualMeetingsStatusWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 75px;"></div>
    </div>
    <!--end:: Status Widget-->
</div>
@section Styles {
}
@section Scripts {
    @Scripts.Render("~/bundles/js/chart.js")
    @Scripts.Render("~/bundles/js/bootbox.js")
    @Scripts.Render("~/bundles/js/audiovisual.meetings.generate.widget.js")
    @Scripts.Render("~/bundles/js/audiovisual.meetings.editionscheduledcount.widget.js")
    @Scripts.Render("~/bundles/js/audiovisual.meetings.editionunscheduledcount.widget.js")
    <script>
        // Page translations ----------------------------------------------------------------------
        var translations = {
            generateCalendar: '@Labels.GenerateCalendar',
            generateCalendarMessage: '@Messages.GenerateCalendarMessage'
        };

        // Pagination -----------------------------------------------------------------------------
        jQuery(document).ready(function () {
            AudiovisualMeetingsEditionScheduledCountWidget.init();
            AudiovisualMeetingsEditionUnscheduledCountWidget.init();
            AudiovisualMeetingsStatusWidget.init();
        });
    </script>
}