@{
    ViewBag.Title = Labels.OneToOneMeetings + " | " + Labels.ScheduledNegotiations;
}
<!--begin:: Quick Stats-->
<div class="row">
    <!--begin:: Edition Scheduled Count Widget-->
    <div class="col-sm-6">
        <div id="AudiovisualMeetingsEditionScheduledCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
    </div>
    <!--end:: Edition Scheduled Count Widget-->
    <!--begin:: Edition Unscheduled Count Widget-->
    <div class="col-sm-6">
        <div id="AudiovisualMeetingsEditionUnscheduledCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
    </div>
    <!--end:: Edition Unscheduled Count Widget-->
</div>
<!--end:: Quick Stats-->
<div class="row">
    <!--begin:: Scheduled Meetings Widget-->
    @Html.Partial("Widgets/ScheduledWidget")
    <!--end:: Scheduled Meetings Widget-->
</div>
@section Styles {
    @Styles.Render("~/bundles/css/select2.css")
    @Styles.Render("~/bundles/css/bootstrap-datepicker.css")
}
@section Scripts {
    @Scripts.Render("~/bundles/js/select2.js")
    @Scripts.Render("~/bundles/js/bootstrap-datepicker.js")
    @Scripts.Render("~/bundles/js/chart.js")
    @Scripts.Render("~/bundles/js/audiovisual.meetings.scheduled.widget.js")
    @Scripts.Render("~/bundles/js/audiovisual.meetings.editionscheduledcount.widget.js")
    @Scripts.Render("~/bundles/js/audiovisual.meetings.editionunscheduledcount.widget.js")
    <script>
        // Page translations ----------------------------------------------------------------------
        var translations = {
            playerDropdownPlaceholder: '@string.Format(Labels.SelectAMEntity, Labels.Player.ToLowerInvariant())',
            producerDropdownPlaceholder: '@string.Format(Labels.SelectAFEntity, Labels.Producer.ToLowerInvariant())'
        };

        // Pagination -----------------------------------------------------------------------------
        jQuery(document).ready(function () {
            AudiovisualMeetingsEditionScheduledCountWidget.init();
            AudiovisualMeetingsEditionUnscheduledCountWidget.init();
            AudiovisualMeetingsScheduledWidget.init();
        });
    </script>
}