@using PlataformaRio2C.Domain.Dtos
@model ProjectDto
@{
    ViewBag.Title = $"{Labels.Project}  {Model.GetTitleDtoByLanguageCode(ViewBag.UserInterfaceLanguage)?.ProjectTitle?.Value}";
}
@Html.Hidden("AggregateId", Model.Project.Uid)
<div class="row">
    <div class="col-md-12">
        <!--begin:Main Information Widget-->
        <div class="row">
            <div class="col-12">
                <div id="ProjectMainInformationWidget" class="kt-portlet" style="min-height: 325px;"></div>
            </div>
        </div>
        <!--end:Main Information Widget-->
        <!--begin:Interest Widget-->
        <div class="row">
            <div class="col-12">
                <div id="ProjectInterestWidget" class="kt-portlet" style="min-height: 325px;"></div>
            </div>
        </div>
        <!--end:Interest Widget-->
        <!--begin:Links Widget-->
        <div class="row">
            <div class="col-12">
                <div id="ProjectLinksWidget" class="kt-portlet" style="min-height: 325px;"></div>
            </div>
        </div>
        <!--end:Links Widget-->
    </div>
</div>
@section Styles {
    @Styles.Render("~/bundles/css/select2.css")
}
@section Scripts {
    @Scripts.Render("~/bundles/js/select2.js")
    @Scripts.Render("~/bundles/js/inputmask.js")
    @Scripts.Render("~/bundles/js/bootbox.js")
    @Scripts.Render("~/bundles/js/pitching.widget.js")
    @Scripts.Render("~/bundles/js/pitching.buyercompany.widget.js")
    @Scripts.Render("~/bundles/js/bootbox.js")
    <script>
        // Page translations ----------------------------------------------------------------------
        var translations = {
            finishModalTitle: '@Labels.Finish @Labels.Project',
            finishModalMessage: '@Html.Raw(Texts.FinishProjectConfirmationText)',
            finishPendingModalMessage: '@Html.Raw(string.Format(Texts.FinishProjectPendingConfirmationText, "{0}", "{1}", Labels.Players))',
            player: '@Labels.Player',
            players: '@Labels.Players'
        };

        jQuery(document).ready(function () {
            ProjectsMainInformationWidget.init();
            ProjectsInterestWidget.init();
            ProjectsLinksWidget.init();
        });
    </script>
}