@model CartoonCommissionSearchViewModel
@{
    ViewBag.Title = Labels.CartoonCommission;
}
<!--begin:: Quick Stats-->
<div class="row">
    <!--begin:: Total Count Widget-->
    <div class="col-sm-6">
        <div id="CartoonCommissionsTotalCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
    </div>
    <!--end:: Total Count Widget-->
    <!--begin:: Edition Count-->
    <div class="col-sm-6">
        <div id="CartoonCommissionsEditionCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
    </div>
    <!--end:: Edition Count-->
</div>
<!--end:: Quick Stats-->
@Html.Partial("Widgets/DataTablewidget", Model)
@section Styles {
    @Styles.Render("~/bundles/css/dataTables.css")
    @Styles.Render("~/bundles/css/select2.css")
}
@section Scripts {
    @Scripts.Render("~/bundles/js/dataTables.js")
    @Scripts.Render("~/bundles/js/chart.js")
    @Scripts.Render("~/bundles/js/select2.js")
    @Scripts.Render("~/bundles/js/bootbox.js")
    @Scripts.Render("~/bundles/js/cartoon.commissions.list.js")
    @Scripts.Render("~/bundles/js/cartoon.commissions.editioncount.js")
    @Scripts.Render("~/bundles/js/cartoon.commissions.create.js")
    @Scripts.Render("~/bundles/js/cartoon.commissions.update.js")
    @Scripts.Render("~/bundles/js/cartoon.commissions.delete.js")
    <script>
        var collaboratorTypeName = '@PlataformaRio2C.Domain.Entities.CollaboratorType.ComissionCartoon.Name';

        // Page translations ----------------------------------------------------------------------
        var addToEdition = '@string.Format(Labels.AddToEdition, ViewBag.EditionDto.UrlCode)';
        var removeFromEdition = '@string.Format(Labels.RemoveFromEdition, ViewBag.EditionDto.UrlCode)';
        var theFieldIsRequired = '@Messages.TheFieldIsRequired';
        var ticketType = '@Labels.Ticket';
        var sendInvitationEmail = '@Labels.SendInvitationEmail';
        var exportToEventbrite = '@Labels.ExportToEventbrite';
        var confirmToSendInvitationEmails = '@Messages.ConfirmToSendInvitationEmails';

        // Pagination -----------------------------------------------------------------------------
        var initialPage = @(Model.Page?.ToString() ?? "null");
        var initialPageSize = @(Model.PageSize?.ToString() ?? "null");

        jQuery(document).ready(function () {
            CartoonCommissionsTotalCountWidget.init();
            CartoonCommissionsEditionCountWidget.init();
            CartoonCommissionsDataTableWidget.init();
        });
    </script>
}