@model PlataformaRio2C.Application.CQRS.Commands.AdminUpdateCollaboratorMainInformation
<div class="row">
    <div class="form-group col-lg-4 text-center">
        @Html.EditorFor(m => m.CropperImage)
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="form-group col-md-6 col-xl-6">
                @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-6 col-xl-6">
                @Html.LabelFor(m => m.LastNames, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.LastNames, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastNames, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12 col-xl-12">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                <span class="form-text text-muted">@Messages.EmailInputMessage</span>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12 col-xl-12">
                @Html.LabelFor(m => m.Badge, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Badge, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Badge, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 col-xl-6">
                @Html.LabelFor(m => m.CellPhone, new { @class = "control-label" }) <span class="form-optional-input text-muted">@Labels.Optional</span>
                @Html.TextBoxFor(m => m.CellPhone, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CellPhone, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-6 col-xl-6">
                @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label" }) <span class="form-optional-input text-muted">@Labels.Optional</span>
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>
<div class="kt-section pt-4">
    <h3 class="kt-section__title mb-0">@Labels.JobTitles</h3>
    @Html.ValidationMessage("JobTitles", new { @class = "text-danger" })
    <div class="kt-section__content mt-3">
        @Html.EditorFor(m => m.JobTitles, new { id = "vasco" })
    </div>
</div>
<div class="kt-section mt-30">
    <h3 class="kt-heading kt-heading--md">@Labels.MiniBios</h3>
    @Html.ValidationMessage("MiniBios", new { @class = "text-danger" })
    <div class="kt-section__content mt-3">
        @Html.EditorFor(m => m.MiniBios)
    </div>
</div>