@model EditionEventSearchViewModel
@{
    ViewBag.Title = Labels.Events;
}
<!--begin:: Quick Stats-->
<div class="row">
    <div class="col-sm-6">
        <!--begin:: Total Count Widget-->
        <div id="EventsTotalCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
        <!--end:: Total Count Widget-->
    </div>
    <div class="col-sm-6">
        <!--begin:: Edition Count-->
        <div id="EventsEditionCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
        <!--end:: Edition Count-->
    </div>
</div>
<!--end:: Quick Stats-->
@Html.Partial("Widgets/DataTablewidget", Model)
@section Styles {
    @Styles.Render("~/bundles/css/dataTables.css")
    @*@Styles.Render("~/bundles/css/select2.css")*@
    @*@Styles.Render("~/bundles/css/bootstrap-datepicker.css")*@
}
@section Scripts {
    @Scripts.Render("~/bundles/js/dataTables.js")
    @Scripts.Render("~/bundles/js/chart.js")
    @*@Scripts.Render("~/bundles/js/select2.js")*@
    @Scripts.Render("~/bundles/js/bootbox.js")
    @*@Scripts.Render("~/bundles/js/bootstrap-datepicker.js")
    @Scripts.Render("~/bundles/js/bootstrap-timepicker.js")*@
    @Scripts.Render("~/bundles/js/events.list.js")
    @Scripts.Render("~/bundles/js/events.editioncount.js")
    @*@Scripts.Render("~/bundles/js/events.create.js")*@
    @*@Scripts.Render("~/bundles/js/events.update.js")*@
    @*@Scripts.Render("~/bundles/js/events.delete.js")*@
    <script>
        // Page translations ----------------------------------------------------------------------

        // Pagination -----------------------------------------------------------------------------
        var initialPage = @(Model.Page?.ToString() ?? "null");
        var initialPageSize = @(Model.PageSize?.ToString() ?? "null");

        jQuery(document).ready(function () {
            EventsTotalCountWidget.init();
            EventsEditionCountWidget.init();
            EventsDataTableWidget.init();
        });
    </script>
}