@{
    ViewBag.Title = Texts.ChangePasswordConfirmed;
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<div class="form-signin">
    <div class="login-wrap">
        <section id="loginForm">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" }) 

            <div class="title-forgot-password">
                <h4 class="text-center">@ViewBag.Title @Texts.PasswordWasChanged</h4>                
                <h4 class="text-center"><small> @Html.ActionLink(Messages.PleaseClickHereToLogin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</small></h4>
            </div>
        </section>
    </div>
</div>
