@using PlataformaRio2C.Domain.Dtos
@{
    ViewBag.Title = string.Format(Labels.Welcome, (ViewBag.EditionDto as EditionDto)?.UrlCode);
}
<div class="row">
    <!--begin:Middle column-->
    <div class="col-md-8">
        <!--begin:Welcome -->
        @*
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        @ViewBag.Title
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-widget3">
                    @Html.Raw(Texts.WelcomeContent)

                </div>
            </div>
        </div>
        *@
        <!--end:Welcome -->
        <!--begin:We Connected-->
        @Html.Partial("Widgets/WeConnectedWidget")
        <!--end:We Connected-->
    </div>
    <!--end:Middle column-->
    <!--begin:Right column-->
    <div class="col-md-4">
        <!--begin:Projects-->
        @Html.Partial("Widgets/ProjectsWidget")
        <!--end:Projects-->
        <!--begin:Badges-->
        @Html.Partial("Widgets/BadgesWidget")
        <!--end:Badges-->
    </div>
    <!--end:Right column-->
</div>