@using PlataformaRio2c.Infra.Data.FileRepository.Helpers
@using PlataformaRio2C.Domain.Dtos
@using PlataformaRio2C.Domain.Statics
@model AttendeeCollaboratorSiteCompanyWidgetDto
@{
    var userAccessControlDto = ViewBag.UserAccessControlDto as UserAccessControlDto;
    var hasCompany = userAccessControlDto?.EditionAttendeeOrganizations?.Any() == true;
}
<div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
            @Labels.Companies
        </h3>
    </div>
    @if (!hasCompany)
    {
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
                <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md btn-circle" onclick="SpeakersCompanyWidget.showCreateModal();">
                    <i class="flaticon2-edit"></i>
                </button>
            </div>
        </div>
    }
</div>
<div class="kt-portlet__body">
    @if (Model.AttendeeOrganizationsDtos?.Any() == true)
    {
        <div class="row rio2c-scroll" style="height: 200px;">
            @foreach (var attendeeOrganizationDto in Model.AttendeeOrganizationsDtos)
            {
                <div class="col-sm-6 col-xl-4">
                    <!--Begin::Portlet-->
                    <div class="kt-portlet kt-portlet--height-fluid">
                        @*<div class="kt-portlet__head kt-portlet__head--noborder"></div>*@
                        <div class="kt-portlet__body mt-40">
                            <!--begin::Widget -->
                            <div class="kt-widget kt-widget--user-profile-2" style="flex-direction: row;">
                                <div class="kt-widget__head">
                                    <div class="kt-widget__media">
                                        @if (attendeeOrganizationDto.Organization.HasImage())
                                        {
                                            <img class="kt-widget__img" src="@ImageHelper.GetImageUrl(FileRepositoryPathType.OrganizationImage, attendeeOrganizationDto.Organization.Uid, attendeeOrganizationDto.Organization.ImageUploadDate, true)" alt="image">
                                        }
                                        else
                                        {
                                            <div class="kt-widget__pic kt-widget__pic--info kt-font-info kt-font-boldest">
                                                @(attendeeOrganizationDto.Organization.GetTradeNameAbbreviation())
                                            </div>
                                        }
                                    </div>
                                    <div class="kt-widget__info">
                                        <a href="@Url.Action("Details", "Companies", new { id = attendeeOrganizationDto.Organization.Uid })" class="kt-widget__username">@attendeeOrganizationDto.Organization.TradeName</a>
                                        @*<span class="kt-widget__desc">@(attendeeOrganizationDto.GetJobTitleDtoByLanguageCode(ViewBag.UserInterfaceLanguage)?.Value ?? "-")</span>*@
                                        <span class="kt-widget__desc">
                                            <a href="@Url.Action("Details", "Companies", new { id = attendeeOrganizationDto.Organization.Uid })">
                                                <small><i class="flaticon-profile"></i> @Labels.SeeDescription</small>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                @*<div class="kt-widget__footer">
                                        <button type="button" class="btn btn-label-warning btn-lg btn-upper">write message</button>
                                    </div>*@
                            </div>
                            <!--end::Widget -->
                        </div>
                    </div>
                    <!--End::Portlet-->
                </div>
            }
        </div>
    }
    else
    {
        <span class="text-center">@string.Format(Messages.EntityNotAction, Labels.Company, Labels.FoundF)</span>
    }
</div>