@using PlataformaRio2C.Domain.Dtos
@model AttendeeCollaboratorSiteDetailsDto
<div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
            @Labels.SocialNetworks
        </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
        <div class="kt-portlet__head-actions">
            <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md btn-circle" onclick="SpeakersSocialNetworksWidget.showUpdateModal();">
                <i class="flaticon2-edit"></i>
            </button>
        </div>
    </div>
</div>
<div class="kt-portlet__body">
    <div class="row">
        <div class="col-md-6 mt-20">
            <h3 class="kt-heading kt-heading--sm mb-0 mt-0">@Labels.Website</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @if (!string.IsNullOrEmpty(Model.Collaborator.Website))
                    {
                        <a href="@Model.Collaborator.Website.GetUrlWithProtocol()" target="_blank">@Model.Collaborator.Website</a>
                    }
                    else
                    {
                        @:-
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-20">
            <h3 class="kt-heading kt-heading--sm mb-0 mt-0">LinkedIn</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @if (!string.IsNullOrEmpty(Model.Collaborator.Linkedin))
                    {
                        <a href="@Model.Collaborator.Linkedin.GetLinkedinUrl()" target="_blank">@Model.Collaborator.Linkedin</a>
                    }
                    else
                    {
                        @:-
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-20">
            <h3 class="kt-heading kt-heading--sm mb-0 mt-0">Twitter</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @if (!string.IsNullOrEmpty(Model.Collaborator.Twitter))
                    {
                        <a href="@Model.Collaborator.Twitter.GetTwitterUrl()" target="_blank">@Model.Collaborator.Twitter</a>
                    }
                    else
                    {
                        @:-
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-20">
            <h3 class="kt-heading kt-heading--sm mb-0 mt-0">Instagram</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @if (!string.IsNullOrEmpty(Model.Collaborator.Instagram))
                    {
                        <a href="@Model.Collaborator.Instagram.GetInstagramUrl()" target="_blank">@Model.Collaborator.Instagram</a>
                    }
                    else
                    {
                        @:-
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-20">
            <h3 class="kt-heading kt-heading--sm mb-0 mt-0">Youtube</h3>
            <div class="row mt-3">
                <div class="col-12">
                    @if (!string.IsNullOrEmpty(Model.Collaborator.Youtube))
                    {
                        <a href="@Model.Collaborator.Youtube.GetUrlWithProtocol()" target="_blank">@Model.Collaborator.Youtube</a>
                    }
                    else
                    {
                        @:-
                    }
                </div>
            </div>
        </div>
    </div>
</div>