@model PlataformaRio2C.Application.CQRS.Commands.AcceptProjectEvaluation
<div class="row">
    @Html.HiddenFor(m => m.IsProjectsApprovalLimitReached)
    <div class="form-group col-12">
        @Html.Raw(string.Format(Texts.DoYouReallyWishAccept, Model.ProjectDto?.GetTitleDtoByLanguageCode(ViewBag.UserInterfaceLanguage)?.ProjectTitle?.Value))
    </div>
    @if (Model.IsProjectsApprovalLimitReached)
    {
        <div class="form-group col-12 mb-0">
            <div class="alert alert-warning mb-0">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">
                    @Html.Raw(string.Format(Messages.YouReachedProjectsApprovalLimit, Model.MaximumAvailableSlotsByPlayer))
                </div>
            </div>
        </div>
    }
    @if (Enumerable.Count(Model.AttendeeOrganizations) == 1)
    {
        @Html.HiddenFor(m => m.AttendeeOrganizationUid)
    }
    else
    {
        <div class="form-group col-12">
            @Html.LabelFor(m => m.AttendeeOrganizationUid, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.AttendeeOrganizationUid, new SelectList(Model.AttendeeOrganizations, "Uid", "Name", Model.AttendeeOrganizationUid), Labels.Select + "...", new { @class = "form-control enable-select2" })
            @Html.ValidationMessageFor(m => m.AttendeeOrganizationUid, "", new { @class = "text-danger" })
        </div>
    }
</div>