@model PlataformaRio2C.Application.CQRS.Commands.UpdateProjectInterests
@if (Model.Interests?.Any() == true)
{
    <div class="kt-section">
        <div class="kt-section__content">
            <div class="kt-checkbox-list">
                @for (int i = 0; i < Model.Interests.Length; i++)
                {
                    var group = Model.Interests[i].FirstOrDefault();
                    <h5 class="mt-30">@(group?.InterestGroupName?.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|'))</h5>
                    @Html.ValidationMessage(group?.InterestGroupUid.ToString(), new {@class = "text-danger"})
                    <div class="kt-section__content mt-3">
                        <div class="row require-one-group" data-id="@(group?.InterestGroupUid)">
                            @Html.EditorFor(x => Model.Interests[i])
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
<div class="kt-section">
    <h5>@Labels.TargetAudience <small>@Labels.AgeGroup</small></h5>
    @Html.ValidationMessage("TargetAudiencesUids", new { @class = "text-danger" })
    <div class="kt-section__content mt-3">
        <div class="kt-checkbox-list">
            @foreach (var targetAudience in Model.TargetAudiences)
            {
                <label class="kt-checkbox">
                    <input type="checkbox"
                           name="TargetAudiencesUids"
                           value="@targetAudience.Uid"
                           class="require-one"
                           data-id="targetaudience-group"
                           @if (Model.TargetAudiencesUids?.Contains(targetAudience.Uid) == true) { <text> checked </text> } /> @targetAudience.Name.GetSeparatorTranslation(ViewBag.UserInterfaceLanguage as string, '|')
                    <span></span>
                </label>
            }
        </div>
    </div>
</div>